h1 Css3 Transform
// Rotate
.card
  .box.rotate
    .fill
  p rotate(45deg)  
.card
  .box.rotateX
    .fill
  p rotateX(45deg)
.card
  .box.rotateY
    .fill
  p rotateY(45deg)
.card
  .box.rotateZ
    .fill
  p rotateZ(45deg)  
// scale
.card
  .box.scale
    .fill
  p scale(2)
.card
  .box.scaleX
    .fill
  p scaleX(2)    
.card
  .box.scaleY
    .fill
  p scaleY(2)    
// skew
.card
  .box.skew
    .fill
  p skew(45deg, 45deg)  
.card
  .box.skewX
    .fill
  p skewX(45deg)
.card
  .box.skewY
    .fill
  p skewY(45deg)
// translate
.card
  .box.translate
    .fill
  p translate(45px)  
.card
  .box.translateX
    .fill
  p translateX(45px)
.card
  .box.translateY
    .fill
  p translateY(45px)
.card
  .box.matrix
    .fill
  p  matrix(2, 2, 0, 2, 45, 0)
h4 Perspective : 100
.perspective-100
  .card
    .box.rotateX
      .fill
    p rotateX(90deg)
  .card
    .box.rotateY
      .fill
    p rotateY(45deg)
h4 Perspective : 200
.perspective-200
  .card
    .box.rotateX
      .fill
    p rotateX(90deg)
  .card
    .box.rotateY
      .fill
    p rotateY(45deg)
// transform origin
h2 Transform origin
.card
  .box.rotate
    .fill.to-100-0-0
  p
    | transform-origin : 100% 0 0  
    br
    | rotate(45deg)
.card
  .box.rotate
    .fill.to-0-100-0
  p
    | transform-origin : 0 100%  0
    br
    | rotate(45deg)
.card.perspective-200
  .box.rotateX
    .fill.to-0-100-0
  p
    | transform-origin : 0 100%  0
    br
    | rotateX(45deg)
.card.perspective-200
  .box.rotateX
    .fill.to-100-0-0
  p
    | transform-origin : 0 100%  0
    br
    | rotateX(45deg)
.card.perspective-200
  .box.rotateY
    .fill.to-0-100-0
  p
    | transform-origin : 0 100%  0 
    br
    | rotateY(45deg)
.card.perspective-200
  .box.rotateY
    .fill.to-100-0-0
  p
    | transform-origin : 100%  0 0
    br
    | rotateY(45deg)
.card
  .box.scale
    .fill.to-100-0-0
  p
    | transform-origin : 100%  0 0
    br
    | scale(2)
.card
  .box.scale
    .fill.to-0-100-0
  p
    | transform-origin : 0 100%  0
    br
    | scale(2)
.card
  .box.scaleX
    .fill.to-100-0-0
  p
    | transform-origin : 100%  0 0
    br
    | scaleX(2)
.card
  .box.scaleX
    .fill.to-0-100-0
  p
    | transform-origin : 0 100%  0
    br
    | scaleX(2)
.card
  .box.scaleY
    .fill.to-100-0-0
  p
    | transform-origin : 100%  0 0
    br
    | scaleY(2)
.card
  .box.scaleY
    .fill.to-0-100-0
  p
    | transform-origin : 0 100%  0
    br
    | scaleY(2)
