body
  overflow-x hidden

#home
  height 100vh
  width 100vw
  position relative
  top 0
  left 0
  z-index 2
  outline none
  display flex
  .light-half
    background-color $white
    .light
      height 100%
      width 100%
      .node
        stroke $white
        stroke-width 1.5px
      .node text
        font 14px helvetica
        letter-spacing 1px
        user-select none
      .link
        stroke #999;
        stroke-opacity .6;
  .light-half,
  .dark-half
    height 100vh
    width 50vw
  .dark-half
    background-color black
    position relative
    .image-wrapper
      background url(/./assets/img/ergodox01.jpg)
      background-repeat no-repeat
      background-size cover
      background-position center
      opacity 0.3
      position absolute
      top 0
      left 0
      bottom 0
      right 0
      pointer-events none
    .bug-issues
      position absolute
      left 5px
      top 8px
      z-index 2
      svg
        fill #999
        transform rotate(-45deg)
      &:hover
        svg
          fill $primaryColor
    .dark
      position absolute
      top 0
      left 0
      bottom 0
      right 0
      .wrapper
        text-align center
        height 100%
        display flex
        flex-direction column
        justify-content space-between
        .top
          margin-top 5rem
          .author
            width 100%
            padding-top 2vh
            font-weight 600
            font-size 1.5rem
            font-family 'Abel', sans-serif
            text-transform uppercase
            text-align center
            letter-spacing 2px
            color #ccc
          .subline
            font-family 'Unica One', sans-serif
            text-transform uppercase
            letter-spacing 2px
            color #ccc
        #languages
          display flex
          justify-content center
          margin 2rem
          font-family 'Abel', sans-serif
          .language
            margin 0 0.5rem
            font-weight 500
            font-size 1.5rem
            text-transform uppercase
            letter-spacing 1px
            &:hover
              color $primaryColor
              cursor pointer
            &.active
              font-weight: 700

+below($screen-sm)
  .subline
    padding 0 0.25rem
    margin-bottom 1.5rem

@media only screen and (orientation: portrait)
  #home
    flex-direction: column
    .light-half
    .dark-half
      height 50vh
      width 100vw
