#projects
#about
#contact
  position relative
  top 0
  left 0
  margin-left 17vw
  outline none
  article
    margin 8% 5.5%
    padding 3% 0
    h1
      font-family 'Unica One', sans-serif
      font-size 4rem
      margin 0
      text-transform uppercase
      letter-spacing 2px
      color $primaryColor

.back-to-top
  display none
  position fixed
  z-index 2
  bottom 2rem
  right 2rem
  width 24px
  height 24px
  svg
    fill $primaryColor
    height 100%
    width 100%
  &:hover
    svg
      fill $secondaryColor

.project-list
  .project
    margin-top 5%
    display flex
    flex-direction row
    &:hover
      outline-style double
      outline-color $primaryColor
      .project-img
        img
          opacity 0.8
        .project-link
          opacity 1
          background rgba(0,0,0, .8)
    .project-img
      flex 1
      position relative
      img
        transition all 0.3s ease
        width 100%
      .project-link
        transition all 0.5s ease
        opacity 0
        position absolute
        display flex
        justify-content center
        align-items center
        right 0
        top 0
        width 100%
        height 100%
        padding 3% 4.3%
        color #999
        font-size 16px
        background rgba(0,0,0, .2)
        a
          padding 1rem 2rem
          background #fff
          color $primaryColor
          font-size 1.5rem
          text-align center
          border 2px solid $primaryColor
          &:hover
            color $secondaryColor
            border-color $secondaryColor
    .project-desc
      flex 1
      padding-left 5%
      font-size 14px
      color #151515
      display flex
      flex-direction column
      .title-wrapper
        display flex
        align-items center
        .project-title
          font-size: 1.8rem;
          padding-top: 4%;
          margin-bottom: 3%;
          font-weight: 600;
      .project-title
        padding-top 4%
        margin-bottom 3%
        font-weight 600
      .project-text
        font-size 13px
        padding-right 1rem
      .chips
        margin 1.5rem 0
        .chip
          display inline-block
          height 2.5rem
          font-size 1.25rem
          font-weight 500
          color #fff
          line-height 2.5rem
          padding 0 0.8rem
          border-radius 1rem
          background-color $primaryColor

#about
  p
    color #666
    line-height 3rem
    font-size 1.6rem
    span
      font-style italic
      color $primaryColor

#contact
  h2
    font-size 2.5rem
  .contact-content
    font-size 2rem
    font-family Georgia, sans-serif
    font-style italic
  .email
    margin 5rem 0
    font-size 5rem
    a
      text-decoration none
      color $primaryColor
      border-bottom 1px solid $primaryColor
      margin-left 1rem
      &:hover
        color $secondaryColor
        border-color $secondaryColor

+below($screen-sm)
  #projects
  #about
  #contact
  .footer-page
    margin-left 0
  #contact .email
    font-size 1.8rem
  .project-list
    .project
      a
        flex-direction column
        .project-desc
          font-size 1.8rem
          .project-text
            font-size 1.8rem
            color #666
  .back-to-top
    width 36px
    height 36px
    bottom 5rem
    svg
      &:hover
        fill $primaryColor

@media only screen and (max-device-width: 768px)
  .project-list
    .project
      flex-direction column-reverse
      .project-desc
        flex unset
        padding 0 1rem 2rem 1rem
        .project-text
          font-size 1.5rem
          line-height 1.8rem
