aside.vertical-sidebar
  width 17vw
  height 100vh
  position fixed
  left 0
  top 0
  z-index 0
  border-right 1px solid #eaeaea
  background-color #fff
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  .vertical-logo
    padding-top 2rem
  .vertical-menu
    width 100%
    .home-navigation
      .nav-item
        a
          &:hover
            background-color #f0f0f0
  .vertical-social
    padding-bottom 2rem
    display flex
    .icon
      padding 0.5rem

+below($screen-sm)
  aside.vertical-sidebar
    display none;
