/*
  BLEUPRINT.scss

    Crafted with <3 by John Otander(@4lpine).
    MIT Licensed
 */

$header-a: #95a5a6;
$accent-color: #16a085;

$lighten-1: rgba(#fff,.125) !default;
$lighten-2: rgba(#fff,.25) !default;
$lighten-3: rgba(#fff,.375) !default;

@import "colors/colors"; // http://clrs.cc

$border-color: $silver;

@import "basscss"; // http://jxnblk.github.io/basscss

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

p,
.serif {
  font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

a,
a:link,
a:visited {
  color: $accent-color;
}

a:hover {
  color: lighten($accent-color, 10%);
}

.huge { font-size: 6rem; }
@media screen and (max-width: 48em) {
  .huge { font-size: 4rem; }
}

.container {
  overflow-x: hidden;
}

header .left,
header .right {
  width: 100%;
  text-align: center;

  @media (min-width: $breakpoint-mobile) {
    width: auto;
  }
}

header .nav > a {
  padding: 10px;

  @media (min-width: $breakpoint-mobile) {
    padding: 20px;
  }
}

header .nav > a {
  color: $header-a;
}

header .nav > a:hover {
  color: $accent-color;
}

.nav > a {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

.darken-1 { color: $darken-1; }
.darken-2 { color: $darken-2; }
.darken-3 { color: $darken-3; }

.lighten-1 { color: $lighten-1; }
.lighten-2 { color: $lighten-2; }
.lighten-3 { color: $lighten-3; }

.bg-accent { background-color: $accent-color; }
.accent    {            color: $accent-color; }

.bg-very-light-gray { background-color: #f8f8f8; }
.very-light-gray    {            color: #f8f8f8; }

.desktop-two-thirds-width {
  width: 100%;

  @media (min-width: $breakpoint-mobile) {
    width: 66%;
  }
}
.quarter-width    { width: 25%;   }
.eighth-width     { width: 12.5%; }

.border-center { margin: 0 auto; }
