p,
#logo,
#tech {
  font-family: "Rubik";
}
#header {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 15px 20px 0px;
}

#logo {
  color: white;
  padding-right: 10px;
}

.gatsby-logo {
  width: 40px;
  height: 40px;
}

.container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
}

.col {
  width: 250px;
  height: 200px;
  background-color: steelblue;
  border: 1px solid;
}

.card {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  box-shadow: 1px 1px 10px rebeccapurple;
  margin: auto;
  margin-top: 10%;
  background-color: white;
}

.title {
  height: 50px;
  text-align: center;
  background-color: black;
  padding: 5px;
}

#tech {
  display: inline;
  color: #e10098;
}
#blog {
  display: inline;
  font-family: "Lacquer";
  color: white;
}

#tblink {
  margin-top: 20px;
}

#gatsby {
  background-color: white;
}

#markdown {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}
