<%
  display_modes ||=   ['albums', 'tags']
%>

<p>
  Years:
  <% dir_subdirs.each do |d|  %>
    <% d.sub!('/','') %>
    <%= link_to d, :controller => :home, :action => :index, :prefix => d  %>
  <% end %>
</p>
<p>
  Display:
  <% display_modes.each do |g| %>
    <%= link_to g, :grouping => g %>
  <% end %>
</p>

<hr />
