.whackable-game-space {
    height: 241px;
    position: relative;
    width: 320px;
    overflow: hidden;
    display: inline-block;
}

.pf {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.wgs__mole-head {
    height: 178px;
    width: 188px;
    position: absolute;
    left: 54px;
    transition: margin-top 0.25s ;
}


.wgs__dirt-pile {
    height: 110px;
    width: 320px;
    position: absolute;
    bottom: 0;
}

.wgs__mole-head--hidden {
    margin-top: 241px;
}

.wgs__mole-head--whacked {
    
}