<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <filter>
    <filter-name>authFilter</filter-name>
    <filter-class>jspbook.framework.security.AuthenticationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>authFilter</filter-name>
    <url-pattern>/Controller</url-pattern>
  </filter-mapping>

      <!-- Servlet mappings -->
	<servlet>
          <servlet-name>Controller</servlet-name>
          <servlet-class>jspbook.framework.request.Controller</servlet-class>
	</servlet>

      <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>

	<!-- Tag Libraries -->
	<taglib>
		<taglib-uri>/uitags</taglib-uri>
		<taglib-location>/WEB-INF/tlds/uitags.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/catalogtags</taglib-uri>
		<taglib-location>/WEB-INF/tlds/catalogtags.tld</taglib-location>
	</taglib>
	
	<!-- Describe a DataSource -->
	<resource-ref>
	  <description>
    	Resource reference to a factory for java.sql.Connection
	    instances that may be used for talking to a particular
    	database that is configured in the server.xml file.
	  </description>
	  <res-ref-name>
	    jdbc/CatalogDB
	  </res-ref-name>
	  <res-type>
	    javax.sql.DataSource
	  </res-type>
	  <res-auth>
	    SERVLET
	  </res-auth>
	</resource-ref>
	
</web-app>
