body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.items {
  padding: 30px;
}

.form__field-items,
.form__field-quantity,
.form__submit {
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  padding: 0 10px;
}

.form__field-quantity {
  max-width: 80px;
}

.form__submit {
  background-color: #3498db;
  color: white;
}

.cart {
  background-color: #d4efdf;
  padding: 30px;
}
