<style scoped lang="scss">
  .header {
    .navbar-item {
      .navbar-link {
        color: white;
      }

      @media only screen and (max-width: 1023px) {
        .navbar-link {
          color: black;
        }
      }
    }

    @media screen and (min-width: 1024px) {
      .navbar-item.has-dropdown:hover .navbar-link {
         color: black;

        &:not(.is-arrowless)::after {
          border-color: black;
        }
      }
    }
   
    .navbar-dropdown {
      .navbar-item {
        color: black;
      }
    }

    .navbar-link:not(.is-arrowless)::after {
      border-color: white;
    }
  }
</style>