$primary: #ffbc8c;
$secondary: #599eed;
// $link: #FFBC8C;
$link: #000;
$link-visited: $secondary;
$spacing: 1em;
$family-sans-serif: "Raleway", BlinkMacSystemFont, -apple-system, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-weight-extra-bold: 900;
$column-gap: $spacing;
