/* Social Icons */
#social_side_links {
  position: fixed;
  top: 70px;
  right: 10px;
  padding: 0;
  list-style: none;
  z-index: 99;
}

#social_side_links .app li a {
  display: block;

  &:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
  }
}

#social_side_links .blog li a {
  display: block;

  &:hover {
    text-decoration: none;
    border-radius: 50%;
  }
}

#social_side_links li a i {
  display: block;
  width: 45px;
  padding: 10px;
  font-size: 25px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
  border-radius: 50%;
  text-align: center;
}

#social_side_links .blog li a i {
  background-color: transparent;
  margin-bottom: 5px;
  border-radius: 50%;
}

.social-links {
  .fa {
    &.fa-github {
      color: #333;
    }
    &.fa-facebook {
      color: #3b5998;
    }
    &.fa-linkedin {
      color: #0077b5;
    }
    &.fa-google {
      color: #dd4b39;
    }
  }
}
