<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" 
                   type="MathLibrary.SimpleMath, MathLibrary" 
                   objectUri="SimpleMath.soap" />
      </service>
      <channels>
        <channel ref="http" >
          <serverProviders>
             <formatter ref="binary" />
          </serverProviders>
        </channel>
      </channels>  
    </application>
  </system.runtime.remoting>
</configuration>