/****** Main Styling ******/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Special+Elite");

body {
  align-items: center;
  font-family: "Special Elite";
}

form {
  text-align: center;
}
