body {
  font-size: 1em;
}

code {
  font-size: 1em;
  font-family: "Courier New", Courier, Monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  margin: 1em 0 0 0;
}

th,
td {
  border: none;
  padding: 0;
}

#hd {
  margin-bottom: 1em;
}

#hd h4 {
  font-weight: normal;
  color: #555;
}

.note {
  font-size: 0.8em;
  color: #666;
}

.wmd-input {
  width: 100%;
  height: 12.75em;
}

.wmd-preview {
  margin-top: 34px;
  margin-left: 5px;
}
