/*
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #eeeedd } */
.highlight .c {
  color: #228b22;
} /* Comment */
.highlight .err {
  color: #a61717;
} /* Error */
.highlight .k {
  color: #8b008b;
} /* Keyword */
.highlight .ch {
  color: #228b22;
} /* Comment.Hashbang */
.highlight .cm {
  color: #228b22;
} /* Comment.Multiline */
.highlight .cp {
  color: #1e889b;
} /* Comment.Preproc */
.highlight .cpf {
  color: #228b22;
} /* Comment.PreprocFile */
.highlight .c1 {
  color: #228b22;
} /* Comment.Single */
.highlight .cs {
  color: #8b008b;
} /* Comment.Special */
.highlight .gd {
  color: #aa0000;
} /* Generic.Deleted */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: #aa0000;
} /* Generic.Error */
.highlight .gh {
  color: #000080;
} /* Generic.Heading */
.highlight .gi {
  color: #00aa00;
} /* Generic.Inserted */
.highlight .go {
  color: #888888;
} /* Generic.Output */
.highlight .gp {
  color: #555555;
} /* Generic.Prompt */
.highlight .gs {
} /* Generic.Strong */
.highlight .gu {
  color: #800080;
} /* Generic.Subheading */
.highlight .gt {
  color: #aa0000;
} /* Generic.Traceback */
.highlight .kc {
  color: #8b008b;
} /* Keyword.Constant */
.highlight .kd {
  color: #8b008b;
} /* Keyword.Declaration */
.highlight .kn {
  color: #8b008b;
} /* Keyword.Namespace */
.highlight .kp {
  color: #8b008b;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #8b008b;
} /* Keyword.Reserved */
.highlight .kt {
  color: #00688b;
} /* Keyword.Type */
.highlight .m {
  color: #b452cd;
} /* Literal.Number */
.highlight .s {
  color: #cd5555;
} /* Literal.String */
.highlight .na {
  color: #658b00;
} /* Name.Attribute */
.highlight .nb {
  color: #658b00;
} /* Name.Builtin */
.highlight .nc {
  color: #008b45;
} /* Name.Class */
.highlight .no {
  color: #00688b;
} /* Name.Constant */
.highlight .nd {
  color: #707a7c;
} /* Name.Decorator */
.highlight .ne {
  color: #008b45;
} /* Name.Exception */
/*.highlight .nf { color: #008b45 }  Name.Function */
.highlight .nn {
  color: #008b45;
} /* Name.Namespace */
.highlight .nt {
  color: #8b008b;
} /* Name.Tag */
.highlight .nv {
  color: #00688b;
} /* Name.Variable */
.highlight .ow {
  color: #8b008b;
} /* Operator.Word */
.highlight .w {
  color: #bbbbbb;
} /* Text.Whitespace */
.highlight .mb {
  color: #b452cd;
} /* Literal.Number.Bin */
.highlight .mf {
  color: #b452cd;
} /* Literal.Number.Float */
.highlight .mh {
  color: #b452cd;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #b452cd;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #b452cd;
} /* Literal.Number.Oct */
.highlight .sa {
  color: #cd5555;
} /* Literal.String.Affix */
.highlight .sb {
  color: #cd5555;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #cd5555;
} /* Literal.String.Char */
.highlight .dl {
  color: #cd5555;
} /* Literal.String.Delimiter */
.highlight .sd {
  color: #cd5555;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #cd5555;
} /* Literal.String.Double */
.highlight .se {
  color: #cd5555;
} /* Literal.String.Escape */
.highlight .sh {
  color: #1c7e71;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #cd5555;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #cb6c20;
} /* Literal.String.Other */
.highlight .sr {
  color: #1c7e71;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #cd5555;
} /* Literal.String.Single */
.highlight .ss {
  color: #cd5555;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #658b00;
} /* Name.Builtin.Pseudo */
.highlight .fm {
  color: #008b45;
} /* Name.Function.Magic */
.highlight .vc {
  color: #00688b;
} /* Name.Variable.Class */
.highlight .vg {
  color: #00688b;
} /* Name.Variable.Global */
.highlight .vi {
  color: #00688b;
} /* Name.Variable.Instance */
.highlight .vm {
  color: #00688b;
} /* Name.Variable.Magic */
.highlight .il {
  color: #b452cd;
} /* Literal.Number.Integer.Long */
