body {
  font-family: Roboto, sans-serif;
  background: #2b2c2c;
  text-align: center;
  color: #666666;
  position: relative;
  padding-left: 30px; }

main {
  background: #2d2e2e;
  text-align: center;
  padding-top: 80px; }
  main .content {
    width: 100%;
    height: 100%;
    display: flex; }
  main .left {
    width: 200px;
    padding: 70px 20px;
    flex: none;
    display: inline-block; }
  main .right {
    display: inline-block; }
  main .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2b2c2c;
    min-height: 350px; }
    main .about-content .about-div {
      flex: none;
      width: 70%; }
  main .welcome {
    background: #2b2c2c; }
    main .welcome p {
      font-size: 0.9em; }
      main .welcome p .fa-envelope {
        padding-right: 5px; }
    main .welcome .about {
      background: #2d2e2e; }
  main .user-links-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px; }
  main .user-links-avatar .fab {
    color: #666666;
    font-size: 1.5em;
    margin: 5px; }

header {
  display: flex;
  justify-content: space-between;
  padding: 7px 30px;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s; }
  header .change + .sidenav {
    width: 180px; }
  header .sidenav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    background: black;
    background: rgba(0, 0, 0, 0.8);
    z-index: 3;
    transition: 0.6s; }
    header .sidenav .links {
      margin-top: 150px; }
      header .sidenav .links .closebtn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2em; }
    header .sidenav a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #fff; }
      header .sidenav a:active, header .sidenav a:visited {
        color: #fff; }
      header .sidenav a:hover {
        color: #bbbbbb; }
  header .brand {
    height: 40px;
    margin: auto 50px;
    font-size: 0.9em;
    font-weight: bold;
    display: flex;
    color: #f1b200; }
    header .brand h2 {
      align-self: center; }

@keyframes fixIcon {
  from {
    top: 25px;
    right: 30px; }
  to {
    top: 18px;
    right: 22px; } }

.sidenavButton {
  display: inline-block;
  cursor: pointer;
  height: 40px;
  margin: auto 0;
  z-index: 5;
  position: relative;
  transform: scale(0.8); }
  .sidenavButton .bar1,
  .sidenavButton .bar2,
  .sidenavButton .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f1b200;
    margin: 6px 0;
    transition: 0.4s; }
  .sidenavButton .bar2 {
    width: 20px;
    margin-left: 14px; }
  .sidenavButton.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); }
  .sidenavButton.change .bar2 {
    opacity: 0; }
  .sidenavButton.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }

footer {
  color: #f1b200;
  width: 30px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #000;
  user-select: none; }
  footer p {
    display: block;
    height: 20px;
    width: 100px;
    transform-origin: top left;
    transform: rotate(-90deg);
    white-space: nowrap;
    padding: 5px;
    font-weight: bold;
    font-size: 0.7em; }

.gold-text {
  color: #f1b200; }

.hr {
  width: 80%;
  margin: 30px auto;
  height: 1px;
  border-radius: 1px;
  background: #666666; }

a:link,
a:visited {
  color: #f1b200;
  text-decoration: none; }

a:link:active,
a:visited:active {
  color: #f1b200;
  text-decoration: none; }

.portfolio {
  padding: 30px;
  min-height: 800px;
  width: 100%; }
  .portfolio .filters {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .portfolio .filters button {
      flex: none;
      outline: none;
      background: none;
      border: none;
      color: #666666;
      cursor: pointer; }
      .portfolio .filters button:not(:first-child):before {
        padding: 8px;
        color: #666666;
        content: "/\00a0"; }
      .portfolio .filters button.active {
        color: white; }

@keyframes cardAnim {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
  .portfolio .card {
    width: 260px;
    height: 200px;
    padding: 10px;
    margin: 30px;
    display: inline-block;
    transition: 2s;
    animation: cardAnim 0.4s; }
    .portfolio .card p {
      font-size: 0.8em; }
    .portfolio .card .img-container {
      width: 100%;
      height: 100%;
      overflow: hidden; }
    .portfolio .card .img {
      background: rgba(0, 0, 0, 0.7) url("../img/dentist.png") no-repeat;
      background-size: 100% 100%;
      width: 100%;
      height: 100%;
      transition: 0.3s; }
      .portfolio .card .img:hover {
        transform: scale(1.1); }
    .portfolio .card .img-simon {
      background-image: url("../img/simon.png"); }
    .portfolio .card .img-recipe {
      background-image: url("../img/recipe.png"); }
    .portfolio .card .img-tictactoe {
      background-image: url("../img/tictactoe.png"); }
    .portfolio .card .img-meanvote {
      background-image: url("../img/meanvote.png"); }
    .portfolio .card .img-booktrade {
      background-image: url("../img/booktraderapp.png"); }
    .portfolio .card .img-gameoflife {
      background-image: url("../img/gameOfLife.png"); }

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px; }
  .about-content .form {
    padding: 10px; }
    .about-content .form .input-group {
      width: 100%;
      padding: 10px;
      margin: auto; }

#contact {
  color: #777777; }

.contact {
  display: flex; }
  .contact .contact-msg {
    background: #2b2c2c; }
  .contact .about-content {
    background: #2d2e2e; }
  .contact button {
    width: 240px;
    height: 60px;
    color: #666666;
    border: 1px solid #666666;
    background: none;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s; }
    .contact button:hover {
      color: #f1b200;
      border-color: #f1b200; }
  .contact label {
    display: block;
    padding: 10px;
    text-align: left; }
  .contact .form {
    margin: auto;
    width: 80%; }
    .contact .form form {
      padding: 30px; }
    .contact .form .text-area .group {
      width: 100%; }
    .contact .form textarea {
      resize: none;
      width: 50%;
      outline: none; }
    .contact .form .group {
      display: inline-block;
      width: 48%; }
    .contact .form input {
      outline: none;
      border: none;
      width: 100%; }
      .contact .form input:first-child {
        margin-right: 20px; }
    .contact .form input,
    .contact .form textarea {
      padding: 20px;
      width: 100%;
      border-radius: 5px; }
    .contact .form .input-group {
      width: 100%;
      display: flex;
      justify-content: space-between; }

@media screen and (max-width: 1000px) {
  .input-group {
    flex-wrap: wrap; }
  .group {
    width: 100% !important; }
  .text-area {
    width: 80%; }
  .form {
    width: 100%; }
  .contact-msg,
  .about-msg {
    display: none !important; }
  .portfolio-container {
    flex-wrap: wrap; }
  .welcome {
    display: block;
    width: 100% !important;
    padding: 20px !important;
    background: #2b2c2c;
    min-height: 100px; }
    .welcome .welcome-wrapper > p,
    .welcome .welcome-wrapper > h2 {
      display: none; } }
