@import "https://fonts.googleapis.com/css?family=Share+Tech+Mono";
body {
  background-color: #984b4b;
  font-family: "Share Tech Mono";
  color: #000000;
  user-select: none;
  cursor: default;
}

h1 {
  color: #ffffff;
}

hr {
  border-color: white;
  border-width: 2px;
}

#calculator-body {
  background-color: #585858;
  width: 325px;
  border-radius: 10px;
  margin-top: 80px;
  padding: 7px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: -1px -1px 5px;
}

#body-top {
  width: 100%;
  padding: 7px;
}

#body-bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 7px;
  padding: 7px;
}

#number-pad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #403c3c;
  box-shadow: inset 1px 1px 10px;
}

#execute-pad {
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
  grid-gap: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #403c3c;
  box-shadow: inset 1px 1px 10px;
}

.std-button {
  position: relative;
  height: 40px;
  cursor: default;
  pointer-events: auto;
  font-size: 22px;
  border-radius: 2px;
  background-color: lightgray;
  color: black;
  box-shadow: -1px 1px 5px;
}
.std-button:hover {
  color: black;
  outline: 0.05em solid grey;
  z-index: 3;
}

.exc-std-button {
  background-color: green;
  font-size: 22px;
  cursor: default;
  pointer-events: auto;
}

.exc-button {
  background-color: #800020;
  color: white;
  cursor: default;
  pointer-events: auto;
}

.screen {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-shadow: inset 1px 1px 5px;
  background-color: #77abff;
}

.sub-screen {
  width: 100%;
  height: 50%;
  background-color: transparent;
}

#equation-display {
  font-size: 18px;
  color: #a52a2a;
}

#display {
  font-size: 24px;
  color: #262626;
}

#footer {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

a {
  color: #ffffff;
}
