#search-input {
  z-index: 1;
  position: relative;
  height: 53px;
  width: 780px;
  border-radius: 0px;
  outline: none;
  padding: 0;
  line-height: 18px;
  background: none;
  top: -2px;
  padding: 9px 0px 4px 0px;
  font-size: 36px;
  line-height: 36px;
  border-color: black;
  padding-left: 10px;
  background: white;

}
#search-input-small {
  z-index: 1;
  position: relative;
  height: 23px;
  width: 780px;
  border-radius: 0px;
  outline: none;
  padding: 0;
  font-size: 14px;
  line-height: 10px;
  background: none;
  top: -2px;
  padding: 9px 0px 4px 0px;
  line-height: 16px;
  border-color: black;
  padding-left: 10px;
  background: white;

}
#search-box-small {
  padding-top: 10px;
} 
a.class-sale {
	color: #080808;
	font-style: none;
}