.navbar {
  padding: 20px;
  margin-bottom: 40px;

  .bwm-search {
    height: 50px;
    width: 300px;
  }

  .navbar-brand {
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #f44336;
    font-weight: 500;
  }

  .nav-item {
    font-size: 14px;
  }

  .btn-bwm-search {
    border-color: #f44336;
    color: #f44336;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border-color: #f44336 !important;
      color: #f44336 !important;
      box-shadow: none;
    }
  }
}

.dropdown-item {
  font-size: 14px;

  &:active,
  &:focus {
    background-color: #f44336;
  }
}

.logOut {
  cursor: pointer;
}
