body {
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 20em;
}

h4 {
  font-size: 25px;
}

#positions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

p {
  color: lightgrey;
  margin: 1em 0 0 0;
}

input[type=text], input[type=email], input[type=number], input[type=password] {
  width: 20em;
  height: 2em;
}

input[type=radio] {
  margin: 0em 1em;
}
