// Chat
//

pj-chat {
  display: block;
  height: 400px;
  background: $purple;
  font-size: 16px;
  position: relative;

  .interactive {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .messages {
    list-style-type: none;
    max-height: 330px;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 0 10px;
    color: $yellow;

    li {
      margin: 5px 0;
      padding: 5px;
      overflow: hidden;

      &.question, &.interlude {
        border-bottom: 1px solid #58356C;
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        text-shadow: 0 0 2px darken(opacify($purple, 0.8), 30%);
      }

      &.chat {
        color: white;
        background: darken($purple, 5%);
        margin-right: 10px;
        position: relative;
        overflow: visible;

        .prep {
          color: $pink;
        }

        &:before {
          content: ' ';
          position: absolute;
          width: 0;
          height: 0;
          right: -8px;
          top: 5px;
          border: 8px solid;
          border-color: darken($purple, 5%) transparent transparent darken($purple, 5%);
          transform: rotate(-225deg);
        }
      }

      &.chat-me, &.answer {
        background: darken($purple, 5%);
        color: white;
        margin-left: 8px;
        position: relative;
        overflow: visible;

        &:before {
          content: ' ';
        	position: absolute;
        	width: 0;
        	height: 0;
          left: -8px;
          top: 5px;
        	border: 8px solid;
        	border-color: darken($purple, 5%) transparent transparent darken($purple, 5%);
          transform: rotate(-45deg);
        }

        .prep {
          color: $orange;
        }
      }

      &.win-me, &.win {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  input.form-control {
    font-size: 18px;
    height: 55px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
