// Layout
//

body{
  font-family: 'Nunito', sans-serif;
  background: #252651;
  color: white;
  padding: 20px;
}

h1 {
  font-family: 'Pacifico', sans-serif;
  font-size: 50px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 5px black;
  float: left;
}

.url{
	font-size: 42px;
	float: right;
	margin-top: 30px;
	margin-right: 18px;
}

.login {
  margin: 100px auto 0;
  width: 300px;

  h1 {
    text-align: center;
  }

  .form-group {
    margin: 10px 0;
  }

  .btn {
    font-size: 18px;
    padding: 10px 0;
    height: 45px;
  }

  .btn-success {
	   background: $yellow;
	   color: $purple;
     border: 0;
  }

  .btn-success:not(disabled):hover{
  	box-shadow: inset 0 0 15px darken($yellow, 30%);
  }
}

.play-again {
  padding-top: 30px;
  text-align: center;

  .btn {
    font-size: 30px;
  }
}

.game {

  > div > pj-countdown {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 80px;
    z-index: 2;
    display: block;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    padding: 10px;
  }

  &.question, &.pause, &.finished {
    > div > pj-countdown {
      position: absolute;
      top: -25px;
      right: 10px;
      z-index: 2;
      display: block;
      border-radius: 50%;
      font-size: 30px;
      line-height: 46px;
      text-align: center;
      padding: 10px;
      background: $yellow;
      width: 70px;
      height: 70px;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
      color: $purple;
    }
  }

  &.pause, &.finished {
  	> div > pj-countdown {
  		 background: $lightPurple;
  	}
  }

  .rules{
	font-size: 24px;
	background: rgba(255, 255, 255, 0.2);
	padding: 20px;
  }

}
