// Leaderboard
//

pj-leaderboard {
  .user {
    margin: 0;
    background: $purple;
    font-size: 30px;

    .rank {
      display: inline-block;
      padding: 0 10px;
      background: $yellow;
      color: $purple;
    }

    .username {
      padding: 0 5px;
    }

    .score {
      display: block;
      float: right;
      padding: 0 10px;
    }
  }
}
