// Tips
//

pj-tips {
  display: block;
  font-size: 25px;
  background: $yellow;
  font-weight: bold;
  text-shadow: 0 0 2px darken(opacify($yellow, 0.5), 20%);
  padding: 10px;
  border-radius: 10px 10px 0 0;
  color: $purple;
}
