.userbox
  - if user_signed_in?
    %ul
      %li
        = link_to current_user, current_user
        = '(' + current_user.email + ')'
      %li= link_to 'sign out', destroy_user_session_url, :method => :delete          
  -else  
    = render :partial => 'devise/shared/links'
  

