<header>
  <div data-component="navbar" class="clearfix white px2">
    <div class="left">
      <div class="nav mobile-nav-table nav-big">
        <a href="{{ "index.html" | prepend: site.baseurl }}">Bleuprint</a>
      </div>
    </div>
    <div class="right">
      <div class="nav nav-big mobile-nav-table nav-table">
        <a href="#" class="active">Home</a>
        <a href="#">Pricing</a>
        <a href="#">Features</a>
        <a href="#">Contact</a>
      </div>
    </div>
  </div>
</header>
