@import "base/variables";

//Foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

//Components
@import "components/navigation";
@import "components/clock";
@import "components/controls";
@import "components/page-title";
