html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #5b5bc3;
  color: #414141;
}

nav h1 {
  text-align: center;
  padding: 20px;
  background-color: #fffc96;
}

.playground-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 700px;
  height: 500px;
  background-color: #fdfdfd;
}

.title {
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #4e77c3;
}

.results-container {
  height: 350px;
}

.references {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

#expenses {
  font-size: 80px;
  text-align: center;
  margin-top: 100px;
}
