%h3= t(:qty_expressions_in, qty: @expressions_count, language: t(l=Language.find_by_code(locale).name.downcase, default: l)).capitalize
%ul.expressions
  - @expressions.each do |expression|
    = ExpressionPresenter.new( self, expression ).to_html :list_item
= paginate @expressions
