:root {
  --cell-size: 30px;
  --number-color-one: blue;
  --number-color-two: green;
  --number-color-three: red;
  --number-color-four: purple;
  --number-color-five: maroon;
  --number-color-six: turquoise;
  --number-color-seven: black;
  --number-color-eight: gray;
  --color-red: #ec433c;
  --color-dark-grey: #333333;
  --color-medium-grey: #666666;
  --color-grey-1: #e6e7e8;
  --color-grey-2: #c2c4c6;
  --color-light-grey-1: #dddddd;
  --color-light-grey-2: #eeeeee;
  --border-color: #f5f5f5;
  --border-color-revealed: #b8b8b8;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--color-dark-grey);
  background-color: var(--color-grey-1);
}

.github-container {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

.github-container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--color-medium-grey);
}

.github-container > a:hover {
  color: var(--color-red);
  cursor: pointer;
}

.github-container > a:hover > svg {
  fill: var(--color-red);
}

.github-container svg {
  margin-right: 5px;
  fill: var(--color-medium-grey);
}

a.bug {
  width: var(--cell-size);
  height: var(--cell-size);
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}

a.bug > svg {
  fill: var(--color-medium-grey);
}

a.bug > svg:hover {
  fill: var(--color-red);
  cursor: pointer;
}

.header,
.difficulty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.difficulty-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.difficulty-container > span {
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.difficulty-container > span.active {
  font-weight: bold;
  color: var(--color-red);
}

.difficulty-mine-container {
  display: flex;
}

.difficulty-mine::after {
  display: block;
  content: '';
  background-image: url('./assets/mine.svg');
  background-size: 12px 12px;
  height: 12px;
  width: 12px;
  margin: 2px;
}

.game-wrapper {
  margin-top: 2rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.instructions {
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.instructions > span {
  margin: 5px 0;
}

.instructions .hotkey {
  background-color: var(--color-grey-2);
  color: var(--color-red);
  font-weight: 600;
}

.game-state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.timer,
.counter {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 48px;
  user-select: none;
  padding: 0 4px;
  border: 3px inset;
  line-height: var(--cell-size);
  letter-spacing: 0.08em;
  display: inline-block;
  color: var(--color-red);
  background: var(--color-dark-grey);
  text-shadow: 0 0 2px var(--color-red);
}

.game-status {
  height: 36px;
  width: 36px;
  background-color: var(--color-light-grey-1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px outset var(--border-color);
}

.game-status > svg {
  background-color: gold;
  border-radius: 50%;
  fill: black;
}

.mine-sweeper {
  border: 6px solid var(--color-grey-2);
  background-color: var(--color-grey-2);
  text-align: center;
  position: relative;
  display: inline-block;
}

.grid {
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

.grid-row {
  display: flex;
}

.grid-cell {
  position: relative;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: var(--color-light-grey-1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px outset var(--border-color);
}

.grid-cell:hover {
  background-color: var(--color-light-grey-2);
}

.grid-cell.revealed {
  border: 1px solid var(--border-color-revealed);
}

.grid-cell.flagged::after {
  display: block;
  content: '';
  background-image: url('./assets/flag.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.grid-cell.revealed.mine {
  background-color: var(--color-red);
}

.grid-cell.revealed.mine::after {
  display: block;
  content: '';
  background-image: url('./assets/mine.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

/* NUMBER COLORS */

.grid-cell.revealed.one {
  color: var(--number-color-one);
}

.grid-cell.revealed.two {
  color: var(--number-color-two);
}

.grid-cell.revealed.three {
  color: var(--number-color-three);
}

.grid-cell.revealed.four {
  color: var(--number-color-four);
}

.grid-cell.revealed.five {
  color: var(--number-color-five);
}

.grid-cell.revealed.six {
  color: var(--number-color-six);
}

.grid-cell.revealed.seven {
  color: var(--number-color-seven);
}

.grid-cell.revealed.eight {
  color: var(--number-color-gray);
}
