// =============================================================================
// Poly Theme Styles
// =============================================================================

// Grid display background colors

$poly-grid: (
  grid__col--12: #def4e5,
  grid__col--8: #dce0f2,
  grid__col--7: #dcf0ef,
  grid__col--6: #ffe3db,
  grid__col--4: #f8edd0,
  grid__col--5: #eaebec,
  grid__col--2: #c5e2ce,
  grid__col--3: #d6eef5,
);

// Generate Poly grid display classes

@each $value, $color in $poly-grid {
  .theme__poly .#{$value} {
    background-color: $color;
  }
}
