// nav

.navbar {
  background-color: white;
  margin-bottom: 40px;
  padding: 0;
  border-bottom: 3px solid #4690fc;

  &-nav {
    .nav-link {
      color: black;
      padding: 30px 15px !important;
      font-size: 14px;

      &.active {
        color: #4690fc;
      }
    }
  }

  .navbar-brand {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 40px;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }

  .register-btn {
    &:hover {
      color: black;
    }
  }

  .login-btn {
    &:hover {
      color: black;
    }
  }

  .logout-btn {
    &:hover {
      color: black;
    }
  }
}
