/* Social Icons */
#social_side_links {
  position: fixed;
  top: 70px;
  right: 10px;
  padding: 0;
  list-style: none;
  z-index: 99;
}

#social_side_links li a i {
  display: block;
  width: 45px;
  padding: 10px;
  font-size: 25px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
  border-radius: 50%;
  text-align: center;
}

.social-links {
  color: white;

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }

  .fa {
    &.fa-github {
      background-color: #333 !important;
    }
    &.fa-facebook {
      background-color: #3b5998 !important;
    }
    &.fa-linkedin {
      background-color: #0077b5 !important;
    }
    &.fa-google {
      background-color: #dd4b39 !important;
    }
    &:hover {
      opacity: 0.9;
    }
  }
}
