section.hero.is-primary.is-medium.is-bold.has-text-centered.firsthero
  .hero-body
    h1.title.is-1 OM PRAKASH PURI
    p.subtitle 
      |I don't expect anything from anybody when you grow old...
      br
      |Your days are gone, It is part of life
    p.subtitle
      |(18 October 1950 - 6 January 2017)

section.hero.abouthero
  .hero-content
    .columns
      .column
        .hero-body
          .container
            h2.subtitle.has-text-centered.is-3 About
            p 
              |Om Puri is an Indian actor who has appeared in both mainstream Indian films and art films. His credits also include appearances in British and American films. He has received an honorary OBE.

              |Puri was born in Ambala, Haryana. His father worked on the railways and served in the Indian Army. Puri graduated from the Film and Television Institute of India. He is also an alumnus of the 1973 class of National School of Drama where Naseeruddin Shah was a co-student.

section.hero.is-primary.is-medium.is-bold.has-text-centered.picturehero
  .hero-body   
    p.subtitle
      |"I prefer working in good cinema, whatever it is. I like subjects that have universal appeal."
      br
      |- Om Puri 

section.hero.abouthero
  .hero-content
    .columns
      .column
        .hero-body
          .container
            h2.subtitle.has-text-centered.is-3 Awards
            ul.timeline
              li.entry.entry-left
                .entry-content
                  h2 1981
                  p Filmfare Best Supporting Actor Award for Aakrosh
              li.entry.entry-right
                .entry-content
                  h2 1981
                  p  National Film Award for Best Actor (29th National Film Awards) for Arohan
              li.entry.entry-left
                .entry-content
                  h2 1983
                  p National Film Award for Best Actor (31st National Film Awards) for Ardh Satya
              li.entry.entry-right
                .entry-content
                  h2 1984
                  p Karlovy Vary International Film Festival Best Actor for Ardh Satya
              li.entry.entry-left
               .entry-content
                  h2 1990
                  p Padma Shri, India's fourth highest civilian award
              li.entry.entry-right
                .entry-content
                  h2 1998
                  p Grand Prix Special des Amériques Montréal World Film Festival for exceptional contribution to the cinematographic art
              li.entry.entry-left
                .entry-content
                  h2 1998
                  p Brussels International Film Festival Best Actor for My Son the Fanatic
              li.entry.entry-right
                .entry-content
                  h2 2004
                  p Honorary Officer of the Order of the British Empire for services to The British Film Industry
              li.entry.entry-left
                .entry-content
                  h2 2009
                  p Filmfare Lifetime Achievement Award
              li.entry.entry-right
                .entry-content
                  h2 2015
                  p Lifetime Achievement Award International Film Festival of Prayag
          br
          p.has-text-centered 
            |If you have time, you should read more about this incredible human being on his Wikipedia entry 
            a(href='https://en.wikipedia.org/wiki/Om_Puri') here.

section.hero.is-primary.is-medium.is-bold.has-text-centered
  .hero-body
    p.subtitle You look into his eyes and you read volumes...that is the kind of power he has an actor.
    p.subtitle - Patrick Swayze

