script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
script(src='scripts/script.js')

footer.footer
  .container
    p.has-text-centered ashishsushilpatel@gmail.com
    p.has-text-centered © 2017 All rights reserved. Ashish Patel
    p.has-text-centered
      br
      a(href='https://www.linkedin.com/in/ashishdotme')
        i.fa.fa-linkedin-square
      a(href='https://facebook.com/ashishdotme')
        i.fa.fa-facebook
      a(href='mailto:ashishsushilpatel@gmail.com')
        i.fa.fa-envelope-o
      a(href='https://instagram.com/ashishdotme')
        i.fa.fa-instagram
      a(href='https://dribbble.com/ashishdotme')
        i.fa.fa-dribbble
      a(href='https://stackoverflow.com/users/6648256/ashish-patel')
        i.fa.fa-stack-overflow
      a(href='https://github.com/ashishdotme')
        i.fa.fa-github
      a(href='https://gitlab.com/ashishdotme')
        i.fa.fa-gitlab
      a(href='https://twitter.com/ashishdotme')
        i.fa.fa-twitter