.chart-wrapper {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.chart-box {
  width: 600px;
  height: auto;
}

@media only screen and (max-width: 500px) {
  .chart-wrapper {
    flex-direction: column;
  }
  .chart-box {
    width: 350px;
    margin: auto;
  }
}
