.discrete-chart {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 0;
  margin-bottom: 80px;
}

.canvas {
  border: 1px solid red;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

@media only screen and (max-width: 500px) {
}
