body {
  margin: 0;
  padding: 0;
  background: black;
}

input {
  border-radius: 5px;
  border: 1px solid white;
  padding: 0 5px;
  box-shadow: inset 1px 1px 5px white;
  background: lightgray;
}

button {
  border-radius: 5px;
  border: 1px solid;
  background-color: lightgray;
  cursor: pointer;
}

.country-table {
  padding: 20px 0;
}

hr {
  border: 1px solid white;
  width: 100%;
}
small {
  color: lightgray;
}

.table-row {
  display: flex;
  justify-content: space-between;
}

.data-wrap {
  width: 100%;
  text-align: center;
  small {
    span {
      color: darkgray;
    }
  }
}
.values {
  font-family: Rubik;
  color: #39ff14;
}
.table-heading {
  width: 100%;
  text-align: center;
  font-family: Rubik;
  font-weight: 300;
  color: red;
}

.table-line {
  border: 0.5px dashed white;
}

.search {
  color: white;
  display: flex;
  justify-content: space-evenly;
  width: 175px;
  margin: auto;
}
.choose-data {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
}
.click-text {
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: darkgray;
  }
}
.date {
  text-align: center;
  color: white;
}
.totals {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin-bottom: 30px;
}
.totals-wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  small {
    color: darkgray;
    span {
      color: red;
    }
  }
}
.world-total {
  color: darkgray;
  font-family: Rubik;
  font-weight: 300;
  text-align: center;
  padding-bottom: 5px;
}
.total-number {
  font-size: 1.5rem;
  color: red;
  // background: rgb(29, 44, 2);
  // padding: 3px 5px;
  // border: 1px solid darkgray;
}
.form-group {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 28%;
  margin: auto;
  padding-bottom: 30px;
}

.chart-wrapper {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.chart-box {
  width: 600px;
  height: auto;
}

@media only screen and (max-width: 500px) {
  .table-heading {
    font-size: 0.8rem;
  }
  .values {
    font-size: 0.8rem;
  }
  small {
    font-size: 0.6rem;
  }
  .chart-wrapper {
    flex-direction: column;
  }
  .chart-box {
    width: 350px;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .form-group {
    width: 100%;
    justify-content: space-around;
    margin: 0;
  }
  .choose-data {
    width: 300px;
  }
  .world-total {
    display: flex;
    flex-direction: column;
  }
}
