.header {
  // position: fixed;
  // z-index: 1;
  opacity: 0.8;
  text-align: center;
  width: 100%;
  background-color: black;
  padding: 10px 0;
  &-title-wrap {
    display: inline-block;
    background: darkslategray;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px 5px;
    &-title {
      color: white;
      font-family: Rubik;
      font-weight: 300;
    }
  }
}

@media only screen and (max-width: 500px) {
  .header {
    &-title-wrap {
      &-title {
        font-size: 1rem;
      }
    }
  }
}
