.worldtotals {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin-bottom: 30px;
  margin-top: 20px;
}
.totals-wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  small {
    color: darkgray;
    span {
      color: red;
    }
  }
}
.world-total {
  color: darkgray;
  font-family: Rubik;
  font-weight: 300;
  text-align: center;
  padding-bottom: 5px;
}
.total-number {
  font-size: 1.5rem;
  color: red;
  // background: rgb(29, 44, 2);
  // padding: 3px 5px;
  // border: 1px solid darkgray;
}

@media only screen and (max-width: 500px) {
  .world-total {
    display: flex;
    flex-direction: column;
  }
}
