.legend {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px;
  color: white;
  background: black;
  &-text {
    display: flex;
  }
}

.legend-color1 {
  width: 30px;
  height: 20px;
  background: dodgerblue;
  margin-left: 5px;
}
.legend-color2 {
  width: 30px;
  height: 20px;
  background: lightblue;
  margin-left: 5px;
}
.legend-color3 {
  width: 30px;
  height: 20px;
  background: green;
  margin-left: 5px;
}
.legend-color4 {
  width: 30px;
  height: 20px;
  background: yellow;
  margin-left: 5px;
}
.legend-color5 {
  width: 30px;
  height: 20px;
  background: orange;
  margin-left: 5px;
}
.legend-color6 {
  width: 30px;
  height: 20px;
  background: red;
  margin-left: 5px;
}

@media only screen and (max-width: 500px) {
  .legend {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    font-size: 0.75rem;
  }
  .legend-color1,
  .legend-color2,
  .legend-color3,
  .legend-color4,
  .legend-color5,
  .legend-color6 {
    margin-left: 1px;
  }
}
