#tempoK {
  transform: translate(9rem, 20.9rem);
}

#tempoKL {
  transform: translateY(4rem);
}

#rhythmK {
  transform: translate(16.8rem, 20.9rem);
}

#rhythmKL {
  transform: translateY(4rem);
}

#rhythm2K {
  transform: translate(24.4rem, 20.9rem);
}

#arpOctavesK {
  transform: translate(24.4rem, 26.5rem);
}

#arpOnB {
  position: absolute;
  width: 3.9rem;
  height: 1.8rem;
  transform: translate(9.6rem, 28rem);
}

#arpOnL {
  font-weight: 500;
  margin: 0px;
  position: absolute;
  font-size: 1rem;
  cursor: pointer;
}

#arpLatchB {
  position: absolute;
  width: 3.9rem;
  height: 1.8rem;
  transform: translate(14.7rem, 28rem);
}

#arpLatchL {
  font-weight: 500;
  margin: 0px;
  position: absolute;
  font-size: 1rem;
  cursor: pointer;
}

#arpTempoBulb {
  position: absolute;
  transform: translate(14rem, 20.7rem);
}

#arpLegatoBulb {
  position: absolute;
  transform: translate(7rem, 28.3rem);
}

#arpLatchBulb {
  position: absolute;
  transform: translate(20.7rem, 28.3rem);
}

#arpLegatoL {
  transform: translate(10.2rem, 30.55rem);
  padding: 0rem 0.2rem 0rem 0.25rem;
}

#arpRestL {
  transform: translate(15.4rem, 30.55rem);
  padding: 0rem 0.6rem;
}

#arp40L {
  transform: translate(8.6rem, 25.5rem);
}

#arp240L {
  transform: translate(12.8rem, 25.5rem);
}

#arp1L {
  transform: translate(17.2rem, 25.5rem);
}

#arp32L {
  transform: translate(20.5rem, 25.5rem);
}

#arpArpL {
  transform: translate(29rem, 28.5rem);
}

#arpOctavesL {
  transform: translate(29rem, 29.55rem);
}

#arpSeqL {
  transform: translate(29rem, 30.8rem);
  padding: 0rem 0.3rem;
}

#AO1L {
  transform: translate(23.5rem, 28.3rem);
}

#AO2L {
  transform: translate(23.7rem, 26.9rem);
}

#AO3L {
  transform: translate(24.6rem, 25.9rem);
}

#AO4L {
  transform: translate(25.89rem, 25.5rem);
}

#arpUpL {
  transform: translate(22.8rem, 22.5rem);
}

#arpDnL {
  transform: translate(23.1rem, 21.3rem);
}

#arpUpDn1L {
  transform: translate(22.2rem, 20.2rem);
}

#arpUpDn2L {
  transform: translate(25.4rem, 19.4rem);
}

#arpPlayedL {
  transform: translate(28.6rem, 20.3rem);
}

#arpRandomL {
  transform: translate(29.4rem, 21.4rem);
}

#arpPlayL {
  transform: translate(29.7rem, 22.7rem);
  padding: 0rem 0.3rem;
}

#arpRecordL {
  transform: translate(29.3rem, 24.1rem);
  padding: 0rem 0.2rem;
}

@keyframes tempoBlink {
  50% {
    background-color: #a91219;
    box-shadow: inset 0rem 0rem 0.2rem #cb2831,
      inset 0.2rem 0.2rem 0.3rem rgba(225, 116, 116, 0.5),
      0rem 0rem 2rem #a91219, 0rem 0rem 0.75rem #a91219;
  }
}

.tempoBlink {
  background-color: #340d17;
  box-shadow: inset 0.1rem 0.1rem 0.2rem rgba(255, 255, 255, 0.1);
}
