.blackKeyMaster {
  position: absolute;
  width: 3rem;
  height: 26.4rem;
  background-color: #0d121c;
  border: 0.3rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0rem 1rem rgb(0, 0, 0);
  cursor: pointer;
  transform: translateY(0.75rem);
  border-radius: 0 0 0.2rem 0.2rem;
}

.blackKeyMaster:active {
  box-shadow: 0rem 0rem 0.7rem rgb(0, 0, 0);
}

.backKeyMasterInsetShadow {
  position: absolute;
  width: 3rem;
  height: 22.5rem;
  border-radius: 0.2rem;
  transform: translateY(-1.5rem);
  background: linear-gradient(
      180deg,
      #0d121c,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      #0d121c
    ),
    linear-gradient(
      90deg,
      #3e4a63,
      transparent,
      transparent,
      transparent,
      transparent
    );
}

.backKeyMasterInsetShadowActive {
  position: absolute;
  width: 3rem;
  height: 22.5rem;
  border-radius: 0.2rem;
  transform: translateY(-1.5rem);
  background: linear-gradient(
      180deg,
      #0d121c,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      #0d121c
    ),
    linear-gradient(
      90deg,
      #343d4f,
      transparent,
      transparent,
      transparent,
      transparent
    );
}

.blackKey {
  width: 2.7rem;
  height: 26.1rem;
  background-color: rgb(40, 40, 40);
  border-radius: 0rem 0rem 0.2rem 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.blackKeyTopUp {
  width: 2.7rem;
  height: 23rem;
  background-color: #0d121c;
}

.blackKeyBottomUp {
  width: 2.7rem;
  height: 3.1rem;
  background: linear-gradient(180deg, #0d121c, #3e4a63, #2e3443, #000);
  border-radius: 0rem 0rem 0.2rem 0.2rem;
}

.blackKeyBottomDown {
  width: 2.7rem;
  height: 3.1rem;
  background: linear-gradient(180deg, #0d121c, #2b313f, #2b313f, #000);
  border-radius: 0rem 0rem 0.2rem 0.2rem;
}

.blackKeyConnectorUp {
  width: 2.7rem;
  height: 0.3rem;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgb(40, 40, 40),
    rgb(40, 40, 40),
    #0d121c
  );
  top: 0;
  transform: translateY(-0.3rem);
}

.blackKeyConnectorDown {
  width: 2.7rem;
  height: 0.6rem;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgb(40, 40, 40),
    rgb(40, 40, 40),
    #0d121c
  );
  top: 0;
  transform: translateY(-0.3rem);
}
