#distortionK {
  transform: translate(116rem, 20.9rem);
}
#distortionKL {
  transform: translateY(3.8rem);
}
#oFMK {
  transform: translate(123.3rem, 20.9rem);
}
#oFMKL {
  transform: translateY(3.8rem);
}
