#attackFader {
  position: absolute;
  transform: translate(81.2rem, 19.5rem);
}

#decayFader {
  position: absolute;
  transform: translate(86.63rem, 19.5rem);
}

#sustainFader {
  position: absolute;
  transform: translate(92.06rem, 19.5rem);
}

#releaseFader {
  position: absolute;
  transform: translate(97.5rem, 19.5rem);
}

#attackL {
  transform: translate(81.9rem, 30.8rem);
}

#decayL {
  transform: translate(87.4rem, 30.8rem);
}

#sustainL {
  transform: translate(92.6rem, 30.8rem);
}

#releaseL {
  transform: translate(98rem, 30.8rem);
}

#envSelectS {
  position: absolute;
  transform: translate(78.3rem, 23.1rem) rotate(90deg);
}

#triggeringS {
  position: absolute;
  transform: translate(106.1rem, 23.1rem) rotate(90deg);
}

#envSelectL {
  transform: translate(75.2rem, 21.3rem);
}

#envSelectL1 {
  transform: translate(72.3rem, 23.2rem);
}

#envSelectL2 {
  transform: translate(72.5rem, 24.6rem);
}

#envSelectL3 {
  transform: translate(70rem, 25.9rem);
}

#envelopesLeftLine {
  position: absolute;
  height: 0.1rem;
  width: 2.1rem;
  background-color: rgb(240, 240, 240);
  transform: translate(78.7rem, 25.05rem);
}

#triggeringL {
  transform: translate(103.2rem, 21.3rem);
}

#triggeringBulb1 {
  transform: translate(107.9rem, 23.2rem);
}

#triggeringBulb2 {
  transform: translate(107.9rem, 24.5rem);
}

#triggeringBulb3 {
  transform: translate(107.9rem, 25.8rem);
}

#triggeringBulbL1 {
  transform: translate(109.2rem, 23rem);
}

#triggeringBulbL2 {
  transform: translate(109.2rem, 24.4rem);
}

#triggeringBulbL3 {
  transform: translate(109.2rem, 25.9rem);
}
