.faderMaster {
  position: absolute;
  width: 4.05rem;
  height: 11.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faderLineBox {
  position: absolute;
  width: 4.05rem;
  height: 9.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.faderLineBig {
  width: 4.05rem;
  height: 0.3rem;
  background-color: rgb(240, 240, 240);
}

.faderLineSmall {
  width: 4.05rem;
  height: 0.1rem;
  background-color: rgb(240, 240, 240);
}

.faderTrack {
  position: absolute;
  background-color: rgb(30, 30, 30);
  width: 1.485rem;
  height: 11.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faderTrackSplit {
  width: 0.18rem;
  height: 11.1rem;
  background-color: rgb(25, 25, 25);
}

.faderNub {
  position: absolute;
  width: 2.97rem;
  height: 2.4rem;
  background: linear-gradient(
    90deg,
    rgb(50, 50, 50),
    rgb(30, 30, 30),
    rgb(30, 30, 30),
    rgb(50, 50, 50)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  box-shadow: 0rem 0rem 1rem rgb(10, 10, 10);
  cursor: grab;
}

.faderNub:active {
  cursor: grabbing;
}

.faderNubTop {
  position: absolute;
  width: 2.97rem;
  height: 1.75rem;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.faderNubTopLine {
  position: absolute;
  width: 2.97rem;
  height: 0.3rem;
  background-color: rgb(240, 240, 240);
  box-shadow: inset 0rem 0rem 0.1rem rgb(10, 10, 10);
}

/* background-color: rgb(20, 20, 20); */
