#filtersTypeS {
  position: absolute;
  transform: translate(95.1rem, 7rem);
}

#filtersSlopeS {
  position: absolute;
  transform: translate(95.1rem, 11rem);
}

#filtersShapeS {
  position: absolute;
  transform: translate(94.8rem, 14.6rem);
}

#filtersTypeL {
  transform: translate(95.7rem, 5.1rem);
}

#filtersSlopeL {
  transform: translate(95.6rem, 9.3rem);
}

#filtersShapeL {
  transform: translate(95.6rem, 13.2rem);
}

#filtersType1Bulb {
  position: absolute;
  transform: translate(94rem, 5.4rem);
}

#filtersType2Bulb {
  position: absolute;
  transform: translate(98.8rem, 5.4rem);
}

#filtersSlope1Bulb {
  position: absolute;
  transform: translate(94rem, 9.5rem);
}

#filtersSlope2Bulb {
  position: absolute;
  transform: translate(98.8rem, 9.5rem);
}

#filtersShape1Bulb {
  position: absolute;
  transform: translate(94.8rem, 16.8rem);
}

#filtersShape2Bulb {
  position: absolute;
  transform: translate(96.5rem, 16.8rem);
}

#filtersShape3Bulb {
  position: absolute;
  transform: translate(98.2rem, 16.8rem);
}

#filtersLPL {
  transform: translate(94.8rem, 17.8rem);
}

#filtersBPL {
  transform: translate(96.45rem, 17.8rem);
}

#filtersHPL {
  transform: translate(98.1rem, 17.8rem);
}

#filtersBulbsArm1 {
  position: absolute;
  width: 0.1rem;
  background-color: rgb(240, 240, 240);
  height: 9.6rem;
  transform: translate(92.9rem, 5.8rem);
}

#filtersBulbsArm2 {
  position: absolute;
  width: 0.9rem;
  background-color: rgb(240, 240, 240);
  height: 0.1rem;
  transform: translate(92.9rem, 5.8rem);
}

#filtersBulbsArm3 {
  position: absolute;
  width: 1.7rem;
  background-color: rgb(240, 240, 240);
  height: 0.1rem;
  transform: translate(92.9rem, 11.8rem);
}

#filtersBulbsArm4 {
  position: absolute;
  width: 1.4rem;
  background-color: rgb(240, 240, 240);
  height: 0.1rem;
  transform: translate(92.9rem, 15.4rem);
}

#filtersClassicL {
  transform: translate(93.2rem, 6.1rem);
}

#filtersAcidL {
  transform: translate(98.5rem, 6.1rem);
}

#filters12DBL {
  transform: translate(93.3rem, 10.4rem);
}

#filters24DBL {
  transform: translate(98.5rem, 10.4rem);
}

#overdriveK {
  transform: translate(101.8rem, 5.7rem);
}

#overdriveKL {
  transform: translateY(3.2rem);
}

#resonanceK {
  transform: translate(109.6rem, 5.7rem);
}

#resonanceKL {
  transform: translateY(3.2rem);
}

#filtersMEDK {
  transform: translate(101.8rem, 12.8rem);
}

#filtersMEDKL {
  transform: translateY(3.2rem);
}

#filtersLFO2K {
  transform: translate(109.6rem, 12.8rem);
}

#filtersLFO2KL {
  transform: translateY(3.2rem);
}

#filtersBracketLeft {
  position: absolute;
  height: 4.1rem;
  width: 0.5rem;
  border-top: 0.1rem solid rgb(240, 240, 240);
  border-left: 0.1rem solid rgb(240, 240, 240);
  border-bottom: 0.1rem solid rgb(240, 240, 240);
  transform: translate(100.9rem, 13rem);
}

#filtersBracketRight {
  position: absolute;
  height: 4.1rem;
  width: 0.5rem;
  border-top: 0.1rem solid rgb(240, 240, 240);
  border-right: 0.1rem solid rgb(240, 240, 240);
  border-bottom: 0.1rem solid rgb(240, 240, 240);
  transform: translate(114.5rem, 13rem);
}

#filtersLineOne {
  position: absolute;
  height: 0.1rem;
  width: 1.9rem;
  background-color: rgb(240, 240, 240);
  transform: translate(107.1rem, 15.1rem);
}

#filtersLineTwo {
  position: absolute;
  height: 0.1rem;
  width: 5.4rem;
  background-color: rgb(240, 240, 240);
  transform: translate(115.5rem, 15.1rem);
}

#frequencyK {
  position: absolute;
  transform: translate(119.1rem, 5.65rem);
}

#filtersFrequencyKL {
  transform: translateY(5rem);
}
