#masterBar {
  width: 123rem;
  height: 1.5rem;
  background-color: #3aadec;
  position: absolute;
  transform: translate(6.3rem, 3.3rem);
  border-radius: 0.1rem;
}

#masterL {
  transform: translate(11.1rem, 0rem);
}

#oscillatorsL {
  transform: translate(44.4rem, 0rem);
}

#mixerL {
  transform: translate(75.7rem, 0rem);
}

#filtersL {
  transform: translate(102.3rem, 0rem);
}

#masterLVBB1 {
  height: 13.8rem;
  transform: translate(26.7rem, 1.5rem);
}

#masterLBB1 {
  transform: translate(27rem, 0rem);
}

#masterLVBB2 {
  height: 13.5rem;
  transform: translate(68.7rem, 1.5rem);
}

#masterLBB2 {
  transform: translate(69rem, 0rem);
}

#masterLVBB3 {
  height: 13.5rem;
  transform: translate(85.8rem, 1.5rem);
}

#masterLBB3 {
  transform: translate(86.1rem, 0rem);
}

#mainBarBottom {
  width: 123rem;
  height: 0.3rem;
  background-color: #3aadec;
  transform: translate(6.3rem, 19rem);
  border-radius: 0.1rem;
  position: absolute;
}
