#keyboardMaster {
  position: absolute;
  width: 106.8rem;
  height: 42.3rem;
  background-color: black;
  bottom: 0;
  transform: translateX(23.1rem);
  display: flex;
  justify-content: center;
}

#keyboardDownSlope {
  position: absolute;
  width: 106.8rem;
  height: 0.75rem;
  background: linear-gradient(180deg, rgb(50, 50, 50), rgb(0, 0, 0));
  top: 0;
}

#keyContainer {
  position: absolute;
  width: 105.45rem;
  height: 41.1rem;
  background-color: black;
  transform: translateY(0.75rem);
  display: flex;
  justify-content: space-between;
}

#BK1 {
  position: absolute;
  transform: translateX(-48.3rem);
}

#BK2 {
  position: absolute;
  transform: translateX(-40.3rem);
}

#BK3 {
  position: absolute;
  transform: translateX(-27rem);
}

#BK4 {
  position: absolute;
  transform: translateX(-19.3rem);
}

#BK5 {
  position: absolute;
  transform: translateX(-12rem);
}

#BK6 {
  position: absolute;
  transform: translateX(1.3rem);
}

#BK7 {
  position: absolute;
  transform: translateX(9.1rem);
}

#BK8 {
  position: absolute;
  transform: translateX(22.4rem);
}

#BK9 {
  position: absolute;
  transform: translateX(30.2rem);
}

#BK10 {
  position: absolute;
  transform: translateX(37.5rem);
}
