#transposeB {
  transform: translate(7.1rem, 34.5rem);
  width: 5rem;
  height: 1.7rem;
}

#transposeL {
  margin: 0;
  cursor: pointer;
}

#functionB {
  transform: translate(13.8rem, 34.5rem);
  width: 5rem;
  height: 1.7rem;
}

#functionL {
  margin: 0;
  cursor: pointer;
}

#keysTopperExitL {
  transform: translate(15.8rem, 36.8rem);
}

#keysTopperMainBracket {
  position: absolute;
  width: 105.5rem;
  height: 1.25rem;
  border-top: 0.3rem solid #3aadec;
  border-right: 0.3rem solid #3aadec;
  transform: translate(23.5rem, 34.3rem);
}

#fMWConnect {
  background-color: #3aadec;
  width: 4rem;
  height: 0.3rem;
  position: absolute;
  transform: translate(19.5rem, 35.6rem);
}

#kTMWL {
  background-color: #3aadec;
  padding: 0rem 0.6rem 0rem 0.3rem;
  transform: translate(23.5rem, 34.6rem);
}

.keysTopperBlocker {
  position: absolute;
  background-color: #3aadec;
  width: 0.3rem;
  height: 1.6rem;
  border-right: 0.3rem solid rgb(20, 20, 20);
}

#kTB1 {
  transform: translate(39.5rem, 34.3rem);
}

#kTAL {
  background-color: #3aadec;
  padding: 0rem 0.6rem 0rem 0.4rem;
  transform: translate(40.1rem, 34.6rem);
}

#kTB2 {
  transform: translate(52.6rem, 34.3rem);
}

#kTLFOL {
  background-color: #3aadec;
  padding: 0rem 2.6rem 0rem 0.6rem;
  transform: translate(53.2rem, 34.6rem);
}

#kTB3 {
  transform: translate(76.7rem, 34.3rem);
}

#kTOSCL {
  background-color: #3aadec;
  padding: 0rem 1.1rem 0rem 0.6rem;
  transform: translate(77.3rem, 34.6rem);
}

#kTB4 {
  transform: translate(86rem, 34.3rem);
}

#kTVELL {
  background-color: #3aadec;
  padding: 0rem 1.2rem 0rem 0.5rem;
  transform: translate(86.6rem, 34.6rem);
}

#kTB5 {
  transform: translate(94rem, 34.3rem);
}

#kTVCAL {
  background-color: #3aadec;
  padding: 0rem 1.2rem 0rem 0.5rem;
  transform: translate(94.6rem, 34.6rem);
}

#kTB6 {
  transform: translate(98.2rem, 34.3rem);
}

#kTARPL {
  background-color: #3aadec;
  padding: 0rem 2.2rem 0rem 0.5rem;
  transform: translate(98.8rem, 34.6rem);
}

#kTB7 {
  transform: translate(106.2rem, 34.3rem);
}

#kTGlobalL {
  background-color: #3aadec;
  padding: 0rem 2.2rem 0rem 0.5rem;
  transform: translate(106.8rem, 34.6rem);
}

#kTLL1 {
  transform: translate(24rem, 36.8rem);
}

#kTLL2 {
  transform: translate(28.5rem, 36.8rem);
}

#kTLL3 {
  transform: translate(32.6rem, 36.8rem);
}

#kTLL4 {
  transform: translate(37.1rem, 36.8rem);
}

#kTLL5 {
  transform: translate(40.1rem, 36.8rem);
}

#kTLL6 {
  transform: translate(45.1rem, 36.8rem);
}

#kTLL7 {
  transform: translate(50.1rem, 36.8rem);
}

#kTLL8 {
  transform: translate(54.2rem, 36.8rem);
}

#kTLL9 {
  transform: translate(58rem, 36.8rem);
}

#kTLL10 {
  transform: translate(61.8rem, 36.8rem);
}

#kTLL11 {
  transform: translate(65.3rem, 36.8rem);
}

#kTLL12 {
  transform: translate(69.5rem, 36.8rem);
}

#kTLL13 {
  transform: translate(74.3rem, 36.8rem);
}

#kTLL14 {
  transform: translate(78.5rem, 36.8rem);
}

#kTLL15 {
  transform: translate(82.5rem, 36.8rem);
}

#kTLL16 {
  transform: translate(85.9rem, 36.8rem);
}

#kTLL17 {
  transform: translate(90.2rem, 36.8rem);
}

#kTLL18 {
  transform: translate(95.3rem, 36.8rem);
}

#kTLL19 {
  transform: translate(99.6rem, 36.8rem);
}

#kTLL20 {
  transform: translate(102.6rem, 36.8rem);
  background-color: rgb(240, 240, 240);
  color: rgb(20, 20, 20);
  padding: 0rem 0.2rem;
}

#kTLL21 {
  transform: translate(107.2rem, 36.8rem);
}

#kTLL22 {
  transform: translate(111.4rem, 36.8rem);
}

#kTLL23 {
  transform: translate(114.9rem, 36.8rem);
}

#kTLL24 {
  transform: translate(118.1rem, 36.8rem);
}

#kTLL25 {
  transform: translate(124.7rem, 36.8rem);
}

#kTML1 {
  transform: translate(28.6rem, 35.9rem);
}

#kTML2 {
  transform: translate(33.1rem, 35.9rem);
}

#kTML3 {
  transform: translate(37.1rem, 35.9rem);
}

#kTML4 {
  transform: translate(45.3rem, 35.9rem);
}

#kTML5 {
  transform: translate(50.1rem, 35.9rem);
}

#kTML6 {
  transform: translate(55.4rem, 35.9rem);
}

#kTML7 {
  transform: translate(62.6rem, 35.9rem);
}

#kTML8 {
  transform: translate(72.1rem, 35.9rem);
}

#kTML9 {
  transform: translate(77.6rem, 35.9rem);
}

#kTML10 {
  transform: translate(82.1rem, 35.9rem);
}
