.knobBigBorder {
  width: 9rem;
  height: 9rem;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.knobBigBorderDot {
  position: absolute;
  width: 9rem;
  height: 9rem;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.knobBigBorderDotDot {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  transform: translateY(-100%);
  background-color: rgb(230, 230, 230);
}

.knobBigBorderDotDotSmall {
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  transform: translateY(-100%);
  background-color: rgb(230, 230, 230);
}

.knobBigBorder12 {
  display: none;
}

.knobBigBorder13 {
  display: none;
}

.knobBigBorder14 {
  display: none;
}
