#lfosLFO1K {
  transform: translate(47.6rem, 20.9rem);
}

#lfosLFO2K {
  transform: translate(57.1rem, 20.9rem);
}

#speedDelayS {
  transform: translate(55.55rem, 26rem) rotate(90deg);
}

#lfosLeftBulb1 {
  transform: translate(44.2rem, 20.6rem);
}

#lfosLeftBulb2 {
  transform: translate(44.2rem, 21.9rem);
}

#lfosLeftBulb3 {
  transform: translate(44.2rem, 23.2rem);
}

#lfosLeftBulb4 {
  transform: translate(44.2rem, 24.5rem);
}

#lfosRightBulb1 {
  transform: translate(64.3rem, 20.6rem);
}

#lfosRightBulb2 {
  transform: translate(64.3rem, 21.9rem);
}

#lfosRightBulb3 {
  transform: translate(64.3rem, 23.2rem);
}

#lfosRightBulb4 {
  transform: translate(64.3rem, 24.5rem);
}

@keyframes lFOSBlink {
  50% {
    background-color: #a91219;
    box-shadow: inset 0rem 0rem 0.2rem #cb2831,
      inset 0.2rem 0.2rem 0.3rem rgba(225, 116, 116, 0.5),
      0rem 0rem 2rem #a91219, 0rem 0rem 0.75rem #a91219;
  }
}

.lFOSBlink {
  background-color: #340d17;
  box-shadow: inset 0.1rem 0.1rem 0.2rem rgba(255, 255, 255, 0.1);
}

#lfosLeftB {
  position: absolute;
  width: 1.5rem;
  height: 5.25rem;
  transform: translate(41.1rem, 20.2rem);
}

#lfosRightB {
  position: absolute;
  width: 1.5rem;
  height: 5.25rem;
  transform: translate(66.2rem, 20.2rem);
}

#lfosLeftBracket {
  position: absolute;
  width: 3.3rem;
  height: 1.9rem;
  border-left: 0.1rem solid rgb(240, 240, 240);
  border-bottom: 0.1rem solid rgb(240, 240, 240);
  transform: translate(49.8rem, 25.8rem);
}

#lfosRightBracket {
  position: absolute;
  width: 3.3rem;
  height: 1.9rem;
  border-right: 0.1rem solid rgb(240, 240, 240);
  border-bottom: 0.1rem solid rgb(240, 240, 240);
  transform: translate(56rem, 25.8rem);
}

#lfosDelayL {
  transform: translate(53.6rem, 24.3rem);
}

#lfosSpeedL {
  transform: translate(53.45rem, 30rem);
}

#lfosLFO1L {
  transform: translate(44.3rem, 26.5rem);
}

#lfosLFO2L {
  transform: translate(62.5rem, 26.5rem);
}

#lfosLeftTriL {
  transform: translate(45.6rem, 20.5rem) rotate(180deg) scaleX(1.3);
}
#lfosLeftSawL1 {
  transform: translate(45.5rem, 21.9rem) scaleX(1.3);
}
#lfosLeftSawL2 {
  transform: translate(45.75rem, 21.9rem) scale(1.3, 1.2) rotate(-33deg);
}
#lfosLeftSquareL1 {
  position: absolute;
  width: 0.2rem;
  height: 0.5rem;
  border-left: 0.1rem solid rgb(240, 240, 240);
  border-top: 0.1rem solid rgb(240, 240, 240);
  border-right: 0.1rem solid rgb(240, 240, 240);
  transform: translate(45.6rem, 23.5rem);
}
#lfosLeftSquareL2 {
  position: absolute;
  position: absolute;
  width: 0.3rem;
  height: 0.5rem;
  border-right: 0.1rem solid rgb(240, 240, 240);
  border-bottom: 0.1rem solid rgb(240, 240, 240);
  transform: translate(45.9rem, 23.5rem);
}

#lfosLeftSAndHL {
  transform: translate(45.4rem, 24.55rem);
}

#lfosRightTriL {
  transform: translate(63.1rem, 20.5rem) rotate(180deg) scaleX(1.3);
}
#lfosRightSawL1 {
  transform: translate(63.05rem, 21.9rem) scaleX(1.3);
}
#lfosRightSawL2 {
  transform: translate(63.3rem, 21.9rem) scale(1.3, 1.2) rotate(-33deg);
}
#lfosRightSquareL1 {
  position: absolute;
  width: 0.2rem;
  height: 0.5rem;
  border-left: 0.1rem solid rgb(240, 240, 240);
  border-top: 0.1rem solid rgb(240, 240, 240);
  border-right: 0.1rem solid rgb(240, 240, 240);
  transform: translate(63.1rem, 23.5rem);
}
#lfosRightSquareL2 {
  position: absolute;
  position: absolute;
  width: 0.3rem;
  height: 0.5rem;
  border-right: 0.1rem solid rgb(240, 240, 240);
  border-bottom: 0.1rem solid rgb(240, 240, 240);
  transform: translate(63.4rem, 23.5rem);
}

#lfosRightSAndHL {
  transform: translate(62.5rem, 24.55rem);
}
