#screen {
  width: 13.5rem;
  height: 4.5rem;
  background-color: rgb(0, 0, 0);
  position: absolute;
  transform: translate(17.5rem, 5.4rem);
  border-radius: 0.3rem;
}

#numberWindow {
  width: 7.5rem;
  height: 3.6rem;
  position: absolute;
  transform: translate(0.5rem, 0.45rem);
  background-color: #29242985;
  border-radius: 0.4rem;
}

#volumeK {
  position: absolute;
  transform: translate(9rem, 6.5rem);
}

#novation {
  font-size: 2rem;
  margin: 0px;
  position: absolute;
  font-weight: 900;
  transform: translate(7rem, 14.2rem);
  letter-spacing: 0.2rem;
}

#BSII {
  font-size: 1.03rem;
  margin: 0px;
  position: absolute;
  font-weight: 600;
  transform: translate(7rem, 16.5rem);
  color: #3aadec;
  font-family: "Orbitron", sans-serif;
}

#analogue {
  font-size: 0.7rem;
  margin: 0px;
  position: absolute;
  font-weight: 600;
  transform: translate(9.5rem, 17.9rem);
}

#saveB {
  width: 3.9rem;
  height: 1.8rem;
  position: absolute;
  transform: translate(17.5rem, 12rem);
}

#backB {
  width: 3.7rem;
  height: 3.4rem;
  position: absolute;
  transform: translate(22.15rem, 12rem);
}

#forwardB {
  width: 3.7rem;
  height: 3.4rem;
  position: absolute;
  transform: translate(26.7rem, 12rem);
}

#patchLine {
  background-color: rgb(230, 230, 230);
  width: 8.4rem;
  height: 0.1rem;
  position: absolute;
  transform: translate(22.35rem, 11.25rem);
}

#patchLineBlock {
  background-color: rgb(20, 20, 20);
  width: 2.6rem;
  height: 0.5rem;
  position: absolute;
  transform: translate(25.23rem, 11rem);
}

#patchL {
  transform: translate(25.4rem, 10.65rem);
}

#backArrow {
  width: 0rem;
  height: 0rem;
  border-top: 0.4rem solid transparent;
  border-right: 1.6rem solid rgb(230, 230, 230);
  border-bottom: 0.4rem solid transparent;
  border-left: 0.4rem solid transparent;
  position: absolute;
  transform: translateX(-0.35rem);
}

#nextArrow {
  width: 0rem;
  height: 0rem;
  border-top: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
  border-left: 1.6rem solid rgb(230, 230, 230);
  position: absolute;
  transform: translateX(0.25rem);
}

#valueLine {
  background-color: rgb(230, 230, 230);
  width: 4.62rem;
  height: 0.1rem;
  position: absolute;
  transform: translate(24.2rem, 16.65rem);
}

#valueLineBlock {
  background-color: rgb(20, 20, 20);
  width: 2.5rem;
  height: 0.5rem;
  position: absolute;
  transform: translate(25.25rem, 16.45rem);
}

#valueL {
  transform: translate(25.4rem, 16rem);
}

#screenNumbersBack {
  color: #3b373c61;
  opacity: 0.5;
  font-size: 4rem;
  font-family: "Digital-7";
  margin: 0px;
  letter-spacing: 0.2rem;
  transform: translate(-0.4rem, 0.2rem);
  text-align: right;
}

.redPositioner {
  width: 7.5rem;
  height: 3.6rem;
  position: absolute;
  transform: translate(0.5rem, 0.45rem);
  border-radius: 0.4rem;
}

.screenNumber {
  font-size: 4rem;
  font-family: "Digital-7";
  color: #fc4e70;
  margin: 0px;
  letter-spacing: 0.2rem;
  text-shadow: 0rem 0rem 0.8rem #fc4e70, 0rem 0rem 2rem #fc4e70;
  text-align: right;
}

@keyframes savePending {
  0% {
    color: #fc4e70;
    text-shadow: 0rem 0rem 0.8rem #fc4e70, 0rem 0rem 2rem #fc4e70;
  }
  69% {
    color: #fc4e70;
    text-shadow: 0rem 0rem 0.8rem #fc4e70, 0rem 0rem 2rem #fc4e70;
  }
  70% {
    color: transparent;
    text-shadow: none;
  }
  100% {
    color: transparent;
    text-shadow: none;
  }
}

.savePending {
  animation: savePending 0.5s step-start 0s infinite;
  font-size: 4rem;
  font-family: "Digital-7";
  color: #fc4e70;
  margin: 0px;
  letter-spacing: 0.2rem;
  text-shadow: 0rem 0rem 0.8rem #fc4e70, 0rem 0rem 2rem #fc4e70;
  text-align: right;
}

#savingDot {
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #fc4e70;
  box-shadow: 0rem 0rem 0.8rem #fc4e70, 0rem 0rem 2rem #fc4e70;
  transform: translate(7.35rem, 3.3rem);
}

#screenNumber1 {
  transform: translate(-0.4rem, 0.2rem);
}

#screenNumber2 {
  transform: translate(-2.5rem, 0.2rem);
}

#screenNumber3 {
  transform: translate(-4.6rem, 0.2rem);
}

#amountBackArrow {
  width: 0rem;
  height: 0rem;
  border-top: 0.3rem solid transparent;
  border-right: 1.08rem solid rgb(230, 230, 230);
  border-bottom: 0.3rem solid transparent;
  border-left: 0.3rem solid transparent;
  position: absolute;
  transform: translate(9.1rem, 3rem);
}

#amountForwardArrow {
  width: 0rem;
  height: 0rem;
  border-top: 0.3rem solid transparent;
  border-right: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
  border-left: 1.08rem solid rgb(230, 230, 230);
  position: absolute;
  transform: translate(9.5rem, 1rem);
}

#amountBackArrowLight {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  transform: translate(11.6rem, 0.85rem);
}

#amountForwardArrowLight {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  transform: translate(11.6rem, 2.85rem);
}

.amountArrowLightOff {
  background-color: #262630;
}

@keyframes amountArrowLightOn {
  0% {
    background-color: #fc4e70;
    box-shadow: 0rem 0rem 0.8rem #fc4e70, 0rem 0rem 2rem #fc4e70;
  }
  99% {
    background-color: #fc4e70;
    box-shadow: 0rem 0rem 0.8rem #fc4e70, 0rem 0rem 2rem #fc4e70;
  }
  100% {
    background-color: #262630;
    box-shadow: none;
  }
}

.amountArrowLightOn {
  animation: amountArrowLightOn 2.1s step-start 0s 1 normal forwards;
}
