#mixerOsc1K {
  position: absolute;
  transform: translate(76.7rem, 5.8rem);
}

#mixerOsc1KL {
  transform: translateY(3.2rem);
}

#mixerOsc2K {
  position: absolute;
  transform: translate(86.2rem, 5.8rem);
}

#mixerOsc2KL {
  transform: translateY(3.2rem);
}

#mixerSubK {
  position: absolute;
  transform: translate(76.7rem, 12.6rem);
}

#mixerSubKL {
  transform: translateY(3.2rem);
}

#mixerUtilityK {
  position: absolute;
  transform: translate(86.2rem, 12.6rem);
}

#mixerUtilityBox {
  position: absolute;
  width: 4.6rem;
  height: 0.9rem;
  border-left: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
  border-right: 0.1rem solid white;
  transform: translate(83.7rem, 17.4rem);
}

#mixerExtL {
  transform: translate(83.08rem, 13.6rem);
}

#mixerRingL {
  transform: translate(82.9rem, 14.8rem);
}

#mixerNoiseL {
  transform: translate(82.75rem, 16rem);
}

#mixerUtilityS {
  position: absolute;
  transform: translate(84.6rem, 8.8rem) rotate(90deg);
}
