#octaveDownB {
  position: absolute;
  width: 5.2rem;
  height: 3.1rem;
  background-color: #3aa4e0;
  transform: translate(7rem, 39.75rem);
}

#octaveUpB {
  position: absolute;
  width: 5.2rem;
  height: 3.1rem;
  background-color: #3aa4e0;
  transform: translate(13.6rem, 39.75rem);
}

#octaveArrowDown {
  position: absolute;
  width: 0rem;
  height: 0rem;
  border-top: 0.6rem solid transparent;
  border-right: 2rem solid rgb(240, 240, 240);
  border-bottom: 0.6rem solid transparent;
}

#octaveArrowUp {
  position: absolute;
  width: 0rem;
  height: 0rem;
  border-top: 0.6rem solid transparent;
  border-left: 2rem solid rgb(240, 240, 240);
  border-bottom: 0.6rem solid transparent;
}

#oPMTopLine {
  position: absolute;
  background-color: rgb(240, 240, 240);
  width: 12.1rem;
  height: 0.1rem;
  transform: translate(7.1rem, 38.9rem);
}

#oPMOctaveL {
  background-color: rgb(20, 20, 20);
  transform: translate(11.4rem, 38.35rem);
  padding: 0rem 0.3rem 0rem 0.4rem;
}

#oPMBottomBracket {
  width: 6.3rem;
  height: 0.7rem;
  border-left: 0.1rem solid rgb(240, 240, 240);
  border-bottom: 0.1rem solid rgb(240, 240, 240);
  border-right: 0.1rem solid rgb(240, 240, 240);
  position: absolute;
  transform: translate(9.65rem, 43.8rem);
}

#oPMResetL {
  background-color: rgb(20, 20, 20);
  transform: translate(11.55rem, 43.95rem);
  padding: 0rem 0.3rem 0rem 0.4rem;
}

#pitchWheel {
  position: absolute;
  transform: translate(5.9rem, 49rem);
}

#modWheel {
  position: absolute;
  transform: translate(15.7rem, 49rem);
}

#oPMPitchL {
  transform: translate(7.1rem, 68.8rem);
}

#oPMModL {
  transform: translate(17.1rem, 68.8rem);
}
