#coarseK {
  position: absolute;
  transform: translate(34.9rem, 6.6rem);
}

#fineK {
  position: absolute;
  transform: translate(42rem, 6.6rem);
}

#MEDK {
  position: absolute;
  transform: translate(49.1rem, 6.6rem);
}

#LFO1K {
  position: absolute;
  transform: translate(56.2rem, 6.6rem);
}

#pulseWidthK {
  position: absolute;
  transform: translate(63.3rem, 6.6rem);
}

#picthBox {
  width: 6.8rem;
  height: 0.75rem;
  position: absolute;
  transform: translate(51.4rem, 13.15rem);
  border-bottom: 0.15rem solid white;
  border-left: 0.15rem solid white;
  border-right: 0.15rem solid white;
}

#pitchBoxBlock {
  position: absolute;
  width: 3rem;
  height: 0.75rem;
  background-color: #141414;
  transform: translate(53.6rem, 13.7rem);
}

#pitch1L {
  transform: translate(54.1rem, 13.45rem);
}

#coarse16Bulb {
  position: absolute;
  transform: translate(34.95rem, 14.6rem);
}

#coarse8Bulb {
  position: absolute;
  transform: translate(36.25rem, 14.6rem);
}

#coarse4Bulb {
  position: absolute;
  transform: translate(37.55rem, 14.6rem);
}

#coarse2Bulb {
  position: absolute;
  transform: translate(38.85rem, 14.6rem);
}

#rangeB {
  width: 5.1rem;
  height: 1.5rem;
  transform: translate(34.55rem, 16.75rem);
}

#rangeL {
  transform: translate(36.05rem, 15.6rem);
}

#coarse16L {
  transform: translate(34.85rem, 13.35rem);
}

#coarse8L {
  transform: translate(36.35rem, 13.35rem);
}

#coarse4L {
  transform: translate(37.7rem, 13.35rem);
}

#coarse2L {
  transform: translate(38.95rem, 13.35rem);
}

#fineSineBulb {
  position: absolute;
  transform: translate(42.05rem, 14.6rem);
}

#fineTriBulb {
  position: absolute;
  transform: translate(43.35rem, 14.6rem);
}

#fineSawBulb {
  position: absolute;
  transform: translate(44.65rem, 14.6rem);
}

#fineSquareBulb {
  position: absolute;
  transform: translate(45.95rem, 14.6rem);
}

#waveformB {
  width: 5.1rem;
  height: 1.5rem;
  transform: translate(41.8rem, 16.75rem);
}

#waveformL {
  transform: translate(42.45rem, 15.6rem);
}

#fineSineL {
  transform: translate(42.2rem, 13.35rem) rotate(-90deg) scale(-1.2, 1.7)
    skewY(-20deg);
}

#fineTriL {
  transform: translate(43.45rem, 13.35rem) rotate(180deg) scaleX(1.3);
}

#fineSawL1 {
  transform: translate(44.7rem, 13.35rem) scaleX(1.3);
}

#fineSawL2 {
  transform: translate(45rem, 13.35rem) scale(1.3, 1.2) rotate(-36deg);
}

#fineSquareL1 {
  position: absolute;
  transform: translate(45.9rem, 13.5rem);
  width: 0.7rem;
  height: 0.55rem;
  border-top: 0.15rem solid rgb(240, 240, 240);
  border-left: 0.15rem solid rgb(240, 240, 240);
  border-right: 0.15rem solid rgb(240, 240, 240);
}

#fineSquareL2 {
  position: absolute;
  transform: translate(46.8rem, 13.5rem);
  width: 0.3rem;
  height: 0.55rem;
  border-bottom: 0.15rem solid rgb(240, 240, 240);
  border-right: 0.15rem solid rgb(240, 240, 240);
}

#fineSquareL3 {
  position: absolute;
  transform: translate(46.5rem, 13.5rem);
  width: 0.3rem;
  height: 0.55rem;
  border-bottom: 0.15rem dotted rgb(240, 240, 240);
  border-left: 0.15rem dotted rgb(240, 240, 240);
}

#oscSelectS {
  position: absolute;
  transform: translate(53.3rem, 16.8rem);
}

#oscSelectL1 {
  transform: translate(52.1rem, 17.1rem);
}

#oscSelectL2 {
  transform: translate(57.35rem, 17.1rem);
}

#oscSelectL3 {
  transform: translate(52.9rem, 15.2rem);
}

#sync12L {
  transform: translate(58.1rem, 15.2rem);
}

#sync12Bulb {
  transform: translate(59.6rem, 17.2rem);
}

#sync12OnL {
  transform: translate(60.8rem, 17.2rem);
}

#pulseWidthS {
  transform: translate(63.5rem, 14.5rem);
}

#pulseWidthL1 {
  transform: translate(61.2rem, 13rem);
}

#pulseWidthL2 {
  transform: translate(64.2rem, 16.7rem);
}

#pulseWidthL3 {
  transform: translate(66.3rem, 13rem);
}

#pulseWidthLineSplit {
  position: absolute;
  transform: translate(65.45rem, 13rem);
  width: 0.1rem;
  height: 1rem;
  background-color: rgb(240, 240, 240);
}

#subOscBar {
  width: 4.5rem;
  height: 1.5rem;
  top: 0;
  left: 0;
  background-color: #3aadec;
  position: absolute;
  transform: translate(69rem, 5.1rem);
  border-radius: 0.1rem;
}

#subOscVBar {
  height: 11.8rem;
  top: 0;
  left: 0;
  transform: translate(69rem, 6.53rem);
}

#subOscL {
  top: 0;
  transform: translate(69.5rem, 5.2rem);
}

#subOscOctaveS {
  position: absolute;
  top: 0;
  transform: translate(74.4rem, 7.4rem) rotate(90deg);
}

#subOscWaveS {
  position: absolute;
  top: 0;
  transform: translate(74.4rem, 13.6rem) rotate(90deg);
}

#subOscOctaveL {
  top: 0;
  transform: translate(71.9rem, 11rem);
}

#subOscOctave1B {
  position: absolute;
  top: 0;
  transform: translate(69.8rem, 7.7rem);
}

#subOscOctave2B {
  position: absolute;
  top: 0;
  transform: translate(69.8rem, 9.5rem);
}

#subOscWave1B {
  position: absolute;
  top: 0;
  transform: translate(69.8rem, 13.5rem);
}

#subOscWave2B {
  position: absolute;
  top: 0;
  transform: translate(69.8rem, 15.1rem);
}

#subOscWave3B {
  position: absolute;
  top: 0;
  transform: translate(69.8rem, 16.7rem);
}

#subOscOctave1L {
  top: 0;
  transform: translate(70.9rem, 7.5rem);
}

#subOscOctave2L {
  top: 0;
  transform: translate(70.9rem, 9.3rem);
}

#subOscSineL {
  top: 0;
  transform: translate(71.2rem, 13.4rem) rotate(-80deg) scale(-1.2, 1.7)
    skewY(-20deg);
}

#subOscNarrow1L {
  top: 0;
  position: absolute;
  width: 0.3rem;
  height: 0.7rem;
  border-left: 0.1rem solid rgb(240, 240, 240);
  border-top: 0.1rem solid rgb(240, 240, 240);
  transform: translate(70.9rem, 15.3rem);
}

#subOscNarrow2L {
  top: 0;
  position: absolute;
  width: 0.4rem;
  height: 0.7rem;
  border-left: 0.1rem solid rgb(240, 240, 240);
  border-bottom: 0.1rem solid rgb(240, 240, 240);
  border-right: 0.1rem solid rgb(240, 240, 240);
  transform: translate(71.2rem, 15.3rem);
}

#subOscSquare1L {
  top: 0;
  position: absolute;
  width: 0.4rem;
  height: 0.7rem;
  border-left: 0.1rem solid rgb(240, 240, 240);
  border-top: 0.1rem solid rgb(240, 240, 240);
  transform: translate(70.9rem, 16.95rem);
}

#subOscSquare2L {
  top: 0;
  position: absolute;
  width: 0.3rem;
  height: 0.7rem;
  border-left: 0.1rem solid rgb(240, 240, 240);
  border-bottom: 0.1rem solid rgb(240, 240, 240);
  border-right: 0.1rem solid rgb(240, 240, 240);
  transform: translate(71.3rem, 16.95rem);
}
