#midBar {
  width: 123rem;
  height: 1.5rem;
  background-color: #3aadec;
  position: absolute;
  transform: translate(6.3rem, 32.1rem);
  border-radius: 0.1rem;
}

#arpeggiatorL {
  transform: translateX(9.3rem);
}

#portaL {
  transform: translateX(28.35rem);
}

#lfosL {
  transform: translateX(46.95rem);
}

#envelopesL {
  transform: translateX(82.35rem);
}

#effectsL {
  transform: translateX(113.25rem);
}

#midLVBB1 {
  height: 13.8rem;
  transform: translate(26.7rem, -12.3rem);
}

#midLBB1 {
  transform: translate(27rem, 0rem);
}

#midLVBB2 {
  height: 13.8rem;
  transform: translate(33.6rem, -12.3rem);
}

#midLBB2 {
  transform: translate(33.9rem, 0rem);
}

#midLVBB3 {
  height: 13.8rem;
  transform: translate(62.7rem, -12.3rem);
}

#midLBB3 {
  transform: translate(63rem, 0rem);
}

#midLVBB4 {
  height: 13.8rem;
  transform: translate(107.4rem, -12.3rem);
}

#midLBB4 {
  transform: translate(107.7rem, 0rem);
}

.whiteBoxL {
  position: absolute;
  font-size: 0.8rem;
  margin: 0;
  background-color: rgb(240, 240, 240);
  color: rgb(20, 20, 20);
  border-radius: 0.1rem;
}
