.switchABMaster {
  width: 3.3rem;
  height: 1.8rem;
  position: absolute;
}

.switchABRounder {
  width: 3.3rem;
  height: 1.8rem;
  background: linear-gradient(90deg, #726f74, #cfcace, #cfcace, #726f74);
  border-radius: 2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swtchABTrack {
  position: absolute;
  width: 2.8rem;
  height: 1.4rem;
  background-color: black;
  transform: translateX(-0.05rem);
}

.switchABKnob {
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    #353641,
    #10111d,
    #353641,
    #10111d,
    #353641,
    #10111d,
    #353641
  );
  border: 0.1rem solid #e0e2e7;
  cursor: grab;
}

.switchABKnob:active {
  cursor: grabbing;
}

.switchABKnobPosA {
  transform: translate(0.2rem, -0.05rem);
}

.switchABKnobPosB {
  transform: translate(1.15rem, -0.05rem);
}

/* background: linear-gradient(
    to right,
    #353641 14.3%,
    #10111d 14.3% 28.6%,
    #353641 28.6% 42.9%,
    #10111d 42.9% 57.2%,
    #353641 57.2% 71.5%,
    #10111d 71.5% 85.8%,
    #353641 85.8%
  ); */
