.wheelMaster {
  position: absolute;
  width: 4.5rem;
  height: 18.6rem;
  background: linear-gradient(180deg, black, #0504ff, black);
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel {
  width: 3.5rem;
  height: 17.6rem;
  border-radius: 0.3rem;
  background-color: rgb(30, 30, 30);
}

.wheelNotch {
  position: absolute;
  width: 3.5rem;
  height: 10rem;
  background: linear-gradient(
    180deg,
    rgb(30, 30, 30),
    rgb(50, 50, 50),
    rgb(30, 30, 35),
    rgb(29, 29, 34),
    rgb(50, 50, 50),
    rgb(30, 30, 30)
  );
}

.wheelNotchGrab {
  position: absolute;
  width: 3.5rem;
  height: 10rem;
  background-color: transparent;
  cursor: grab;
}

.wheelNotchGrab:active {
  cursor: grabbing;
}

.wheelShadow {
  position: absolute;
  width: 3.5rem;
  height: 17.6rem;
  border-radius: 0.3rem;
  background: linear-gradient(
    180deg,
    black,
    rgb(22, 22, 22),
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    rgb(22, 22, 22),
    black
  );
  box-shadow: inset 0.5rem 0rem 0.5rem rgba(255, 255, 255, 0.106),
    inset -0.5rem 0rem 0.5rem rgba(0, 0, 0, 0.506),
    inset 0rem -0.5rem 0.5rem rgba(0, 0, 0, 0.506),
    inset 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.506);
}
