.whiteKey {
  width: 6.5rem;
  height: 41.1rem;
  background-color: #f4f4f4;
  cursor: pointer;
  border-radius: 0 0 0.2rem 0.2rem;
}

.whiteKey:active {
  box-shadow: inset 0rem 0.5rem 1rem rgba(0, 0, 0, 0.75),
    inset 0rem -1rem 1rem rgb(255, 255, 255);
}
