# this script should do the following 3 things, promote db , copy
# pgbouncer conf to pgbouncer server and restart the service
pg_ctlcluster 9.3 main promote
rsync --delete -a -k --perms  /etc/pgbouncer/pgbouncer.ini root@{{pgbouncer_host}}:/etc/pgbouncer/
ssh root@{{pgbouncer_host}} 'pgrep pgbouncer | xargs kill -9; service pgbouncer start'
