cluster=master
node={{node}}
node_name={{ansible_hostname}}
conninfo='host={{inventory_hostname}} dbname=repmgr user=postgres port=5432{% if pg_config_secure %} sslmode=require{% endif %}'
master_response_timeout=60
reconnect_attempts=10
reconnect_interval=30
failover=automatic
promote_command='/home/ubuntu/failover.sh'
follow_command='repmgr standby follow -f /etc/repmgr/repmgr.conf'
pg_bindir=/usr/bin
logfacility=LOCAL0
