/* purgecss start ignore */
@tailwind base;
@tailwind components;
article a {
  color: rgb(49, 49, 182);
  text-decoration: underline;
}
/* purgecss end ignore */
@tailwind utilities;
p {
  line-height: 1.4;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #f10e0e !important;
}

a:visited {
  color: #437a16 !important;
}

a:focus {
  border-bottom: 1px solid;
  background: #4206f6 !important;
}

a:hover {
  border-bottom: 1px solid;
  background: #07edf9 !important;
}

a:active {
  background: #265301;
  color: #cdfeaa;
}

iframe {
  height: 800px !important;
  width: 800px !important;
}

h1 {
  width: 70% !important;
  padding: 10px;
  text-align: center;
  background: rgb(17, 132, 220);
  color: black;
  font-size: 20px;
}
