body {
  background: hsl(204, 86%, 53%);
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 800px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 2rem;
}
