.color-primary {
  color: $color-primary;
}
.color-primary-bg {
  background: $color-primary;
}
.color-secondary {
  color: $color-secondary;
}
.color-secondary-bg {
  background: $color-secondary;
}
.color-yellow {
  color: $color-yellow;
}
.color-yellow-bg {
  background: $color-yellow;
}
