h1 {
	/*The color property changes the color of the h1 text to midnightblue*/
	color:midnightblue;
	/*The monospace property changes the text to monospaced text*/
	font-family: monospace;
	margin:auto;
}

.image-thumbnails {
	width: 100px;
	height: 100px;
	margin-top:10px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid midnightblue;
}

#full-image {
	width: 400px;
	height: 400px;
    margin-bottom: 100px;
    display: block;
    margin: auto;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid midnightblue;

}

.icon-row {
	width: 50%;
	margin: auto;
}
