<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2015">
  <title>MIDI Demos | Rumyra</title>
  <meta name="description" content="">

  <link type="text/css" href="app.css" rel="stylesheet" media="screen" />
  
  <!--include if you want modenizr (rest of scripts just before </body>)
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  -->
  
</head>

<body>
<div class="wrapper page-piano">

  <section id="midi-data">
    
    <!-- <nav>
      <li><a class="selected" href="#data">Data</a></li>
      <li><a href="#emoji">Emoji</a></li>
      <li><a href="#smoke">Visual</a></li>
    </nav> -->

    <!--midi-data, midi-emoji, midi-smoke-->
    <div id="screen">
      <section></section>
      <canvas></canvas>
    </div>
    
  </section>

  <div class="instrument" id="keyboard">
    <b class="key-af" data-note="32">Ab</b>
    <i class="key-a" data-note="33">A</i>
    <b class="key-bf" data-note="34">Bb</b>
    <i class="key-b" data-note="35">B</i>
    <i class="key-c" data-note="36">C</i>
    <b class="key-cs" data-note="37">C#</b>
    <i class="key-d" data-note="38">D</i>
    <b class="key-ef" data-note="39">Eb</b>
    <i class="key-e" data-note="40">E</i>
    <i class="key-f" data-note="41">F</i>
    <b class="key-fs" data-note="42">F#</b>
    <i class="key-g" data-note="43">G</i>
    <b class="key-af" data-note="44">Ab</b>
    <i class="key-a" data-note="45">A</i>
    <b class="key-bf" data-note="46">Bb</b>
    <i class="key-b" data-note="47">B</i>
    <i class="key-c" data-note="48">C</i>
    <b class="key-cs" data-note="49">C#</b>
    <i class="key-d" data-note="50">D</i>
    <b class="key-ef" data-note="51">Eb</b>
    <i class="key-e" data-note="52">E</i>
    <i class="key-f" data-note="53">F</i>
    <b class="key-fs" data-note="54">F#</b>
    <i class="key-g" data-note="55">G</i>
    <b class="key-af" data-note="56">Ab</b>
    <i class="key-a" data-note="57">A</i>
    <b class="key-bf" data-note="58">Bb</b>
    <i class="key-b" data-note="59">B</i>
    <i class="key-c" data-note="60">C</i>
    <b class="key-cs" data-note="61">C#</b>
    <i class="key-d" data-note="62">D</i>
    <b class="key-ef" data-note="63">Eb</b>
    <i class="key-e" data-note="64">E</i>
    <i class="key-f" data-note="65">F</i>
    <b class="key-fs" data-note="66">F#</b>
    <i class="key-g" data-note="67">G</i>
    <b class="key-af" data-note="68">Ab</b>
    <i class="key-a" data-note="69">A</i>
    <b class="key-bf" data-note="70">Bb</b>
    <i class="key-b" data-note="71">B</i>
    <i class="key-c" data-note="72">C</i>
    <b class="key-cs" data-note="73">C#</b>
    <i class="key-d" data-note="74">D</i>
    <b class="key-ef" data-note="75">Eb</b>
    <i class="key-e" data-note="76">E</i>
    <i class="key-f" data-note="78">F</i>
    <b class="key-fs" data-note="79">F#</b>
    <i class="key-g" data-note="80">G</i>
    <b class="key-af" data-note="81">Ab</b>
    <i class="key-a" data-note="82">A</i>
    <b class="key-bf key-last" data-note="83">Bb</b>
  </div><!--instrument-->
<p class="creds">Made by <a href="">@rumyra</a></p>
</div>

<script type="text/javascript" src="app.js"></script>

<script type="text/javascript">

(function() {

    // declare private variables and/or functions

    // set up vars
    var toShow = 'emoji', // data, emoji or smoke
      screen = document.getElementById('screen'),
      screenSection = document.querySelector('#screen section'),
      screenCanvas = document.querySelector('#screen canvas'),
      keyboard = document.querySelector('#keyboard'),
      // nav = document.querySelector('nav'),
      // anchors = nav.querySelectorAll('a'),
      virtualKeys = true,
      ctx = screenCanvas.getContext('2d'),
      particles = [],
      midi,
      data;




      // set current view on nav click
      // (function setView() {
      //   for (i=0; i<anchors.length; i++) {
          
      //     anchors[i].addEventListener("click", function(event) {
      //       anchors.forEach(function(link) {link.classList = ''});

            
      //       event.preventDefault();
      //       this.classList = 'selected';
      //       var thisLink = this.href;
      //       thisLink = thisLink.split('#');
      //       toShow = thisLink[1];
      //     });
      //   }
      // })();

      // (function setView() {
      //   anchors.addEventListener("touchstart", function(event) {
      //     anchors.forEach(function(link) {link.classList = ''});
      //     if (event.target.nodeName === "A") {
      //       event.target.classList = 'selected';
      //       var thisLink = event.target.href;
      //       thisLink = thisLink.split('#');
      //       toShow = thisLink[1];
      //     }
      //   });
      // })();

      // set show properties for MIDI data
      function MIDIdataProps(note, velocity) {
        this.note = note;
        this.velocity = velocity;
        this.midiOn = '[144,'+this.note+','+this.velocity+']';
        this.midiOff = '[128,'+this.note+','+this.velocity+']';
        this.colour = 'hsla('+( Math.floor(Math.pow(this.note,2)/24) )+',50%,60%,1)';
      }

      // parser function to produce emoji char
      function makeEmoji(note) {
        var a = 144 + 96;
        var b = 159; // magical part for this range of emoji
        var c = parseInt(note,10) + 85; // Puts us in the correct range
        var d = 128; // More emoji range magic

        var onArray = new Uint8Array([a, b, c, d]);
        var decoder = new TextDecoder();
        var emoji = decoder.decode(onArray, {stream: true});
        return emoji;
      }

      function animateSmoke(midiNote, leftPos, topPos, canWidth, canHeight) {
        requestAnimationFrame(animateSmoke);

        var xPos = leftPos;
        var yPos = topPos;
        var note = midiNote;
        var canvas = {width: canWidth, height: canHeight};

        ctx.clearRect(0,0,canvas.width,canvas.height);

        var oneSmoke = {
          x : 200,
          y : 200,
          xVel : (Math.random()*10)-5,
          yVel : (Math.random()*10)-5,
          hue : Math.floor(Math.pow(note,2)/24),
          lightness : Math.floor(Math.random() * (100 - 50)) + 50,
          size : 5
        }
        console.log(note);

        particles.push(oneSmoke);

        for (var i=0; i<particles.length; i++) {
          p = particles[i];

          ctx.beginPath();
          ctx.arc(p.x,p.y,p.size,0, Math.PI*2,true);
          ctx.fill();
          p.x+=p.xVel;
          p.y+=p.yVel;
          //size
          p.size*=0.96;
          //gravity
          //p.yVel +=0.5;
          ctx.fillStyle = 'hsl('+p.hue+',+80%,'+p.lightness+'%)';
        }
      }

      // adds relevant data to dom based on what is clicked and which data is selected to view
      function showData(midiProp, clickEl, toShow) {
        var leftPos = clickEl.getBoundingClientRect().left-25;
        var topPos = clickEl.getBoundingClientRect().top-30;

        if (toShow === 'smoke') {
          // screenCanvas.style.display = 'block';
          // screenSection.style.display = 'none';
          // fitToContainer(screenCanvas);
          
          // animateSmoke(midiProp.note, leftPos, topPos, screenCanvas.width, screenCanvas.height);

        } else {
          screenCanvas.style.display = 'none';
          screenSection.style.display = 'block';
          var dataEl = document.createElement('p');
          if (toShow === 'emoji') {
            dataEl.classList = 'emoji';
            var emoji = makeEmoji(midiProp.note);
            dataEl.textContent = emoji;
          } else {
            dataEl.classList = 'data';
            dataEl.textContent = midiProp.midiOn;
          }
          dataEl.style.left = leftPos+'px';
          dataEl.style.color = midiProp.colour;
          screenSection.appendChild(dataEl);
        }
      }

      // random fit to container for canvas
      function fitToContainer(canvas){
        canvas.style.width='100%';
        canvas.style.height='100%';
        canvas.width  = canvas.offsetWidth;
        canvas.height = canvas.offsetHeight;
      }

      // if no MIDI device detected
      // if we pass in the event target here we can get all the MIDI data etc within the called functions
      if (virtualKeys) {
        keyboard.addEventListener("click", function(event) {
          if (event.target.nodeName === "I" || "B") {
            var targetEl = event.target;
            var thisNote = parseInt(event.target.dataset.note, 10);
            var midiProp = new MIDIdataProps(thisNote, 100);
            showData(midiProp, targetEl, toShow);
          }
        });
      }

    return {
      // declare public variables and/or functions
    }

})();

</script>

</body>
</html>