<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2015">
  <title>MIDI Demos | Rumyra</title>
  <meta name="description" content="">

  <link type="text/css" href="app.css" rel="stylesheet" media="screen" />
  <script src="scripts/pusher.min.js"></script>
  
  <!--include if you want modenizr (rest of scripts just before </body>)
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  -->
  
</head>

<body>
<div class="wrapper page-minim">

<!-- <div id="form-name">
  <form method="post" action="/" class="form-small">
    <fieldset><legend>Hello, what's your name?</legend>
      <div class="form-field">
        <label for="input-name">Name</label>
        <input type="text" name="input-name" id="input-name" placeholder="Brian Eno" />
      </div>
      <input type="submit" value="Let's Go!" />
    </fieldset>
  </form>
</div> -->

<div id="minim-show">
  <p>Hi there, you're on the big screen! Press below to play your sound.</p>

  <section class="minim">
    <div class="buttons">
      <button data-state="off"></button>
      <button data-state="off"></button>
      <button data-state="off"></button>
      <button data-state="off"></button>
      <button data-state="off"></button>
      <button data-state="off"></button>
      <button data-state="off"></button>
      <button data-state="off"></button>
    </div>
  </section>
</div>


</div>
<div id="pusher" data-key="{{PUSHKEY}}" data-thisurl="{{THIS_URL}}"></div>
<script type="text/javascript" src="app.js"></script>

<script type="text/javascript">
  // pusher
  var pushConfig = document.getElementById('pusher').dataset;
  var pusher = new Pusher(pushConfig.key, {encrypted:true});
  Pusher.channel_auth_endpoint = pushConfig.thisurl+'/pusher/auth';
  pusher.connection.bind('state_change', function(states) {
      console.log("Pusher's current state is " + states.current);
  });
  // subscribe to channel
  var channel = pusher.subscribe('presence-stepSeq_channel');
  var meId, meCol,
    buttons = document.querySelectorAll('.buttons button'),
    sequenceStore = Array(8);

  // Once subscribed, store the UID
  channel.bind('pusher:subscription_succeeded', function() {
      meId = channel.members.me.id;
      meCol = Math.floor((channel.members.me.info.clientIndex%11)*(360/11));
      for (i=0; i<buttons.length; i++) {
        buttons[i].style.backgroundColor = 'hsla('+meCol+', 70%, 55%, 0.9)';
      }
      console.log(meCol);
  });

  function setButtonState(store, button) {
    var buttonEl = button;

    if (buttonEl.dataset.state === "off") {
      buttonEl.dataset.state = "on";
      store[parseInt(buttonEl.dataset.number)] = 'C5';
    } else {
      buttonEl.dataset.state = "off";
      store[parseInt(buttonEl.dataset.number)] = null;
    }
  }

  [].forEach.call(buttons, function(button, idx) {
    button.addEventListener('click', function() {
      setButtonState(sequenceStore, button);
      channel.trigger('client-buttonPressed', {
        user_id: meId,
        sequenceStore: sequenceStore
      });
    }, false);
    button.dataset.number = idx;
  });
  
</script>

</body>
</html>