<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->

  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2015">
  <title>MIDI Demos | Rumyra</title>
  <meta name="description" content="">

  <link type="text/css" href="app.css" rel="stylesheet" media="screen" />

  <!--include if you want modenizr (rest of scripts just before </body>)
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  -->
  <script src="scripts/Tone.min.js"></script>
  <script src="scripts/StartAudioContext.js"></script>
  <script src="scripts/pusher.min.js"></script>

</head>

<body>
<div class="wrapper page-synth">
<p class="info url-join">Join in! <a href="{{JOIN_URL}}" target="_blank">{{JOIN_URL}}</a></p>

<div class="step-seq">

  <section class="minim" id="minim-main" data-note="0">
    <div class="buttons">
      <button data-state="off"></button>
      <button data-state="off"></button>
      <button data-state="off"></button>
      <button data-state="off"></button>
      <button data-state="off"></button>
      <button data-state="off"></button>
      <button data-state="off"></button>
      <button data-state="off"></button>
    </div>
  </section>


</div>

<p class="info creds">Made by <a href="http://twitter.com/rumyra">@rumyra</a> and <a href="http://twitter.com/_2xaa">@_2xaa</a> with <a href="">tone.js</a> and <a href="http://pusher.com">Pusher</a></p>
</div><!--wrapper-->
<div id="pusher" data-key="{{PUSHKEY}}" data-thisurl="{{THIS_URL}}"></div>
<script type="text/javascript" src="app.js"></script>

<script type="text/javascript">

  // pusher
  var pushConfig = document.getElementById('pusher').dataset;
  var pusher = new Pusher(pushConfig.key, {encrypted:true});
  Pusher.channel_auth_endpoint = pushConfig.thisurl+'/pusher/auth';
  pusher.connection.bind('state_change', function(states) {
      console.log("Pusher's current state is " + states.current);
  });
  // subscribe to channel
  var channel = pusher.subscribe('presence-stepSeq_channel');
  channel.bind('pusher:subscription_succeeded', function(members) {

    members.each(function(member){
      // don't include ourself
      if(member.id === members.myID) {
        return
      } else {
        var newMinim = createMinim(member.id, +member.info.clientIndex);
        wrapper.appendChild(newMinim);  
      }

      // check that there is a client index on the user data
      if(typeof(member.info.clientIndex) == 'undefined'){
        return console.error("no clientIndex provided")
      }
    })
  })
  // vars
  var noteNames = ["beep", "chirp", "crash", "curve", "ding", "hihat", "kick", "punch", "shadow", "snare", "symbol"],
    SEQUENCE_SIZE = 8,
    // mainSequence = [],
    sequences = {},
    wrapper = document.querySelector('.step-seq'),
    mainButtons = document.querySelectorAll('#minim-main .buttons button');

  function setButtonState(store, button) {
    var buttonEl = button;

    if (buttonEl.dataset.state === "off") {
      buttonEl.dataset.state = "on";
      store[parseInt(buttonEl.dataset.number)] = 'C5';
    } else {
      buttonEl.dataset.state = "off";
      store[parseInt(buttonEl.dataset.number)] = null;
    }
  }

  function updateMinimViewByUID(uid) {
    var minim = document.getElementById(uid);
    var buttons = minim.querySelectorAll('button');
    var sequence = sequences[uid];

    sequence.forEach(function(step, idx) {
      var button = buttons[idx];

      if(step === null) {
        button.dataset.state = "off";
      } else {
        button.dataset.state = "on";
      }
    });
  }

  function createMinim(uid, count) {
    // Clone DOM elements
    var masterMinim = document.getElementById('minim-main');
    var dupMinim = masterMinim.cloneNode(true);
    dupMinim.setAttribute('id', uid);
    dupMinim.setAttribute('data-note', (count%11));
    var colour = Math.floor((count%11)*(360/11));

    var dupButtons = dupMinim.getElementsByTagName('button');
    for (i=0; i<dupButtons.length; i++) {
        dupButtons[i].style.backgroundColor = 'hsla('+colour+', 70%, 55%, 0.9)';
      }

    // Use UID to make a sequence store for the user
    sequences[uid] = new Array(SEQUENCE_SIZE);

    //initialise the sequence
    for(var i=0; i < SEQUENCE_SIZE; i++) {
      sequences[uid][i] = null;
    }
    return dupMinim;
  }
  //instigate first minim
  sequences['minim-main'] = new Array(SEQUENCE_SIZE);

  //initialise the sequence
  for(var i=0; i < SEQUENCE_SIZE; i++) {
    sequences['minim-main'][i] = null;
  }

  // when a user joins add a new minim
  channel.bind('pusher:member_added', function(member) {

    if(typeof(member.info.clientIndex) == 'undefined'){
      return console.error("no clientIndex provided")
    }

    console.log('theres a new member -' + member.id);
    var newMinim = createMinim(member.id, +member.info.clientIndex);
    wrapper.appendChild(newMinim);
  });

  // bind event to first minim
  [].forEach.call(mainButtons, function(button, idx) {
    button.addEventListener('click', function() {
      setButtonState(sequences['minim-main'], button);
    }, false);
    button.dataset.number = idx;
  });
  // when they press stuff do update the right sequencer
  channel.bind('client-buttonPressed', function(data) {
    sequences[data.user_id] = data.sequenceStore;
    updateMinimViewByUID(data.user_id);
  });

  // when a user disconnects remove minim
  channel.bind('pusher:member_removed', function(member) {
    var remMinim = document.getElementById(member.id);
    if(remMinim) remMinim.parentNode.removeChild(remMinim);
    delete sequences[member.id];
  });

  //setup a polyphonic sampler
  var keys = new Tone.MultiPlayer({
    urls : {
      "beep" : "./sounds/beep.wav",
      "chirp" : "./sounds/chirp.wav",
      "crash" : "./sounds/crash.wav",
      "curve" : "./sounds/curve.wav",
      "ding" : "./sounds/ding.wav",
      "hihat" : "./sounds/hihat.wav",
      "kick" : "./sounds/kick.wav",
      "punch" : "./sounds/punch.wav",
      "shadow" : "./sounds/shadow.wav",
      "snare" : "./sounds/snare.wav",
      "symbol" : "./sounds/symbol.wav",
    },
    volume : -5,
    fadeOut : 0.1,
  }).toMaster();


  var loop = new Tone.Sequence(function(time, col) {
      // loop over all client sequences
      try {
        for(var key in sequences) {
          var sequence = sequences[key];
          var minim = document.getElementById(key);
          var buttons = minim.querySelectorAll('button');
          var noteId = parseInt(minim.dataset.note, 10);

          if(sequence[col] !== null) {
            //slightly randomized velocities
            var vel = Math.random() * 0.5 + 0.5;
            keys.start(noteNames[noteId], time, 0, "16n", 0, vel);
          }
          [].forEach.call(buttons, function(button) {
            button.classList.remove('current');
          });

          buttons[col].classList.add('current');
        }
      } catch(e) {
        // do nothing :^)
      }

  }, [0, 1, 2, 3, 4, 5, 6, 7], "8n");

  Tone.Transport.start();
  loop.start();

</script>

</body>
</html>
