<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2015">
  <title>MIDI Demos | Rumyra</title>
  <meta name="description" content="">

  <link type="text/css" href="app.css" rel="stylesheet" media="screen" />
  <script src="scripts/pusher.min.js"></script>

  <script src="scripts/d3.min.js"></script>

</head>
<body class="page-vismain">
<audio id="simon" src="warren.m4a"></audio>
<button id="play-audio">Play/Pause Audio</button>
<p style="font-size:150%;">Get yourself a hat! Go to <a style="text-decoration:none;border-bottom:1px solid grey;" href="https://goo.gl/UDLgh4">goo.gl/UDLgh4</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;made by @rumyra</p>

<section id="screen"></section>

<div id="pusher" data-key="{{PUSHKEY}}"></div>
<script type="text/javascript">
// pusher stuff
var pushConfig = document.getElementById('pusher').dataset;
var pusher = new Pusher(pushConfig.key, {encrypted:true});
Pusher.channel_auth_endpoint = pushConfig.thisurl+'/pusher/auth';
pusher.connection.bind('state_change', function(states) {
    console.log("Pusher's current state is " + states.current);
});
// subscribe to channel
var channel = pusher.subscribe('private-rubies');
channel.bind('pusher:subscription_succeeded', function() {
  console.log('subscription succeeded');
});
// audio stuff --------------------------------------------
var simonSoundEl = document.getElementById('simon');

// set up audio context
var audioContext = (window.AudioContext || window.webkitAudioContext);
// create audio class
if (audioContext) {
  // Web Audio API is available.
  var audioAPI = new audioContext();
} else {
  // Web Audio API is not available. Ask the user to use a supported browser.
  alert("Oh nos! It appears your browser does not support the Web Audio API, please upgrade or use a different browser");
}
// variables
var audioBuffer,
    analyserNode = audioAPI.createAnalyser(),
    frequencyData = new Uint8Array(256);
    playButton = document.getElementById('play-audio'),
    guiltMp3 = audioAPI.createMediaElementSource(simonSoundEl);
    analyserNode.fftSize = 512;

// set up getUserMedia
navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

var playGuilt = function playGuilt() {
  guiltMp3.connect(analyserNode);
  guiltMp3.connect(audioAPI.destination);
  analyserNode.connect(audioAPI.destination);
  simonSoundEl.play();
  animateSvgs();
}
//play track
playButton.onclick = function() {
  if (simonSoundEl.paused) {
    playGuilt();
  } else {
    simonSoundEl.pause();
  }
}

// pick up sounds
// var pickUpSound = function pickUpSound(stream) {
//   var ambientNoise = audioAPI.createMediaStreamSource(stream);
//   ambientNoise.connect(analyserNode);
//   animateSvgs();
// }
// navigator.getUserMedia(
// {audio:true},
//   pickUpSound,
//   function(err) {
//     console.log("The following error occured: " + err);
//   } 
// );



function oneGem(id) {
  this.id = id;
  this.type = 'smartWeb';
  this.view = "norm";
}
var allGemParams = [],
  screen = document.getElementById('screen'),
  firstGem = new oneGem(000);
// make at least one gem
allGemParams.push(firstGem);
// createGem(000, screen);
function updateGemArray(id, param, value) {
  for (var i=0; i<allGemParams.length; i++) {
    if (id === allGemParams[i].id) {
      switch (param) {
        case 'img-color':
          allGemParams[i].type = value;
        break;
        case 'img-effect':
          allGemParams[i].view = value;
        break;
      }
    }
  }
}
channel.bind('client-audience_joined', function(data) {
  // createGem(data.person, screen);
  var thisGem = new oneGem(data.person);
  allGemParams.push(thisGem);
  
  restart();
  updateSvgs();
});
channel.bind('client-audience_data', function(data) {
  updateGemArray(data.person, data.param, data.setting);
  
  restart();
  updateSvgs();
});
// high 600 - 250 mid 250 - 100 low 100 - 0
function updateSvgs() {

  gem
    .attr('src', d => 
      d.type === 'netscape' ? 'ghost.png' : 'hat.jpg'
    )
    .style('filter', d => 
      d.view === 'invert' ? 'invert(100%)' : 'invert(0%)'
    )
    .attr('width', d =>
      d.view === 'zoom-big' ? '150' : '100'
    )
    // .style('transform', transform)


}
function animateSvgs() {
  requestAnimationFrame(animateSvgs);
  analyserNode.getByteFrequencyData(frequencyData);
  // Animation stuff--------------------------------

  gem.style('opacity', (d,i) => {
    var freqDataKey = i*20;
    return (frequencyData[freqDataKey] > 140) ? 1 : 0.3 
  })

}
// d3 stuff -------------------------------------
// var tempAr = [1,2,3,4,5,6,7];
// for (var i=0; i<tempAr.length; i++) {
//   createGem(screen);
// }
var allDivs = d3.select("#screen");
var gem = allDivs.selectAll('.gem')
// set layout
var w = window.innerWidth;
var h = window.innerHeight;
var force = d3.layout
  .force()
  .linkDistance(0)
  .charge(-650)
  .nodes(allGemParams)
  .size([w,h])
  .on("tick", tick);

function tick() {
  d3.selectAll(".gem")
    .style('transform', transform)
}


function transform(d) {
  // var s = d.view === 'zoom-big' ? 1.5 : 1
  return `translate(${d.x}px, ${d.y}px)`
}

var nodes = force.nodes();

function restart() {

  gem = gem.data(allGemParams)

  gem.enter()
    .append('img')
    .attr('class', 'gem')
    .attr('src', 'hat.jpg')

  gem.exit()
    .remove()

  force.start();
}
restart()
</script>
</body>
</html>