html {
  font-size: 62.5%;
  font-family: 'Noto Sans', sans-serif;
}
body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-color: #fcfffc;
  font-size: 2rem;
}
@media (max-width: 500px) {
  body {
    width: 460px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  color: #fcfffc;
}
.button {
  background-color: #9b9ece;
  border-radius: 8px;
  width: 200px;
  height: 100px;
  font-size: 4rem;
  font-weight: bold;
  color: #fcfffc;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 500px) {
  .button {
    flex-direction: column;
    width: 160px;
    height: 80px;
  }
}
.button:hover {
  color: #6a7fdb;
  background-color: #fcfffc;
}
.button2 {
  background-color: #6a7fdb;
  border-radius: 8px;
  font-weight: bold;
  color: #fcfffc;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
.button2:hover {
  background-color: #fcfffc;
  color: #6a7fdb;
  border: 2px solid #6a7fdb;
  padding: 13px 30px;
}
p {
  color: #fcfffc;
}
.smallNav {
  width: 1000px;
  background-color: #fcfffc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .smallNav {
    width: 460px;
    flex-wrap: wrap;
  }
}
.smallNav .potluck-title {
  width: 300px;
  height: 64px;
  margin-right: 50px;
}
@media (max-width: 500px) {
  .smallNav .potluck-title {
    margin-left: 70px;
  }
}
nav {
  width: 300px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 500px) {
  nav {
    width: 460px;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
nav a {
  font-size: 2rem;
  font-weight: bold;
  color: #040f0f;
  text-decoration: none;
  justify-content: space-around;
}
@media (max-width: 500px) {
  nav a {
    text-align: center;
    width: 455px;
    font-size: 3rem;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 2px solid #040f0f;
  }
}
nav a:hover {
  color: #6a7fdb;
}
@media (max-width: 500px) {
  nav a:hover {
    border: 2px solid #6a7fdb;
  }
}
footer {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
@media (max-width: 500px) {
  footer {
    width: 460px;
  }
}
h6 {
  background-color: #9b9ece;
  border-radius: 8px 8px 0px 0px;
  font-size: 1.4rem;
  text-align: center;
  color: #040f0f;
  padding: 20px;
  margin-bottom: 0;
}
