# Aliases

alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'
alias c='git commit -m'
# sudo easy_install Pygments
alias cat='pygmentize -O style=monokai -f console256 -g'
alias commit='git commit -m'
alias g='git'
alias l='ls -a -G'