#!/bin/bash

# Functions

# Make directory and cd into it
m() {
  mkdir $1 && cd $_
}

# Create file and open vscode
to() {
  touch $1 && code $_
}

dockerRestart() {
  docker-compose down
  docker-compose up
}

# Get "into" a given container
dockerssh() {
  docker exec -it $1 bash
}

# Returns the process that's running on a port
onport() {
  lsof -i :$1
}

# Kills whatever is running on a specified port
killport() {
  kill -9 "$(lsof -i :$1 -t)"
}

# Install ESLint and all peerDependencies
installeslint() {
  export PKG=eslint-config-7geese;
  npm info "$PKG@latest" peerDependencies --json | command sed 's/[\{\},]//g ; s/: /@/g' | xargs npm install --save-dev "$PKG@latest"
}

# Some configuration stuff for `npm init`
config_npm() {
  npm config set init.author.name "Ashish Patel"
  npm config set init.author.email "ashishsushilpatel@gmail.com"
  npm config set init.author.url "ashish.me"
  npm config set init.license "MIT"
}
