<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown type="MathLibrary.SimpleMath, MathLibrary" 
                   objectUri="SimpleMath.soap"
                   mode="SingleCall" />
      </service>
      <channels>
        <channel port="13101"                
                 ref="http" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
