li.expression
  .body
    font-size: 130%

.expression.presenter
  .expression
    blockquote
      border-left: 0
      padding-bottom: 15px
      border-bottom: 1px solid #EEE
      quotes: "“" "”" "‘" "’"
      small
        text-align: right
        font-size: 100%
      h2
        margin: 75px 0
        text-align: center
        font-weight: normal
        &:before, &:after
          font-size: 2.5em
          line-height: 0.1em
          vertical-align: -0.6em
          font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif
        &:before
          content: open-quote
          vertical-align: -0.4em
          margin-right: 0.5em
          color: #cddae0
        &:after
          content: close-quote
          color: inherit
          margin-left: 0.5em
          color: #cddae0
