.quaketile {
  background: beige;
  border: 2px solid lightblue;
  width: 40%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.header {
  background: navy;
  color: white;
}

h1 {
  margin: 0;
}

.loginform {
  width: 40%;
  margin: auto;
}
input,
label {
  display: block;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}

.btn {
  width: 100px;
}
