body {
  background: white;
  font-family: verdana, sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}
h1,
h2,
h3 {
  font-weight: normal;
}
h1 {
  color: #32568c;
  font-size: 1.8em;
  margin-bottom: 2em;
}
h2 {
  color: #6c5640;
  border-bottom: 3px solid;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
h3 {
  color: #007326;
  border-bottom: 1px dashed;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
#preview > ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  list-style: none;
}
#preview > ul > li > ul {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  color: #555;
}
#preview > ul > li > ul > li > ul {
  margin-top: 0.125em;
  margin-bottom: 0.125em;
}
#preview > ul > li {
  margin-bottom: 1em;
}
#preview > ul > li > ul > li {
  font-size: 0.9em;
}
