body,
html,
.pg,
.bd {
  height: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
}
.editor textarea {
  border-radius: 10px;
}

.editor {
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #f6f6f6;
  padding-left: 20px;
  border-right: 2px solid black;
  width: 45%;
}
.editor textarea {
  height: 500px;
  background: #f6f6f6;
  xborder: 2px solid #888;
  border: none;
  width: 99%;
  margin: 20px 0;
}
.editor input {
  font-weight: bold;
  float: right;
  margin-right: 10px;
}
#toolbar {
  xdisplay: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pg {
  width: 52%;
  float: right;
  height: 100%;
  overflow: auto;
}

body.view .editor {
  display: none;
}

body.view .pg {
  float: none;
  display: block;
  height: auto;
  width: auto;
  padding: 40px;
}
