@import '../../styles/partials/variables';
.square {
    background: $rgbaPinkBG;
    border: 1px solid #999;
    float: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 90px;
    height: 90px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 90px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}