<configuration>
  <system.runtime.remoting>
    <application>

      <channels>
         <channel ref="http" port="0" />
      </channels>

      <client>
        <wellknown type="General.IBroadcaster, General"  
		url="http://localhost:5555/Broadcaster.soap" />
      </client>

    </application>
  </system.runtime.remoting>
</configuration>