<!-- The following defines a simple base template at _default/baseof.html.
As a default template, it is the shell from which all your pages will be
rendered unless you specify another *baseof.html closer to the beginning of the
lookup order. -->

<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head/scripts" . }} {{ partial "head/meta" . }} {{ partial
    "head/styles" . }} {{ with .OutputFormats.Get "rss" -}} {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />
    ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
  </head>

  <body>
    <div id="root">
      <div class="container is-max-desktop">
        {{ partial "navbar/nav-menu" . }}
        <!-- One limitation of the pipes is that they can only work with a single value and that value becomes the last parameter of the next pipeline. -->
        {{ "au-there" | humanize | len | add 2 | eq 12}} {{eq 12 12}} {{12 | eq
        1}}
        <main role="main" class="mt-6">{{ block "main" . }} {{ end }}</main>
      </div>
    </div>
  </body>
</html>
