* {
	touch-action: none;
}

body {
	font-family: Helvetica, sans-serif;
	color: #000000;
	margin: 1em;
	padding: 0;
	height: 100%;
}

input {
	text-align: center;
	border: 1px solid #c0c0c0;
}

input:hover {
	border-color: #000000;
}

button {
	border: 1px solid #c0c0c0;
	background-color: #f0f0f0;
	padding: 5px;
}

button:hover {
	border-color: #000000;
	cursor: pointer;
}

button#plus1,
button#minus1 {
	display: none;
}

#metronome-advanced-controls button {
	display: block;
	margin-bottom: 10px;
}
#metronome-advanced-controls div label {
	display: inline-block;
	width: 6em;
}
#metronome-advanced-controls div input {
	width: 4em;
}

.reference {
	font-size: 0.75em;
	color: #a0a0a0;
}

.reference dd:after {
	content: "";
	display: block;
}

.reference code {
	color: #000000;
	font-size: 1.25em;
}

.reference dt {
	color: #000000;
	display: inline-block;
	min-width: 3em;
}

.reference dd {
	display: inline;
}

#start-tuner,
#stop-tuner {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#show-help {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#metronome {
	border: 1px solid #c0c0c0;
	background-color: white;
	text-align: center;
	width: 318px;
	vertical-align: middle;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: table;
}

#metronome > div {
	padding: 10px 0;
}

#tempo-helpers button {
	font-size: 1.25em;
}

#tempo {
	font-size: 3em;
	width: 4em;
}

#time {
	width: 4em;
}

#controls button {
	font-size: 3em;
}

#visual-target {
	font-size: 3em;
	font-weight: lighter;
}

.downbeat #visual-target,
.strong #visual-target {
	font-weight: bolder;
}

@media(max-width: 768px) {
	#metronome {
		border-width: 0px;
	}
	#options {
		display: none;
	}
	#metronome-advanced-controls {
		display: none;
	}
}
