@import '../Shared/_variables.scss';


.footer {
  background-color: $deep-space-blue;
  color: white;
  list-style-type: none;
  padding: 32px 8px;
  @media screen and (min-width: 500px) {
    padding: 80px 80px;
  }


  .footer-top {
    @media screen and (min-width: 765px) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .footer-column {

    a.span {
      color:#ffffff !important;
      font-weight: 700;
      font-style: italic;
      &:hover {
        text-decoration: underline;
      }
    }
    ul {
      margin-left: 0px !important;
    }
   
    .footer-column__title {
      font-size: 16px !important;
      margin-bottom: 16px;
      font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
      text-transform: uppercase;
    }

    .footer-column__link-wrapper {
      margin-bottom: 6px !important;
      margin-top: 2px !important;
    }
    .footer-column__list {
      list-style: none;
      font-size: 14px;

      .footer-column__link {
        color: #ffffff;
        font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
        text-transform: capitalize;
        padding: 4px 0px 2px !important;

        &:hover {
          text-decoration: underline !important;
          color: #ffffff;
        }
      }
    }
  }

  .footer-column__link{
    font-size: 14px; 
  }

  .footer-column__link:hover {
    color: #ffffff;
    text-decoration: underline;
  } 

.items_border {
  a { color: #ffffff;
  }
}
.items_line {
  border-right: 1px solid #ffffff;
  a:hover {
    text-decoration: underline;
  }
}

.items_noline {
  border-right: 1px solid #ffffff;
}

.items_noline:last-child {
  border-right: none;
}

@media screen and (max-width: 575px) {
  .items_line,
  .items_noline {
    border-right: none;
  }
}

  // center in mobile view
  #footer__social, 
  #footer__copyright {
    text-align: center;
  }

  #footer__social {
    ul {
      margin-left: 0px;
    }
    @media (min-width: 992px) {
      text-align: left;
    }
  }

  #footer__copyright {
    li {
      margin-right: 4px;
    }
    @media (min-width: 992px) {
      text-align: right;
    }
  }

  .footer__items {
    border-right: 1px solid #ffffff;
    padding: 0px 10px;
  }
  .footer__items:last-child {
    border-right: none;
  }

  .footer__line {
    border-top: 1px solid #ffffff;
    margin: 20px 0px 50px 0px;
  }
  .footer__line-wrapper {
    padding: 0px 50px;
  }




  .footer__copyright {
    font-size: 11px;
  }

  .copyright-notice {
    display: block;
    padding-right: 16px;

    @media (min-width: 992px) {
      display: inline;
    }
  }

  .column__links {
    list-style-type: none;
    margin: 0px 0px 0px 0px;; 
    padding: 4px 0px 2px !important;
    font-size: 14px;

    @media (max-width: 576px) {
      margin: 15px 0;

      &:first-of-type {
        margin-top: 0;
      }
    }

    a {
      color: #ffffff;
      display: block;
      line-height: 1.6;
      padding: 8px 8px 8px 0;
      text-decoration: none;

      &:hover {
        color: $bright-orange;
        border-bottom: 1px solid;
      }
      &.social-icon:hover{
        border-bottom: none;
      }

      /* for social icons */
      svg {
        fill: #fff;
        path {
          fill: #fff;
        } 
        rect {
          fill: #fff;
        } 
        &:hover {
          path {
            fill: #F99D78;
          }
          rect {
            fill: #F99D78;
          } 
        }
      }

      &:hover > .link__hover, 
      &:hover > .link__hover > .highlight-text {
        color: #F99D78;
        padding-bottom: 2px;
        border-bottom: 1px solid;
      }
    }

    &.column__social {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;

      @media (min-width: 1200px) {
        width: auto;
        padding-left: 20px;
      }

      li {
        margin: 0 10px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    li {
      font-size: 14px;
      line-height: 1.6;
      
      &.column-item--add-bottom-spacer {
        margin-bottom: 15px;
      }
    }
  }
}
