h1 Linear vs Binary

input(type="text" maxLength="1")#random-letter
.controls
  button#random-btn Random
  button#search-btn Search

.searches
  - var alpha = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('')

  .linear-search
    h2 Linear
    p.info#linear-info &nbsp;
    ul.data
      for char in alpha
        - var id = char + '-linear'
        li(id=id)= char

  .binary-search
    h2 Binary
    p.info#binary-info &nbsp;
    ul.data
      for char in alpha
        - var id = char + '-binary'
        li(id=id)= char