body,
html,
div,
h1,
h2 {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
ul {
  list-style: none;
}

/*Begin Home Page*/
.index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: #000;
  color: #fff;
}
.main {
  width: 40%;
  height: 100%;
  margin: auto;
}
.main h1 {
  text-align: center;
  margin: 30px 0;
  border-bottom: 3px solid;
}
.main p {
  font-size: 1.25rem;
  padding: 10px;
  text-align: center;
}
/*End Home Page*/

/*Begin Header*/
.header {
  text-align: center;
  font-size: 2rem;
}
.header h1 {
  font-weight: 200;
  text-shadow: 1px 1px gray;
}
/*End Header*/

/*Begin Footer*/
.footer {
  text-align: center;
}
