@import "modules/variables";
@import "styles/variables";
@import "apps/admin-private/routes/app";

.editor {
  display: flex;
  position: relative;
  background: $white;
  border: 1px solid rgba(black, 0.1);
  border-radius: 4px;
  overflow: hidden;
  height: 300px;
}

.previewLabel {
  position: absolute;
  top: $padding-unit / 2;
  right: $padding-unit / 2;
  font-size: 0.65em;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba($gray, 0.5);
  pointer-events: none;
  z-index: 2;
}

.editorInput, .editorPreview {
  display: block;
  flex: 1 0 0;
}

.editorInput {
  border-right: 1px solid rgba(black, 0.1);
}

.editorTextarea {
  display: block;
  width: 100%;
  height: 300px;
  border: 0;
  resize: none;
  outline: none;
  padding: $padding-unit;
}

.editorPreview {
  padding: $padding-unit;
  overflow-y: auto;
  height: 300px;
  font-size: 0.8em;
  z-index: 1;
  background: $gray-lighter;
}

.statusSelect {
  border-style: solid;
  border-color: rgba(black, 0.1);
  border-width: 0 1px 1px 0;
  height: 40px;
  font-size: 0.9em;

  :global {
    .Select-control {
      border-color: transparent;
      border-radius: 0;
      height: 39px;
    }
  }
}

.slugPreview {
  font-size: 12px;
  color: $gray;
}
