<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="5555" />
      </channels>
      <service>
        <wellknown mode="Singleton" type="Server.SomeSAO, Server" objectUri="MySAO.soap" />
      </service>
    </application>
  </system.runtime.remoting>
</configuration>