@import 'apps/www-public/config/variables';

.activityFinder {
  position: relative;
  padding: 40px 10px 0;
  height: 520px - 50px;

  @media (min-width: $screen-sm-min) {
    padding-top: 120px;
  }
}

.text {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color: $white;
  font-family: $special-font;

  @media (min-width: $screen-sm-min) {
    font-size: 36px;
  }
}
