.background {
  position: absolute;
  top: 0;
  height: 520px;
  left: 0;
  right: 0;
  background-color: #70938C;
  background-image: linear-gradient(#70938C, #F0A279);
}

.image {
  width: 100%;
  height: 100%;
  background-image: url('./HomeBackground.jpg');
  background-size: cover;
  background-position: 40% 50%;
}
