.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  margin: 30px;
}

.mainContent {
  background: rgba(150, 140, 150, 0.5);
  padding-bottom: 20px;
}

a,
button {
  background: #61dafb;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 12px;
}

.signout {
  background: #fb6161;
  padding-top: 14px;
}
.signout:hover {
  color: #fb6161;
}
a:hover,
button:hover {
  background: #fff;
  color: #61dafb;
}

button {
  font-size: 30px;
  font-weight: 300;
}

img {
  width: 80px;
}

input {
  font-size: 24px;
  width: 80%;
  height: 50px;
  margin: 10px auto;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 1px solid #61dafb;
  padding: 5px 20px;
  text-align: center;
}

select {
  font-size: 24px;
  width: 90%;
  height: 60px;
  margin: 10px auto;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 1px solid #61dafb;
  padding: 5px 20px;
  text-align: center;
}

em {
  padding: 5px 20px;
}
