<configuration>
  <system.runtime.remoting>
    <application>
      <client url="http://localhost:13101">
 
        <wellknown type="CustomerLibrary.CustomerService, CustomerLibrary" 
                   url="http://localhost:13101/customer.soap" />
                   
      </client>
    </application>
  </system.runtime.remoting>
</configuration>