// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.images{
  overflow: hidden;
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
  li, img{
    float: left;
  }
}
