%h1 Admin
.row
  - panels.each do |p|
    .col-sm-6
      - title = p.class.to_s.split('::').first
      .panel.panel-default{ data: { purpose: "#{ title.downcase }-admin"} }
        .panel-heading
          %h3= title
        .panel-body
          = p
