BODY {
  background-color: white;
  font-family: "Verdana", sans-serif;
  font-size: 100%;
  margin-left: 0px;
  margin-top: 0px;
}
P {
  font-family: "Verdana", sans-serif;
  font-size: 70%;
  line-height: 12pt;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-top: 10px;
}
.note {
  background-color: #ffffff;
  color: #336699;
  font-family: "Verdana", sans-serif;
  font-size: 100%;
  line-height: 12pt;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  padding-right: 10px;
}
.infotable {
  background-color: #f0f0e0;
  border-bottom: #ffffff 0px solid;
  border-collapse: collapse;
  border-left: #ffffff 0px solid;
  border-right: #ffffff 0px solid;
  border-top: #ffffff 0px solid;
  font-size: 70%;
  margin-left: 10px;
}
.issuetable {
  background-color: #ffffe8;
  border-collapse: collapse;
  color: #000000;
  font-size: 100%;
  margin-bottom: 10px;
  margin-left: 13px;
  margin-top: 0px;
}
.issuetitle {
  background-color: #ffffff;
  border-bottom: #dcdcdc 1px solid;
  border-top: #dcdcdc 1px;
  color: #003366;
  font-weight: normal;
}
.header {
  background-color: #cecf9c;
  border-bottom: #ffffff 1px solid;
  border-left: #ffffff 1px solid;
  border-right: #ffffff 1px solid;
  border-top: #ffffff 1px solid;
  color: #000000;
  font-weight: bold;
}
.issuehdr {
  background-color: #e0ebf5;
  border-bottom: #dcdcdc 1px solid;
  border-top: #dcdcdc 1px solid;
  color: #000000;
  font-weight: normal;
}
.issuenone {
  background-color: #ffffff;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: #000000;
  font-weight: normal;
}
.content {
  background-color: #e7e7ce;
  border-bottom: #ffffff 1px solid;
  border-left: #ffffff 1px solid;
  border-right: #ffffff 1px solid;
  border-top: #ffffff 1px solid;
  padding-left: 3px;
}
.issuecontent {
  background-color: #ffffff;
  border-bottom: #dcdcdc 1px solid;
  border-top: #dcdcdc 1px solid;
  padding-left: 3px;
}
A:link {
  color: #cc6633;
  text-decoration: underline;
}
A:visited {
  color: #cc6633;
}
A:active {
  color: #cc6633;
}
A:hover {
  color: #cc3300;
  text-decoration: underline;
}
H1 {
  background-color: #003366;
  border-bottom: #336699 6px solid;
  color: #ffffff;
  font-size: 130%;
  font-weight: normal;
  margin: 0em 0em 0em -20px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-top: 16px;
}
H2 {
  color: #000000;
  font-size: 80%;
  font-weight: bold;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-top: 20px;
  padding-left: 0px;
}
H3 {
  color: #000000;
  font-size: 80%;
  font-weight: bold;
  margin-bottom: -5px;
  margin-left: 10px;
  margin-top: 20px;
}
H4 {
  color: #000000;
  font-size: 70%;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 15px;
  padding-bottom: 0px;
}
UL {
  color: #000000;
  font-size: 70%;
  list-style: square;
  margin-bottom: 0pt;
  margin-top: 0pt;
}
OL {
  color: #000000;
  font-size: 70%;
  list-style: square;
  margin-bottom: 0pt;
  margin-top: 0pt;
}
LI {
  list-style: square;
  margin-left: 0px;
}
.expandable {
  cursor: hand;
}
.expanded {
  color: black;
}
.collapsed {
  display: none;
}
.foot {
  background-color: #ffffff;
  border-bottom: #cecf9c 1px solid;
  border-top: #cecf9c 2px solid;
}
.settings {
  margin-left: 25px;
}
.help {
  text-align: right;
  margin-right: 10px;
}
