* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

.buttons-div {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 1.25rem;
}

button:nth-of-type(1),
button:nth-of-type(2) {
  margin-right: 0.25rem;
}

button {
  padding: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 70px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}
