<ul class="resource-list list-group mb-3" [ngClass]="theme">
  <li
    *ngFor="let resource of resources"
    (click)="handleResourceSelect(resource)"
    [ngClass]="{ 'is-active': activeId === resource._id }"
    class="
      list-group-item
      resource-list-item
      d-flex
      justify-content-between
      lh-condensed
    "
  >
    <div>
      <h6 class="my-0">{{ resource.title }}</h6>
      <small class="text-muted">{{ resource.description }}</small>
    </div>
    <span class="text-muted">{{ resource.type }}</span>
  </li>
</ul>
