// Colors

$green: #21a9b1;
$yellow-color: #fcd920;
$red: #e53b51;
$orange: #ec6c20;
$white: #fffeff;

$primary-color: $green;

$gray-lighter: #f5f5f5;
$gray-light: #f0f0f0;
$gray: #aaa;
$gray-dark: #494949;

$text-color: $gray-dark;

$danger-color: #e62638;


// Fonts

$basic-font: 'Open Sans', sans-serif;
$special-font: 'Montserrat', sans-serif;


// Breakpoints

$screen-sm-min: 600px;
$screen-lg-min: 1024px;
