body {
  font-family: 'Gudea', sans-serif;
  background: #E7EBF5;
  margin: 10px;
}

p, ul{
  font-size: 16px;
}

.container {
  border: 1px solid #9a9ab3;
  background: #fff;
  padding: 0;
}

.row {
  margin: 0;
}

@-webkit-keyframes rotate {
  0%   { -webkit-transform: rotate(0); }
  100% { -webkit-transform: rotate(-10deg); }
}

@-moz-keyframes rotate {
  0%   { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(-10deg); }
}

@keyframes rotate {
  0%   { transform: rotate(0); }
  100% { transform: rotate(-10deg); }
}

.header img {
  margin: 0 20px 10px 0;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-animation: rotate 1s 1; /* Safari 4+ */
  -moz-animation:    rotate 1s 1; /* Fx 5+ */
  -o-animation:      rotate 1s 1; /* Opera 12+ */
  animation:         rotate 1s 1; /* IE 10+ */
  display: block;
  float: left;
}

.header .infos {
  padding: 15px 30px 0 0;
  text-align: right;
}

.header .infos > div {
  padding: 2px 0;
}

h1 {
  font-size: 30px;
  padding-top: 10px;
  color: #1747b3;
}

h1 small {
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: #7092de;
  font-weight: bold;
}

h2 {
  color: #fff;
  font-size: 24px;
  line-height: 34px;
  background: #f2f4f9;
}

h2 > span {
  background: #4e73c6;
  display: inline-block;
  padding: 0 20px 0 10px;
}

h3 {
  margin: 12px 8px;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

h4 {
  font-weight: bold;
  margin: 25px 0 5px 0;
}

.entry > div:first-child {
  padding: 5px 30px;
  font-size: 25px;
  font-weight: bold;
}

.entry > div:first-child .last {
  font-size: 18px;
}

.entry > div:last-child {
  margin: 10px 0 0 0;
  border-left: 1px solid #eee;
}

.entry > div:last-child > p {
  font-size: 18px;
}

.personal-projects h4 {
  margin-top: 0;
}

.skills, .projects{
  padding: 0 10px;
}

.projects h3{
  padding: 0;
}