body {
  background-color: lightgray;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  margin-top: 50px;
}

.content {
  padding: 0 5%;
  margin-bottom: 5px;
}

small {
  font-family: "Orbitron";
  color: dodgerblue;
}

.post-title {
  margin: 0 0 0 0;
  font-family: "Raleway";
}

.markdown {
  margin: 20px 0;
  max-width: 800px;
}

.chart-one {
  width: 600px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
  margin-left: auto;
  margin-right: auto;
}

.links {
  width: 300px;
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
  margin-bottom: 5px;
}

.wrapper {
  width: 700px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 880px) {
  .wrapper {
    max-width: 675px;
    grid-gap: 20px;
  }
  .markdown {
    max-width: 600px;
  }
  .chart-one {
    max-width: 600px;
  }
}
@media only screen and (max-width: 580px) {
  .wrapper {
    max-width: 475px;
  }
  .container {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .markdown {
    max-width: 400px;
  }
  .chart-one {
    max-width: 450px;
  }
}
@media only screen and (max-width: 480px) {
  .wrapper {
    max-width: 355px;
  }
  .container {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .markdown {
    max-width: 300px;
  }
  .chart-one {
    max-width: 350px;
  }
}
