<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <!-- Title -->
  <h3 class="title is-3">Login</h3>

  <!-- Login Error Message Box -->
  <div *ngIf="showLoginError" [@fadeInAndOut] class="field margin-bottom">
    <div class="notification is-danger">Incorrect email or password entered</div>
  </div>

  <!-- Email Input -->
  <div class="field">
    <label class="label is-medium">Email</label>
    <div class="control has-icons-right">
      <input
        class="input is-medium"
        autofocus
        [ngClass]="{ 'is-danger': emailIsInvalid }"
        type="email"
        formControlName="email"
      />
      <span class="icon is-small is-right">
        <fa
          *ngIf="emailTouched"
          [@fadeInAndOut]
          name="{{ email.valid ? 'check' : 'exclamation-triangle' }}"
        ></fa>
      </span>
    </div>
  </div>

  <!-- Password Input -->
  <div class="field">
    <label class="label is-medium">Password</label>
    <div class="control has-icons-left has-icons-right">
      <input
        class="input is-medium"
        [ngClass]="{ 'is-danger': passwordIsInvalid }"
        type="password"
        formControlName="password"
      />
      <span class="icon is-small is-left">
        <fa name="lock"></fa>
      </span>
      <span class="icon is-small is-right">
        <fa
          *ngIf="passwordTouched"
          [@fadeInAndOut]
          name="{{ password.valid ? 'check' : 'exclamation-triangle' }}"
        ></fa>
      </span>
    </div>
  </div>

  <!-- Login Button -->
  <div class="field padding-top">
    <div class="control">
      <button
        *ngIf="!loginInProgress"
        [disabled]="!loginForm.valid"
        class="button is-large is-primary is-fullwidth"
      >
        Login
      </button>
      <!-- Loading Indicator -->
      <a
        *ngIf="loginInProgress"
        [ngClass]="{ 'is-loading': loginInProgress }"
        class="button is-large is-primary is-fullwidth"
        >Login</a
      >
    </div>
  </div>
</form>
