<section class="section hero is-fullheight is-light">
  <div class="hero-head">
    <div class="container">
      <h1 class="title">Upload Image</h1>
      <div class="columns is-multiline">
        <div class="column is-one-quarter">
          <div class="field">
            <label class="label is-medium">Enter text</label>
            <div class="control has-icons-right">
              <input class="input is-medium" autofocus type="text" [(ngModel)]="txtToSend" />
            </div>
          </div>
          <img *ngIf="url" [src]="url" height="200" /> <br />
          <div *ngIf="currentFileUpload" class="progress">
            <div
              class="progress-bar progress-bar-info progress-bar-striped"
              role="progressbar"
              attr.aria-valuenow="{{ progress.percentage }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: progress.percentage + '%' }"
            >
              {{ progress.percentage }}%
            </div>
          </div>

          <div class="field">
            <label class="label is-medium">Upload Image</label>
            <label class="button btn-default">
              <input type="file" (change)="selectFile($event)" />
            </label>
          </div>
          <button
            class="button btn-success margin-top"
            [disabled]="!selectedFiles"
            (click)="upload()"
          >
            Upload
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
