.sidebar {
  width: 150px;
  margin-left: 5px;
  z-index: 2;
}
h2 {
  font-size: 14px;
  color: rgb(255, 10, 50);
  font-weight: normal;
  margin-top: 0px;
  text-shadow: 1px 1px 1px #2d2d2d;
}
.sidebar a,
.sidebar span {
  display: block;
  color: white;
  background: rgb(35, 40, 42);
  border-radius: 4px;
  margin: 6px 0;
  padding: 10px;
  font-size: 0.875rem;
  line-height: 8px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: 0.3s ease all;
}

.sidebar .active {
  background-image: linear-gradient(
    270deg,
    #fed29d,
    #a58b66,
    rgb(225, 10, 50),
    rgb(255, 10, 50)
  );
  background-size: 720%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  transition: 0s ease all;
}
.sidebar a:hover,
.sidebar span:hover {
  background: rgb(120, 10, 40);
}
.sidebar .active a:hover,
.sidebar .span span:hover {
  background: rgb(150, 10, 20);
}

.sidebar .active:hover {
  background: rgba(225, 10, 50, 0.7);
}
