// Font.
$font: (
  primary: (
    "Nunito Sans",
    sans-serif,
  ),
);

// Palette.
$palette: (
  primary: #4c5267,
  secondary: darken(#4c5267, 15%),
  meta: lighten(#4c5267, 20%),
  border: lighten(#4c5267, 58%),
  bg: #f7f9fb,
  accent: #0072ff,
  accent-alt: #00c6ff,
  accent-purple: #b5267b,
  accent-purple-alt: #632695,
  accent-green: #438945,
  accent-green-alt: #73bb75,
  accent-orange: #fe8c00,
  accent-orange-alt: #f83600,
);

@import "imports/functions";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";
