:root {
  --term-background: #1f2727;
  --term-text: rgba(255, 255, 255, 0.87); /* #00c7b7; */
  --term-text-highlight: #00c7b7; /* #0bd452 - #0bde91 - #1994fa; */
  --term-prompt: #00c7b7;
  --term-padding: 5px;
  --term-font-size: 16px;
  --term-font-family: 'Inconsolata';
}

@keyframes "blink" {
  from, to {
    background: transparent;
  }
  80% {
    background: var(--term-text);
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--term-background);
}
.term {
  width: 100%;
  height: 94px;
  background: var(--term-background);
  color: var(--term-text);
  font-family: var(--term-font-family);
  line-height: 1.2;
  padding: var(--term-padding);
  padding-top: calc(var(--term-padding) + 2em);
  overflow: auto;
}
.term--banner {
  line-height: 1;
  color: var(--term-text-highlight);
}

.term--title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: var(--term-background);
  color: var(--term-prompt);
  text-align: center;
  padding: var(--term-padding);
  border-bottom: 1px solid var(--term-prompt);
}
.term--body {
  width: 38em;
  height: 100%;
  margin: 0 auto;
  white-space: pre-wrap;
  font-family: var(--term-font-family);
  strong,
  a, a:visited, a:hover, a:active {
    font-weight: normal;;
    background: var(--term-text-highlight);
    color: var(--term-background);
    text-decoration: none;
    cursor: pointer;
    padding: 0 3px;
  }
  em {
    font-style: normal;
    /*background: var(--term-text);*/
    color: var(--term-text-highlight);
  }
}

.term--prompt {

}
.term--textfield {
    overflow: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
}
.term--caret {
  animation-duration: 1.2s;
  animation-name: blink;
  animation-iteration-count: infinite;
  display: inline-block;
  width: 0.6em;
  height: 1.1em;
  margin: 0 0 0 2px;
  vertical-align: bottom;
}
.term--history, .term--current {
  margin: 0;
}
.term, .term--input {
  font-size: var(--term-font-size);
}

.term--current {
  color: var(--term-text);
}
.term--current .term--input,
.term--current .term--prompt {

}

.admin {
  font-family: var(--term-font-family);
  color: var(--term-text);
}
.admin-header {
  border-bottom: 2px solid var(--term-text-highlight);
  color: var(--term-text);
  padding: 0.5em 1em;
}
.admin-header a,
.admin-header a:active,
.admin-header a:link,
.admin-header a:hover {
  color: var(--term-text-highlight);
  text-decoration: none;
}
.admin-header a:hover {
  text-decoration: underline;
}
.admin-title {
  font-weight: normal;
}
.admin-sessions {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}
.admin-session {
  flex: 0 0 25%;
  display: block;
}
.admin-session a,
.admin-session a:active,
.admin-session a:link,
.admin-session a:hover {
  display: block;
  border: 2px solid var(--term-text-highlight);
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  color: var(--term-text-highlight);
  text-decoration: none;
}
.admin-session a:hover {
  text-decoration: underline;
}
.admin-loader {
  font-size: 30px;
  text-align: center;
  margin-top:6em;
}
