@import "ui-variables";

@underline-trailing-whitespace-color: @text-color-warning;

atom-text-editor {

  .trailing-whitespace {
    border-bottom: thin solid @underline-trailing-whitespace-color;
  }

  .cursor-line .trailing-whitespace {
    border-bottom: 0;
  }
}
