.navbar {
  padding: 20px;
  margin-bottom: 40px;
  background-color: $main-color-black;

  .bwm-search {
    height: 50px;
    width: 300px !important;
  }

  .navbar-brand {
    margin-right: 30px;
    font-size: 27px;
    letter-spacing: 1px;
    color: $main-color !important;
    font-weight: 500;

    img {
      margin-left: -15px;
      height: 40px;
    }
  }

  .nav-item {
    font-size: 14px;
    color: $light-gray !important;
  }

  .btn-bwm-search {
    border-color: $main-color;
    color: $main-color;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border-color: $main-color !important;
      color: $main-color !important;
      box-shadow: none;
    }
  }

  // DROPDOWN
  .dropdown-item {
    font-size: 14px;

    &.active {
      background-color: $main-color;
    }

    &:focus {
      background-color: $main-color;
    }
  }
}
