.clockbody {
  width: 500px;
  height: 400px;
  margin: auto;
  border: 1px solid gray;
  box-shadow: inset 3px 3px 25px teal;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.settings-container {
  display: flex;
  justify-content: space-around;
}
.label {
  font-family: Courgette;
  color: gold;
}

.settings-screen {
  font-size: 2vw;
  font-family: Share Tech Mono;
  color: #39ff14;
}

.screen-and-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.settings-button {
  margin: 1px;
  box-shadow: inset 1px 1px 5px teal;
}

.main-display {
  text-align: center;
}

#time-left {
  font-size: 3vw;
  font-family: Share Tech Mono;
}
.text-long {
  color: #39ff14;
}
.text-short {
  color: red;
}
.start-stop {
  display: flex;
  justify-content: center;
}
.action-button {
  width: 80px;
  height: 40px;
  margin: 2px;
  box-shadow: inset 1px 1px 5px teal;
}

.warning-off {
  text-align: center;
  opacity: 0;
}
.warning-on {
  text-align: center;
  opacity: 0;
  -webkit-animation: fade-in forwards 1s;
  -moz-animation: fade-in forwards 1s;
  -o-animation: fade-in forwards 1s;
  animation: fade-in forwards 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1500px) {
  .settings-screen {
    font-size: 2vw;
  }
  #time-left {
    font-size: 3.5vw;
  }
}
@media (max-width: 1300px) {
  .settings-screen {
    font-size: 2.5vw;
  }
  #time-left {
    font-size: 4vw;
  }
}
@media (max-width: 1000px) {
  .settings-screen {
    font-size: 3vw;
  }
  #time-left {
    font-size: 5vw;
  }
}
@media (max-width: 750px) {
  .clockbody {
    width: 400px;
  }
  .settings-screen {
    font-size: 3.5vw;
  }
  #time-left {
    font-size: 6vw;
  }
}
@media (max-width: 500px) {
  .clockbody {
    width: 350px;
  }
  .settings-screen {
    font-size: 7vw;
  }
  #time-left {
    font-size: 10vw;
  }
}
