<h1> Showing a todo </h1>

<p>Name is : <%= @todo.name %></p>
<p>Description is : <%= @todo.description %></p>
<%= link_to "Edit this todo", edit_todo_path(@todo) %> |
<%= link_to "Back to todos", todos_path %>