<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
      C:/Lambda/CIRRICULUMN/_NOTES/Redux/repos/Learning-Redux/Chapter08/chapter8_1/src/components
    </title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css"
    />
  </head>

  <body>
    <table
      border="0"
      cellspacing="1"
      cellpadding="2"
      summary="file table"
      class="file-table centered"
    >
      <tr>
        <td colspan="4" class="header-row"><b>Folders</b></td>
      </tr>
      <tr>
        <td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td>
      </tr>
    </table>
    <br />

    <table
      border="0"
      cellspacing="1"
      cellpadding="2"
      summary="file table"
      class="file-table centered"
    >
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td><a href="Icon_">Icon_</a>&nbsp;</td>
        <td><a href="ErrorMessage.jsx">ErrorMessage.jsx</a>&nbsp;</td>
        <td><a href="HiddenContent.jsx">HiddenContent.jsx</a>&nbsp;</td>
        <td><a href="PostList.jsx">PostList.jsx</a>&nbsp;</td>
      </tr>
      <tr class="row2">
        <td><a href="right.html">right.html</a>&nbsp;</td>
        <td><a href="Filter.jsx">Filter.jsx</a>&nbsp;</td>
        <td><a href="Loading.jsx">Loading.jsx</a>&nbsp;</td>
        <td><a href="Registration.jsx">Registration.jsx</a>&nbsp;</td>
      </tr>
      <tr>
        <td><a href="App.jsx">App.jsx</a>&nbsp;</td>
        <td><a href="FilterList.jsx">FilterList.jsx</a>&nbsp;</td>
        <td><a href="Login.jsx">Login.jsx</a>&nbsp;</td>
        <td><a href="Timestamp.jsx">Timestamp.jsx</a>&nbsp;</td>
      </tr>
      <tr class="row2">
        <td><a href="CreatePost.jsx">CreatePost.jsx</a>&nbsp;</td>
        <td><a href="Header.jsx">Header.jsx</a>&nbsp;</td>
        <td><a href="Post.jsx">Post.jsx</a>&nbsp;</td>
        <td><a href="User.jsx">User.jsx</a>&nbsp;</td>
      </tr>
    </table>

    <p class="summary-style">
      Folders: 1<br />
      Files: 16<br />
      Size of all files: 11601 KB
    </p>
  </body>
</html>
