.tab-header {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
  }

  .tab-header > li {
    width: 33%;
    border-top: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: lightpink;
    list-style-type: none;
  }

  .tab-header > li:first-child {
    border-left: 2px solid black;
  }

  .tab-header > li:last-child {
    border-right: 2px solid black;
  }

  .tab-header > li:hover {
    background-color: lightblue;
    color: white;
  }

  .tab-header > li.active {
    color: white;
    font-weight: bold;
    background-color: lightblue;
    border-bottom: 0px;
  }

  .tabs {
    width: 240px;
  }

  .tab-content {
    font-weight: bold;
    color: white;
    height: 192px;
    margin: 0 20px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
  }
