/* TODO Add site wide styles */
p,
h1 {
  font-family: 'Piedra', cursive;
  color: white;
}

p {
  display: flex;
  justify-content: space-between;
  background-color: fuchsia;
}

h1 {
  display: flex;
  justify-content: space-between;
}
