/**
 * Posts and Pages
 */
.post {
    margin-bottom: 1.66667em;
}

.page-header,
.post-header {
    margin-bottom: 2.5em;
}

.page-title,
.post-title {
    margin-bottom: 0;
}

.page-subtitle,
.post-subtitle {
    color: _palette(charcoal-light-40);
    margin-top: 0.5em;

    .palette-dark & {
        color: _palette(charcoal-light-25);
    }
}

.post-subtitle {
    font-size: 1.33333em;
    line-height: 1.4;
}

.post-meta {
    color: _palette(charcoal-light-40);
    font-size: 0.88889em;
    letter-spacing: 1px;
    text-transform: uppercase;

    .palette-dark & {
        color: _palette(charcoal-light-25);
    }
}

.post-full {
    .post-meta {
        padding-bottom: 1.875em;
        padding-top: 0.9375em;
    }
}

.post-image {
    border: 0;
    display: block;
    margin-bottom: 1.66667em;

    img {
        width: 100%;
    }
}

/* Post feed */
.post-thumbnail {
    border: 0;
    display: block;
    margin-bottom: 1.33333em;
    position: relative;
    width: 100%;

    &:before {
        content: '';
        display: block;
        padding-top: 60%;
    }

    img {
        height: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.post-feed {
    .post-header {
        margin-bottom: 0.83333em;
    }

    .post-title {
        font-size: 1.33333em;

        a {
            border: 0;
            color: inherit !important;
        }
    }

    .post-meta {
        margin-top: 0.5em;
    }
}

@media only screen and (min-width: 541px) {
    .post-feed {
        &.grid-col-2 {
            .post-thumbnail {
                margin-bottom: 0.83333em;
            }

            .post-meta {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width: 761px) {
    .post-feed {
        &.grid-col-3 {
            .post-thumbnail {
                margin-bottom: 0.83333em;
            }

            .post-meta {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .page-header,
    .post-header {
        margin-bottom: 2em;
    }

    .post-subtitle {
        font-size: 1.22222em;
    }
}
