/**
 * Structure
 */
.outer {
    padding-left: 3vw;
    padding-right: 3vw;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

.inner-sm {
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
}

.site {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.site-content {
    padding-bottom: 5em;
    padding-top: 5em;
}

@media only screen and (max-width: 600px) {
    .site-content {
        padding-bottom: 3.33333em;
        padding-top: 3.33333em;
    }
}
