// html { overflow: hidden; }

* {
  box-sizing: border-box;
}

body { 
        font: 10pt Arial, sans-serif; 
        height: 100%;
        width: 100%;
        margin: 0px;
}

div {
        padding: 0px;
}

canvas {  
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
}

.divTable
{
	border: 0px solid #000000;
        display: flex;
        flex-direction: column;
	width: 100%;
	height: 100%;
}
.divTableRow
{
	border: 0px solid #000000;
        display: inline-flex;
	width: 100%;
}
.divTableCell
{
	border: 0px solid #000000;
	padding: 0px;
        height: 100%;
}

.toolbar
{
        background-color:#000000;
        width:100%;
        height:100%;
        color:white;
        display:none;
}

.tool
{
	width:100%;
	height:100%;
	display:block;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
}
