* {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
::-webkit-resizer {
  border: 2px solid black;
  background: red;
  box-shadow: 0 0 5px 5px blue;
  outline: 2px solid yellow;
}
#resizable {
  display: block;
  font-size: 9pt;
  position: absolute;
  bottom: 50px;
  left: 20px;
  padding: 10px;
  min-height: 0;
  min-width: 0;
  border: solid 1px black;
  width: 500px;
  height: 400px;
  overflow-x: auto;
  overflow-y: auto;
}
html,
body {
  margin: auto;
  padding: 0;
}

h1 {
  font-size: 50px;
  margin-bottom: 17px;
  color: #333;
}

h2 {
  font-size: 24px;
  line-height: 1.6;
  margin: 60px 0 0 0;
  margin-bottom: 18px;
  margin-top: 33px;
  color: #333;
}

h3 {
  font-size: 30px;
  margin: 10px 0 20px 0;
  color: #333;
}

header {
  width: 840px;
  zoom: 0.8;
}

section {
  width: 840px;
  margin-left: 25px;
  zoom: 0;
}

section p {
  margin-bottom: 27px;
  font-size: 26px;
  line-height: 1.8;
  color: rgb(0, 0, 0);
}

section img {
  max-width: 440px;
}

footer {
  padding: 0 20px;
  margin: 50px 0;
  text-align: center;
  font-size: 12px;
}

.aspectRatioPlaceholder {
  max-width: auto !important;
  max-height: auto !important;
}

.aspectRatioPlaceholder-fill {
  padding-bottom: 0 !important;
}

header,
section[data-field="subtitle"],
section[data-field="description"] {
  display: none;
}
