pam:
  ldap:
    host: localhost
    port: 389
    base: 'ou=dep,o=org'
    version: 3
    policy: soft
    binddn: 'cn=Manager,dc=example,dc=com'
    bindpw: secret
    scope: sub
    pam_lookup_policy: yes
    pam_groupdn: 'cn=PAM,ou=Groups,dc=padl,dc=com'
    pam_member_attribute: member
    pam_password: ad
    ssl: start_tls
    tls_checkpeer: 'yes'
    tls_cacertfile: /etc/ssl/ca.cert
    tls_cacertdir: /etc/ssl/certs
