<!doctype html>
<html lang="en">
    <head>    
        
        <title>{{ if .Title }}{{ $.Title }} | {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ .Params.excerpt | default .Site.Params.description }}"/>
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "compressed" "precision" 10 "targetPath" "assets/css/main.css")).Permalink }}">
        
    </head>
    <body>
        
        <div id="site-wrap" class="site">
        
          {{ partial "header.html" . }}
        
          <main id="content" class="site-content">
            {{ block "content" . }}{{ end }}
          </main>
        
          {{ partial "footer.html" . }}
        
        </div>
        <script src="{{ "assets/js/init.js" | relURL }}"></script>
        <script src="{{ "assets/js/page-load.js" | relURL }}"></script>
    </body> 
</html>
