{{ define "content" }}

<article class="post">
  <div class="container container--md">

    {{ if .Params.image }}
    <div class="post__image">
      <img src="{{ $.Params.image | relURL }}" alt="{{ $.Params.title }}" />
    </div>
    {{ end }}

    <header class="post__header">
      {{ if .Params.categories }}
        {{ $include_dict := dict "categories" $.Params.categories "container_class" "post__meta" }}
        {{ partial "blog_post_categories.html" $include_dict }}
      {{ end }}
      <h1 class="post__title">{{ .Params.title }}</h1>
      <div class="post__meta">
        <span>On <time datetime="{{ .Date | dateFormat "2006-01-02 15:04" }}">{{ .Date | dateFormat "January 02, 2006" }}</time></span>
        {{ if .Params.author }}
          {{ $author := getJSON $.Params.author }}
          {{ if $author.link }}
            <span> by <a href="{{ $author.link | relURL }}">{{ $author.first_name }} {{ $author.last_name }}</a></span>
          {{ else }}
            <span> by {{ $author.first_name }} {{ $author.last_name }}</span>
          {{ end }}
        {{ end }}
      </div>
    </header>

    <div class="post__copy">
      {{ .Content }}
    </div>

    {{ if .Params.tags }}
    <footer class="post__footer">
      {{ $include_dict := dict "tags" $.Params.tags }}
      {{ partial "blog_post_tags.html" $include_dict }}
    </footer>
    {{ end }}

  </div>
</article>

{{ end }}
