$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "./variables";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $color-background;
  color: $color-text;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#mount {
  height: 100%;
}

.m-button {
  margin: 0;
  padding: 5px 8px;
  text-align: left;
  box-sizing: border-box;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background: $color-neutral;
  color: $color-neutral-text;
  border-radius: 3px;
  transition: background 700ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &[disabled],
  &[disabled]:hover {
    background: lighten($color-neutral, 5%) !important;
    color: lighten($color-neutral-text, 50%) !important;
    cursor: default;
  }

  &hover {
    background: darken($color-neutral, 5%);
  }

  &.primary {
    background: $color-primary;
    color: $color-primary-text;

    &:hover {
      background: lighten($color-primary, 10%);
    }
  }

  &.good {
    background: $color-good;
    color: $color-good-text;

    &:hover {
      background: lighten($color-good, 10%);
    }
  }
}
