$color-background: #eaeaea;

$color-primary: #2196f3;
$color-primary-text: #fff;

$color-bad: #ff2342;
$color-bad-text: #fff;

$color-good: #57cb44;
$color-good-text: #fff;

$color-neutral: #d2d2d2;
$color-neutral-text: #000;

$color-text: #484848;
$color-section-border: #c2c2c2;

$width-card: 160px;
$height-card: 170px;
$card-scale-factor: 0.8;

$color-raised: #f5f5f5;
$header-font-size: 14px;

@mixin user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin section {
  border: 2px solid $color-section-border;
  border-radius: 3px;

  > h1 {
    font-weight: normal;
    font-size: $header-font-size;
    margin: 0;
    padding: 5px 10px;
    background: $color-section-border;
    color: #000;
  }

  > .body {
    padding: 10px;
    padding-top: 0;
  }
}

@mixin unlistify {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    margin: 0;
    padding: 0;
  }
}

@mixin raised {
  background: $color-raised;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 1px solid #fff;
  border-right: none;
  border-bottom: none;
}

@mixin divider {
  border-radius: 3px;
  background: $color-section-border;
  transition: background 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  padding: 5px 0;

  &.is-active {
    background: $color-primary;
    color: $color-primary-text;
  }

  > i {
    margin: 0 5px;
  }
}
