@import '_reset.scss';

$lightGrey: hsla(0,0%,90%,1);
$darkGrey: hsla(0,0%,18%,1);
$pink: hsla(340,88%,60%,1);
$green: hsla(154,85%,44%,1);
$blue: hsla(194,98%,44%,1);
$orange: hsla(38,95%,55%,1);

$backgroundColor: $darkGrey;

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

body {
  background: $backgroundColor;
  background-image: -o-linear-gradient(top, $darkGrey 25%, lighten($darkGrey, 20%) 25%, lighten($darkGrey, 20%) 50%, $darkGrey 50%, $darkGrey 75%, lighten($darkGrey, 20%) 75%);
  background-image: -moz-linear-gradient(top, $darkGrey 25%, lighten($darkGrey, 20%) 25%, lighten($darkGrey, 20%) 50%, $darkGrey 50%, $darkGrey 75%, lighten($darkGrey, 20%) 75%);
  background-image: -ms-linear-gradient(top, $darkGrey 25%, lighten($darkGrey, 20%) 25%, lighten($darkGrey, 20%) 50%, $darkGrey 50%, $darkGrey 75%, lighten($darkGrey, 20%) 75%);
  background-image: -webkit-linear-gradient(top, $darkGrey 25%, lighten($darkGrey, 20%) 25%, lighten($darkGrey, 20%) 50%, $darkGrey 50%, $darkGrey 75%, lighten($darkGrey, 20%) 75%);
  background-image: linear-gradient(top, $darkGrey 25%, lighten($darkGrey, 20%) 25%, lighten($darkGrey, 20%) 50%, $darkGrey 50%, $darkGrey 75%, lighten($darkGrey, 20%) 75%);
  font-family: 'Montserrat', sans-serif;
}

.page {
  width:302px; height:110vh; min-height: 450px;
  padding:19px; margin:0px auto;
  header {
    padding-bottom: 20px;
    color: $lightGrey; text-align: right;
    font-weight: normal;
  }
}

.midi-data {
  position:relative; overflow:hidden;
  height: 200px; margin-bottom:30px;
  background:transparentize(white,0.1);
    border:10px solid $pink;
  ul {
    position:absolute; left:0px; bottom:0px;
    padding:1em; list-style:none;
    li {
      padding:0.2em 0.2em 0.2em 1em;
      font-size:1.2em;
      font-family: monospace;
      &:last-child, &:nth-last-child(2) {
        font-weight:bold;
        animation:flash 1s;
        &:before {content:"> "; margin-left:-1em;}
      }
    }
  }
}
@keyframes flash {
  0% {color:$pink;}
  100% {color:black;}
}

.octave {
  box-shadow:0px 0px 1px 1px lightgrey;
  overflow:hidden; position:relative;
  i, b {
    display:inline-block;
    position:relative; z-index:5;
    box-shadow:1px 1px darkgrey;
    color: transparent;
  }
  i {
    width:34px; height:176px;
    background:white;
  }
  b {
    z-index:10;
    width:26px; height:104px;
    margin:0px -15px;
    background:black;
  }
  .key-last {position:absolute; top:0px; right:0px;}
}

// launchpad
#visual {
  width:48%; margin:0px auto 20px;
  em {
    display: inline-block; width:48%; height:75px;
    box-sizing: border-box; border:1px solid white;
    border-radius: 40px;
  }
}

#controls {
  width: 75%; margin:0px auto; padding:10px;
  box-shadow:0px 0px 1px 1px lightgrey;
  border: 4px solid $darkGrey; background-color:lighten($darkGrey, 10%);
  button {
    display: inline-block; width:42%; height:100px;
    margin:8px 8px 10px; background-color: lightgrey;
    -moz-box-shadow: 0px 0px 1px 2px black, inset 0 0 30px white;
   -webkit-box-shadow: 0px 0px 1px 2px black, inset 0 0 30px white;
    box-shadow: 0px 0px 1px 2px black, inset 0 0 50px white;
    font-size: 0px; border-radius:2px;
  }
}

#link {
  p {
    padding: 30px 0px;
    a {color:white;}
  }
}




