.navbar {
  padding: 20px;
  margin-bottom: 40px;

  .bwm-search {
    height: 50px;
    width: 300px;
  }

  .navbar-brand {
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 0.5px;
    color: #f46767;
    font-weight: 700;
    position: relative;

    img {
      margin-left: -10px;
      width: 100px;
    }

    &:hover,
    &:focus {
      color: $main-color;
    }
  }

  .nav-item {
    font-size: 14px;
  }

  // DROPDOWN
  .dropdown-item {
    font-size: 14px;

    &.active {
      background-color: $main-color;
    }

    &:focus {
      background-color: $main-color;
    }
  }
}
