$canvas-count: 10;
$canvas-width: 400px;
$animation-dur: 2s;

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 5000px;
}

.container {
  position: relative;
  width: $canvas-width;
  height: $canvas-width;
  background: rgba(black, .05);
  transition: all $animation-dur;
  transform-style: preserve-3d;
  animation: container 6s 1s 1;

  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all $animation-dur;
    transform: translate(-50%, -50%);

    @for $i from 0 through $canvas-count {
      &:nth-child(#{$i}) {
        animation: canvas-#{$i} 6s 1s 1;
      }
    }
  }

  &:hover {
    transform:
      translateX(-50%)
      rotateX(-27.5deg)
      rotateY(-45deg);

    @for $i from 0 through $canvas-count {
      canvas:nth-child(#{$i}) {
        transform:
          translate3d(-50%, -50%, #{($i - 1) * -50px})
      }
    }
  }
}

@keyframes container {
  33.3%, 66.6% {
    transform:
      translateX(-50%)
      rotateX(-27.5deg)
      rotateY(-45deg);
  }
}

@for $i from 0 through $canvas-count {
  @keyframes canvas-#{$i} {
    33.3%, 66.6% {
      transform:
        translate3d(-50%, -50%, #{($i - 1) * -50px})
    }
  }
}