html,
body,
.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  font-family: 'Molle', cursive;
  text-align: center;
  color: #ffffff;
  h1 {
    font-size: 42px;
    margin-top: 0;
  }
}

.header {
  padding: 64px;
  padding-bottom: 16px;
  background-image: linear-gradient(to top right, #a18cd1 0%, #fbc2eb 100%);

  .family-button {
    font-family: 'Molle', cursive;
    margin-right: 16px;
    font-size: 16px;
    padding: 8px 12px;
    background-color: transparent;
    border-radius: 24px;
    border: 1px solid #55447c;
    color: #55447c;

    &:hover {
      background-color: #55447c;
      border: 1px solid #55447c;
      color: #ffffff;
    }

    &:focus {outline:0;}

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background-color: #55447c;
      border: 1px solid #55447c;
      color: #ffffff;
    }
  }
}

.FamilyTree {
  color: #55447c;
  padding: 32px;
}

.parents, .siblings {
  display: flex;
    justify-content: center;
  align-items: center;
}

.person {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 8px;
  }
}
