@import "styles/variables";

.header {
  position: relative;
  background: $primary-color;
  height: $header-height;
  padding: 0 $padding-unit * 2;
  color: $white;
  font-size: 0.85rem;
}

.logo {
  display: inline-block;
  height: $header-height;
  width: 150px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url('images/logo.svg');
}

.admin {
  display: inline-block;
  height: $header-height;
  line-height: $header-height;
  color: white;
  vertical-align: top;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.user {
  position: absolute;
  cursor: pointer;
  height: $header-height - $padding-unit;
  width: $header-height - $padding-unit;
  top: $padding-unit / 2;
  right: $padding-unit * 2;
  border: 1px solid $white;
  border-radius: 50%;
  background-color: grey;
  background-size: 100% 100%;
  box-shadow: 0 0 4px 2px rgba($gray, 0.01);
  transition: box-shadow 300ms;

  &:hover, &:focus {
    outline: none;
    box-shadow: 0 0 4px 2px rgba($gray, 0.6);
  }
}

.nav {
  position: absolute;
  min-width: 200;
  top: $header-height;
  right: $padding-unit * 2;
  display: inline-block;
  background: $white;
  box-shadow: 0 0 5px 1px rgba($gray, 0.4);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  padding: $padding-unit / 4 0;
  z-index: $z-index-nav;

  ul {
    margin: 0;
    padding: 0;

    li a {
      display: block;
      padding: $padding-unit / 2 $padding-unit;

      &:hover {
        background-color: lighten($gray-light, 35);
        text-decoration: none;
      }

      i {
        margin-right: $padding-unit;
      }
    }
  }
}
