/*
Properties and values
At its most basic level, CSS consists of two components:

Properties: These are human-readable identifiers that indicate which stylistic features you want to modify. For example, font-size, width, background-color.
Values: Each property is assigned a value. This value indicates how to style the property.
The example below highlights a single property and value. The property name is color and the value is blue.

A declaration highlighted in the CSS

When a property is paired with a value, this pairing is called a CSS declaration. CSS declarations are found within CSS Declaration Blocks. In the example below, highlighting identifies the CSS declaration block.

A highlighted declaration block

Finally, CSS declaration blocks are paired with selectors to produce CSS rulesets (or CSS rules). The example below contains two rules: one for the h1 selector and one for the p selector. The colored highlighting identifies the h1 rule.

The rule for h1 highlighted

Setting CSS properties to specific values is the primary way of defining layout and styling for a document. The CSS engine calculates which declarations apply to every single element of a page.

Important: CSS properties and values are case-sensitive. The property and value in each pair are separated by a colon. (:)



font-size
width
background-color
color
border
Important: If a property is unknown, or if a value is not valid for a given property, the declaration is processed as invalid. It is completely ignored by the browser's CSS engine.
CSS @rules provide instruction for what CSS should perform or how it should behave.
Some @rules are simple with just a keyword and a value.
For example,  @import imports a stylesheet into another CSS stylesheet:

@import 'styles2.css';
One common @rule that you are likely to encounter is @media,
which is used to create media queries.
Media queries use conditional logic for applying CSS styling. */
body {
  background-color: #dfdfdf;
}

#game-board {
  background-color: white;
  margin: auto;
  padding: 1em;
  width: 600px;
}

#answer,
#score {
  font-size: 1.5em;
  margin: 1.25em 0;
}

#question,
#value {
  font-size: 1.25em;
  margin: 1.25em 0;
}

#category-title,
#invalid-count {
  font-size: 1em;
  margin: 1.25em 0;
}
.is-hidden {
  display: none;
}
