.hero-form__main__base {
  & form {
    background-color: #284c61;
    padding-bottom: 2px;
    border-bottom: 2px solid $c7-blue-400;
    border-top: 2px solid $c4-blue-100;
  }

  &__input-text {
    display: inline-block;
    width: 29%;
    margin: 0 5px;
    & input {
      width: 100%;
      padding: 10px 20px;
      margin: 0px 1px;
      border: 1px solid $c6-blue-300;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: $c6-blue-300;
      color: $c2-white-def;
    }
  }

  &__input-select {
    margin: 0 5px;
    width: 28%;
    display: inline-block;
    & select {
      width: 100%;
      height: 45px;
      background-color: $c6-blue-300;
      color: $c2-white-def;
      border: none;
    }
  }

  & button {
    background-color: $c5-blue-200;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0;
    margin-left: 10px;
    display: inline-block;
  }
}
