.col.span-1-of-3:nth-child(3n + 1) {
  margin-left: 0;
}

.card__main__base {
  background-color: $c8-blue-500;

  &__title {
    margin: 0;

    h1 {
      margin: 0;
      text-align: center;
    }
  }

  &__relationships {
    padding: 7px;
    min-height: 100px;

    & ul {
      list-style: none;
    }

    &--button {
      text-align: center;
      background-color: $c7-blue-400;
      padding: 5px;

      & button {
        border: none;
        background-color: $c7-blue-400;
        &:hover {
          cursor: pointer;
          color: white;
        }
      }
    }
  }

  &__picture {
    background: url("https://image.freepik.com/free-vector/superhero-standing-silhouette_23-2147501842.jpg")
      center;
    width: 100%;
    height: 200px;
  }
}
