.hero__main__base {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("http://faithsmessenger.com/wp-content/uploads/2014/12/superheroes.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* 100% of view port */
  background-attachment: fixed;

  &__lead-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & h1 {
      margin: 0;
      margin-bottom: 20px;
      color: $c2-white-def;
      font-size: 2.5em;
      word-spacing: 5px;
      letter-spacing: 2px;
    }
  }
}
