section.hero.is-primary.is-medium.is-bold.has-text-left.quotehero
  .hero-body.container
    .columns
      .column
        h1.title Loading..
        br
        p.subtitle.has-text-right
    br
    .columns
      .column.has-text-centered
        p.button.is-primary#newquote New Quote  
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.button.is-primary#tweetquote Tweet