@import "https://fonts.googleapis.com/css?family=Cabin+Condensed";

body {
  background-color: beige;
}

#top-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px;
  font-family: "Cabin Condensed";
}

.top {
  width: 50%;
  text-align: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 0px;
}

h4 {
  margin-top: 0px;
}

#legend {
  width: 500px;
  height: 75px;
  margin: auto;
  margin-top: 5px;
}

#treemap {
  width: 1055px;
  height: 755px;
  margin: auto;
  box-shadow: 1px 1px 5px;
}

.tile {
  padding: 2px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: 12px sans-serif;
  background: #f0ffff;
  border: 1px;
  border-style: solid;
  border-color: purple;
  border-radius: 8px;
  pointer-events: none;
}
