#textBox
	.textSec
		span.text T
		span.text h
		span.text a
		span.text t
		span.text &apos;
		span.text s
	.textSec
		span.text i
		span.text t
		span.text ,
	.textSec
		span.text m
		span.text a
		span.text n
		span.text .
	.textSec
		span.text G
		span.text a
		span.text m
		span.text e
	.textSec
		span.text o
		span.text v
		span.text e
		span.text r
		span.text ,
	.textSec
		span.text m
		span.text a
		span.text n
		span.text .
	.textSec
		span.text G
		span.text a
		span.text m
		span.text e
	.textSec
		span.text o
		span.text v
		span.text e
		span.text r
		span.text !
	.textSec
		span.text W
		span.text h
		span.text a
		span.text t
	.textSec
		span.text t
		span.text h
		span.text e
	.textSec
		span.text *
		span.text *
		span.text *
		span.text *
	.textSec
		span.text a
		span.text r
		span.text e
	.textSec
		span.text w
		span.text e
	.textSec
		span.text g
		span.text o
		span.text n
		span.text n
		span.text a
	.textSec
		span.text d
		span.text o
	.textSec
		span.text n
		span.text o
		span.text w
		span.text ?
	.textSec
		span.text W
		span.text h
		span.text a
		span.text t
	.textSec
		span.text a
		span.text r
		span.text e
	.textSec
		span.text w
		span.text e
	.textSec
		span.text g
		span.text o
		span.text n
		span.text n
		span.text a
	.textSec
		span.text d
		span.text o
		span.text ?
