<md-list>
  <h3 md-subheader>Business Projects</h3>
  <md-list-item (click)="navigateTo('https://carmatch.mx')">
    <i class="material-icons">web</i>
    <h4 md-line>Carmatch</h4>
    <p md-line>Platfom for buing cars.</p>
  </md-list-item>
  <md-list-item (click)="navigateTo('https://subastas.carmatch.mx/')">
    <i class="material-icons">web</i>
    <h4 md-line>Carmatch Subastas</h4>
    <p md-line>Auction platfom for selling/buing cars</p>
  </md-list-item>
  <md-list-item (click)="navigateTo('https://carmatch.mx/articles')">
    <i class="material-icons">web</i>
    <h4 md-line>Carmatch Content</h4>
    <p md-line>Integration with contenful platfom.</p>
  </md-list-item>
</md-list>

<md-list>
  <h3 md-subheader>Personal Projects Online</h3>
  <md-list-item
    (click)="navigateTo('https://vast-thicket-73363.herokuapp.com/')"
  >
    <i class="material-icons">web</i>
    <h4 md-line>Yelp Camp</h4>
    <p md-line>
      One of my first sites in node.js. Main idea was to learn how to make
      login/ register and implement basic CRUD for Campgrounds.
    </p>
  </md-list-item>
  <md-list-item (click)="navigateTo('http://filipjerga.com/myweb/')">
    <i class="material-icons">web</i>
    <h4 md-line>Me Person Website</h4>
    <p md-line>Just my another personal website (:</p>
  </md-list-item>
  <md-list-item
    (click)="navigateTo('http://www.filipjerga.com/restaurants/index.html')"
  >
    <i class="material-icons">web</i>
    <h4 md-line>Restaurants</h4>
    <p md-line>
      It is just simple design for application that should show actual number of
      people in restaurant and be able to reserve table if its not occupied.
    </p>
  </md-list-item>
  <md-list-item (click)="navigateTo('https://carssecret.herokuapp.com')">
    <h4 md-line>Car App</h4>
    <p md-line>
      This site was made for job application. Recruitment was to made listing of
      cars also with detail view. I used React and node for BE.
    </p>
  </md-list-item>
  <md-list-item (click)="navigateTo('http://www.filipjerga.com/pig_game/')">
    <i class="material-icons">web</i>
    <h4 md-line>Game App</h4>
    <p md-line>Application made only with vanilla JS. Lets try to play (:</p>
  </md-list-item>
  <a target="_blank" href="http://filipjerga.com/myweb/#projects"
    >Many more apps on this link (:</a
  >
</md-list>
