@import './Shared/_variables.scss';

// Footer has font Open Sans
* {
  font-family: 'Roboto';
}

.layout-wrapper {
  padding: 0px;
  overflow-x: hidden;
}

h1,
.h1 {
  font-size: 48px !important;
  line-height: 1.2083333333 !important;
}

h2,
.h2 {
  font-size: 38px !important;
  line-height: 1.2631578947 !important;
}

h3,
.h3 {
  font-size: 30px !important;
  line-height: 1.2666666667 !important;
}

p {
  a {
    color: $postman-orange;
    &:hover {
      color: $gray-3;
    }
  }
}

div.col-sm-7.doc-page {
  padding: 64px 72px;
}

// Cookie Consent
.CookieWrapper {
  width: 550px;
  position: fixed;
  margin: 0 0 40px 40px;
  bottom: 0;
  left: 0;

  @media (max-width: 991px) {
    text-align:center;
    display:flex;
    justify-content:center;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 40px;
  }
}

// Hello Bar styling
.hellobar__container {
  background-color: #DBE9F2;
  min-height: 44px;
}

.hellobar__text { 
  min-height: 100%;
  margin-bottom: 0px;
  text-align: center;
  padding: 10px;
  color: #282828;
  font-weight: 700;
}

.hellobar__close-button {
  position: absolute;
  right: 20px;
  top: 8px;
  background-repeat: no-repeat;
  cursor: pointer; 
  -webkit-appearance: none !important;
  
}

.hellobar__postman-link {
  height: 24px;
  font-weight: 700;
  color: #282828;
  background-image: linear-gradient(180deg, transparent 50%, rgba(249,157,120,.5) 0);
  padding-right: 4px;
  padding-bottom: 2px;
  background-position-y: 2px;
  background-position-x: 4px;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: .18s ease;

  &:hover {
    background-position: top 7px right -4px;
    padding-right: 4px;
    color: #282828;
    padding-bottom: 2px;
    text-decoration: none;
    background-image: linear-gradient(180deg, transparent 60%, rgba(249, 157, 120, 1) 0);
  }
}
.section {
  padding: 32px 18px;
  margin-bottom: 0;

  @media (min-width: 768px) {
    padding: 80px;
  }
}

/* Padding below embed videos */
.gatsby-resp-iframe-wrapper {
  margin-bottom: 24px;
}