extends layout

block content
  h3 Welcome to roots!
  
  .recent-posts-listing
    each post in posts.orderBy('date', 'desc').slice(0, 10)
      h3.title
        a.post-title(href=post.permalink)= post.title
      .body!= post.body
