/* A Free Design by Bryant Smith (bryantsmith.com) */

body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times,
    serif;
  font-size: 13px;
  color: #000000;
  background: #000000 url(background.png);
  background-repeat: repeat-x;
}
* {
  margin: 0 auto 0 auto;
  text-align: left;
}

#page {
  display: block;
  height: auto;
  position: relative;
  overflow: hidden;
  width: 670px;
}

.topNaviagationLink {
  text-align: center;
  position: relative;
  margin-top: 30px;
  font-size: 16px;
  margin-left: -10px;
  width: 121px;
  height: 35px;
  line-height: 35px;
  float: left;
  color: #000000;
  font-family: "Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times,
    serif;
}

.topNaviagationLink a {
  text-decoration: none;
  color: #000000;
  margin-bottom: 0px;
}

.topNaviagationLink a:hover {
  text-align: center;
  color: #ffffff;
  display: block;
  width: 121px;
  height: 35px;
  line-height: 35px;
  background-image: url(tab.png);
  border-bottom: none;
}

#mainPicture {
  clear: both;
  width: 670px;
  height: 345px;
  background-color: #000000;
}

#mainPicture .picture {
  position: relative;
  width: 650px;
  height: 325px;
  top: 10px;
  margin-left: 10px;
  background-image: url(mainImage.jpg);
  background-repeat: no-repeat;
}

#headerTitle {
  position: relative;
  top: 14px;
  left: 22px;
  font-size: 27px;
  color: #000000;
  font-family: "Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times,
    serif;
}

#headerSubtext {
  position: relative;
  top: 12px;
  left: 22px;
  font-size: 14px;
  color: #484848;
  font-family: "Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times,
    serif;
}

.contentBox {
  margin-top: 10px;
  width: 670px;
  height: auto;
  background-color: #000000;
}

.contentBox .innerBox {
  position: relative;

  width: 650px;
  height: auto;
  top: 10px;
  margin-left: 10px;
  background-image: url(contentBack.png);
  background-color: #ffffff;
  background-repeat: repeat-x;
}

h1 {
  font-size: 25px;
  margin-bottom: 10px;
  padding-top: 18px;
  margin-left: 15px;
  margin-top: 15px;
  color: #1f1603;
}

.contentText {
  font-size: 13px;
  line-height: 24px;
  margin-left: 13px;
  margin-right: 13px;
}

h4 {
  text-align: center;
  padding-top: 30px;
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  margin: 0px;
}

h4 {
  text-decoration: none;
  font-size: 9px;
}

a {
  color: #484848;
  border-bottom: dotted 1px;
}

a:hover {
  color: #000000;
  text-decoration: none;
  border-bottom: dotted 2px;
}
a:visited {
  color: #000000;
}

blockquote {
  font-size: 12px;
  text-align: justify;
  width: 400px;
  color: #000000;
  padding: 15px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(blockquote.png);
  background-repeat: no-repeat;
  border: dashed 1px;
  border-color: #484848;
}

html,
body {
  text-align: center;
}
p {
  text-align: left;
}
