@import "https://fonts.googleapis.com/css?family=Philosopher";

body {
  width: 100%;
  font-family: "Philosopher";
  background-color: #f8f8ff;
}

#top-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top {
  width: 50%;
  text-align: center;
}

#title-box {
  display: flex;
  flex-direction: column;
}

#title {
  font-size: 22px;
}

#map-area {
  text-align: center;
}

svg {
  /*border: 1px solid;*/
  padding-left: 20px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 48px;
  padding: 2px;
  font: 12px sans-serif;
  background: #f0ffff;
  border: 1px;
  border-style: solid;
  border-color: purple;
  border-radius: 8px;
  pointer-events: none;
}
