<configuration>
  <system.runtime.remoting>
    <application>
      <client url="http://localhost:13101">
        <activated type="CustomerLibrary.CAOCustomer, CustomerLibrary" />
        
        <wellknown type="CustomerLibrary.CustomerService, CustomerLibrary" 
                   url="http://localhost:13101/customer.soap" />       
      </client>
    </application>
  </system.runtime.remoting>
</configuration>

