.homepage #catAbb,
.homepage #go,
.homepage .leftlinks #cl_app_beta,
.no-js,
p.more {
  display: none;
}

#logo {
  font-size: 2.5rem;
}

.homepage-search .querybox {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #464646;
  font-size: 16px;
}

.menu.collapsible > li {
  cursor: pointer;
}

.menu.collapsible > li.expand.s ul {
  display: block;
}

.menu.collapsible > li ul {
  display: none;
}

/* Write your CSS here. */

* {
  font-family: Helvetica-Neue, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #464646;
}
a {
  text-decoration: none;
}
ul {
  padding: 0px;
}

ul > li {
  list-style: none;

}
a:visited {
  color: #800080;
}

a:hover {
  color: #800080;
}
a:hover {
  font-weight: bold;
}

.page-container {
  max-width: 1200px;
}
#leftbar, #center, #rightbar{
  float: left;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 20px;
  box-sizing: border-box;

}

footer {
  clear: both;
}

#leftbar, #rightbar {
  width: 25%;
}

#center {
  width: 50%;
  border: #464646;
  border-style: solid;
  border-radius: 10px;
}

div > #center {
  float: left;
  width: 33%
}

#topban h2{
  text-align: center;
}

ul + ul.clfooter {
  text-align: center;
  border-top: gray;
  border-top: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 20px;
}

ul > li.clfooter {
  display: inline;
  padding: 5px;
}