@import '@doctolib/gulp-example/style/index';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';

// Fix bootstrap

.page-header, .page-subheader {
  margin: 0;
}

fieldset .form-group button {
  margin-right: 5px;
}

select.placeholder {
  color: #999;
}
