@import "../../variables";

.c-game-board {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  > .black-card {
    display: flex;
    flex-direction: column;
    flex: none;

    .c-card {
      margin-bottom: 10px;
    }

    .game-status {
      @include divider;
    }
  }
}
