@import "../../variables";

.c-game-setup {
  @include section;
  margin-bottom: 10px;
  flex-grow: 1;

  > h1 .error {
    color: $color-bad;
    display: block;
    float: right;
  }

  .form-row {
    display: flex;
    margin: 10px 0;

    label {
      flex: none;
      width: 100px;
      text-align: right;
      padding-right: 10px;
      align-self: center;
    }
  }

  .sets-list {
    @include unlistify;

    > li {
      @include user-select-none;
      transition: border-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
      cursor: default;
      display: inline-block;
      padding: 2px 5px;
      border: 2px solid $color-section-border;
      margin-right: 5px;
      margin-bottom: 5px;
      border-radius: 5px;

      &.is-selected {
        border-color: $color-primary;
      }
    }
  }

  .start-game {
    width: 100%;
    text-align: center;
  }

  &.enabled .sets-list > li {
    cursor: pointer;

    &:hover {
      border-color: lighten($color-primary, 5%);
    }
  }
}
