@import "../../variables";

.c-player-hand {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 100;
  border-bottom: 2px solid $color-section-border;
  background: $color-background;

  .title {
    @include divider;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:hover {
      background: lighten($color-primary, 5%);
    }
  }

  &.is-closed {
    .cards {
      display: none;
    }
  }

  .cards {
    box-sizing: border-box;
    border: 2px solid $color-section-border;
    border-top: none;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    max-height: 310px;
    overflow-y: auto;

    > .c-card {
      margin: 5px;
    }
  }
}
