@import "../../variables";

.c-stacks {
  margin-bottom: 20px;
  margin-left: -5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 0;
  overflow-y: auto;

  > .stack {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background: darken($color-background, 5%);
    transition: background 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

    .c-card {
      margin-right: 5px;
    }

    .c-card:last-child {
      margin-right: 0;
    }

    &.our-stack {
      background: darken($color-background, 20%);
    }

    &.is-winner {
      background: $color-primary;
      color: $color-primary-text;
    }
  }
}
