<ul>
  <% if Admin::SpeakersController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_speakers_path
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_speaker_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? and Admin::SpeakersController.sortable? and Speaker.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "Speakers"),
                 admin_speakers_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Speakers"),
                 admin_speakers_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>