@import "bootstrap";
@import "registration";
@import "gritter";
@import "shared/social-links";
@import "font-awesome";
// @import "blogs";

/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

.btn-portfolio {
  color: #efefef !important;
  background-color: transparent !important;
  border: 1px solid #efefef !important;

  &:hover,
  &:focus,
  &:active {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
  }
}

.hidden {
  visibility: hidden;
}

/* Links */
a,
a:focus,
a:hover {
  color: #efefef;
}

/*
 * Base structure
 */

@font-face {
  font-family: "Lato";
  src: font-url("Lato-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: font-url("Roboto-Regular.ttf");
}

html,
body {
  font-family: "Roboto";
  height: 100%;
  margin: 0;
  color: #efefef;
}

body {
  text-align: center;
  margin-bottom: -60px; /* Margin bottom by footer height */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.body-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100%;
}

.content-wrapper {
  padding-bottom: 50px;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
}

.app-nav span {
  margin: 0 15px;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url("cover.jpeg") no-repeat;
  background-size: cover;
  background-color: black;
}

.tech-news {
  color: black;
  margin: 20px;
  font-size: 12px;

  a {
    color: green;
  }

  > .card {
    padding: 30px;
  }
}

.app-card-container {
  text-align: left;
  font-size: 15px;

  .card {
    &-portfolio {
      background-color: rgba(0, 0, 0, 0.3);
      padding: 40px;

      .card-job {
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    .card-body {
      color: #efefef;
    }
  }

  img {
    border-radius: 50%;
  }

  .home-center {
    text-align: center;
  }
}

.card-block {
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-link {
  padding: 0 15px !important;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.btn-about {
  margin-top: 20px;
  background-color: transparent;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: transparent;
  margin-top: -60px;
}

.home-container {
  margin-top: 150px;

  h1 {
    margin-bottom: 20px;
    font-size: 60px;
  }

  .home-p {
    margin-bottom: 30px;
  }
}

.skills {
  margin-top: 10px;
}

.auth-links {
  margin-top: 10px;

  a {
    color: #efefef;
  }
}

.cv-section {
  .btn-portfolio {
    margin: 10px 0;
  }
}
