// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* stylelint-disable selector-list-comma-newline-after */
@import "bootstrap";
@import "font-awesome";
@import "gritter";
@import "shared/social-links";

@font-face {
  font-family: "Lato";
  src: font-url("Lato-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: font-url("Roboto-Regular.ttf");
}

html,
body {
  font-family: "Lato", sans-serif;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  // justify-content: space-evenly;
  align-items: baseline;
  a {
    flex-basis: 10px;
  }
}

.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;

  .blog-post-title {
    margin-bottom: 0.25rem;
    font-size: 2.5rem;

    a {
      color: #212529;
      font-weight: bold;

      &:hover {
        text-decoration: none;
      }
    }
  }
  .blog-body-p > p {
    margin-bottom: 5px;
  }

  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
  margin-top: 20px;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.nav-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  flex-grow: 3;
}

.blog-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.pull-right {
  float: right;
}

.social-links li a {
  font-size: 2.5em;
}

.comment-card > .card {
  margin-top: 15px;
}

.comment-attribution {
  font-size: 0.8em;
  font-style: italic;
}

.comment-name {
  font-weight: 700;
}

.float-flex-right {
  margin-left: auto !important;
}

.blogcrumb a {
  font-size: 1.25em;
  margin: 0 10px;
}

.draft {
  color: orange;

  &:hover {
    color: green;
  }
}

.published {
  color: green;

  &:hover {
    color: orange;
  }
}

.blog-sidebar {
  .centered {
    text-align: center;
  }
}

.jumbotron {
  .featured-link {
    a {
      color: #efefef;
      text-decoration: underline;
    }
  }
}

.new_comment {
  margin-top: 30px;

  .disabled {
    .form-control,
    input {
      pointer-events: none;
    }
  }

  .comment-label {
    font-weight: 700;
    font-decoration: italic;
  }
}
