<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <system.runtime.remoting>
    <application>
    
      <client>
        <wellknown type="RemotingLib.RemotingExample, RemotingLib" url="tcp://localhost:7777/RemotingExample/RemotingExample.rem" />
      </client>
      
      <channels>
        <channel ref="tcp" />
      </channels>
      
    </application>
  </system.runtime.remoting>
</configuration>
