<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css" media="screen">
      body{ font-size: 0.85em; }
      h1 { color: #aaa; font-size: 1.3em; color: gray; font-weight: normal; }
      table { border-collapse: collapse; }
      table td,
      table th { border: 1px solid #ccc; width: 30%; }
      td.wide,
      th.wide { width: 40%; }
      td, th{ padding: 0 10px; }
    </style>
  </head>
  <body>
    <h1>Hello <%= user.name %>, here are your freshest news from the Marketplace</h1>
    <%= News::DigestPresenter.new(collection: news_items, view_context: self).to_html %>
  </body>
</html>
