.App {
  font-family: sans-serif;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 110px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 110px;
}

.square:focus {
  outline: none;
  background: #ddd;
}
