<meta name="description" content="{{ $.Param "description" }}" />
<link rel="canonical" href="{{ .Permalink | absLangURL }}" />
<link rel="icon" href="{{ "favicon.jpg" | relURL }}" sizes="any"
type="image/png" /> {{ with $.Params.keywords }} <meta name="keywords"
content="{{ delimit $.Params.keywords "," }}"> {{ end }} {{ with $.Params.tags
}} <meta name="keywords" content="{{ delimit $.Params.tags "," }}"> {{ end }} {{
with $.Param "author" }} <meta name="author" content="{{ $.Param "author.name"
}}"> <meta property="article:author" content="{{ .Permalink | absLangURL }}@{{
$.Param "author.name" }}"> {{ end }}

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
<meta
  property="og:type"
  content="{{ if .IsPage }}article{{ else }}website{{ end }}"
/>
<meta property="og:description" content="{{ $.Param "description" }}"> {{ with
.Params.image }}
<meta property="og:image" content="{{ . | absURL }}" />
<meta property="og:image:url" content="{{ . | absURL }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:app:name:iphone" content="{{ $.Site.Title }}" />
<meta property="twitter:title" content="{{ $.Param "title" }}"> <meta
property="twitter:description" content="{{ $.Param "description" }}"> {{ end }}
