<script>
  document.addEventListener("DOMContentLoaded", function () {
    const themes = {
      light: {
        bgColor: "#f5f5f5",
      },
      dark: {
        bgColor: "#363636",
      },
    };

    const selectThemeItemElem = document.querySelectorAll(
      ".select-theme--item"
    );
    const navbar = document.getElementsByClassName("navbar")[0];
    const body = document.getElementsByTagName("body")[0];
    const rootEleme = document.getElementById("root");
    const currentTheme = localStorage.getItem("theme");

    if (currentTheme) {
      const themeItems = document.getElementsByClassName("has-theme");

      rootEleme.classList.add("theme__" + currentTheme);
      navbar.classList.add("is-" + currentTheme);
      body.style.backgroundColor = themes[currentTheme].bgColor;

      for (let item of themeItems) {
        item.classList.add("is-" + currentTheme);
      }
    }

    selectThemeItemElem.forEach(function (element, i) {
      element.addEventListener("click", function (e) {
        const themeType = e.target.text.trim().toLowerCase();
        localStorage.setItem("theme", themeType);
        location.reload();
      });
    });
  });
</script>
