.inserats-app {
  margin-top: 2rem;
}

.view-inserat,
.add-inserat {
  margin-top: 2rem;
  background-color: $light-gray;
  height: 620px;
  padding: 2rem 10%;
}

.view-inserat {
  font-size: 14px;
}
