{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<h1>Welcome to this amazing super awesome website</h1>
<h3>Don't you think that the design is just amazing?!</h3>
<h5>Here are some questions that make no sense whatsoever</h5>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
      <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Oops no polls are available. What a shame!</p>
{% endif %}