---
layout: body
---

<article class="post">
  <div class="container container--md">
    {% assign image_is_not_empty = page.image | is_not_empty %} {% if
    image_is_not_empty %}
    <div class="post__image">
      <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" />
    </div>
    {% endif %}

    <header class="post__header">
      {% assign categories_is_not_empty = page.categories | is_not_empty %} {%
      if categories_is_not_empty %} {% include blog_post_categories.html
      categories=page.categories container_class='post__meta' %} {% endif %}
      <h1 class="post__title">{{ page.title }}</h1>
      <div class="post__meta">
        <span
          >On
          <time datetime="{{ page.date | date: '%Y-%m-%d %H:%M' }}"
            >{{ page.date | date: '%B %d, %Y' }}</time
          ></span
        >
        {% assign author_is_not_empty = page.author | is_not_empty %} {% if
        author_is_not_empty %} {% assign author = page.author | get_data %} {%
        assign link_is_not_empty = author.link | is_not_empty %} {% if
        link_is_not_empty %}
        <span>
          by
          <a href="{{ author.link | relative_url }}"
            >{{ author.first_name }} {{ author.last_name }}</a
          ></span
        >
        {% else %}
        <span> by {{ author.first_name }} {{ author.last_name }}</span>
        {% endif %} {% endif %}
      </div>
    </header>

    <div class="post__copy">{{ content }}</div>

    {% assign tags_is_not_empty = page.tags | is_not_empty %} {% if
    tags_is_not_empty %}
    <footer class="post__footer">
      {% include blog_post_tags.html tags=page.tags %}
    </footer>
    {% endif %}
  </div>
</article>
