<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">BigSister</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li data-page="home" class="active"><a href="#">Home</a></li>
          <li data-page="about"><a href="#about">About</a></li>
          <li data-page="contact"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <header style="background-color:whiteSmoke; height:60px;">
      <div class="row">
        <div class="span9 offset3">
          <form class="form-search">
            <div id="search-box-small">
              <input id="search-input-small" type="text" placeholder="Search for any topic">
              <img style="width:43px; height:43px;" src="assets/img/icon-search.svg">

            </div>
          </form>
       </div>
     </div>
  </header>
</div>