body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  color: white;
  margin: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
}

li a {
  color: white;
  text-decoration: none;
}

input {
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 2px solid black;
  padding: 10px;
}