.navbar {
    background: #03407a;
}

ul.navbar-nav > li.nav-item > a.nav-link {
    color: white;
}

#login-dropdown-list > a.dropdown-toggle {
    color: white;
}

.navbar-header > a.navbar-brand {
    color: white;
    font-size: 36px;
}