{% extends "note_base.html" %} {% block title %}TIL search: {{ q }}{% endblock
%} {% block extra_head %}
<style>
  .topic {
    background-color: #ccc;
    padding: 3px;
    border: 1px solid #777;
    font-size: 0.65em;
    position: relative;
    top: -1px;
  }
  pre {
    white-space: pre-wrap;
  }
  pre strong {
    background-color: yellow;
  }
</style>
{% endblock %} {% block body %}
<section class="hero is-light">
  <div class="hero-body">
    <a class="title" href="/">Ashish Patel: Notes</a>
    <p class="subtitle mt-1">Notes search: {{ q }}</p>
    <form action="/notes/search">
      <div class="field is-grouped is-grouped-left">
        <p class="control">
          <input
            class="input is-primary"
            type="search"
            name="q"
            value="{{ q }}"
          />
        </p>
        <p class="control">
          <input class="button is-primary" type="submit" value="Search" />
        </p>
      </div>
    </form>
  </div>
</section>

<section class="body">
  {% if q and not rows %}
  <p><em>No results for "{{ q }}"</em></p>
  {% endif %} {% for row in rows %}
  <p>
    <span class="topic">{{ row.topic }}</span>
    <a href="/{{ row.topic }}/{{ row.slug }}">{{ row.title }}</a> - {{
    row.created[:10] }}
  </p>
  <pre>{{ highlight(row.snippet)|safe }}</pre>
  {% endfor %}
</section>

{% endblock %}
