{% extends "note_base.html" %}

{% block title %}{% set note = display_rows[0] %}{{ note.title }} | Ashish Patel's Notes{% endblock %}

{% block extra_head %}{% set note = display_rows[0] %}
<link rel="stylesheet" href="/static/github-light.css">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@ashishdotme">
<meta name="twitter:title" content="{{ note.title }}">
<meta name="twitter:description" content="{{ note.body }}">
<meta name="twitter:image" content="https://notes.ashish.me/-/media/screenshot/{{ note.path }}">
<meta name="twitter:image:alt" content="Screenshot of this article">
<meta property="og:url" content="https://notes.ashish.me/notes/notes/{{ note.path }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ note.title }}">
<meta property="og:description" content="{{ note.body }}">
<meta property="og:image" content="https://notes.ashish.me/-/media/screenshot/{{ note.path }}">
<meta property="og:image:alt" content="Screenshot of this article">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="400">
{% endblock %}

{% block body %}{% set note = display_rows[0] %}
<h1>{{ note.title }}</h1>

{{ note.html|safe }}

<p class="created">Created {{ note.created }}{% if note.created != note.updated %}, updated {{ note.updated }} &middot; <a href="{{ note.url|replace("https://github.com/ashishdotme/notes/blob/", "https://github.com/ashishdotme/notes/commits/") }}">History</a>{% endif %} &middot; <a href="{{ note.url }}">Edit</a></p>
{% endblock %}
