body {
  background-color: #ffffff;
  color: #000000;
  font: normal normal 12px Verdana, Arial, sans-serif;
  margin: 0px;
}

a {
  color: #0000cc;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #0000cc;
}
a:active {
  color: #ff6600;
}

a.navigation {
  padding-left: 30px;
  font-size: 12px;
  line-height: 30px;
}
a.navigation2 {
  padding-left: 5px;
  font-size: 12px;
  line-height: 30px;
}

.navheading {
  font-size: 12px;
  font-weight: 600;
  padding-left: 5px;
}

td.cart {
  font-size: 12px;
}

.tunein {
  font: normal bold 14px "Courier New", Courier, monospace;
  background-color: #999999;
  color: #cccccc;
  text-align: center;
  padding-top: 10px;
}

h2 {
  padding-left: 5px;
  font-size: 18px;
  font-weight: 600;
}
h3 {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 600;
}
p,
li {
  padding-left: 5px;
  font-size: 12px;
  line-height: 14px;
}
.OrderItemDetail {
  padding-left: 40px;
  align: center;
}

h2,
h3,
th,
td {
  font-family: Helvetica, Arial, Verdana, sans-serif;
}
th {
  font-size: 12px;
}
p {
  font: normal normal 12px Verdana, Helvetica, Arial, sans-serif;
}
a:hover {
  color: #ff6600;
}
.nav,
a.nav,
a.nav:visited {
  padding-left: 35px;
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
a.nav2,
a.nav2:visited {
  padding-left: 35px;
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #000066;
}
a.nav:hover {
  color: #ffffcc;
}
a.nav2:hover {
  color: #ff6600;
}
a.cart {
  color: #000000;
  text-decoration: underline;
}
a.cart:visited {
  color: #000000;
}
a.cart:hover {
  color: #ffffcc;
}

input,
select {
  background-color: #dddddd;
}
input.format {
  background-color: #ffffff;
}
input.radio {
  background-color: transparent;
}
input.search {
  background-color: #eeeeee;
  width: 4em;
}
input.addCart {
  background-color: #eeeeee;
  width: 8em;
}
input.changeCart1 {
  background-color: #dddddd;
  width: 4.25em;
}
input.changeCart2 {
  background-color: #ffffff;
  width: 4.25em;
}
input.search:hover,
input.addCart:hover,
input.changeCart1:hover,
input.changeCart2:hover {
  background-color: #ffffcc;
}
input:focus,
select:focus {
  background-color: #ffcc66;
}

em.in {
  color: #333333;
}

p.error {
  font-style: italic;
  color: #cc0033;
}
