/*Layout*/
.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#sidebar a {
  text-decoration: none;
  color: #666666;
}
#sidebar a:hover {
  text-decoration: underline;
  color: lightgray;
}

.sidebar {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100vh;
  background: black;
  display: none;
  flex-direction: column;
  justify-content: center;
}
.sidebar-link {
  font-family: Raleway;
  text-align: center;
  margin: 30px 0;
}
.sidebar-btn {
  margin: 10px;
  padding: 5px;
  background: dodgerblue;
  color: white;
  border: 1px solid dodgerblue;
  border-radius: 3px;
}

.sidebar-show {
  position: fixed;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slide-in 0.5s forwards;
  animation-delay: 0.05s;
}

.sidebar-hide {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slide-out 0.5s forwards;
  animation-delay: 0.05s;
}

@keyframes slide-in {
  100% {
    left: 0;
  }
}
@keyframes slide-out {
  100% {
    left: -80%;
  }
}

/*Header*/

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Raleway;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
}
.header a {
  text-decoration: none;
  color: #666666;
  cursor: pointer;
}
.header a:hover {
  color: lightgray;
  text-decoration: underline;
}

.title {
  margin-left: 40px;
  font-weight: 200;
}
.title a:hover {
  text-decoration: none;
}

.links {
  width: 350px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown {
  display: none;
  margin-right: 40px;
  font-size: 3rem;
  color: #666666;
  background-color: transparent;
  border: 1px solid transparent;
}

/*Footer*/
.footer {
  font-family: Raleway;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: #666666;
}
.footer a:hover {
  text-decoration: underline;
  color: #000000;
}

@media (max-width: 600px) {
  .links {
    display: none;
  }
  .dropdown {
    display: block;
  }
}
