$family-sans-serif: 'Nunito', serif;
$primary: #11cfc3;
$link: #2e5682;

$control-border-width: 1px;
$input-background-color: rgb(247, 247, 247);
$input-shadow: 0 4px 30px 0px rgba(0, 0, 0, 0.1);

.cdk-overlay-container {
  z-index: 9999999 !important;
}
.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute !important;
  z-index: 9999999 !important;
}
.cdk-overlay-pane {
  position: absolute !important;
  pointer-events: auto;
  box-sizing: border-box !important;
  z-index: 9999999 !important;
}

.mat-datepicker-content {
  background: white;
  border-radius: 5px;
  padding: 0.3rem !important;
}
