$navbarBackground: #372db4;
$navbarHover: #493fc8;

$leftSide: #2b2c2c;
$rightSide: #2d2e2e;
$secondLeft: #292a2a;
$secondRight: #2b2c2c;
$font-color-grey: #666666;
$color-gold: #f1b200;

body {
  font-family: Roboto, sans-serif;
  background: $leftSide;
  text-align: center;
  color: $font-color-grey;
  position: relative;
  padding-left: 30px;
}

main {
  background: $rightSide;
  text-align: center;
  padding-top: 80px;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .left {
    width: 200px;
    padding: 70px 20px;
    flex: none;
    display: inline-block;
  }

  .right {
    display: inline-block;
  }

  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $leftSide;
    min-height: 350px;

    .about-div {
      flex: none;
      width: 70%;
    }
  }

  .welcome {
    background: $leftSide;
    p {
      font-size: 0.9em;

      .fa-envelope {
        padding-right: 5px;
      }
    }

    .about {
      background: $rightSide;
    }
  }

  .user-links-avatar {
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 10px;
    }

    .fab {
      color: $font-color-grey;
      font-size: 1.5em;
      margin: 5px;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 7px 30px;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;

  transition: 0.5s;

  .change + .sidenav {
    width: 180px;
  }

  .sidenav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    z-index: 3;

    transition: 0.6s;

    .links {
      margin-top: 150px;

      .closebtn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2em;
      }
    }

    a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #fff;

      &:active,
      &:visited {
        color: #fff;
      }

      &:hover {
        color: #bbbbbb;
      }
    }
  }

  .brand {
    height: 40px;

    margin: auto 50px;
    font-size: 0.9em;
    font-weight: bold;
    display: flex;
    color: #f1b200;

    h2 {
      align-self: center;
    }
  }
}

@keyframes fixIcon {
  from {
    top: 25px;
    right: 30px;
  }
  to {
    top: 18px;
    right: 22px;
  }
}

.sidenavButton {
  display: inline-block;
  cursor: pointer;
  height: 40px;
  margin: auto 0;
  z-index: 5;
  position: relative;
  transform: scale(0.8);

  &.change {
    // position: fixed;
    //animation: fixIcon 0.4s forwards;

    //h 34 w 32
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: $color-gold;
    margin: 6px 0;
    transition: 0.4s;
  }

  .bar2 {
    width: 20px;
    margin-left: 14px;
  }

  &.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  &.change .bar2 {
    opacity: 0;
  }

  &.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

footer {
  color: #f1b200;
  width: 30px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #000;
  user-select: none;

  p {
    display: block;
    height: 20px;
    width: 100px;
    transform-origin: top left;
    transform: rotate(-90deg);
    white-space: nowrap;
    padding: 5px;
    font-weight: bold;
    font-size: 0.7em;

    a {
    }
  }
}

.gold-text {
  color: $color-gold;
}

.hr {
  width: 80%;
  margin: 30px auto;
  height: 1px;
  border-radius: 1px;
  background: $font-color-grey;
}

a:link,
a:visited {
  color: $color-gold;
  text-decoration: none;
}

a:link:active,
a:visited:active {
  color: $color-gold;
  text-decoration: none;
}

.portfolio {
  padding: 30px;
  min-height: 800px;
  width: 100%;

  .filters {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      flex: none;
      outline: none;
      background: none;
      border: none;
      color: $font-color-grey;
      cursor: pointer;

      &:not(:first-child):before {
        padding: 8px;
        color: #666666;
        content: "/\00a0";
      }

      &.active {
        color: white;
      }
    }
  }

  @keyframes cardAnim {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  .card {
    width: 260px;
    height: 200px;
    padding: 10px;
    margin: 30px;
    display: inline-block;
    transition: 2s;
    animation: cardAnim 0.4s;

    p {
      font-size: 0.8em;
    }

    .img-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .img {
      background: rgba(0, 0, 0, 0.7) url("../img/dentist.png") no-repeat;
      background-size: 100% 100%;
      width: 100%;
      height: 100%;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }

    .img-simon {
      background-image: url("../img/simon.png");
    }

    .img-recipe {
      background-image: url("../img/recipe.png");
    }

    .img-tictactoe {
      background-image: url("../img/tictactoe.png");
    }

    .img-meanvote {
      background-image: url("../img/meanvote.png");
    }

    .img-booktrade {
      background-image: url("../img/booktraderapp.png");
    }

    .img-gameoflife {
      background-image: url("../img/gameOfLife.png");
    }
  }
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;

  .form {
    padding: 10px;
    .input-group {
      width: 100%;
      padding: 10px;
      margin: auto;
    }
  }
}

#contact {
  color: #777777;
}

.contact {
  display: flex;

  .contact-msg {
    background: $leftSide;
  }

  .about-content {
    background: $rightSide;
  }

  button {
    width: 240px;
    height: 60px;
    color: $font-color-grey;
    border: 1px solid $font-color-grey;
    background: none;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      color: $color-gold;
      border-color: $color-gold;
    }
  }

  label {
    display: block;
    padding: 10px;
    text-align: left;
  }

  .form {
    margin: auto;
    width: 80%;

    form {
      padding: 30px;
    }

    .text-area {
      .group {
        width: 100%;
      }
    }

    textarea {
      resize: none;
      width: 50%;
      outline: none;
    }

    .group {
      display: inline-block;
      width: 48%;
    }

    input {
      outline: none;
      border: none;
      width: 100%;

      &:first-child {
        margin-right: 20px;
      }
    }

    input,
    textarea {
      padding: 20px;
      width: 100%;
      border-radius: 5px;
    }

    .input-group {
      width: 100%;

      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1000px) {
  .input-group {
    flex-wrap: wrap;
  }
  .group {
    width: 100% !important;
  }

  .text-area {
    width: 80%;
  }

  .form {
    width: 100%;
  }

  .contact-msg,
  .about-msg {
    display: none !important;
  }

  .portfolio-container {
    flex-wrap: wrap;
  }

  .welcome {
    display: block;
    width: 100% !important;
    padding: 20px !important;
    background: $leftSide;
    min-height: 100px;

    .welcome-wrapper > p,
    .welcome-wrapper > h2 {
      display: none;
    }
  }
}
