{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "node": "current",
          "browsers": []
        }
      }
    ]
  ],
  "plugins": [["transform-object-rest-spread"]]
}
