.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 50px;
  justify-items: center;
  margin-top: 5%;
}

.box {
  height: 200px;
  width: 200px;
  box-shadow: 1px 1px 10px rebeccapurple;
}
