- membership ||= Membership.new

= simple_form_for membership, url: '/memberships', html: { method: :post } do |f|
  = f.association :user, label: 'Members', collection: people
  = f.hidden_field :project_id, value: project.id
  = f.button :button, 'Create membership'


