<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex">
    <div class="blog-nav">
      <%= nav_helper "p-2 text-muted", "span" %>
    </div>
    <div class="nav-links">
      <%= login_helper "nav-link" %>
    </div>
  </nav>
</div>
