<% if @featured_blog %>
  <div class="jumbotron-cover">
    <div class="jumbotron p-md-5 text-white rounded bg-dark" style="<%= set_feature_blog_image @featured_blog %>">
      <div class="col-md-5 px-0">
        <h1 class="display-4 font-italic"><%= @featured_blog.title %></h1>
        <p class="lead my-3"><%= truncate @featured_blog.body, length: 100 %></p>
        <p class="lead mb-0 featured-link"><a href="#" class="text-white font-weight-bold"><%= link_to "Continue reading...", blog_path(@featured_blog) %></a></p>
      </div>
    </div>
  </div>
<% end %>
