.portfolio {
  margin-top: 20vh;
  font-family: Raleway;
}

.portfolio-title {
  margin: 80px 0;
  text-align: center;
  color: #666666;
}

.project {
  width: 40%;
  margin: auto;
}
.project a {
  text-decoration: none;
}
.project a:hover {
  color: lightgray;
  text-decoration: underline;
}

.project-title {
  margin: 20px 0;
  color: #666666;
}

.project-tech {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-image {
  margin: 20px 0;
}

.project-divider {
  margin: 50px 0;
}

.portfolio-project-button {
  padding: 5px;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: 2px;
  font-family: Raleway;
  background: lightgray;
  cursor: pointer;
}
.portfolio-project-button:hover {
  background: transparent;
  border: 1px solid lightgray;
}

@media (max-width: 1200px) {
  .project {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .project {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .project {
    width: 90%;
  }
}
