.posts {
  width: 50%;
  min-height: 90vh;
  margin: auto;
  margin-top: 20vh;
  font-family: Raleway;
}

.posts-title {
  margin: 80px 0;
  text-align: center;
  color: #666666;
}

.article {
  margin-bottom: 80px;
}
.article a {
  text-decoration: none;
}
.article hr {
  border: 2px solid #666666;
}
.article-title {
  color: #666666;
}

.article-body {
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.article-tags {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.article-tags a {
  text-decoration: underline;
  color: #666666;
}

.next-page {
  float: right;
  color: #666666;
}
.prev-page {
  float: left;
  color: #666666;
}
.next-page:hover {
  text-decoration: underline;
}
.prev-page:hover {
  text-decoration: underline;
}

.tags-title {
  margin: 80px 0;
  text-align: center;
  color: #666666;
}

@media (max-width: 1200px) {
  .posts {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .posts {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .posts {
    width: 90%;
  }
}
