/*
#guide {
    background-image: url("../images/Guide_HBO_7x8_Single.png");
    background-size: cover;
    pointer-events: none;
    position: absolute;
    cursor: pointer;
    opacity: 0.5;

    height: 90px;
    width: 728px;
    left: 0px;
    top: 0px;

    display: none;
}
*/

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-tap-highlight-color: rgba(255, 255, 255, 0);
    -ms-tap-highlight-color: rgba(255, 255, 255, 0);
    tap-highlight-color: rgba(255, 255, 255, 0);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: none;
    border: none;
    padding: 0px;
    margin: 0px;
}

html,
body {
    line-height: 1em;
    height: 100%;
}

div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

@font-face {
    font-family: 'GilroyRegular';
    src: url('../fonts/Gilroy-Regular.woff') format('woff');
}

@font-face {
    font-family: 'GilroyExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.woff') format('woff');
}

#main {
    background-color: #ffffff;
    border: 0px solid #000000;
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    height: 90px;
    width: 728px;
    left: 0px;
    top: 0px;
}

#main:after {
    box-sizing: border-box;
    border-color: inherit;
    pointer-events: none;
    border-style: solid;
    position: absolute;
    border-width: 1px;
    z-index: 999;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;

    content: "";
}

#keyartCont {
    position: absolute;
    width: 420px;
    height: 80px;
    left: 5px;
    top: 5px;
    overflow: hidden;
}

#keyartImg {
    position: absolute;
    width: 420px;
    height: 80px;
    left: 0px;
    top: 0px;
}

#curtainImg {
    position: absolute;
    width: 420px;
    height: 80px;
    left: 0px;
    top: 0px;
}

#attributionImg {
    position: absolute;
    left: 403px;
    top: 68px;
    opacity: 0;
}

#attributionImg > svg {
    width: 18px;
    height: 15px;
    transform: scale(0.99) rotate(0.001deg);
}
#attributionImg > svg#hboMax {
    position: relative;
    width: 19px;
    height: 8px;
    top: -2px;
}

#attributionCont {
    position: absolute;
    width: 230px;
    height: 10px;
    right: 329px;
    top: 70px;
    opacity: 0;
}

#divider {
    position: relative;
    display: inline-block;
    height: 10px;
    right: 0px;
    top: 0;
    margin-left: 3px;
    border-left: .5px solid white;
    float: right;
}

#titleTxt {
    position: relative;
    display: inline-block;
    font-family: 'GilroyRegular';
    font-size: 7px;
    color: white;
    margin-top: -2px;
    float: right;
}

#titleImg {
    position: absolute;
    display: none
}

#logoLockup {
    position: absolute;
    width: 728px;
    height: 90px;
    left: -212px;
    top: -19px;
}

#logoImg {
    position: absolute;
    width: 728px;
    height: 90px;
    left: 0;
    top: 0;
}

#ctaCont {
    position: absolute;
    width: 114px;
    height: 23px;
    max-width: 114px;
    max-height: 23px;
    left: 384px;
    top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 1.1px;
    white-space: nowrap;
    padding: 0px;
    overflow: hidden;
    border: 1px solid #ffffff;
    border-radius: 15px;
    border-color: #ffffff;
    background-color: #ffffff;
}

#ctaTxt {
    position: relative;
    font-family: 'GilroyExtraBold';
    font-size: 9px;
    color: #4b00c4;
    margin-left: 1px;
    margin-top: 0px;
}

#headlineCont {
    position: absolute;
    width: 270px;
    height: 47px;
    left: 228px;
    top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-spacing: -.5px;
/*    overflow: hidden;*/
}

#headlineTxt > span {
    position: relative;
    width: 270px;
    display: inline-block;
    overflow: hidden;
    /* padding-bottom: 5px;
    margin-top: -5px; */
}

#headlineTxt > span > p {
    position: absolute;
    transform: translate3d(0px, 50px, 0px);
    white-space: nowrap;
    letter-spacing: 0.01em;
/*    line-height: 1.2em;*/
}

#headlineTxt {
    position: relative;
    width: 100%;
    font-family: 'GilroyRegular';
    font-size: 13px;
    line-height: 1.1em;
    color: #ffffff;
    outline: none;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#disclaimerCont {
    position: absolute;
    width: 280px;
    height: auto;
    left: 223px;
    top: 71px;
    text-align: center;
    letter-spacing: .3px;
}

#disclaimerTxt {
    position: relative;
    font-family: 'GilroyRegular';
    font-size: 7px;
    color: #ffffff;
}

#defaultImg {
    position: absolute;
    width: 728px;
    height: 90px;
    left: 0;
    top: 0;
    display: none;
}

#gradientCont {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 728px;
    height: 90px;
}

#blurNotIE1 {
    width: 100%;
    height: 85%;
    position: absolute;
    right: -68px;
    bottom: 0px;
    
    background: -moz-linear-gradient(-25deg, rgba(0,0,0,0) 75%, rgba(0,0,0,0.5) 100%);
    background: -webkit-linear-gradient(-25deg, rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(155deg, rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
}
