<div class="spacer">
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>User Profile</h1>
    <hr />
    <h2>My Orders</h2>
    {{#each orders}}
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="list-group">
            {{#each this.items}}
              <li class="list-group-item">
                {{this.item.title}}
                | quantity:
                {{this.qty}}
                <span class="badge badge-info ml-5">${{this.price}}</span>
              </li>
            {{/each}}

          </ul>
        </div>
        <div class="panel-footer">Total:
          <span
            class="badge badge-warning"
          >${{this.cart.totalPrice}}</span></div>
        <hr style="color:red;" />
      </div>
    {{/each}}

  </div>
</div>