<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>node Tester</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <form action="/api/tester/new" method="POST">
      <label for="url_input">URL to be shortened</label>
      <input
        id="url_input"
        type="text"
        name="url"
        value="https://www.google.com"
      />
      <input type="submit" value="POST URL" />
    </form>
  </body>
</html>
