@import "styles/variables";

.alert {
  position: relative;
  margin: 14px 0;
  padding: 14px;
  border-radius: 4px;
  color: $white;
  font-size: 0.9em;
  text-align: center;
}

.alert-danger {
  background-color: lighten($danger-color, 15);
}

.alert-warning {
  background-color: lighten($warning-color, 15);
}

.alert-info {
  background-color: lighten($primary-color, 15);
}
