@import "styles/variables";

.banner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  padding: $padding-unit / 3 $padding-unit;
  border-radius: 0 0 3px 3px;
  color: $white;
  font-size: 0.7em;
  text-align: center;
  opacity: 1;
  z-index: 30;
}

.banner-danger {
  background-color: lighten($danger-color, 0);
}

.banner-success {
  background-color: lighten($success-color, 0);
}

.banner-warning {
  background-color: lighten($warning-color, 0);
}

.banner-info {
  background-color: lighten($primary-color, 10);
}

:global {
  .bannerFromTop-enter {
    transition: transform 250ms, opacity 250ms;
    opacity: 0;
    transform: translate3d(-50%, -50px, 0);

    &.bannerFromTop-enter-active {
      opacity: 1;
      transform: translate3d(-50%, 0, 0);
    }
  }

 .bannerFromTop-leave {
    transition: transform 500ms, opacity 500ms;
    opacity: 1;
    transform: translate3d(-50%, 0, 0);

    &.bannerFromTop-leave-active {
      opacity: 0;
      transform: translate3d(-50%, -50px, 0);
    }
  }
}
