@import "styles/variables";

.formControl {
  display: block;
  min-height: 44px;
  padding: 8px;
  width: 100%;
  color: $text-color;
  background-color: $white;
  border: 1px solid rgba(black, 0.1);
  border-radius: 4px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus {
    border-color: $primary-color;
    outline: none;
  }
}

.containerError {
  .formControl {
    color: $danger-color;
  }
}
