@import "styles/variables";

.inputIcon {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 12px;
  width: 18px;
  height: 18px;
  font-size: 18px;
  text-align: center;
  color: $primary-color;

  &::after {
    content: '';
    position: absolute;
    right: -11px;
    top: -10px;
    bottom: -10px;
    width: 1px;
    opacity: .5;
    background-color: rgba(212, 212, 212, 0);
    background-image: linear-gradient(to top, rgba(212,212,212,0) 0, #d4d4d4 30%, #d4d4d4 70%, rgba(212,212,212,0) 100%);
  }
}

.formControl {
  composes: formControl from './form-control.scss';

  &.withIcon {
    padding-left: 50px;
  }
}

.containerError {
  .inputIcon {
    color: $danger-color;
  }
}
