@import "styles/variables";

.list {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  list-style-type: none;
  background: $white;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.listItem a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 $padding-unit / 2;
  background-color: $white;
  transition: background-color 400ms;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover, &:global(.active) {
    background-color: $gray-lighter;
    transition: background-color 200ms;
    text-decoration: none;
  }
}
