@import "styles/variables";

.placeholder {
  color: $placeholder-color;
}

.formControl {
  composes: formControl from './form-control.scss';
  height: 44px;
}

// Variables
$select-input-height: 44px;
$select-item-bg: #eee;
$select-input-border-focus: $primary-color;
$select-item-color: $primary-color;
$select-item-border-color: darken($select-item-bg, 10%);
$select-item-hover-color: darken($select-item-color, 5%);
$select-item-hover-bg: darken($select-item-bg, 5%);

:global {
  @import "react-select/scss/default";
}
