@import "styles/variables";

.formControl {
  composes: formControl from './form-control.scss';
}

.controlContainer {
  display: block;
  position: relative;
}

.counter {
  position: absolute;
  bottom: $padding-unit / 2;
  right: $padding-unit / 2;
  font-size: 0.7em;
}
