@import "styles/variables";

.toolbar {
  height: 40px;
  line-height: 40px;
  background-color: $white;
  padding: 0 $padding-unit;
  font-size: 0.9em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: $z-index-toolbar;

  a {
    i {
      margin-right: $padding-unit / 2;
    }
  }
}
