.homepage #catAbb,
.homepage #go,
.homepage .leftlinks #cl_app_beta,
.no-js,
p.more {
  display: none;
}

#logo {
  font-size: 2.5rem;
}

.homepage-search .querybox {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #464646;
  font-size: 16px;
}

.menu.collapsible > li {
  cursor: pointer;
}

.menu.collapsible > li.expand.s ul {
  display: block;
}

.menu.collapsible > li ul {
  display: none;
}

/* Write your CSS here. */
* {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  background-color: whitesmoke;
  color: #464646;
}

a {
  text-decoration: none;
}

ul {
  padding: 0; 
}

ul > li {
  list-style: none;
}

a:hover, 
a:visited, 
a:visited > span, 
a > span:hover {
  color: purple; 
}

a:hover, 
a > span:hover {
  font-weight: 700;
}

.page-container {
  max-width: 1200px;
}

#leftbar, 
#center,
#rightbar {
  float: left; 
  padding: 0 30px 0 30px; 
  box-sizing: border-box;
}

footer {
  clear: both;
}

#leftbar, 
#rightbar {
  width: 25%; 
}

#center {
  width: 50%;
  border: 1px solid #464646; 
  border-radius: 10px;
}

#center > div {
  float: left; 
  width: 33%; 
}

#topban h2 {
  text-align: center; 
}

ul.clfooter {
  text-align: center;
  border-top: 1px grey; 
  padding: 10px 0 10px 0; 
}

ul.clfooter > li {
  display: inline; 
  padding: 0 5px 0 0; 
}

h4.ban::before {
  display: inline-block; 
  background-image: url(https://appacademy-open-assets.s3-us-west-1.amazonaws.com/Module-Responsive-Design/attributes/assets/peace-symbol-emoji.png);
  background-size: 20px 20px;
  width: 20px; 
  height: 20px; 
  content: ""; 
}

.cal td {
  border-collapse: seperate; 
  border: 1px solid #333; 
  text-align: center; 
}

.cal a {
  color: green; 
  font-weight: 700;
}
