body {
  margin: 10px 10px 0 10px;
  font-size: 12px;
  font-weight: 400;
}

#wrapper {
  width: 500px;
}

#header {
  font-size: 14px;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#body #url input {
  width: 490px;
  font-size: 18px;
  padding: 3px;
  margin-bottom: 15px;
}

#body #platform-browser-version {
  font-family: sans-serif;
  margin-bottom: 15px;
}

#body #platform-browser-version #platform {
  float: left;
  margin-right: 3px;
  margin-left: 4px;
}

#body #platform-browser-version #browser {
  float: left;
  margin-right: 3px;
}

#body #platform-browser-version #version {
  float: left;
}

#body #run {
  text-align: center;
}

#body #run input {
  font-size: 16px;
  padding: 7px 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #78ACE8;
  border-radius: 3px;
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  color: #ffffff;
}

#body #run input:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

#body #run input:active {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

#footer {
  text-align: right;
  color: #ABA8A8;
  margin-top: 15px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

#footer a {
  text-decoration: none;
  color: #888888;
}

#footer a:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
}
