body {
	font-family: Arial, Helvetica, FreeSans, sans-serif;
	font-size: 10pt;
	line-height: 1.2;
  display:flex; flex-direction:column; justify-content:center;
  min-height:100vh;
	flex-direction: column;
	justify-content: center;

	max-width: max-content;
	margin: auto;
}
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/crimsontext/v11/wlpogwHKFkZgtmSR3NB0oRJfajhRK_M.ttf) format('truetype');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/crimsontext/v11/wlp2gwHKFkZgtmSR3NB0oRJfbwhW.ttf) format('truetype');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/crimsontext/v11/wlppgwHKFkZgtmSR3NB0oRJXsCxGDNNV.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD-w.ttf) format('truetype');
}

@media print {
	#main {
		padding-bottom: 1em !important;
		/* The default padding of 6em is too much for printouts */
	}
	.image {
		width: 80%;
		overflow: hidden;
	}
	.image-colorize img {
		transition: transform 0.5s, filter 0.5s ease-in-out;
		filter: grayscale(100%);
	}
	.image-colorize:hover img {
		filter: grayscale(0);
		transform: scale(1.1);
	}
	a,
	a:link,
	a:visited,
	a:focus,
	a:hover,
	a:active {
		color: #000;
	}
	.home-link {
		font-size: 300%;
	}
	div.sticky {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: -999;
		padding: 50px;
		text-align: center;
		font-size: 150px;
		margin-bottom: -70px;
	}
	#content h1,
	#content h2,
	#content h3,
	#content h4,
	#content h5,
	#content h6 {
		font-family: Arial, Helvetica, FreeSans, sans-serif;
		page-break-after: avoid;
	}

	pre {
    font-family: Monaco, "Courier New", monospace;
        border: 1px solid #949494;
    border-radius: 4px;
    padding: .5em .7em;
    margin-top: 1em;
    margin-bottom: 1em;
	}
	@font-face {
		font-family: Chunkfive;
		src: url("Chunkfive.otf");
	}

	body,
	.usertext {
		color: #f0f0f0;
		background: #600;
		font-family: Chunkfive, sans;
		--heading-1: 30px/32px Helvetica, sans-serif;
	}

	@import url(print.css);
	@media print {
		a[href^="http"]::after {
			content: attr(href);
		}
	}
	#header,
	.aui-header-inner,
	#navigation,
	#sidebar,
	.sidebar,
	#personal-info-sidebar,
	.ia-fixed-sidebar,
	.page-actions,
	.navmenu,
	.ajs-menu-bar,
	.noprint,
	.inline-control-link,
	.inline-control-link a,
	a.show-labels-editor,
	.global-comment-actions,
	.comment-actions,
	.quick-comment-container,
	#addcomment {
		display: none !important;
	}

	/* CONF-28544 cannot print multiple pages in IE */
	#splitter-content {
		position: relative !important;
	}

	.comment .date::before {
		content: none !important;
		/* remove middot for print view */
	}

	h1.pagetitle img {
		height: auto;
		width: auto;
	}

	.print-only {
		display: block;
	}

	#footer {
		position: relative !important;
		/* CONF-17506 Place the footer at end of the content */
		margin: auto;
		padding: 0;
		background: none;
		clear: both;
	}

	#poweredby {
		border-top: none;
		background: none;
	}

	#poweredby li.print-only {
		display: list-item;
		font-style: italic;
	}

	#poweredby li.noprint {
		display: none;
	}

	/* no width controls in print */
	.wiki-content .table-wrap,
	.wiki-content p,
	.panel .codeContent,
	.panel .codeContent pre,
	.image-wrap {
		overflow: visible !important;
	}

	/* TODO - should this work? */
	#children-section,
	#comments-section .comment,
	#comments-section .comment .comment-body,
	#comments-section .comment .comment-content,
	#comments-section .comment p {
		page-break-inside: avoid;
	}

	#page-children a {
		text-decoration: none;
	}

	/**
     hide twixies

     the specificity here is a hack because print styles
     are getting loaded before the base styles. */
	#comments-section.pageSection .section-header,
	#comments-section.pageSection .section-title,
	#children-section.pageSection .section-header,
	#children-section.pageSection .section-title,
	.children-show-hide {
		padding-left: 0;
		margin-left: 0;
	}

	.children-show-hide.icon {
		display: none;
	}

	/* personal sidebar */
	.has-personal-sidebar #content {
		margin-right: 0px;
	}

	.has-personal-sidebar #content .pageSection {
		margin-right: 0px;
	}

	.no-print,
	.no-print * {
		display: none !important;
	}
}

/* Font Definitions */
@font-face {
	font-family: "Cambria Math";
	panose-1: 2 4 5 3 5 4 6 3 2 4;
}

@font-face {
	font-family: Consolas;
	panose-1: 2 11 6 9 2 2 4 3 2 4;
}

/* Style Definitions */
p.MsoNormal,
li.MsoNormal,
div.MsoNormal {
	margin: 0in;
	font-size: 12pt;
	font-family: "Times New Roman", serif;
}

h1 {
	mso-style-link: "Heading 1 Char";
	margin-right: 0in;
	margin-left: 0in;
	font-size: 24pt;
	font-family: "Times New Roman", serif;
	font-weight: bold;
}

h2 {
	mso-style-link: "Heading 2 Char";
	margin-right: 0in;
	margin-left: 0in;
	font-size: 18pt;
	font-family: "Times New Roman", serif;
	font-weight: bold;
}

h3 {
	mso-style-link: "Heading 3 Char";
	margin-right: 0in;
	margin-left: 0in;
	font-size: 13.5pt;
	font-family: "Times New Roman", serif;
	font-weight: bold;
}

h4 {
	mso-style-link: "Heading 4 Char";
	margin-right: 0in;
	margin-left: 0in;
	font-size: 12pt;
	font-family: "Times New Roman", serif;
	font-weight: bold;
}

a:link,
span.MsoHyperlink {
	color: blue;
	text-decoration: underline;
}

p {
	margin: auto;
	font-size: 12pt;
  font-family: "Times New Roman", serif;
      border: 1px solid #949494;
    border-radius: 4px;
    padding: .5em .7em;
    margin-top: 1em;
    margin-bottom: 1em;
}

code {
	font-family: "Courier New";
}

pre {
	mso-style-link: "HTML Preformatted Char";
	margin: auto;
	font-size: 10pt;
  font-family: "Courier New";
      border: 1px solid #949494;
    border-radius: 4px;
    padding: .5em .7em;
    margin-top: 1em;
    margin-bottom: 1em;
}

span.Heading1Char {
	mso-style-name: "Heading 1 Char";
	mso-style-link: "Heading 1";
	font-family: "Calibri Light", sans-serif;
	color: #2f5496;
}

span.Heading2Char {
	mso-style-name: "Heading 2 Char";
	mso-style-link: "Heading 2";
	font-family: "Calibri Light", sans-serif;
	color: #2f5496;
}

span.Heading3Char {
	mso-style-name: "Heading 3 Char";
	mso-style-link: "Heading 3";
	font-family: "Calibri Light", sans-serif;
	color: #1f3763;
}

span.HTMLPreformattedChar {
	mso-style-name: "HTML Preformatted Char";
	mso-style-link: "HTML Preformatted";
	font-family: Consolas;
}

span.Heading4Char {
	mso-style-name: "Heading 4 Char";
	mso-style-link: "Heading 4";
	font-family: "Calibri Light", sans-serif;
	color: #2f5496;
	font-style: italic;
}

.MsoChpDefault {
	font-size: 10pt;
}

@page WordSection1 {
	size: 8.5in 11in;
	margin: 1in 1in 1in 1in;
}

div.WordSection1 {
	page: WordSection1;
}

/* List Definitions */
ol {
	margin-bottom: 0in;
}

ul {
	margin-bottom: 0in;
}
p {
	width: 60em;
	margin: auto;
	background:transparent;
}

.ow-anywhere {
	overflow-wrap: anywhere;
}

.ow-break-word {
	overflow-wrap: break-word;
}

.word-break {
	word-break: break-all;
}

.hyphens {
	hyphens: auto;
}
