.dropdown {
  border: 1px solid #78ACE8;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.dropdown {
  cursor: pointer;
  position: relative;
}

.dropdown .dropdown-arrow {
  position: absolute;
  z-index: 100;
}

.dropdown .item {
  position: relative;
}

.dropdown .item:hover {
  background-color: #e0e0e0;
}

.dropdown .item .icon {
  display: inline-block;
  margin: 3px;
  margin-right: 10px;
}

.dropdown .item .text {
  display: inline-block;
  position: absolute;
  top: 12px;
}

.dropdown .dropdown-slider {
  display: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  max-height: 200px;
  overflow-x: hidden;
}
