#content {
  margin-top: 60px;
}

#blog {
  text-align: left;
  background-color: white;
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 25px;
}

#blog .post-title {
}

#blog .post-title a {
  font-family: "Open Sans", sans-serif;
  color: #407ee3;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}

#blog .post-info {
  margin-bottom: 5px;
  font-size: 14px;
}

#blog .post-info .author,
#blog .post-info .date {
  color: rgb(139, 139, 139);
}

#blog .post-content {
}

#blog .post-content p {
  margin: 0 0 0.5em;
}

#blog .post-content h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

#blog .post-content .video {
  margin-bottom: 0.5em;
}

#blog .post-content .image {
  margin-bottom: 0.5em;
}

#blog .post-content ul {
  list-style-type: square;
  list-style-position: inside;
  margin-bottom: 0.5em;
}

#blog .post-content li {
  margin-left: 5px;
}

#blog .post-content .broowserools-widget-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}

#blog .post-full-link {
  font-size: 14px;
}

#blog .post-full-link a {
  text-decoration: none;
}

#blog .post-info-content-spacer {
  margin-bottom: 10px;
}

#blog .post-spacer {
  margin-bottom: 20px;
}

#blog .post-social {
  margin-top: 15px;
}

#blog .post-social > div:not(:last-child) {
  margin-right: 10px;
}

#blog .post-social .social {
  display: inline-block;
  vertical-align: top;
}

#blog .post-social #facebook {
  position: relative;
  top: -4px;
}

#blog #try-broowserools {
  margin-top: 10px;

  background-color: #daebff;
  padding: 20px 0;

  padding-left: 10px;
}

#blog #try-broowserools p.title {
  margin-bottom: 10px;
}

#blog #try-broowserools p.how {
  margin-bottom: 15px;
  font-size: 14px;
}

#blog #subscribe {
  margin-top: 10px;
  margin-bottom: 30px;

  background-color: #daebff;
  padding: 20px 0;

  padding-left: 10px;
}

#blog #subscribe p {
  margin-bottom: 20px;
}

#blog #subscribe input[name="email"] {
  width: 240px;
  border: 1px solid gray;
}

#blog #subscribe #subscribe-error {
  color: red;
  display: none;
}

#blog #subscribe #subscribe-success {
  color: green;
  display: none;
}

#blog #subscribe #subscribe-extra-message {
  color: #5581b5;
  display: none;
}

#blog #subscribe-rss {
  font-size: 14px;
  margin-top: 15px;
}

#blog #email-form {
  margin-top: 10px;
  margin-bottom: 30px;
  display: none;

  background-color: #daebff;
  padding: 20px 0;

  padding-left: 10px;
}

#blog #email-form p {
  margin-bottom: 20px;
}

#blog #email-form #email-form-text {
  width: 50px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}

#blog #email-form #email-form-email {
  display: inline-block;
}

#blog #email-form #email-form-email input[name="email"] {
  width: 200px;
}

#blog #email-form #email-form-submit {
  display: inline-block;
}

#blog #email-form #email-form-error {
  color: red;
  display: none;
  margin-top: 15px;
}

#blog #email-form #email-form-success {
  color: green;
  display: none;
  margin-top: 15px;
}

#blog #other-posts {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

#blog #post-footer {
  border-top: 1px solid gray;
  padding: 10px 0;
  margin-top: 24px;
  font-size: 14px;
}

#blog #post-footer #post-contact {
  margin-bottom: 5px;
  font-family: "Source Sans Pro", sans-serif;
}

#blog #post-footer #post-subscribe {
  margin-bottom: 5px;
}

#blog .email {
  background: #fff7f0;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 4px;
}
