@charset "utf-8";

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

a {
    cursor: pointer;
    color: #0060a0;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,96,160,0.15);
}

a:hover {
    color: #b03000;
    border-bottom: 1px solid rgba(176, 48, 0, 0.15);
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #f7f7f7;
    touch-action: manipulation;
}

.page {
   position: relative;
}

.overlays {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    pointer-events: none;
}

.small-popup {
    position: absolute;
    width: 50%;
    max-height: 350px;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    overflow-y: auto;
    background: white;
    z-index: 99;
    top: 0;
    border-radius: 5px;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
    pointer-events: none;
    visibility: hidden;
    transform: translateY(70px);
    opacity: 0;
}

section.columns.announcements {
    padding-top: 10px;
    padding-bottom: 0;
}

.announcement {
    padding-left: 20px;
    color: #444;
    font-family: "Roboto", sans-serif;
    position: relative;
    padding-left: 42px;
    padding-top: 2px;
}

.announcement .text.on-mobile {
    display: none;
}
.announcement .text.on-desktop {
    display: inline;
}

.announcement .title {
    font-weight: 500;
    font-size: 16px;
}

.announcement .content {
    font-size: 14px;
}

.announcement .icon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
}

.announcement .icon svg {
    width: 100%;
    height: 100%;
    fill: #626262;
}

.overlay.search-sites-modal {
    background: rgba(0, 0, 0, 0.6);
    padding: 32px;
}
.overlay.search-sites-modal .modal {
    width: 100%;
    user-select: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    background: white;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

.overlay.search-sites-modal .modal > .title {
    position: absolute;
    font-size: 18px;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 13px;
    font-weight: 500;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.overlay.search-sites-modal .modal > .sites {
    z-index: 1;
    position: absolute;
    top: 50px;
    width: 100%;
    overflow: hidden;
    bottom: 50px;
    overflow-y: auto;
    transform: translateZ(0);
}
.overlay.search-sites-modal .modal > .sites > .site {
    height: 42px;
    width: 100%;
    position: relative;
    border-top: 1px #eaeaea solid;
}
.overlay.search-sites-modal .modal > .sites > .site:first-child {
    border-top: 0;
}
.overlay.search-sites-modal .modal > .sites > .site > input {
    display: none;
}
.overlay.search-sites-modal .modal > .sites > .site > label {
    position: absolute;
    line-height: 42px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 13px;
    padding-right: 58px;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.5);
    text-overflow: ellipsis;
}
.overlay.search-sites-modal .modal > .sites > .site > .search-site-checked {
    display: inline-block;
    pointer-events: none;
    width: 24px;
    height: 24px;
    background: transparent;
    fill: transparent;
    border-radius: 3px;
    position: absolute;
    right: 18px;
    top: 9px;
}
.overlay.search-sites-modal .modal > .sites > .site > input:checked ~ .search-site-checked {
    fill: #888;
}

.overlay.search-sites-modal .modal > .sites > .site > input:checked ~ label {
    color: black;
}


.overlay.search-sites-modal .modal > .buttons {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
}
.overlay.search-sites-modal .modal > .buttons > .left {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.overlay.search-sites-modal .modal > .buttons > .right {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.overlay.search-sites-modal .modal > .buttons button {
    border: 0;
    outline: none;
    display: inline-block;
    color: #009688;
    margin: 0;
    padding: 5px 10px 5px 10px;
    background: transparent;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.overlay.article-context-menu {
    transition: none;
    pointer-events: all;
    background: transparent;
    transform: none;
}

.context-menu {
    user-select: none;
    position: absolute;
    overflow: hidden;
    padding: 8px 0;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: white;
    z-index: 999;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}

.context-menu .separator {
    border-top: 1px #dadde2 solid;
    margin: 4px 0 3px 0;
}

.context-menu .menu-item {
    display: block;
    position: relative;
    cursor: default;
    line-height: 21px;
    padding: 4px 12px;
}

.context-menu .menu-item.is-link {
    padding: 0;
}

.context-menu .menu-item.is-link a {
    padding: 4px 12px;
}

.context-menu.has-no-comments .no-comments {
    display: block;
}

.context-menu.has-no-comments .open-comments, .context-menu .no-comments {
    display: none;
}

.context-menu .menu-item.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.context-menu .article-title {
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.context-menu .menu-title {
    padding: 6px 12px;
    color: #777;
}

.context-menu .menu-item a {
    width: 100%;
    height: 100%;
    display: block;
    cursor: default;
    border: 0;
    color: inherit;
}

.context-menu input[type=radio] {
    position: absolute;
    left: -9999px;
}

.context-menu input[type=radio] + label {
    position: relative;
    line-height: 21px;
    width: 100%;
    height: 100%;
    padding: 4px 12px;
    padding-left: 36px;
    display: block;
}

.context-menu input[type=radio]:checked + label:before {
    position: absolute;
    content: "";
    left: 16px;
    top: 6px;
    transform: rotate(45deg);
    width: 4px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: #404040;
}

.context-menu .menu-item:hover, .context-menu .input-field:hover {
    background: #eee;
}

.context-menu .menu-item .subtitle {
    display: none;
}

body[data-active-overlay~=article-context-menu] .overlay.article-context-menu {
    visibility: visible;
    opacity: 1;
}
body[data-active-overlay~=search-sites] .search-popup-sites {
    opacity: 1;
    pointer-events: all;
    transform: translateY(80px);
    visibility: visible;
}
body[data-active-overlay~=search-time] .search-popup-time {
    opacity: 1;
    pointer-events: all;
    transform: translateY(80px);
    visibility: visible;
}
body[data-active-overlay~=search-tips] .search-popup-tips {
    opacity: 1;
    pointer-events: all;
    transform: translateY(80px);
    visibility: visible;
}
.search-popup-tips {
    right: 0;
}
.popup-tips {
    min-height: 200px;
    font-size: 15px;
    color: #333;
    transform: translateZ(0);
}
.popup-tips .text-top {
    padding: 12px 15px 5px 15px;
}
.popup-tips .examples {
    padding: 5px 15px 12px 15px;
}
.popup-tips .text-bottom {
    padding: 0px 15px 15px 15px;
}
.popup-tips .text-bottom code {
    color: black;
}
.popup-tips .example-query {
    font-weight: 500;
}

.popup-tips a:hover {
    color: #b03000;
    text-decoration: none;
    border-bottom: 1px solid rgba(176, 48, 0, 0.15);
}
.popup-tips .example:not(:last-child) {
    margin-bottom: 7px;
}
.popup-time {
    padding: 12px;
    user-select: none;
    min-height: 88px;
}
.popup-time .icon {
    position: absolute;
    width: 64px;
    height: 64px;
    padding: 8px;
}
.popup-time .text {
    position: relative;
    padding: 10px 10px 10px 75px;
    line-height: 22px;
    font-size: 15px;
    color: #333;
}

.popup-time .icon svg {
    fill: #b6b6b6;
    width: 100%;
    height: 100%;
}
.popup-sites {
    padding: 10px 8px 16px 8px;
    transform: translateZ(0);
}
.popup-sites > .quicktoggle {
    font-size: 16px;
    user-select: none;
    font-weight: 500;
    color: #2f2f2f;
    padding: 4px 4px 8px 4px;
}
.popup-sites > .quicktoggle a {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
}
.popup-sites .site {
    display: inline-block;
    font-size: 14px;
    user-select: none;
    position: relative;
    width: 33.33%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.popup-sites .site .search-site-checked {
    pointer-events: none;
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 3px;
    width: 18px;
    height: 18px;
    transition: fill 0.1s ease;
    fill: transparent;
}
.popup-sites .site:hover .search-site-checked {
    fill: rgba(0, 0, 0, 0.25);
}
.popup-sites .site input:checked ~ .search-site-checked {
    fill: rgba(0, 0, 0, 0.75);
}
.popup-sites .site label {
    cursor: pointer;
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 26px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.popup-sites .site input:checked ~ label {
    color: black;
}
.popup-sites .site input {
    display: none;
}
.search-bar {
    width: 100%;
    position: relative;
    height: 100%;
}
.search-input {
    position: relative;
    margin-right: 36px;
}
.search-input > .search-button {
    position: absolute;
    right: -36px;
    top: 0;
    bottom: 0;
    width: 36px;
    height: 100%;
    padding: 5px;
}
.search-input > .search-button > svg {
    fill: #777;
}
.search-input > .search-button:hover > svg {
    fill: #3e3e3e;
}
.search-options {
    padding-top: 50px;
    user-select: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #777;
}
.search-options .option {
    user-select: none;
    display: inline-block;
    padding: 0 12px 0 12px;
}
.search-options .search-tips {
    position: absolute;
    right: 0;
}
.search-options .search-tips .wrapper {
    cursor: pointer;
}
.search-options .search-tips svg {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 2px;
    fill: #777;
}
.search-options .option .chooser {
    position: relative;
    cursor: pointer;
}
.search-options .option .chooser:after {
    content: "";
    top: -2px;
    right: -4px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #777 transparent transparent transparent;
}
.search-block {
    background: white;
    z-index: 9;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    top: 0;
}
.search-bar .search-input > input {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 8px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    font-size: 18px;
    background: transparent;
    -webkit-appearance: textfield;
}
.search-bar .search-input > input::-webkit-search-cancel-button {
    display: none;
}
.button-container {
    height: 36px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button-container a.logo-link {
    border-bottom: none;
}
.button-container a.logo-link:hover {
    border-bottom: none;
}
.button-container img {
    height: 32px;
    position: relative;
    top: 2px;
}
.button-container button {
    position: absolute;
    right: 0;
}
.button-container button > svg {
    fill: rgba(0, 0, 0, 0.75);
}
.svg-button {
    padding: 0;
    margin: 0;
    border: 0;
    width: 36px;
    height: 36px;
    outline: none;
    cursor: pointer;
    background: transparent;
}
.svg-button > svg {
    width: 100%;
    height: 100%;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    transform: scale(1.75);
    background: #f7f7f7;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.2s ease;
}
.overlay.reorder {
    overflow-y: auto;
    padding-bottom: 15px;
}
body[data-active-overlay~=reorder] .overlay.reorder {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
    visibility: visible;
}

.svg-sprites {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.columns.content {
    padding: 8px;
    padding-top: 30px;
}

.columns {
    width: 75%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 0;
    min-height: 64px;
    position: relative;
}
.columns.visible > .all-sites-hidden {
    height: 350px;
    padding: 8px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    position: relative;

    display: none;
}
.columns.visible > .sites-container:empty ~ .all-sites-hidden {
    display: block;
}
.columns.visible > .all-sites-hidden .content {
    position: relative;
    top: 50%;
    display: block;
    text-align: center;
    transform: translateY(-50%);
    user-select: none;
    color: #333;
}
.columns.visible > .all-sites-hidden .content a {
    font-family: "Roboto", sans-serif;
}
.columns.visible > .all-sites-hidden .content .title {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 4px;
}
.columns.visible > .all-sites-hidden .content .subtitle {
    text-align: justify;
    width: 75%;
    max-width: 500px;
    margin: 0 auto;
}
.columns.discarded {
    display: none;
}
.sortable-group.discarded {
    margin-top: 38px;
    min-height: 64px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
}
.columns.reordering .button a {
    text-transform: uppercase;
    font-weight: 500;
}
.columns.reordering #page-reorder-hide-all {
    margin-left: 8px;
}
.columns.reordering #page-reorder-show-all {
    margin-left: 4px;
}
.sortable-group .title {
    font-size: 14px;
    left: 0;
    user-select: none;
    font-family: "Roboto", sans-serif;
    position: absolute;
    text-transform: uppercase;
    top: -24px;
    font-weight: 500;
    color: #777;
}
.sortable-group {
    position: relative;
}
.sortable-group > .container {
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 64px;
}
.sortable-group.discarded .info {
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
    user-select: none;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.sortable-group.discarded .container:empty + .info {
    opacity: 1;
}

.sortable-group.discarded .info svg {
    pointer-events: none;
    height: 32px;
    width: 32px;
    top: 16px;
    left: 16px;
    position: absolute;
    fill: #999999;
}

.sortable-group.discarded .info span {
    pointer-events: none;
    font-family: "Roboto", sans-serif;
    position: absolute;
    font-size: 16px;
    line-height: 22px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 60px;
    margin-right: 10px;
    color: #3c3c3c;
    text-shadow: 0 1px white;
    vertical-align: top;
    display: inline-block;
}
.publisher-block {
    width: 33.33%;
    font-size: 16px;
    height: 400px;
    padding: 8px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}


.publisher-block .publisher-header-spin > .spinner > div > div {
    background: white!important;
}


.publisher-block-compact {
    display: inline-block;
    cursor: grab;
    vertical-align: top;
    width: 64px;
    padding: 8px;
    position: relative;
}
.publisher-block-compact .publisher-header {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 100%;
    vertical-align: top;
    z-index: 2;
}
.publisher-block-compact .publisher-icon {
    width: 100%;
}
.publisher-block-compact .publisher-header-wrapper {
    top: 0;
    pointer-events: none;
}
@keyframes reorder-odd {
    0% {
        transform: rotate(-1deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(1.5deg);
        animation-timing-function: ease-out;
    }
}
         
@keyframes reorder-even {
    0% {
        transform: rotate(1deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(-1.5deg);
        animation-timing-function: ease-out;
    }
}
.reordering .publisher-block-compact:nth-child(odd) .publisher-header {
    animation-name: reorder-odd;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    transform-origin: 50% 10%;
}
 
.reordering .publisher-block-compact:nth-child(even) .publisher-header {
    animation-name: reorder-even;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: 30% 5%;
}

.publisher-data-wrapper {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    top: 50px;
}

.publisher-data-wrapper:after {
    content: "";
    position: absolute;
    height: 18px;
    pointer-events: none;
    display: block;
    width: 100%;
    bottom: 0;
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
    transition: opacity 0.2s ease;
    border-radius: 0 0 6px 6px;
}
.publisher-data-wrapper.bottom-shadow:hover:after {
    opacity: 1;
}

.publisher-data {
    transform: translateZ(0);
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    left: 0;
    padding: 10px 5px 0 5px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.publisher-data::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.overlay.search-results {
    background: rgba(0, 0, 0, 0.6);
    padding: 32px;
}
.overlay.search-results .modal {
    width: 600px;
    height: 100%;
    user-select: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

.overlay.search-results .modal .modal-buttons {
    padding: 9px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
}
.overlay.search-results .modal .modal-buttons .wrapper {
    float: right;
}
.overlay.search-results .modal .modal-buttons button {
    background: transparent;
    border: 0;
    padding: 8px;
    margin: 0;
    outline: none;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    color: #464646;
}

.overlay.search-results .modal .modal-title {
    font-size: 19px;
    font-weight: 500;
    color: #323232;
    position: absolute;
    top: 16px;
    padding: 0 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.overlay.search-results .modal .modal-results, .overlay.search-results .modal .modal-message {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    top: 60px;
    overflow: hidden;
}

.overlay.search-results .modal .modal-results {
    overflow-y: auto;
    transform: translateZ(0);
}

.overlay.search-results .modal .modal-message {
    color: #555;
    text-align: center;
    display: none;
}
.overlay.search-results .modal .modal-message .message-title {
    font-size: 22px;
    font-weight: 500;
}
.overlay.search-results .modal .modal-message .message-subtitle {
    min-width: 200px;
    line-height: 20px;
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
}
.overlay.search-results .modal .modal-message .modal-message-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay.search-results .modal .modal-results:empty ~ .modal-message {
    display: block;
}

.modal-results .search-result .icon .publisher-block-compact {
    padding: 0;
    width: 32px;
    cursor: default;
}

.modal-results .search-result {
    position: relative;
    margin-bottom: 14px;
}

.modal-results .search-result:last-child {
    margin-bottom: 0;
}

.modal-results .search-result .icon {
    position: absolute;
    left: 16px;
}

.modal-results .search-result .result {
    position: relative;
    width: 100%;
    padding-left: 60px;
    padding-right: 24px;
    word-break: break-word;
}

.modal-results .search-result .result .headline {
    font-weight: 500;
    font-size: 16px;
    position: relative;
    line-height: 16px;
    padding-bottom: 3px;
}

.modal-results .search-result .result .headline .ago {
    color: #777;
    cursor: help;
    font-size: 14px;
    margin-right: 2px;
}

.modal-results .search-result .result .headline .title {
    user-select: text;
}

.modal-results .search-result .result .url {
    font-size: 14px;
    position: relative;
    line-height: 16px;
    
}

.modal-results .search-result .result .url a {
    color: #5f5f5f;
    border: none;
    text-decoration: none;
}

.modal-results .search-result .result .url a:hover {
    border: none;
    color: #5f5f5f;
    text-decoration: underline;
}

body[data-active-overlay~=search-results] .overlay.search-results {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

body[data-active-overlay~=preferences] .overlay.preferences {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

.overlay.dialog-box {
    background: rgba(0, 0, 0, 0.6);
    padding: 32px;
}
.overlay.dialog-box .modal {
    width: 400px;
    height: auto;
    user-select: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-family: "Roboto", sans-serif;
    overflow: hidden;

    padding: 16px 0;
}
.overlay.preferences .modal {
    max-height: 100%;
    overflow: auto;
}

.overlay.dialog-box .modal ul {
    padding: 8px 0;
}
.overlay.dialog-box .modal ul > li {
    margin-left: 16px;
    padding-bottom: 2px;
}

ul > li .list-title {
    font-weight: 500;
}

ul > li .list-description {
    display: block;
    font-size: 13px;
}

.overlay.dialog-box .modal .modal-title {
    font-size: 19px;
    font-weight: 500;
    color: #323232;
    padding: 0 16px 8px 16px;
}
.overlay.dialog-box .modal .modal-subtitle {
    color: #383838;
    font-size: 15px;
    padding: 0 16px;
}
.overlay.dialog-box .modal .modal-error {
    display: none;
    color: crimson;
    font-size: 15px;
    padding: 6px 16px 0 16px;
}
.overlay.dialog-box .modal.show-error .modal-error {
    display: block;
}
.overlay.dialog-box .modal.disabled .modal-buttons {
    opacity: 0.5;
    pointer-events: none;
}
.overlay.dialog-box .modal .modal-input {
    padding: 16px 16px 0 16px;
}
.overlay.dialog-box .modal .modal-buttons {
    padding: 16px;
}
.overlay.dialog-box .modal .modal-buttons .wrapper {
    float: right;
}
.overlay.dialog-box .modal .modal-buttons button {
    background: transparent;
    border: 0;
    padding: 8px;
    margin: 0;
    outline: none;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    color: #464646;
}
.overlay.dialog-box .modal .modal-buttons button.primary {
    background: #607D8B;
    border-radius: 3px;
    color: white;
}
.overlay.dialog-box .modal .separator {
    border-top: 1px #e8eaed solid;
    margin: 8px 0;
}
.overlay.dialog-box .modal .modal-input .input-field {
    display: block;
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    outline: none;
    font-family: "Roboto", sans-serif;
    background: #e6e6e6;
    border-radius: 3px;
    padding: 8px;
    font-size: 15px;
    margin-bottom: 10px;
}

.overlay.dialog-box .modal .modal-input .input-field:last-child {
    margin-bottom: 0;
}

.overlay.subscribe-message .modal .modal-subtitle {
    user-select: text;
}

.overlay.dialog-box .modal .modal-input textarea {
    resize: none;
    min-height: 100px;
}




body[data-active-overlay~=menu] .menu-popup {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

body[data-active-overlay~=subscribe] .overlay.subscribe {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

body[data-active-overlay~=subscribe-message] .overlay.subscribe-message {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

body[data-active-overlay~=feedback-message] .overlay.feedback-message {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

body[data-active-overlay~=feedback] .overlay.feedback {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

/* Two-column layout */
@media (max-width: 1200px) {
    .publisher-block {
        width: 50%;
    }
    .columns, .columns.content {
        width: 85%;
    }
}

/* Two-column layout with smaller left and right paddings */
@media (max-width: 768px) {
    .popup-sites .site {
        width: 50%;
    }
    .publisher-block {
        width: 50%;
    }
    .columns {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .columns.content {
        width: 100%;
        padding-right: 23px;
        padding-left: 23px;
    }
}

/* Mobile one-column layout, different layout flow */
@media (max-width: 596px) {

    /* Search bar: "Search Tips" text hidden (icon only) */
    .search-options .search-tips span {
        display: none;
    }

    /* When search overlay is visible, hide the desktop search popup */
    body[data-active-overlay~=search-sites] .search-popup-sites {
        display: none;
        visibility: hidden;
    }

    /* When search overlay is visible, show the mobile native-like search modal */
    body[data-active-overlay~=search-sites] .overlay.search-sites-modal {
        opacity: 1;
        pointer-events: all;
        transform: scale(1);
        visibility: visible;
    }

    .overlay.article-context-menu {
        transform: scale(1.75);
        opacity: 0;
        transition: all 0.2s ease;
        padding: 32px;
    }

    body[data-active-overlay~=article-context-menu] .overlay.article-context-menu {
        background: rgba(0, 0, 0, 0.6);
        opacity: 1;
        transform: scale(1);
    }

    .overlay.article-context-menu .context-menu {
        transform: translateY(-50%)!important;
        top: 50%;
        font-size: 15px;
        width: 100%;
        position: relative;
        height: auto;
    }

    .context-menu .menu-item {
        padding: 10px 22px;
    }

    .context-menu .menu-item.is-link {
        padding: 0;
    }

    .context-menu .menu-item.is-link a {
        padding: 10px 22px;
    }

    .context-menu .menu-item .subtitle {
        display: block;
        font-size: 14px;
        color: #797979;
    }

    .context-menu .article-title {
        max-width: 100%;
        padding: 8px 16px;
        padding-bottom: 16px;
    }

    .context-menu .menu-options {
        display: none;
    }

    /* When menu overlay is visible, hide the desktop menu popup */
    body[data-active-overlay~=menu] .menu-popup {
        display: none;
        visibility: hidden;
    }

    /* When search overlay is visible, show the mobile native-like search modal */
    body[data-active-overlay~=menu] .slideout-menu {
        background: rgba(0, 0, 0, 0.6);
        pointer-events: all;
        visibility: visible;
    }

    body[data-active-overlay~=menu] .slideout-menu .slideout-container {
        transform: translateY(0);
    }

    .announcement .text.on-desktop {
        display: none;
    }
    .announcement .text.on-mobile {
        display: inline;
    }

    .small-popup {
        width: 100%;
    }
    .overlay.dialog-box .modal {
        width: 100%;
    }
    .overlay.preferences .modal {
        width: 100%;
    }
    .overlay.search-results .modal {
        width: 100%;
    }

    .modal-results .search-result .icon .publisher-block-compact {
        width: 24px;
    }

    .modal-results .search-result .icon {
        left: 12px;
    }

    .modal-results .search-result .result {
        padding-left: 47px;
    }

    #page-search-results-for {
        display: none;
    }

    /* Hide the links scroll shadow suggestion */
    .publisher-data-wrapper:after {
        display: none;
    }

    /* One-column layout */
    .publisher-block {
        width: 100%;
        height: 100%;
    }

    /* Make the link container fullsize */
    .publisher-data-wrapper, .publisher-data {
        position: relative;
        overflow: auto;
        top: 0;
    }

    /* Make the one-column card headers stay sticky on screen */
    .publisher-card > .publisher-header {
        position: sticky;
        top: 16px;
    }

    @supports not (position: sticky) {
        .publisher-card > .publisher-header {
            position: relative;
            top: 0px;
        }
    }

    /* Enable the sticky header filler */
    .publisher-header > .publisher-header-mask {
        display: block;
    }

    /* Columns are more wider */
    .columns {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    /* So is the content */
    .columns.content {
        width: 100%;
        padding-right: 23px;
        padding-left: 23px;
    }
    
    /* If the sites container has a block in view, make all blocks filled by default */
    .sites-container.has-in-mobile-view .publisher-block .publisher-scroll-progress {
        transform: translateX(0);
    }

    /* If the sites container has a block in view, make all blocks below the block in view unfilled */
    .sites-container.has-in-mobile-view .publisher-block.is-in-mobile-view ~ .publisher-block .publisher-scroll-progress {
        transform: translateX(-100%)!important;
    }

    a:hover {
        color: #0060a0;
        border-bottom: 1px solid rgba(0,96,160,0.15);
    }
}



.publisher-card {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    vertical-align: top;
    position: relative;
}

.publisher-icon {
    width: 50px;
    height: 100%;
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    vertical-align: top;
    display: inline-block;
}
.publisher-text {
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 0;
    font-family: "Roboto", sans-serif;
    left: 50px;
    bottom: 0;
    top: 0;
}
.publisher-text > .title {
    user-select: none;
    font-weight: 500;
    font-size: 17px;
    display: block;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    white-space: nowrap;
    overflow: hidden;
    margin-right: 40px;
    text-overflow: ellipsis;
}

.publisher-text > .title > .alt {
    opacity: 0.75;
    font-size: 16px;
    margin-left: 4px;
}


.publisher-text > .subtitle {
    user-select: none;
    position: relative;
    display: block;
    bottom: 4px;
    height: 19px;
    font-size: 0;
    white-space: normal;
    overflow: hidden;
    margin-right: 40px;
    text-overflow: ellipsis;
}
.subtitle > .subtitle-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    transition: transform 0.2s ease;
    transform: translateY(-19px);
}
.subtitle.alternate > .subtitle-wrapper {
    transform: translateY(0px);
}
.subtitle-wrapper > .subtitle-alternate {
    font-size: 13px;
    opacity: 0.75;
}
.subtitle-wrapper > .subtitle-default, .subtitle-wrapper > .subtitle-alternate {
    width: 100%;
    height: 100%;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subtitle-wrapper > .subtitle-default > span {
    vertical-align: middle;
    font-size: 13px;
    cursor: pointer;
    opacity: 0.75;
}
.subtitle-wrapper > .subtitle-default > span.selected {
    text-decoration: underline;
}
.subtitle-wrapper > .subtitle-default > span.sp {
    font-size: 14px;
    cursor: default;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    line-height: 14px;
    user-select: none;
}

.publisher-link {
    min-height: 24px;
    padding-bottom: 6px;
    position: relative;
    line-height: 18px;
}
.publisher-link > .aside {
    font-family: "Roboto", sans-serif;
    user-select: none;
    display: inline-block;
    position: absolute;
    width: 42px;
    font-size: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.publisher-link > .link {
    margin-left: 36px;
    display: block;
}
.publisher-link > .aside > .text {
    cursor: help;
    vertical-align: top;
    display: inline-block;
    font-size: 14px;
    color: #777;
}
.publisher-link > .link > a {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.publisher-link > .link > a:visited {
    color: #70a0b0;
    text-decoration: none;
    border-bottom: 1px solid rgba(112, 160, 176, 0.15);
}

.publisher-icon a {
    border: 0;
}

/* If the actual icon is inside of a container, it's 100% of its size */
.publisher-icon .icon-container svg {
    width: 100%;
    height: 100%;
}

/* Style for the icon container. Can be the svg itself */
.publisher-icon .icon-container {
    position: relative;
    height: 60%;
    width: 60%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.publisher-header-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, #f1f1f1, #ededed);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 2px -1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
    z-index: 2;
}
.publisher-scroll-progress {
    position: absolute;
    background: rgba(0, 0, 0, 0.075);
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.1s ease;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}
.publisher-scroll-progress:after {
    content: "";
    width: 1px;
    height: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.05);
    display: block;
    position: absolute;
}
.publisher-header-mask {
    position: absolute;
    display: none;
    width: 100%;
    background: #f7f7f7;
    height: 22px;
    top: -16px;
    z-index: 0;
}
.publisher-header {
    position: relative;
    width: 100%;
    height: 50px;
    vertical-align: top;
    z-index: 2;
}

.publisher-header-spin {
    position: absolute;
    right: 25px;
    top: 25px;
}
section.footer {
    margin-top: 35px;
    margin-bottom: 35px;
}
section.footer > footer {
    position: relative;
    width: 100%;
    height: 100%;
}
.footer-icon {
    width: 40px;
    height: 40px;
    padding: 2px;
    position: absolute;
    top: 0;
    left: 2px;
}
.footer-icon > svg {
    width: 100%;
    height: 100%;
    stroke: #626262;
}
.footer-text {
    font-size: 14px;
    line-height: 21px;
    font-family: "Roboto", sans-serif;
    padding: 0 12px 0 12px;
    color: #626262;
    margin-left: 40px;
}
.footer-text > a {
    font-family: "Roboto", sans-serif;
}
.footer-text span.coupon {
    color: #e05745;
}

@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25;
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22;
  }
  1% {
    opacity: 1;
  }
}


.menu-popup {
    position: absolute;
    overflow: hidden;
    right: 0px;
    top: 40px;
    width: 275px;
    padding: 16px 0;
    background: white;
    z-index: 999;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;

    transition: all 0.2s ease;
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.menu-container > .menu-item {
    user-select: none;
    min-height: 32px;
    position: relative;
    cursor: pointer;
    display: block;
    padding: 0 24px;
    width: 100%;
}

.menu-container > .menu-item:hover {
    background: #eee;
}
.menu-container > .menu-item.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.menu-container > .menu-item > .menu-title-aside {
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-weight: 500;
    right: 24px;
}
.menu-container > .separator {
    border-top: 1px #e8eaed solid;
    margin: 8px 0 7px 0;
}
.menu-container > .menu-message {
    font-size: 13px;
    padding: 8px 24px 0;
    color: #3f3f3f;
}


.menu-container > .menu-item > .menu-title {
    padding-left: 40px;
    line-height: 15px;
    font-size: 14px;
    color: #202124;
    position: absolute;
    top: 50%;
    left: 24px;
    right: 24px;
    transform: translateY(-50%);
}

.menu-container > .menu-item > .menu-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-container > .menu-item > .menu-icon > svg {
    width: 100%;
    height: 100%;
    fill: #808080;
}
.slideout-menu {
    background: transparent;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;

    transition: all 0.2s ease;
    pointer-events: none;
    visibility: hidden;
}
.slideout-menu .slideout-container {
    font-family: "Roboto", sans-serif;
    position: absolute;
    left: 0;
    background: #f7f7f7;
    bottom: 0;
    top: 0;
    width: 70%;
    box-shadow: -1px 0 5px 0 rgba(0, 0, 0, 0.25);

    transform: translateX(-100%);
    transition: transform 0.2s ease;
}
.slideout-container > .menu-container {
    padding-top: 25px;
}
.slideout-container > .menu-container > .menu-item {
    min-height: 45px;
}


.menu-container > .menu-network {
    font-size: 13px;
    padding: 8px 20px 0;
    color: #3f3f3f;
    user-select: none;
}

.our-network {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 6px 4px 6px;
}

.network-sites {
    font-size: 0;
}

.network-site {
    width: 50%;
    display: inline-block;
}

.site-button {
    color: hsl(0 0% 30% / 1);
    padding: 2px 0px 2px 6px;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.site-icon img {
    height: 21px;
    top: 0px;
    border-radius: 2px;
}

.site-name, .site-icon {
    display: inline-block;
    vertical-align: middle;
}

.site-name {
    padding: 4px 8px;
    font-size: 14px;
}

.site-button:hover {
    background: #eee;
}

/* Slightly less padding in network site list on extra small screens */
@media (max-width: 374px) {
    .site-name {
        padding: 4px;
    }

    .menu-container > .menu-network {
        padding: 8px 8px 0;
    }
}

.publisher-data .load-more {
    margin-left: 36px;
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    display: inline-block;
    color: #4e4e4e;
    cursor: pointer;
    user-select: none;
}

/* Hide the button if it hasn't been initialized (JS disabled) */
.publisher-data .load-more:empty {
    display: none;
}

.publisher-data .load-more[disabled] {
    opacity: 0.5;
}
