#content {
  margin-top: 60px;
}

#content a {
  color: #407EE3;
  text-decoration: none;
}

#content .why-box {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}
