.broowserools-widget .dropdown {
  border: 1px solid #78ace8;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.broowserools-widget .dropdown {
  cursor: pointer;
  position: relative;
}

.broowserools-widget .dropdown .dropdown-arrow {
  position: absolute;
  z-index: 100;
}

.broowserools-widget .dropdown .item {
  position: relative;
}

.broowserools-widget .dropdown .item:hover {
  background-color: #e0e0e0;
}

.broowserools-widget .dropdown .item .icon {
  display: inline-block;
  margin: 3px;
  margin-right: 10px;
}

.broowserools-widget .dropdown .item .text {
  display: inline-block;
  position: absolute;
  top: 12px;
}

.broowserools-widget .dropdown .dropdown-slider {
  display: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  max-height: 200px;
  overflow-x: hidden;
}

.broowserools-widget-url input {
  width: 350px;
  font-size: 20px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #78ace8;
  color: #2e527b;
}

.broowserools-widget-url input:focus {
  background-color: #e3f0ff;
}

.broowserools-widget-url button {
  width: 120px;
  font-size: 20px;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #78ace8;
  border-radius: 3px;

  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  color: #ffffff;
}

.broowserools-widget-url button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

.broowserools-widget-url button:active {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

.broowserools-widget-platform-browser-version {
  overflow: hidden;
  font-size: 12px;
  margin-top: 10px;
}

.broowserools-widget-platform {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-right: 10px;
}

.broowserools-widget-browser {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-right: 10px;
}

.broowserools-widget-version {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
