    /* body {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      color: #37559d;
    }

    a:-webkit-any-link {
      color: #5165ff;

      cursor: pointer;
      text-decoration: underline;
      text-decoration-line: underline;

      text-decoration-style: initial;
      text-decoration-color: initial;
    }

 */
body {
  background-color: rgb(238, 212, 212);
  line-height: 1.6;
  font-size: 16px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.btn:visited {
  background-color:#0d22c2;
}


.btn {
  display: grid;
  border: 1px solid black;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none !important;
  text-transform: uppercase;
  border-radius: 8px;
  background: rgba(155, 155, 155, 0.81);
  color: black !important;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  padding: 12px 15px;
  height: 50px;
  width:140px;
  text-align: center;
  white-space: normal;
  margin: auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn:active {
  outline: 0;
}

.btn::before {
  border-radius: 2px;
}
