$dashing-json-key-color: #999;
$dashing-json-string-color: #666;
$dashing-json-number-color: #222;
$dashing-json-boolean-color: #444;

.dashing-json .key,
.dashing-json .null,
.dashing-json .string,
.dashing-json .boolean,
.dashing-json .number { display: inline; }

.dashing-json .key     { color: $dashing-json-key-color;     }
.dashing-json .string  { color: $dashing-json-string-color;  }
.dashing-json .number  { color: $dashing-json-number-color;  }
.dashing-json .boolean { color: $dashing-json-boolean-color; }