.sidenav-fab-container {
    margin-top: 52px !important;
}

    .sidenav-fab-container mat-sidenav {
        overflow: auto;
        box-shadow: 1px 0 1px rgba(0,0,0,.24);
    }

        .sidenav-fab-container mat-sidenav h3 {
            font-size: 13px;
            line-height: 24px;
            margin: 0;
            padding: 0 16px;
            background: rgba(0,0,0,.32);
            color: hsla(0,0%,100%,.87);
        }

        .sidenav-fab-container mat-sidenav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .sidenav-fab-container mat-sidenav li {
            border-bottom: 1px solid rgba(0,0,0,.06);
            margin: 0;
            padding: 0;
            color: rgba(0,0,0,.54);
        }

            .sidenav-fab-container mat-sidenav li a {
                box-sizing: border-box;
                font-size: 14px;
                line-height: 47px;
                text-decoration: none;
                padding: 0 16px;
                color: rgba(0,0,0,.54);
            }

.router-link-active {
    color: #3f51b5 !important;
    font-weight: bold;
}