<md-card class="info-card">
  <md-card-header>
    <md-card-title>Short About Myself</md-card-title>
    <md-card-subtitle>Barcelona, Spain, 2016/10/18</md-card-subtitle>
  </md-card-header>
  <img
    md-card-image
    src="https://scontent.xx.fbcdn.net/v/t31.0-8/15016152_1248440721843340_1020796112980784236_o.jpg?oh=199edc7de2ec4d74a338e27fdb614b2b&oe=599EFB7D"
  />
  <md-card-content>
    <p>
      I am from small city on east of Slovakia called Spisska Nova Ves. I was
      studying on Technical University of Kosice. My field of study was
      Artificial Intelligence. After I graduated I started to work as Software
      Engineer for Siemens Company for about a year. Then I spent 4 Months in
      Barcelona in Spain in Netcentric company where I was attending intensive
      web developer training.
    </p>
  </md-card-content>
</md-card>

<md-card class="info-card">
  <md-card-header>
    <md-card-title>And Now...</md-card-title>
    <md-card-subtitle>Berlin, Germany, 18. December, 2016</md-card-subtitle>
  </md-card-header>
  <img
    md-card-image
    src="https://scontent.xx.fbcdn.net/v/t1.0-9/15665382_1288839467803465_910634505329457055_n.jpg?oh=f0027bbbb7023cb21fc99142fb68d520&oe=59A269C1"
  />
  <md-card-content>
    <p class="info-text">
      After Barcelona I was looking for job in Germany. I found interresting job
      in Berlin where I am still working. I am working in company Carmudi as FE
      web developer. Main tech stack is Angular, Ionic and lot of vanilla JS.
    </p>
  </md-card-content>
</md-card>
