<configuration>
  <system.runtime.remoting>
    <application>
     
      <client>
        <wellknown type="Server.DefaultLifeTimeSingleton, generated_meta"  
                   url="http://localhost:5555/DefaultLifeTimeSingleton.soap" />

        <wellknown type="Server.LongerLivingSingleton, generated_meta"  
                   url="http://localhost:5555/LongerLivingSingleton.soap" />

        <wellknown type="Server.InfinitelyLivingSingleton, generated_meta"  
                   url="http://localhost:5555/InfinitelyLivingSingleton.soap" />

      </client>

    </application>
  </system.runtime.remoting>
</configuration>
