* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background: black;
}
header {
  height: 60px;
  background: rebeccapurple;
  color: white;
}
header h2 {
  margin-left: 30px;
}
.title {
  margin-left: 30px;
  margin-top: 30px;
  color: yellow;
}
