.resource-list {
  max-height: 350px;
  overflow-y: auto;

  &-item {
    &.is-active {
      background-color: #f3f3f3;
    }
    &:hover {
      cursor: pointer;
      background-color: #f3f3f3;
    }
  }
}
