/*Tag*/

body {
	text-align: center;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #a8d8f0;
	font-family: "HelveticaNeue-Light";
  color: grey;
  text-align: center;
  font-size: 190%;

}


img {
	width: 200px;
	height: 200px;
}



/*Class*/

.center {
	position: relative;
	width: 900px;
	margin-left: 18%;
}


.hidden {
	visibility: hidden;
}


.rotateY {
	-webkit-transform: rotateY(90deg);
}


.revealImg {
/*	-webkit-animation-delay: 5s;
*/-webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-transform: rotateY(360deg);
}


.hideImg {
	-webkit-transform: rotateY(360deg);
	-webkit-animation: hideImgAnimation .4s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: .5s;
}
 
@-webkit-keyframes hideImgAnimation {
     0%   {-webkit-transform: rotateY(0deg);}
     60%  {-webkit-transform: rotateY(0deg);}
     100% {-webkit-transform: rotateY(270deg);}
}


.winnerOuter {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    visibility: hidden;
   	opacity: 0;

}


.winnerInner {
    width: 90%;
    height: 90%;
    margin-left: 5%;
	  position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    visibility: hidden;
}


.fadeIn {
	-webkit-animation: fadeIn .4s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: .5s;
	visibility: visible;
	opacity: 0;
}

@-webkit-keyframes fadeIn {
     0%   {opacity: 0;}
     100% {opacity: 1;}
}


.bounce {
	-webkit-animation: bounce 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: .5s;
}

@-webkit-keyframes bounce {
     0%   {visibility: visible; opacity: 0; width: 90%; height: 90%; margin-left: 5%;}
     20%  {opacity: .2; width: 90%; height: 90%; margin-left: 5%;}
     60%  {opacity: .5; width: 103%; height: 103%; margin-left: -1.5%;}
     100% {visibility: visible; opacity: 1; width: 100%; height: 100%; margin-left: 0;}
}


.squeeze {
    width: 180px;
    height: 140px;
    margin-left: 10px;
    position: fixed;
    z-index: 1;
    top: 520px;
}


.bubble {
    width: 100%;
    height: 100%;
    margin-left: -51%;
    position: fixed;
    z-index: 1;
    visibility: hidden;  
}


.float {
  -webkit-animation: float 2s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes float {
     0%   {visibility: visible; opacity: 0; margin-top: -1%;}
     40%  {visibility: visible; opacity: 1;}
     99%  {visibility: visible; opacity: 0; margin-top: -3%; transform: rotateZ(6deg);}
     100% {visibility: hidden; opacity: 0; margin-top: -3%; transform: rotateZ(6deg);}
}


.won {
    position: fixed;
    width: 5.5%;
    height: 5%;
    margin-left: 84.8%;
    margin-top: 18.55%; 
    z-index: 1;

}


.score {
    position: fixed;
    width: 5.5%;
    height: 5%;
    margin-left: 91%;
    margin-top: 18.55%; 
    z-index: 1;

}


.shine {
  -webkit-animation: shine .9s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes shine {
     0%   {-webkit-box-shadow: inset 0 0 0px #fff;}
    50%   {-webkit-box-shadow: inset 0 0 25px #fff;}
   100%   {-webkit-box-shadow: inset 0 0 0px #fff;}
     
}


.buzzIt {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
   -webkit-animation-name: buzzIt;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes buzzIt {
  10% {
    -webkit-box-shadow: inset 0 0 0px #fff;
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-box-shadow: inset 0 0 50px #fff;
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-box-shadow: inset 0 0 0px #fff;
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}


/*ID*/

