@import 'modules/variables';

:global {
  html, body {
    background-color: $green;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 100%;
  }

  html {
    visibility: hidden;

    &.wf-active {
      visibility: visible;
    }
  }

  #main {
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }
}
