extends layout.pug

block content
  h1 Welcome to the site! :D
  
  //- table
  //-   thead
  //-     tr
  //-       th First Name
  //-       th Last Name
  //-       th Age
  //-       th Biography
  //-       th Hair Color
  //-   tbody
  //-   each person in people
  //-     tr
  //-       td= person.firstName
  //-       td= person.lastName
  //-       td= person.age
  //-       td= person.biography
  //-       td= person.haircolorId