doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Homey home home
    
  body
  
    head
      nav
        ul
          li: a(href="/") Home
          li: a(href="/new-person") New Person
    
    main
      block content