@import 'apps/www-public/config/variables';
@import 'normalize.css/normalize.css';

:global {
  html, body {
    background-color: $gray-lighter;
    font-family: $basic-font;
    color: $text-color;
  }

  * {
    box-sizing: border-box;
  }
}

.app {
  position: relative;
}
