@import 'apps/www-public/config/variables';

.footer {
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  line-height: 2;
  padding: 8px 0;
  background: $gray-light;
  color: rgba($text-color, 0.8);
}
