@import 'apps/www-public/config/variables';

.header {
  height: 50px;
  padding: 10px;
  position: relative;
  z-index: 10;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    text-align: left;
  }

  &.background {
    background-color: $orange;
  }
}
