{% assign post = include.post_page %} {% assign section =
include.blog_feed_section %} {% assign section_author = include.section_author
%} {% assign section_category = include.section_category %} {% assign
section_author_is_not_empty = section_author | is_not_empty %} {% assign
section_category_is_not_empty = section_category | is_not_empty %} {% if
section_author_is_not_empty %} {% assign author_is_not_empty = post.author |
is_not_empty %} {% if author_is_not_empty %} {% assign post_author = post.author
| get_data %} {% if post_author.id == section_author.id %} {% include
blog_post_feed_item.html blog_feed_section=section post_page=post %} {% endif %}
{% endif %} {% elsif section_category_is_not_empty %} {% for category in
post.categories %} {% assign post_category = category | get_data %} {% if
post_category.id == section_category.id %} {% include blog_post_feed_item.html
blog_feed_section=section post_page=post %} {% endif %} {% endfor %} {% else %}
{% include blog_post_feed_item.html blog_feed_section=section post_page=post %}
{% endif %}
