{% assign blog_feed_section = include.blog_feed_section %} {% assign post =
include.post_page %}
<article class="cell">
  <div class="card">
    {% assign image_is_not_empty = post.image | is_not_empty %} {% if
    image_is_not_empty %}
    <a
      class="card__media card__media--top"
      href="{{ post.url | relative_url }}"
    >
      <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" />
    </a>
    {% endif %}
    <div class="card__body">
      <header class="card__header">
        {% assign categories_is_not_empty = post.categories | is_not_empty %} {%
        if categories_is_not_empty %} {% include blog_post_categories.html
        categories=post.categories container_class='card__meta' %} {% endif %}
        {% assign title_is_not_empty = blog_feed_section.title | is_not_empty %}
        {% if title_is_not_empty %}
        <h3 class="h4 card__title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h3>
        {% else %}
        <h2 class="h4 card__title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h2>
        {% endif %}
      </header>
      {% assign excerpt_is_not_empty = post.excerpt | is_not_empty %} {% if
      excerpt_is_not_empty %}
      <div class="card__copy">
        <p>{{ post.excerpt }}</p>
      </div>
      {% endif %}
      <footer class="card__footer">
        <span
          >On
          <time datetime="{{ post.date | date: '%Y-%m-%d %H:%M' }}"
            >{{ post.date | date: '%B %d, %Y' }}</time
          ></span
        >
        {% assign author_is_not_empty = post.author | is_not_empty %} {% if
        author_is_not_empty %} {% assign author = post.author | get_data %} {%
        assign link_is_not_empty = author.link | is_not_empty %} {% if
        link_is_not_empty %}
        <span>
          by
          <a href="{{ author.link | relative_url }}"
            >{{ author.first_name }} {{ author.last_name }}</a
          ></span
        >
        {% else %}
        <span> by {{ author.first_name }} {{ author.last_name }}</span>
        {% endif %} {% endif %}
      </footer>
    </div>
  </div>
</article>
