{% assign section = include.section %}
<section class="section section--posts">
  {% assign title_is_not_empty = section.title | is_not_empty %} {% if
  title_is_not_empty %}
  <div class="container container--md align-center">
    <h2 class="section__title">{{ section.title }}</h2>
  </div>
  {% endif %}

  <div class="container container--lg">
    <div class="flex flex--col-3">
      {% assign section_author = false %} {% assign author_is_not_empty =
      section.author | is_not_empty %} {% if author_is_not_empty %} {% assign
      section_author = section.author | get_data %} {% endif %} {% assign
      section_category = false %} {% assign category_is_not_empty =
      section.category | is_not_empty %} {% if category_is_not_empty %} {%
      assign section_category = section.category | get_data %} {% endif %} {%
      assign posts_all = '/blog' | get_pages %} {% assign posts_sorted =
      posts_all | sort: 'date' | reverse %} {% assign show_recent =
      section.show_recent %} {% assign recent_count = section.recent_count %} {%
      assign post_count = 0 %} {% for post in posts_sorted %} {% assign is_post
      = false %} {% if post.layout == 'post' %} {% assign is_post = true %} {%
      endif %} {% if is_post and (show_recent == false or post_count <
      recent_count) %} {% assign post_count = post_count | plus: 1 %} {% include
      blog_feed_item_filter.html blog_feed_section=section post_page=post
      section_author=section_author section_category=section_category %} {%
      endif %} {% endfor %}
    </div>
  </div>
</section>
