{% assign categories = include.categories %} {% assign container_class =
include.container_class %}
<div class="{{ container_class }}">
  <span>In </span>
  {% for category in categories %} {% assign category_data = category | get_data
  %} {% assign link_is_not_empty = category_data.link | is_not_empty %} {% if
  link_is_not_empty %}
  <a href="{{ category_data.link | relative_url }}">{{ category_data.title }}</a
  >{% assign last_is_empty = forloop.last | is_empty %}{% if last_is_empty %},
  {% endif %} {% else %} <span>{{ category_data.title }}</span>{% assign
  last_is_empty = forloop.last | is_empty %}{% if last_is_empty %}, {% endif %}
  {% endif %} {% endfor %}
</div>
