<section class="section">
  <div class="container container--md">
    <form
      name="contactForm"
      id="contactForm"
      method="POST"
      data-netlify="true"
      data-netlify-honeypot="bot-field"
    >
      <div class="sr-only">
        <label id="honeypot-label" for="honeypot"
          >Don't fill this out if you're human:</label
        >
        <input
          aria-labelledby="honeypot-label"
          id="honeypot"
          name="bot-field"
        />
      </div>
      <input
        aria-labelledby="honeypot-label"
        type="hidden"
        name="form-name"
        value="contactForm"
      />
      <div class="form-group">
        <label id="name-label" for="name">Name</label>
        <input
          aria-labelledby="name-label"
          type="text"
          name="name"
          id="name"
          placeholder="Your name"
          required
        />
      </div>
      <div class="form-group">
        <label id="email-label" for="email">Email</label>
        <input
          aria-labelledby="email-label"
          type="email"
          name="email"
          id="email"
          placeholder="Your email"
          required
        />
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <div class="form-select-wrap">
          <select name="subject" id="subject">
            <option value="">Please select</option>
            <option value="Business Inquiries">Business Inquiries</option>
            <option value="Sponsorship">Partnerships</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label id="message-label" for="message">Message</label>
        <textarea
          aria-labelledby="message-label"
          name="message"
          id="message"
          rows="5"
          placeholder="Your message"
        ></textarea>
      </div>
      <div class="form-group form-checkbox">
        <input
          aria-labelledby="consent-label"
          type="checkbox"
          name="consent"
          id="consent"
        />
        <label id="consent-label" for="consent"
          >I understand that this form is storing my submitted information so I
          can be contacted.</label
        >
      </div>
      <div class="form-submit">
        <button type="submit" class="button">Get In Touch</button>
      </div>
    </form>
  </div>
</section>
