{% assign section = include.section %}
<section class="section section--features">
  {% assign title_is_not_empty = section.title | is_not_empty %} {% if
  title_is_not_empty %}
  <div class="container container--md align-center">
    <h2 class="section__title">{{ section.title }}</h2>
  </div>
  {% endif %}

  <div class="container container--lg">
    {% for feature in section.features %}
    <div
      class="
        flex flex--middle flex--center flex--col-2{%
        if
        feature.align
        ==
        'center'
        %}
        align-center{%
        endif
        %}{%
        if
        feature.align
        ==
        'right'
        %}
        align-right{%
        endif
        %}
      "
    >
      {% assign image_is_not_empty = feature.image | is_not_empty %} {% if
      image_is_not_empty %}
      <div
        class="
          cell
          section__media{%
          if
          feature.image_position
          ==
          'right'
          %}
          section__media--right{%
          endif
          %}
        "
      >
        <img
          src="{{ feature.image | relative_url }}"
          alt="{{ feature.title }}"
        />
      </div>
      {% endif %}

      <div class="section__body cell">
        {% assign title_is_not_empty = feature.title | is_not_empty %} {% if
        title_is_not_empty %} {% assign title_is_not_empty = section.title |
        is_not_empty %} {% if title_is_not_empty %}
        <h3 class="section__title">{{ feature.title }}</h3>
        {% else %}
        <h2 class="section__title">{{ feature.title }}</h2>
        {% endif %} {% endif %} {% assign content_is_not_empty = feature.content
        | is_not_empty %} {% if content_is_not_empty %}
        <div class="section__copy">{{ feature.content | markdownify }}</div>
        {% endif %} {% assign actions_is_not_empty = feature.actions |
        is_not_empty %} {% if actions_is_not_empty %}
        <div class="section__actions btn-group">
          {% include section_actions.html actions=feature.actions %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
