{% assign section = include.section %}
<section class="section section--team">
  {% assign title_is_not_empty = section.title | is_not_empty %} {% if
  title_is_not_empty %}
  <div class="container container--md align-center">
    <h2 class="section__title">{{ section.title }}</h2>
  </div>
  {% endif %}

  <div class="container container--lg">
    <div class="flex flex--col-3">
      {% for person in section.team %} {% assign person_data = person | get_data
      %}
      <div class="cell">
        <div class="card team-member">
          {% assign photo_is_not_empty = person_data.photo | is_not_empty %} {%
          if photo_is_not_empty %}
          <figure class="card__media card__media--bottom">
            <img
              src="{{ person_data.photo | relative_url }}"
              alt="{{ person_data.first_name }}{% assign last_name_is_not_empty = person_data.last_name | is_not_empty %}{% if last_name_is_not_empty %} {{ person_data.last_name }}{% endif %} Photo"
            />
          </figure>
          {% endif %}
          <div class="card__body">
            <header class="card__header">
              <h3 class="h4 card__title">
                {{ person_data.first_name }} {{ person_data.last_name }}
              </h3>
            </header>
            {% assign bio_is_not_empty = person_data.bio | is_not_empty %} {% if
            bio_is_not_empty %}
            <div class="card__copy">{{ person_data.bio | markdownify }}</div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
