<section id="newRental">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Create Rental</h1>
        <form #rentalForm="ngForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              [(ngModel)]="newRental.title"
              name="title"
              required
              type="text"
              class="form-control"
              id="title"
            />
          </div>

          <div class="form-group">
            <label for="city">City</label>
            <input
              [(ngModel)]="newRental.city"
              name="city"
              required
              type="text"
              class="form-control"
              id="city"
            />
          </div>

          <div class="form-group">
            <label for="street">Street</label>
            <input
              [(ngModel)]="newRental.street"
              name="street"
              required
              type="text"
              class="form-control"
              id="street"
            />
          </div>

          <div class="form-group">
            <label for="category">Category</label>

            <select
              [(ngModel)]="newRental.category"
              name="category"
              required
              class="form-control"
              id="category"
            >
              <option *ngFor="let category of rentalCategories">
                {{ category }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>Image</label>
            <bwm-image-upload (imageUploaded)="attachImageToRental($event)">
            </bwm-image-upload>
          </div>

          <div class="form-group">
            <label for="bedrooms">Rooms</label>
            <input
              [(ngModel)]="newRental.numOfRooms"
              name="numOfRooms"
              required
              type="number"
              class="form-control"
              id="numOfRooms"
            />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              [(ngModel)]="newRental.description"
              name="description"
              required
              rows="5"
              type="text"
              class="form-control"
              id="description"
            >
            </textarea>
          </div>

          <div class="form-group">
            <label for="dailyRate">Daily Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input
                [(ngModel)]="newRental.dailyPrice"
                name="dailyPrice"
                required
                type="number"
                class="form-control"
                id="dailyPrice"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="shared">Shared</label>
            <input
              [(ngModel)]="newRental.shared"
              name="shared"
              type="checkbox"
              class="form-control"
              id="shared"
            />
          </div>
          <button
            type="button"
            [disabled]="!hasImageId"
            (click)="createRental(rentalForm)"
            class="btn bwm-btn-main"
          >
            Create
          </button>
        </form>
        <div *ngIf="errors.length > 0" class="alert alert-danger">
          <p *ngFor="let error of errors">
            {{ error.detail }}
          </p>
        </div>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">
            Hundreds of awesome places in reach of few clicks.
          </h2>
          <img src="assets/images/create-rental.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
