tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style41
	{background:#B4C6E7;
	mso-pattern:black none;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:"40% - Accent1";
	mso-style-id:31;}
.style28
	{background:#FFC7CE;
	mso-pattern:black none;
	color:#9C0006;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Bad;
	mso-style-id:27;}
.style27
	{background:#C6EFCE;
	mso-pattern:black none;
	color:#006100;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Good;
	mso-style-id:26;}
.style120
	{color:#0563C1;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Hyperlink;
	mso-style-id:8;}
a:link
	{color:#0563C1;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
a:visited
	{color:#954F72;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.style29
	{background:#FFEB9C;
	mso-pattern:black none;
	color:#9C5700;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Neutral;
	mso-style-id:28;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	border:1.0pt dot-dash-slanted #305496;}
.xl66
	{mso-style-parent:style0;
	font-weight:700;
	text-align:left;
	border:1.0pt dot-dash-slanted #305496;}
.xl67
	{mso-style-parent:style28;
	color:#9C0006;
	text-align:center;
	vertical-align:middle;
	border:1.0pt dot-dash-slanted #305496;
	background:#FFC7CE;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style27;
	color:#006100;
	text-align:center;
	vertical-align:middle;
	border:1.0pt dot-dash-slanted #305496;
	background:#C6EFCE;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style29;
	color:#9C5700;
	text-align:center;
	vertical-align:middle;
	border:1.0pt dot-dash-slanted #305496;
	background:#FFEB9C;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style41;
	color:black;
	text-align:right;
	border:1.0pt dot-dash-slanted #305496;
	background:#B4C6E7;
	mso-pattern:black none;}
.xl71
	{mso-style-parent:style41;
	color:black;
	font-size:14.0pt;
	font-weight:700;
	text-align:right;
	border:1.0pt dot-dash-slanted #305496;}
.xl72
	{mso-style-parent:style41;
	color:red;
	font-size:14.0pt;
	font-weight:700;
	text-align:right;
	border:1.0pt dot-dash-slanted #305496;}
.xl73
	{mso-style-parent:style120;
	color:#0563C1;
	font-size:16.0pt;
	text-decoration:underline;
	text-underline-style:single;
	text-align:center;
	border:1.0pt dot-dash-slanted #305496;}
.xl74
	{mso-style-parent:style41;
	color:black;
	font-size:22.0pt;
	text-align:center;
	vertical-align:middle;
	border:1.0pt dot-dash-slanted #305496;
	background:#A5A5A5;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	font-size:22.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:1.0pt dot-dash-slanted #305496;
	background:#A5A5A5;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style29;
	color:windowtext;
	font-size:22.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:underline;
	text-underline-style:single;
	text-align:center;
	vertical-align:middle;
	border:1.0pt dot-dash-slanted #305496;
	background:#A5A5A5;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style27;
	color:windowtext;
	font-size:22.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:underline;
	text-underline-style:single;
	text-align:center;
	vertical-align:middle;
	border:1.0pt dot-dash-slanted #305496;
	background:#A5A5A5;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style28;
	color:windowtext;
	font-size:22.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:underline;
	text-underline-style:single;
	text-align:center;
	vertical-align:middle;
	border:1.0pt dot-dash-slanted #305496;
	background:#A5A5A5;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style29;
	color:#9C5700;
	font-size:14.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:2.0pt double #3F3F3F;
	background:#FFEB9C;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style27;
	color:#006100;
	font-size:14.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:2.0pt double #3F3F3F;
	background:#C6EFCE;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style28;
	color:#9C0006;
	font-size:14.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:2.0pt double #3F3F3F;
	background:#FFC7CE;
	mso-pattern:black none;}
