{{ partial "header" }}
<section class="page-title page-title-4 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="uppercase mb0">
                    <i class="ti-video-clapper"></i> {{ .Title}}
                </h3>
                <p class="mb0">
                  {{ .Params.presenter }}, {{ .Params.presenter_title}} • {{ .Params.location }}, {{ dateFormat "Monday, Jan 2, 2006" .Date }}
              </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="pt40 pb40 bg-dark">
  <div class="container">
    <div class="row video-block">
      <div class="col-sm-6 text-center {{ if not (or (isset .Params "speakerdeck") (isset .Params "callout")) }}col-md-offset-3{{ end }}">
          <div class="embed-video-container embed-responsive embed-responsive-16by9">
              {{ .Params.youtube | safeHTML }}
          </div>
          <!--end of embed video container-->
      </div>
      {{ if (isset .Params "speakerdeck" ) }}
        <div class="col-sm-6 text-center">
            <div class="embed-video-container embed-responsive embed-responsive-16by9">
                {{ .Params.speakerdeck | safeHTML }}
            </div>
            <!--end of embed video container-->
        </div>
      {{ end }}
      {{ if (isset .Params "callout" ) }}
        <div class="col-sm-6 v-align-transform text-center">
            <p class="lead">{{ .Params.callout | markdownify }}</p>
            <!--end of embed video container-->
        </div>
      {{ end }}
    </div>
  </div>
</section>
<section class="pt40 pb40">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          {{ .Content }}
      </div>
    </div>
    <!--end of row-->
  </div>

</section>
{{ partial "footer" . }}
