body {
  margin: auto;
    display:flex; flex-direction:column; justify-content:center;
  min-height:100vh;
}
.btn{
  background-color: rgba(0, 102, 255, 0.248);
  color: white;
  padding:0.3em 0.3em;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover{
    background-color: blue;
}
.btn:active {
  background-color: blue;
}
.btn:visited {
  background-color: green;
}
#title{
  	margin: 1em 0 0.5em 0;
	color: #606468;
	font-weight: bold;
	font-family: 'Ultra', sans-serif;
	font-size: 60px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 7px black, 0 3px #777;

}
.container {
  margin: auto;
  background-color: rgba(93, 107, 143, 0.112);
  border: 1px solid rgba(65, 56, 56, 0.851);
  border-radius: 7px;
  padding: .5em .7em;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


p {
  max-width: 100%;
    margin: auto;
  background-color: rgb(156, 158, 160);
  border: 3px solid rgba(65, 56, 56, 0.851);
  border-radius: 7px;
  padding: .5em .7em;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.question {
  background-color:rgba(199, 200, 205, 0.653);
  border-radius: 1.5pc;
  width: 85%;
  margin: auto;
  padding: 10px;
  position: relative;
  margin-bottom: 25px;
  -webkit-border-radius: 1.5pc;
  -moz-border-radius: 1.5pc;
  -ms-border-radius: 1.5pc;
  -o-border-radius: 1.5pc;
}

.answer {
    background-color:rgba(167, 160, 160, 0.112);
  overflow-wrap: normal;
  margin: auto;
  width: 400px;
}

code pre {
  background-color: lightgray;
  border-radius: 2px;
}

code {
  background-color: lightgray;
  border-radius: 2px;
}
