.Dropdown {
  z-index: 5;
  display: inline-block;
  position: absolute;
}

.Dropdown__button {
  padding: 15px;
  background-color: white;
  border: 2.5px solid black;
}

.Dropdown__content {
  position: absolute;
  background-color: white;
  display: none;
  margin-top: 10px;
  padding: 15px;
  border: 2.5px solid black;
}

.Dropdown__link {
  display: inline-block;
  margin-bottom: 10px;
}

.Dropdown--active .Dropdown__content {
  display: block;
}
