* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: black;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

body {
  height: 100vh;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.content h2:after {
  display: block;
  height: 2px;
  background-color: white;
  content: " ";
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: white;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.full-width-hr {
  width: 90%;

  display: block;
  height: 2px;
  content: " ";
  margin: 20px auto;
  margin-bottom: 0;
  background-color: gray;
}

.box {
  padding: 1%;
}

.full-width-hr {
  width: 90%;

  display: block;
  height: 2px;
  content: " ";
  margin: 20px auto;
  margin-bottom: 0;
  background-color: gray;
}
