@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");

@import "./include/variables.scss";
@import "./include/global.scss";
@import "./include/typography.scss";
@import "./include//color.scss";
@import "./include//best-sellers.scss";
@import "./include//special-price.scss";
