@import 'modules/variables';

.button {
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: $orange;
  box-shadow: inset 0 -1px 0 0 darken($orange, 10);
  color: $white;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
  transition: background-color 300ms, box-shadow 300ms;
  padding: 0 20px;
  vertical-align: middle;

  &.xlSize {
    width: 320px;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &:hover {
    background-color: lighten($orange, 5);
  }

  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 1px 0px rgba($orange, 0.75);
  }

  @media (max-width: $screen-sm-min) {
    &.smBlock {
      display: block;
      width: 100%;
    }
  }

  @media (min-width: $screen-sm-min) {
    &.lgGroupedRight {
      border-radius: 0 3px 3px 0;
    }
  }

  &.adminTheme {
    background-color: $green;
    box-shadow: inset 0 -1px 0 0 darken($green, 10);

    &:hover {
      background-color: lighten($green, 5);
    }
  }
}
