@import 'modules/variables';

.logo {
  height: 30px;
}

.text {
  display: inline-block;
  vertical-align: middle;
  font-family: $special-font;
  color: $white;
  font-size: 25px;
  line-height: 30px;
  margin-left: 10px;
}
