@import 'modules/variables';

.textBox {
  position: relative;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;

  .input {
    border: none;
    height: 50px;
    background-color: $white;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 18px;
    vertical-align: middle;
    color: $text-color;
    display: block;
    width: 100%;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: $gray;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $gray;
      opacity: 1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $gray;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $gray;
    }

    &:focus {
      outline: none;
      box-shadow: inset 0px 0px 1px 0px rgba($orange, 0.75);
    }
  }

  &.bordered .input {
    border: 1px solid rgba($gray, 0.4);
  }

  &.xlSize {
    width: 320px;
  }

  &.spaced {
    margin-bottom: 10px;
  }

  &.block {
    display: block;
    width: 100%;
  }

  @media (max-width: $screen-sm-min) {
    &.smBlock {
      display: block;
      width: 100%;
    }

    &.smSpaced {
      margin-bottom: 10px;
    }
  }

  @media (min-width: $screen-sm-min) {
    &.lgGroupedLeft .input {
      border-radius: 3px 0 0 3px;
    }
  }

  &.withIcon .input {
    padding-left: 50px;
  }

  .icon {
    position: absolute;
    left: 2px;
    top: 8px;
    bottom: 8px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba($gray, 0.2);
    pointer-events: none;
  }
}
