#userRentals {
  .card {
    margin-bottom: 20px;
  }

  .card-block {
    padding: 20px;
  }

  .card-title {
    font-size: 14px;
  }

  .btn-bwm {
    font-size: 12px;
    color: white;
    padding: 10px 15px;
  }
  .rentalbtn {
    margin-right: 5px;
  }
  .btn-delete {
    float: right;
    font-size: 10px;
  }

  .btn-edit {
    padding: 10px 15px;
    color: white;
    font-size: 10px;
    float: right;
    margin-right: 10px;
  }

  .btn-success,
  .btn-danger {
    font-size: 12px;
    margin-left: 5px;
  }

  .card-footer {
    font-size: 12px;

    p {
      display: inline-block;
      line-height: 40px;
      margin: 0;
    }

    .confirm-message {
      font-weight: bold;
      margin-right: 10px;
    }
  }

  .btn-bookings {
    border-color: #f44336;
    background-color: transparent;
    color: #f44336;

    &:hover,
    &:focus {
      border-color: #f44336 !important;
      background-color: transparent !important;
      color: #f44336 !important;
    }
  }
}

.bookings-inner-container {
  p {
    font-size: 14px;
    margin-bottom: 0px;
  }
}
