table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.question {
    border: 1px solid #3333;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
  }

code pre {
    background-color: lightgray;
    border-radius: 2px;
}
code {
    background-color: lightgray;
    border-radius: 2px;
}
