*, *:before, *:after
  box-sizing: border-box

$fccGreen = #006400
$fontColor = #888
$fontSizeSmall = 0.75rem

html
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

body
  margin 0

.leaderboard
  .header
    color #fff
    height 4rem
    background-color #006400
    display flex
    justify-content center
    align-items center

.camper-table
  margin 2rem 1rem
  .camper-table-header
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color white
    height: 3rem;
    background-color: $fccGreen;
    font-color white
    .camper-table-rank
      flex 1
      text-align: center
    .camper-table-camper
      flex 1
    .camper-table-recent
      flex 1
      text-align: center
      color lightgrey
      &.active
        color white
      &:hover
        cursor pointer
        color #b4ffa2
    .camper-table-alltime
      flex 1
      text-align: center
      color lightgrey
      &.active
        color white
      &:hover
        cursor pointer
        color #b4ffa2
  .camper-table-users
    display: flex
    flex-direction: column
    .camper-row-user:nth-child(odd)
      background-color: #e1ffe9
    .camper-row-user:nth-child(even)
      background-color: #abefce
    .camper-row-user
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding 0.5rem 0
      .camper-row-rank
        flex 1
        text-align: center
      .camper-row-camper
        flex 1
        a
          display: flex;
          align-items: center;
          text-decoration: none
          color $fccGreen
          &:hover
            text-decoration: underline
        img
          width: 50px
          max-height: 50px
          border: 2px solid $fccGreen;
          border-radius: 0.25rem;
          margin-right: 0.5rem;
      .camper-row-recent
        flex 1
        text-align: center
      .camper-row-alltime
        flex 1
        text-align: center

.made-by
    text-align: center
    color: $fontColor
    margin-bottom: 1rem
    font-size: $fontSizeSmall
    a
      text-decoration: none
      color: #0f88ff
      &:visited
        color: #f95757
      &:hover
        text-decoration: underline
