<aside class="col-md-3 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="centered">About</h4>
    <p class="mb-0"> Welcome to my Blog page, I am writing about topics that interest me or stories from my travels.
      If you want to know more about me follow this link <%= link_to "About me", about_me_path %></p>
  </div>

  <%= source_helper "alert alert-info" %>

  <div class="p-3 centered">
    <h4>Topics</h4>
    <ol class="list-unstyled">
      <% @side_bar_topics.each do |topic| %>
        <li><%= link_to topic.title, topic_path(topic) %></li>
      <% end %>
    </ol>
  </div>
</aside>
