#home {
  margin-bottom: 100px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .image-container {
    width: 100%;
    margin-bottom: 10px;

    .image-desc {
      font-size: 12px;
    }
    img {
      width: 100%;
    }
  }
}
