%h2= @project

.row
  .tasks.span4
    %h3 Tasks
    %ul.tasks=render @project.tasks, :wrapper => :li
    %h4 Add new task
    = render :partial => "tasks/form", :locals => { :project => @project }

  .comments.span4
    %h3 Comments
    %ul.comments=render @project.comments, :wrapper => :li
    %h4 Add new Commment
    = render :partial => "comments/form", :locals => { :commentable => @project }

  .tags.span4
    %h3 Taggings
    %ul.tags=render @project.taggings, :wrapper => :li
    %h4 Add new Tagging
    = render :partial => "taggings/form", :locals => { :taggable => @project }