%h3= t(:recently_added_by, author: link_to(a=@expression.author,a), default: "Recently added by #{link_to(a=@expression.author,a)}").html_safe
%ul.expressions
  = expressions
  %li= link_to icon(:search)+t(:all_expressions_by, author: @expression.author), @expression.author, class: 'btn'
