%h3= t('activerecord.attributes.expression.comments', default: 'Comments')
- comments_contents = capture do
  - if @expression.root_comments.any?
    %ul#comments.unstyled= render @expression.root_comments, state: :list_item
= comments_contents.presence || content_tag(:p, t(:no_comments_yet, default: 'No comments yet'), class: :muted)
- if can?(:create, Comment)
  =link_to '#modal-comment', class: 'btn btn-info add_comment', :'data-toggle' => :modal do
    %i.icon-comment
    =t('.comment.add', default: 'Add your comment')
-else
  %p.muted.small= t('expressions.show.sign_in_to_comment')
