.examples
  %h3 Examples
  %ul.unstyled
    - 2.times do |n|
      %li.example
        .body
          blablabla
          =@expression
          blablabla.
        %small.muted
          %span.author=raw t(:added_by, author: link_to(User.first))
          %span.ago= t(:time_ago, time: time_ago_in_words(Time.now))
        %hr

  =link_to '#modal-tags', class: 'btn btn-info', :'data-toggle' => :modal do
    %i.icon-plus
    contribute an example
