%h3= t('activerecord.attributes.expression.source_info').capitalize
- source_contents = capture do
  - if @expression.created_by_author
    %p= t(:created_by, author: link_to(a=@expression.author,a)).html_safe
  - if @expression.source_info.present?
    %hr/
    = simple_format @expression.source_info
= source_contents.presence || content_tag(:span, t(:info_not_provided_yet, default: 'Information not provided yet'), class: :muted)

