%h3= t '.title', default: 'Translations'
%ul.unstyled
  - for translation in parent.translations
    %li= render translation, state: :list_item
- if can?(:create, Translation)
  =link_to '#modal-translation', class: 'btn btn-info add_translation', data: { toggle: 'modal', purpose: 'add-translation-button' } do
    %i.icon-flag
    =t '.add', default: 'Add your translation'
-else
  %p.muted.small= t '.sign_in_required', default: 'You have to sign in first to add your translations'