- if can? :destroy, @expression
  = link_to expression_path(@expression), :method => :delete, :class => 'destroy-expression btn btn-danger', :confirm => t(:are_you_sure, :default => 'Are you sure ?')  do
    %i.icon-remove-sign
    %span.hidden Remove this expression