
%ul.unstyled
  - 5.times do |n|
    %li.comment
      .body
        Lorem ipsum dolor sit amet !
      %small.muted
        %span.author=raw t(:added_by, author: link_to(User.first))
        %span.ago= t(:time_ago, time: time_ago_in_words(Time.now))
      %hr