.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #9daab6;
}

.token.punctuation {
  color: #e6ecf1;
}

.token.namespace {
  opacity: 0.7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #ff9d3d;
}

.token.property {
  color: #ffd6ad;
}

.token.tag {
  color: #71a7ff;
}

.token.string {
  color: #71a7ff;
}

.token.selector {
  color: #b4f6d6;
}

.token.attr-name {
  color: #ff9d3d;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #71a7ff;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #61e3a5;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #71a7ff;
}

.token.placeholder,
.token.variable {
  color: #71a7ff;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #fff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: 700;
}

.token.important {
  color: #ff7e7b;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #ff7e7b;
  outline-offset: 0.4em;
}

.line-numbers .line-numbers-rows {
  border-right-color: #5c6975;
}

.line-numbers-rows > span:before {
  color: #74818d;
}

.line-highlight {
  background: #e6ecf133;
  background: linear-gradient(to right, #e6ecf133 70%, #e6ecf100);
}
