<div class="columns is-multiline">
  {{ $paginator := .Paginate (where .Pages "Type" "blogs") }}
  <div class="column is-8">
    {{ range $paginator.Pages }}
    <div class="columns">
      <div class="column">{{ .Render "summary" }}</div>
    </div>
    {{ end }} {{ $nextUrl := .Page.URL}} {{ $prevUrl := .Page.URL}} {{ with
    $paginator.HasNext}} {{$nextUrl = printf "%spage/%s" $nextUrl (string (add
    $paginator.PageNumber 1))}} {{ end }} {{ with $paginator.HasPrev }}
    {{$prevUrl = printf "%spage/%s" $prevUrl (string (add $paginator.PageNumber
    -1))}} {{ end }} {{ $currentPage := index $paginator.Pages
    ($paginator.PageNumber)}}

    <nav class="" role="navigation" aria-label="pagination">
      <a
        href="{{$prevUrl}}"
        class="pagination-previous button has-theme {{ if not $paginator.HasPrev }}disabled{{ end }}"
      >
        Previous
      </a>
      <a
        href="{{$nextUrl}}"
        class="pagination-next button has-theme {{ if not $paginator.HasNext }}disabled{{ end }}"
      >
        Next page
      </a>
    </nav>
  </div>
  <div class="column is-2 is-offset-2">
    {{ partial "taxonomies/all-taxonomies" .}}
  </div>
</div>
