:global {
  .opacity-enter {
    opacity: 0.01;

    &.opacity-enter-active {
      opacity: 1;
      transition: opacity 300ms;
    }
  }

  .opacity-leave {
    opacity: 1;

    &.opacity-leave-active {
      opacity: 0.01;
      transition: opacity 200ms;
    }
  }
}
