// Colors

$green: #21a9b1;
$yellow-color: #FCD920;
$red: #E53B51;
$orange: #EC6C20;
$white: #FFFEFF;

$primary-color: $green;

$gray-lighter: #F5F5F5;
$gray-light: #999999;
$gray: #767676;
$gray-dark: #333333;

$placeholder-color: #A9A9A9;

$text-color: $gray-dark;

$danger-color: #e62638;
$success-color: #5cb85c;
$warning-color: $orange;

// Unit

$padding-unit: 14px;
$header-height: 50px;

// Index

$z-index-menu: 10;
$z-index-toolbar: 20;
$z-index-nav: 30;
