%br

%p
  = link_to news_admin_path do
    %i.glyphicon.glyphicon-circle-arrow-left
    Back

%a{ class: 'btn btn-warning pull-right', href: news_send_digests_path, 'data-confirm' =>  'Are you sure ?' }
  %i{ class: 'glyphicon glyphicon-envelope'}
  Send news digests

%h3 Sending news digests (dry run)
%pre= News::SendingAllDigestEmails.new(current_user, dry_run: true).call
