:root {
  --spacing: 8px;
}

* {
  box-sizing: border-box;
}

/* TOP-LEVEL */

html {
  font-family: Cabin, sans-serif;
  font-size: 16px;
  font-display: swap;
  color: #212121;
}

body {
  margin: 0;
}

pre {
  font-family: "Fira Code", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  padding: 0.25rem;
}

.hidden {
  display: none;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 0 var(--spacing);
}

/* HEADER */

header {
  padding: calc(var(--spacing) * 2) 0;
}

.app-title {
  text-align: center;
}

/* MAIN */

.app-subtitle {
  margin: var(--spacing) 0;
}

.main-ctn {
  display: flex;
  flex-direction: column;
}

ul.tree {
  margin: 0;
}

ul.tree li {
  margin: 0.25rem 0 0.25rem 1rem;
  list-style-type: disc;
}

.controls {
  display: none;
}

.btn-link:hover {
  background-color: #eeeeee;
}

.output-tree-ctn {
  padding: var(--spacing);
  border-radius: 5px;
  background-color: #eeeeee;
}
