<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper-inner">
        <div class="title-bar">
          <h1>Mystery Word</h1>
        </div>
        <div class="middle">
          <div class="left">
            <img src="https://www196.lunapic.com/editor/working/150626612589915?1966750393" />
          </div>
          <div class="right">
            <h3>{{displayedWord}}</h3>
            <p>{{loseMessage}}</p>
            <p>Letters guessed: <span class="attempted-letters">{{attemptedLetters}}</span></p>
            <p>{{message}}</p>
            <form class="" action="/attempt" method="post">
              <input autocomplete="true" type="text" name="letter" placeholder="Guess a letter">
              <button type="submit">Guess!</button>
            </form>
            <div class="game-info">
              <p>You have {{counterAttempts}} attempts left</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
