html {
	touch-action:none;
	content-zooming:none;
}
body {
	position:absolute;
	margin:0;
	padding:0;
	background:#333;
	width:100%;
	height:100%;
}
#screen {
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	cursor:pointer;
	background:#000;
	user-select:none;
	overflow:hidden;
}

#scene {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	transform: translateZ(1000px);
	-webkit-transform: translateZ(1000px);
}

#scene img {
	position: absolute;
	visibility:hidden;
	transform-origin:0 0;
	-webkit-transform-origin:0 0;
}

#scene .particle {
	position: absolute;
	transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;
}

#scene .bfh {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}