.restaurants {
  padding-top: 40px;
  padding-bottom: 0;
  border-bottom: 30px solid #3a3a3a;
}

.restaurants img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);

  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.restaurants h2 {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 400%;
  font-weight: bold;
  left: 150px;
  top: 100px;
  font-weight: 400;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.restaurants .img-container {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.restaurants .img-container img:hover,
.restaurants .img-container img:active {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1.03);
}
