/* --------- Icons ---------- */

.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

/* --------- Paragraphs ---------- */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

/* -------------------------------- */
/* FEATURES */
/* -------------------------------- */

.welcome .long-copy {
  margin-bottom: 30px;
}

.welcome h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 400%;
}

.welcome p {
  color: gray;
  text-align: center;
}

/* -------------------------------- */
/* RESTAURANT */
/* -------------------------------- */

.restaurant-detail-wrapper {
  font-size: 80%;
  padding-top: 0;
}

.restaurant {
  padding-bottom: 0;
  border-bottom: 30px solid #171717;
}

.restaurant img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.restaurant h2 {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 400%;
  font-weight: bold;
  left: 150px;
  top: 100px;
  font-weight: 400;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.restaurant .img-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.content p {
  color: white;
}

.content h3,
h2 {
  color: white;
}

.content h2 {
  font-size: 150%;
  margin-bottom: 10px;
}

.content .alergens {
  font-size: 80%;
  color: gray;
}

.food {
  border: 1px solid white;
  padding: 5px;
}

.food .food-price {
  float: right;
}

.restaurant-info {
}

.restaurant-info .title .value {
  font-size: 300%;
}

.restaurant-info .title {
  text-align: center;
}
