<div class="col-md-8 blog-main">
  <span>
    <%= link_to "Write a New Blog", new_blog_path, class: "pull-right" if logged_in?(:site_admin) %>
  </span>

  <%= paginate @blogs %>
  <%= render @blogs %>
  <%= paginate @blogs %>
</div>


