doctype html
html
	head
		title Cards
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		if useExternalStyles
			link(rel="stylesheet", href="/build/app.css")

	body
		#mount

		script(src=scriptRoot + "/vendor.js")
		script(src=scriptRoot + "/app.js")