@import "~bulma/bulma.sass";

a[disabled] {
  pointer-events: none;
}

@media screen and(max-width: 768px) {
  .columns {
    margin-left: 0;
    margin-right: 0;
  }
}

.main-wrapper {
  &.dark {
    .navbar {
      background-color: transparent;
      .navbar-item {
        color: #d8d8d8;
      }

      .navbar-brand {
        .title {
          color: #d8d8d8;
        }
      }
    }

    .title,
    .subtitle,
    .content,
    .post-title {
      color: #d8d8d8;
    }

    .card-content {
      background-color: #232129;
      transition: color 0s ease-out 0s, background 0.2s ease-out 0s;
      .card-body-wrapper {
        background-color: #232129;
        transition: color 0s ease-out 0s, background 0.2s ease-out 0s;
      }
    }

    strong {
      color: #fff;
    }
  }
}

.day-night-toggle.react-toggle {
  &.react-toggle--checked:hover {
    &:not(.react-toggle--disabled) .react-toggle-track {
      background-color: black;
    }
  }

  .react-toggle-track {
    background-color: black;
    &:hover {
      background-color: black;
    }

    &-x,
    &-check {
      right: 8px;
      width: 15px;
      height: 15px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
