body {
  padding-top: 60px;
  padding-bottom: 40px;
}
#navigation {
  background-image: url(./../img/gif/audio.gif);
}
.sidebar {
  height: 420px;
  min-width: 130px;
  position: relative;
}

.sidebarTabs {
  position: absolute;
  bottom: 0px;
}

.sidebarTab {
  height: 380px;
}

.tabContents {
  margin: 0px;
}

.clock {
  position: absolute;
  top: 12px;
}

#VUmeterCanvas {
  position: absolute;
  top: 5px;
  left: 12px;
}

#masterVolume {
  height: 72px;
  position: absolute;
  top: 14px;
  left: 48px;
}

#effectSortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#effectSortable li {
  margin: 3px 3px 3px 0;
  background-color: #e0e0e0;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 1px;
  float: left;
  width: 190px;
  height: 80px;
  font-size: 4em;
  text-align: center;
  position: relative;
}

.hidden {
  display: none;
}

.effectsBed {
  margin-left: 80px;
  position: absolute;
  bottom: 0px;
}

.effectClose {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  position: absolute;
  right: 0px;
  top: 0px;
}

.effectClose:hover,
.effectClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}

.knobs {
  position: absolute;
  left: 5px;
  top: 35px;
}

.left-knob-label {
  font-size: 10px;
  margin-left: 5px;
  position: absolute;
  top: 17px;
}

.middle-knob-label {
  font-size: 10px;
  padding-bottom: 20px;
  top: 17px;
  left: 75px;
  position: absolute;
}

.right-knob-label {
  font-size: 10px;
  margin-right: 5px;
  position: absolute;
  right: 5px;
  top: 17px;
}

.track {
  height: 82px;
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  margin-bottom: 10px;
}

.addTrack {
  opacity: 0.4;
  border: 1px solid #e3e3e3;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 5px;
  transition: opacity 0.5s;
  margin-bottom: 10px;
}

.addTrack:hover {
  opacity: 100;
}

.plusButton {
  width: 50%;
  margin: 0 auto;
}

.trackBox {
  height: 82px;
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.timeline {
  height: 40px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}

.ui-resizable-helper {
  border: 2px dotted #00f;
}

#holder {
  min-height: 100%;
  position: relative;
}

.scrollable {
  overflow-x: scroll;
}

#trackEffects {
  display: none;
  height: 95px;
  position: relative;
}

#masterControl {
  display: none;
  height: 95px;
  position: relative;
}

#reverbList {
  width: 100%;
  font-size: 10px;
}
