<section id="rentalsListing">
  <div class="listing-header">
    {{list-filter filter=(action "search")}}
    <div class="pag-container">
      {{page-numbers showFL=true content=content action=(action "pageClicked")}}
    </div>
    {{#link-to "rentals.new" class="btn btn-primary float-right"}}
      <span>Create Rental</span>
    {{/link-to}}
  </div>

  {{show-rentals-index rentals=model}}

  {{page-numbers showFL=true content=content action=(action "pageClicked")}}
</section>