<div id="img-box" class="img-container">
  <img
    class="img-fluid"
    src="https://dl.dropboxusercontent.com/s/vgia4hor20tkcgp/whiskyShelf.jpg?dl=0"
    alt="Top Shelf Whisky Home Page"
  />
  <h2 id="finest">The Finest Spirits</h2>
  <h3 id="door">Right To Your Door</h3>
  <h1 id="logo">Top Shelf Whisky</h1>
  <h4 id="entrance">
    <i class="fas fa-door-open"></i>
    <a href="/" style="text-decoration:none"> Enter Store</a></h4>
</div>

<div id="mobile-box" class="mobile-container">
  <h1 id="mobile-logo">Top Shelf Whisky</h1>
  <h2 id="micro-finest" class="m-head">The Finest Spirits</h2>
  <h2 id="micro-door" class="m-head">Right To Your Door</h2>
  <h3 id="micro-entrance" class="m-head"><i class="fas fa-door-open"></i>
    <a href="/" style="text-decoration:none"> Enter Store</a></h3>
</div>