.color-buttons-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20vw;
  width: 280px;
}

.color-buttons-wrapper h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 100;
  font-size: 30px;
}

.color-buttons-wrapper h3 {
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;
  font-weight: 100;
  width: 160px;
}

.circle-picker {
  margin-bottom: 1em;
  width: 20vw;
}

@media screen and (max-width: 1200px) {
  .color-buttons-wrapper {
    height: 100%;
  }

  .color-buttons-wrapper h1 {
    margin: 0.5em;
  }
}
