@import "styles/variables";

.menu {
  width: 120px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  z-index: $z-index-menu;

  ul {
    margin: 0;
    padding: 0;
  }

  li a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 0.85em;
    padding: 0 $padding-unit / 2;
    background-color: $white;
    transition: background-color 400ms, border-left 400ms;
    border-left: 2px solid rgba($primary-color, 0);

    &:hover, &.active {
      background-color: $gray-lighter;
      transition: background-color 200ms, border-left 200ms;
      text-decoration: none;
      border-left-color: $primary-color;
    }
  }
}
