.header {
  background: black;
  &-top-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 0.25px solid darkslategray;
    &-title {
      text-decoration: none;
      color: white;
      font-family: Special Elite;
      & h1 {
        text-align: center;
        margin: 0;
        font-weight: 200;
      }
    }
  }
  &-bottom-content {
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-links {
      width: 50%;
      margin: auto;
      padding: 5px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-link {
        text-decoration: none;
        color: lightgray;
        font-family: Rubik;
        font-size: 1.25rem;
      }
    }
  }
}
