html,
body {
  margin: 0;
  padding: 0;
}

.index {
  font-family: Raleway;
  &-title {
    text-align: center;
  }
  &-main {
    width: 70%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-post {
      width: 70%;
      @media only screen and (max-width: 750px) {
        width: 100%;
      }
    }
    &-postlist {
      width: 20%;
      text-align: center;
      & a {
        font-style: italic;
        &:hover {
          color: dodgerblue;
        }
      }
      @media only screen and (max-width: 750px) {
        width: 80%;
      }
    }
    @media only screen and (max-width: 750px) {
      flex-direction: column;
    }
  }
}
