.postblock {
  margin: 60px 0;
  & a {
    color: darkslategray;
    text-decoration: none;
  }
  &-title {
    margin-bottom: 0;
  }
  & small {
    font-style: italic;
  }
  &-image {
    width: 150px;
    float: left;
    margin-right: 20px;
  }
  // & p {
  //     margin: 0;
  // }
  & button {
    background: dodgerblue;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 10px 10px;
    font-family: Rubik;
    cursor: pointer;
    &:hover {
      background: transparent;
      color: dodgerblue;
      border: 1px solid dodgerblue;
      transition: background 0.25s;
    }
  }
}
