.post {
  &-main {
    font-family: Raleway;
    width: 50%;
    margin: auto;
    &-title {
      font-family: Raleway;
      margin-bottom: 0;
    }
    &-date {
      font-family: Rubik;
    }
    &-tags {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
    @media only screen and (max-width: 1300px) {
      width: 60%;
    }
    @media only screen and (max-width: 1000px) {
      width: 70%;
    }
    @media only screen and (max-width: 750px) {
      width: 80%;
    }
    @media only screen and (max-width: 550px) {
      width: 85%;
    }
    @media only screen and (max-width: 450px) {
      width: 90%;
    }
  }
}
