.tag {
  width: 50%;
  margin: auto;
  font-family: Raleway;
  &-title {
    text-align: center;
  }
  &-post {
    margin-bottom: 50px;
    & a {
      text-decoration: none;
    }
    &-title {
      margin-bottom: 0;
    }
    &-date {
      font-style: italic;
    }
    &-image {
      width: 150px;
      float: left;
      margin-right: 20px;
    }
    &-body {
      margin-top: 0;
    }
  }
}
