footer.footer-page
  -
    var date = new Date().getFullYear();
  p Made with #[span(class="rotator") #[span(class="emoji slides") &#x1F37A &#x1F355 &#x1F4AA &#x1F35C &#x1F496]] by #[a.footer-page__link(href="https://github.com/knochenmark") Knochenmark] #{date}©
