include ../includes/spinner

section(id="home")
  .light-half
    .light
  .dark-half
    a(href="https://github.com/Knochenmark/knochenmark.github.io/issues" class="bug-issues" title="report a bug")
      include ../svg/bug.svg
    .dark
      .wrapper
        .top
          h1.author Knochenmark
          h2.subline design. code. experiment.
        nav.home-navigation
          .nav-item
            a(href="#projects" data-i18n="nav:projects") Projects
          .nav-item
            a(href="#about" data-i18n="nav:aboutMe") About Me
          .nav-item
            a(href="#contact" data-i18n="nav:contact") Contact
        #languages
          .language.active English
          .separator |
          .language Deutsch
    .image-wrapper
a(href="#home" class="back-to-top")
  include ../svg/arrow-up.svg
