#mondrian1.offscreen
  hr.horizontal
  span.vertical
  hr.horizontal
  span.vertical
  .rec.yellow
  hr.horizontal
  span.vertical
  .rec.red
  hr.horizontal
  span.vertical
  .rec.blue
  .rec.red
  hr.horizontal
  span.vertical
  .rec.yellow
  .rec.yellow
  .rec.red
  .rec.red
  .rec.yellow
  .rec.blue
  .rec.blue
