<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlet mappings -->
	<servlet>
        <servlet-name>
            Main
        </servlet-name>
        <servlet-class>
            jspbook.ch5.Main
        </servlet-class>
	</servlet>
	<servlet>
        <servlet-name>
            Controller
        </servlet-name>
        <servlet-class>
            jspbook.ch7.Controller
        </servlet-class>
	</servlet>

    <servlet-mapping>
        <servlet-name>
            Main
        </servlet-name>
        <url-pattern>
            /ch5/Main
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            Controller
        </servlet-name>
        <url-pattern>
            /ch7/Controller
        </url-pattern>
    </servlet-mapping>
	
	<!-- Tag Libraries -->
	<taglib>
		<taglib-uri>/simple</taglib-uri>
		<taglib-location>/WEB-INF/tlds/simple.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tableUtils</taglib-uri>
		<taglib-location>/WEB-INF/tlds/utils.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/groceries</taglib-uri>
		<taglib-location>/WEB-INF/tlds/groceries.tld</taglib-location>
	</taglib>
	
	<!-- Describe a DataSource -->
	<resource-ref>
	  <description>
    	Resource reference to a factory for java.sql.Connection
	    instances that may be used for talking to a particular
    	database that is configured in the server.xml file.
	  </description>
	  <res-ref-name>
	    jdbc/QuotingDB
	  </res-ref-name>
	  <res-type>
	    javax.sql.DataSource
	  </res-type>
	  <res-auth>
	    SERVLET
	  </res-auth>
	</resource-ref>
	
</web-app>
