.primary.primary.primary.primary { color: #07c; }
.bg-primary.bg-primary.bg-primary.bg-primary { background-color: #07c; }
.border-primary.border-primary.border-primary.border-primary { border-color: #07c; }
.secondary.secondary.secondary.secondary { color: #001f3f; }
.bg-secondary.bg-secondary.bg-secondary.bg-secondary { background-color: #001f3f; }
.border-secondary.border-secondary.border-secondary.border-secondary { border-color: #001f3f; }
.tertiary.tertiary.tertiary.tertiary { color: #FFDC00; }
.bg-tertiary.bg-tertiary.bg-tertiary.bg-tertiary { background-color: #FFDC00; }
.border-tertiary.border-tertiary.border-tertiary.border-tertiary { border-color: #FFDC00; }
.primary-contrast.primary-contrast.primary-contrast.primary-contrast { color: #fff; }
.bg-primary-contrast.bg-primary-contrast.bg-primary-contrast.bg-primary-contrast { background-color: #fff; }
.border-primary-contrast.border-primary-contrast.border-primary-contrast.border-primary-contrast { border-color: #fff; }
.secondary-contrast.secondary-contrast.secondary-contrast.secondary-contrast { color: #fff; }
.bg-secondary-contrast.bg-secondary-contrast.bg-secondary-contrast.bg-secondary-contrast { background-color: #fff; }
.border-secondary-contrast.border-secondary-contrast.border-secondary-contrast.border-secondary-contrast { border-color: #fff; }
.tertiary-contrast.tertiary-contrast.tertiary-contrast.tertiary-contrast { color: #444; }
.bg-tertiary-contrast.bg-tertiary-contrast.bg-tertiary-contrast.bg-tertiary-contrast { background-color: #444; }
.border-tertiary-contrast.border-tertiary-contrast.border-tertiary-contrast.border-tertiary-contrast { border-color: #444; }
.bg-header.bg-header.bg-header.bg-header { background-color: #fafafa; }
.header.header.header.header { color: #444; }
body { background-color: #fff; color: #444; }
a { color: #07c; text-decoration: none; }
a:hover { color: #07a; text-decoration: underline; }

