#header-wrapper {
  width: 100vw;
  height: 80px;
  background-color: navy;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#toggle {
  cursor: pointer;
  color: black;
  font-size: 60px;
  margin-left: 20px;
  background: transparent;
  border: none;
  padding: 10px;
}

.sidebar {
  height: 100vh;
  padding-left: 20px;
  background-color: navy;
  opacity: 0.8;
  color: white;
  width: 400px;
  position: fixed;
  z-index: 200;
}
