<configuration>
  <system.runtime.remoting>
    <application>
      <client url="http://localhost:13101">
 
        <!-- Allows client activation of Customer type at above URL -->
        <activated type="MathLibrary.Customer, MathLibrary" />
            
      </client>
      
      <!-- Channel must be configured for client side sponsor -->
      <channels>
          <channel port="13102" ref="http"/>
       </channels>
    </application>
  </system.runtime.remoting>
</configuration>
