.beers {
  background: #101d30;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items: center;
  min-height: 100vh;
  &-main {
    margin-top: 23vh;
    &-title {
      color: white;
      font-family: Rubik;
      font-weight: 400;
      font-size: 2.5rem;
      text-align: center;
    }
    &-body {
      width: 100%;
      margin: 100px auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
      gap: 25px;
      justify-items: center;
    }
  }
}
