.beercard {
  width: 280px;
  margin-bottom: 60px;
  &-image {
    width: 280px;
    margin: auto;
  }
  &-heading {
    margin: auto;
    text-align: center;
    font-family: Rubik;
    &-title {
      color: white;
      font-weight: 200;
    }
    &-jtitle {
      color: lightgray;
      font-weight: 200;
    }
  }
  &-description {
    color: white;
    font-family: Rubik;
  }
}
