.brewery {
  background: #101d30;
  background-image: url("../images/brewery_7bbl_dark_strip.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  &-main {
    margin-top: 23vh;
    &-title {
      color: white;
      font-family: Rubik;
      font-weight: 400;
      font-size: 2.5rem;
      text-align: center;
    }
    &-body {
      width: 40%;
      margin: 60px auto;
      padding: 30px 0;
      background: rgba(16, 29, 48, 0.5);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &-description {
        // width: 35%;
        &-heading {
          text-align: center;
          color: white;
          font-family: Rubik;
          font-weight: 400;
        }
        & p {
          text-align: center;
          color: white;
          font-family: Rubik;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .brewery {
    background-image: url("../images/brewery_7bbl_dark_strip1000.jpg");
    &-main {
      &-body {
        width: 60%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .brewery {
    background-image: url("../images/brewery_7bbl_dark_strip1000.jpg");
    &-main {
      &-body {
        width: 80%;
      }
    }
  }
}
