.foodmenu {
  background: rgba(16, 29, 48, 1);
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    text-align: center;
    color: white;
    font-size: 5vw;
    font-family: Raleway;
  }
  &-main {
    // background: #101d30;
    //width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-image {
      width: 50%;
      &-wrap {
        margin: auto;
        width: 17vw;
      }
    }
    &-list {
      width: 50%;
      &-item {
        &-title {
          color: white;
          font-family: Raleway;
        }
        &-description {
          color: white;
          font-family: Raleway;
        }
        &-price {
          color: white;
          font-family: Rubik;
        }
        & h1 {
          font-size: 2vw;
        }
        & h2 {
          font-size: 1.5vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .foodmenu {
    &-main {
      &-list {
        &-item {
          &-description {
            font-size: 1.75vw;
          }
          & h1 {
            font-size: 2.5vw;
          }
          & h2 {
            font-size: 2vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .foodmenu {
    &-main {
      &-list {
        &-item {
          &-price {
            font-size: 1.5vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .foodmenu {
    &-main {
      &-list {
        &-item {
          &-description {
            font-size: 2vw;
          }
          &-price {
            font-size: 2vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .foodmenu {
    &-main {
      &-list {
        &-item {
          &-description {
            font-size: 2.3vw;
          }
          &-price {
            font-size: 2.3vw;
          }
        }
      }
    }
  }
}
