.footer {
  &-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    &-social {
      display: flex;
      &-icon {
        width: 40px;
        padding: 5px;
      }
    }
  }
  & p {
    padding: 0 5px;
    text-align: center;
    color: white;
    font-family: Rubik;
  }
}
