.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  &-contents {
    background-color: #101d30;
    padding: 5px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      width: 178px;
    }
    &-link {
      font-family: "Rubik";
      font-size: 2.5vw;
      font-weight: 200;
      color: white;
      text-decoration: none;
      text-shadow: 1px 1px dodgerblue;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid dodgerblue;
      }
    }
  }
}

img {
  width: 100%;
  height: auto;
  padding: 2px;
}

@media only screen and (max-width: 1400px) {
  .header {
    &-contents {
      padding: 5px 200px;
      &-links {
        padding: 0 100px;
        &-link {
          font-size: 1.75rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .header {
    &-contents {
      padding: 5px 150px;
      &-link {
        font-size: 1.5rem;
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .header {
    &-contents {
      &-logo {
        width: 150px;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .header {
    &-contents {
      padding: 10px 75px;
      &-logo {
        width: 120px;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .header {
    &-contents {
      padding: 10px 50px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .header {
    &-contents {
      padding: 10px 25px;
      &-logo {
        width: 100px;
      }
      &-link {
        font-size: 0.9rem;
      }
    }
  }
}

img {
  width: 100%;
  height: auto;
}
