// @mixin keyframes($animation-name) {
//     @-webkit-keyframes #{$animation-name} {
//       @content;
//     }
//     @-moz-keyframes #{$animation-name} {
//       @content;
//     }
//     @-ms-keyframes #{$animation-name} {
//       @content;
//     }
//     @-o-keyframes #{$animation-name} {
//       @content;
//     }
//     @keyframes #{$animation-name} {
//       @content;
//     }
//   }

//   @mixin animation($str) {
//     -webkit-animation: #{$str};
//     -moz-animation: #{$str};
//     -ms-animation: #{$str};
//     -o-animation: #{$str};
//     animation: #{$str};
//   }

//   @include keyframes(fade-in) {
//     0% { opacity: 0; }
//     100% { opacity: 1; }
//   }

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

.index {
  background: #101d30;
  background-image: url("../images/brewery1bbl_strip.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  &-main {
    margin-top: 25vh;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-image {
      width: 600px;
    }
    &-card {
      width: 50%;
      & h1 {
        color: white;
        font-family: Rubik;
        font-weight: 400;
        font-size: 1.75rem;
      }
      &-links {
        padding: 50px 0;
        display: flex;
        justify-content: space-around;
        & button {
          padding: 20px;
          background: gold;
          border: 1px solid gold;
          border-radius: 2px;
          font-family: Rubik;
          font-size: 1.25rem;
          cursor: pointer;
          &:hover {
            background: transparent;
            border: 1px solid gold;
            color: gold;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .index {
    background-image: url("../images/brewery1bbl1400_strip.jpg");
    &-main {
      &-image {
        width: 500px;
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  .index {
    background-image: url("../images/brewery1bbl1300_strip.jpg");
    &-main {
      padding: 0 2%;
      &-image {
        width: 450px;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .index {
    &-main {
      &-card {
        &-links {
          & button {
            font-size: 1.15rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .index {
    &-main {
      &-card {
        &-links {
          & button {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .index {
    background-image: url("../images/brewery1bbl1000_strip.jpg");
    &-main {
      margin-top: 25vh;
      flex-direction: column;
      &-image {
        width: 400px;
        margin-bottom: 30px;
      }
      &-card {
        width: 70%;
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .index {
    background-image: url("../images/brewery1bbl750_strip.jpg");
    &-main {
      &-card {
        &-links {
          flex-direction: column;
          align-items: center;
          & button {
            margin: 10px 0;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .index {
    background-image: url("../images/brewery1bbl500_strip.jpg");
    &-main {
      margin-top: 25vh;
      &-image {
        width: 300px;
      }
      &-card {
        width: 80%;
        & h1 {
          font-size: 1.25rem;
          margin-top: 40px;
        }
      }
    }
  }
}
