.infocard {
  text-align: center;
  color: white;
  //border: 1px solid darkgray;
  border-radius: 5px;
  //box-shadow: 1px 1px 5px;
  background: rgba(16, 29, 48, 1);
  font-family: Raleway;
  &-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
      width: 50%;
      text-align: center;
      font-family: Raleway;
      font-size: 4vw;
    }
    &-info {
      width: 50%;
      padding: 0 5px;
      font-size: 1vw;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .infocard {
    &-top {
      &-title {
        font-size: 5vw;
      }
      &-info {
        font-size: 1.15vw;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .infocard {
    &-top {
      &-title {
        font-size: 5.5vw;
      }
      &-info {
        font-size: 1.25vw;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .infocard {
    &-top {
      &-title {
        font-size: 6vw;
      }
      &-info {
        font-size: 1.35vw;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .infocard {
    &-top {
      flex-direction: column;
      &-title {
        font-size: 6vw;
        width: 100%;
      }
      &-info {
        font-size: 2vw;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .infocard {
    &-top {
      &-title {
        font-size: 7vw;
        width: 100%;
      }
      &-info {
        font-size: 3vw;
        width: 100%;
      }
    }
  }
}
