.itabashi-taproom {
  background: #101d30;
  background-image: url("../images/itabashi_taproom_collage.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  &-main {
    margin-top: 35vh;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-info {
      width: 70%;
      margin: auto;
    }
    &-beer {
      width: 70%;
      & h1 {
        text-align: center;
        color: white;
        font-family: Raleway;
        font-size: 4vw;
      }
    }
    &-food {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .itabashi-taproom {
    &-main {
      &-info {
        width: 80%;
      }
      &-beer {
        width: 80%;
        & h1 {
          font-size: 5vw;
        }
      }
      &-food {
        width: 80%;
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .itabashi-taproom {
    &-main {
      &-info {
        width: 90%;
      }
      &-beer {
        width: 90%;
        & h1 {
          font-size: 6vw;
        }
      }
      &-food {
        width: 90%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .itabashi-taproom {
    &-main {
      margin-top: 25vh;
    }
  }
}
