.news {
  background: #101d30;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  &-main {
    margin-top: 25vh;
    &-body {
      width: 60%;
      margin: auto;
      &-image {
        width: 35%;
        float: left;
        margin: 0 20px;
      }
      &-text {
        padding: 0 20px;

        & h1 {
          color: slategray;
          font-family: Rubik;
          font-weight: 400;
          margin-bottom: 0;
        }
        & small {
          color: white;
          font-family: Rubik;
          font-style: italic;
        }
        &-content {
          color: white;
          font-family: Rubik;
        }
      }
    }
  }
}

img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1300px) {
  .news {
    &-main {
      &-body {
        width: 70%;
      }
    }
  }
}
@media only screen and (max-width: 850px) {
  .news {
    &-main {
      &-body {
        width: 75%;
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .news {
    &-main {
      &-body {
        display: flex;
        flex-direction: column;
        width: 75%;
        &-image {
          margin: auto;
          width: 70%;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .news {
    &-main {
      &-body {
        &-image {
          width: 90%;
        }
      }
    }
  }
}
