.newsfeed {
  background: rgba(16, 29, 48, 0.5);
  padding: 10px 0;
  //border: 1px solid white;
  &-top {
    padding: 0 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-thumb {
      width: 90px;
      min-width: 80px;
    }
    &-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: Rubik;
      text-align: left;
      padding: 0 40px;
      &-link {
        color: white;
        &:hover {
          color: slategray;
        }
        & h2 {
          margin-bottom: 0;
          font-size: 1.5rem;
          font-weight: 500;
        }
      }

      & small {
        font-style: italic;
      }
    }
  }
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: auto;
  padding: 1px;
  border: 1px solid #021a40;
}

@media only screen and (max-width: 750px) {
  .newsfeed {
    &-top {
      &-heading {
        &-link {
          & h2 {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 650px) {
  .newsfeed {
    &-top {
      &-heading {
        padding: 0 20px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .newsfeed {
    &-top {
      //flex-direction: column;
      &-heading {
        &-link {
          & h2 {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
