.tapbeer {
  font-family: Raleway;
  color: white;
  margin: 10px 0;
  padding: 1% 3%;
  width: 30vw;
  &-top {
    background: black;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-image {
      width: 15vw;
    }
    &-name {
      width: 15vw;
      & p {
        text-align: center;
        font-size: 1vw;
      }
    }
  }
  &-center {
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-origin {
      width: 15vw;
      text-align: center;
      font-size: 1.15vw;
    }
    &-details {
      width: 15vw;
      text-align: center;
      font-size: 1vw;
    }
  }
  &-bottom {
    //background: white;
    color: white;
    font-size: 1.25vw;
  }
}

@media only screen and (max-width: 1400px) {
  .tapbeer {
    width: 34vw;
    &-top {
      &-image {
        width: 17vw;
      }
      &-name {
        width: 17vw;
        & p {
          font-size: 1.15vw;
        }
      }
    }
    &-center {
      &-origin {
        width: 17vw;
      }
      &-details {
        width: 17vw;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .tapbeer {
    width: 38vw;
    &-top {
      &-image {
        width: 19vw;
      }
      &-name {
        width: 19vw;
        & p {
          font-size: 1.15vw;
        }
      }
    }
    &-center {
      &-origin {
        width: 19vw;
        font-size: 1.5vw;
      }
      &-details {
        width: 19vw;
        font-size: 1.1vw;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .tapbeer {
    width: 42vw;
    &-top {
      &-image {
        width: 21vw;
      }
      &-name {
        width: 21vw;
        & p {
          font-size: 1.25vw;
        }
      }
    }
    &-center {
      &-origin {
        width: 21vw;
        font-size: 1.5vw;
      }
      &-details {
        width: 21vw;
        font-size: 1.2vw;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .tapbeer {
    width: 48vw;
    &-top {
      &-image {
        width: 24vw;
      }
      &-name {
        width: 24vw;
        & p {
          font-size: 1.5vw;
        }
      }
    }
    &-center {
      &-origin {
        width: 24vw;
        font-size: 1.8vw;
      }
      &-details {
        width: 24vw;
        font-size: 1.3vw;
      }
    }
    &-bottom {
      font-size: 1.5vw;
    }
  }
}

@media only screen and (max-width: 750px) {
  .tapbeer {
    width: 52vw;
    &-top {
      &-image {
        width: 26vw;
      }
      &-name {
        width: 26vw;
        & p {
          font-size: 1.7vw;
        }
      }
    }
    &-center {
      &-origin {
        width: 26vw;
        font-size: 1.8vw;
      }
      &-details {
        width: 26vw;
        font-size: 1.5vw;
      }
    }
    &-bottom {
      font-size: 1.8vw;
    }
  }
}

@media only screen and (max-width: 550px) {
  .tapbeer {
    width: 64vw;
    &-top {
      &-image {
        width: 32vw;
      }
      &-name {
        width: 32vw;
        & p {
          font-size: 2.2vw;
        }
      }
    }
    &-center {
      &-origin {
        width: 32vw;
        font-size: 2.2vw;
      }
      &-details {
        width: 32vw;
        font-size: 1.8vw;
      }
    }
    &-bottom {
      font-size: 2.4vw;
    }
  }
}

@media only screen and (max-width: 400px) {
  .tapbeer {
    width: 74vw;
    &-top {
      &-image {
        width: 37vw;
      }
      &-name {
        width: 37vw;
        & p {
          font-size: 2.5vw;
        }
      }
    }
    &-center {
      &-origin {
        width: 37vw;
        font-size: 2.6vw;
      }
      &-details {
        width: 37vw;
        font-size: 2vw;
      }
    }
  }
}
