.taplist {
  //background: #101d30;
  background: rgba(16, 29, 48, 1);
  //width: 100vw;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 600px) {
  .taplist {
    margin-top: 125px;
  }
}
