.taprooms {
  background: #101d30;
  background-image: url("../images/itabashi_taproom_collage.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  &-main {
    margin-top: 23vh;
    &-title {
      text-align: center;
      color: white;
      font-family: Rubik;
      font-weight: 400;
      font-size: 2.5rem;
    }
    &-body {
      width: 75%;
      margin: auto;
      margin-top: 75px;
      display: flex;
      justify-content: space-between;
      &-card {
        border: 0.5px solid rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        padding: 15px;
        padding-right: 18px;
        background: black;
        &-image {
          width: 30vw;
        }
        &-title {
          text-align: center;
          color: white;
          font-family: Rubik;
          font-weight: 200;
          font-size: 1.8vw;
          margin: 25px 0;
        }
        &-links {
          //margin: 30px auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          & a {
            text-decoration: none;
          }
          & button {
            width: 9vw;
            height: 50px;
            padding: 5px 0;
            font-size: 1.1vw;
            background-image: linear-gradient(
              to right,
              orange 0%,
              gold 50%,
              orange 100%
            );
            border: 1px solid transparent;
            border-radius: 3px;
            cursor: pointer;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            &:hover {
              background: none;
              border: 1px solid gold;
              color: rgb(250, 215, 60);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .taprooms {
    &-main {
      &-body {
        width: 80%;
        &-card {
          &-image {
            width: 35vw;
          }
          &-links {
            & button {
              width: 10vw;
              font-size: 1.2vw;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  .taprooms {
    &-main {
      &-body {
        width: 82%;
        &-card {
          &-image {
            width: 37vw;
          }
          &-links {
            & button {
              width: 11vw;
              font-size: 1.3vw;
              height: 45px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .taprooms {
    &-main {
      &-body {
        width: 87%;
        &-card {
          &-image {
            width: 40vw;
          }
          &-links {
            & button {
              width: 12vw;
              font-size: 1.4vw;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .taprooms {
    background-image: url("../images/itabashi_taproom_collage_1000.jpg");
    &-main {
      &-body {
        width: 65vw;
        flex-direction: column;
        &-card {
          margin-bottom: 80px;
          &-image {
            margin: auto;
            width: 60vw;
          }
          &-title {
            font-size: 2.5vw;
          }
          &-links {
            margin: 0 auto;
            width: 60vw;
            & button {
              width: 15vw;
              font-size: 1.6vw;
              height: 43px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .taprooms {
    &-main {
      &-body {
        &-card {
          &-image {
            margin: auto;
            width: 60vw;
          }
          &-title {
            font-size: 2.5vw;
          }
          &-links {
            & button {
              width: 15vw;
              font-size: 1.8vw;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .taprooms {
    &-main {
      &-body {
        width: 67vw;
        &-card {
          &-title {
            font-size: 2.8vw;
          }
          &-links {
            flex-direction: column;
            & button {
              width: 30vw;
              font-size: 3vw;
              height: 50px;
              margin: 7px auto;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .taprooms {
    &-main {
      &-body {
        width: 69vw;
        &-card {
          &-title {
            font-size: 3.5vw;
          }
          &-links {
            & button {
              width: 35vw;
              font-size: 3.5vw;
            }
          }
        }
      }
    }
  }
}

// @media only screen and (max-width: 1700px) {
//     .taprooms {
//         &-main {
//             &-body {
//                 width: 85%;
//             }
//         }
//     }
// }

// @media only screen and (max-width: 1550px) {
//     .taprooms {
//         &-main {
//             &-body {
//                 width: 90%;
//             }
//         }
//     }
// }

// @media only screen and (max-width: 1450px) {
//     .taprooms {
//         &-main {
//             &-body {
//                 width: 95%;
//             }
//         }
//     }
// }
