.taproomheader {
  position: fixed;
  width: 100%;
  z-index: 1;
  &-contents {
    background-color: #101d30;
    padding: 5px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      width: 178px;
    }
    &-title {
      text-align: center;
      color: white;
      font-family: Rubik;
      font-weight: 200;
      font-size: 3.5vw;
      text-shadow: 1px 1px dodgerblue;
    }
    &-links {
      display: flex;
      flex-direction: column;
      &-link {
        font-family: "Rubik";
        font-size: 1.5vw;
        font-weight: 200;
        color: white;
        text-decoration: none;
        text-shadow: 1px 1px dodgerblue;
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid dodgerblue;
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .taproomheader {
    &-contents {
      padding: 5px 200px;
      &-links {
        &-link {
          font-size: 1.75rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .taproomheader {
    &-contents {
      padding: 5px 150px;
      &-title {
        font-size: 4vw;
      }
      &-links {
        &-link {
          font-size: 1.25rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .taproomheader {
    &-contents {
      padding: 5px 100px;
      &-logo {
        width: 150px;
      }
      &-title {
        font-size: 5vw;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .taproomheader {
    &-contents {
      padding: 10px 50px;
      &-logo {
        width: 120px;
      }
      &-title {
        font-size: 6vw;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .taproomheader {
    &-contents {
      padding: 10px 25px;
      &-links {
        &-link {
          font-size: 1rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .taproomheader {
    &-contents {
      padding: 10px 15px;
      &-logo {
        width: 100px;
      }
      &-title {
        font-size: 5.25vw;
      }
      &-links {
        &-link {
          font-size: 0.8rem;
        }
      }
    }
  }
}

img {
  width: 100%;
  height: auto;
}
