%h1 Tempo
%div{ the('activities-list') }
  %h2 Activities
  - activities.each do |activity|
    %a{ href: activity_path( activity ) }= activity.name
    %ul
      - activity.months.reverse.each do |m|
        %li #{ m.year }-#{ "%02d" % m.month }
