/* Example 1 */
/* Blue: 51, 88, 183 */

.btn {
  --color: 32, 178, 170; /* Choose RGB in order to use it with box-shadow */
  --br: 5px;
  background: rgb(var(--color));
  border-radius: var(--br);
  padding: 0.5rem calc(1 / 18 * var(--custom-size, 18) * 1rem); /* Default margin: 1rem */
  box-shadow: 0 5px 15px rgba(var(--color), 0.4);
  font-size: calc(var(--custom-size, 18) * 1px); /* Default font-size: 18px */
}

.btn:hover {
  border: 2px solid rgb(var(--color));
  color: rgb(var(--color));
  background: none;
}

.btn--red {
  --color: 198, 39, 39;
}

.btn--round {
  --br: 100rem;
}

.btn--big {
  --custom-size: 24; /* Aware of the DOM! */
}

/* Example 2 */
/* https://www.youtube.com/watch?v=kZOJCVvyF-4 */

* {
  outline: var(--outline);
  /* --outline: initial; */
  --border: initial;
}

.block1 {
  --outline: 5px solid black;
}

div {
  border: var(--border);
}

.block2 {
  --border: 5px solid red;
}

.block2 div {
  --border: inherit;
}

/* Example 3 */

@media (max-width: 940px) {
  .example-3 .btn {
    --color: 51, 88, 183;
  }
}

/* Example 4 */

.inner-eye {
  /* --mouse-x and --mouse-y are in the range of 0 - 1 */
  transform: translate(
    calc(-15px + 30px * var(--mouse-x)),
    calc(-15px + 30px * var(--mouse-y))
  );
}

/* Codepen: https://codepen.io/electerious/pen/MQrRxX */

.special-button {
  position: relative;
  background: #f72359;
  padding: 0.75rem 2rem;
  border: none;
  color: white;
  font-size: 0.85rem;
  margin-top: 2rem;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
}

.special-button span {
  position: relative;
  pointer-events: none;
}

.special-button:before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.special-button:hover:before {
  --size: 350px;
}

:root {
  --themeColor: #05966a;
}

#theme-site h3 {
  background: var(--themeColor);
}

#theme-site h4 {
  color: var(--themeColor);
}

#theme-site .subtitle {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25))
    var(--themeColor);
}

#theme-site footer {
  background: var(--themeColor);
}

/* Example 5 */
/* https://twitter.com/DavidKPiano/status/984430690870677504 */

.item {
  animation: slide-left 0.3s both;
  animation-delay: calc(var(--i) * 1s); /* --i gets increased by Vue */
}

@keyframes slide-left {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
}

/* Example 6 */
/* https://frontstuff.io/multi-colored-svg-symbol-icons-with-css-variables */

.icon {
  --icon-standard: slategrey;
  /* You could also define --handle-color etc. here instead of in the svg */
}

.icon--color {
  --handle-color: #c13127;
  --cup-color: #ef5b49;
  --smoke-color: #cacaea;
}

.icon--color-alt {
  --handle-color: #1f2bac;
  --cup-color: #2f3fff;
  --smoke-color: #a5acbd;
}
