html {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  --bgCol: initial;
}

.hidden {
  display: none;
}

header {
  margin-bottom: 2rem;
}

header a {
  font-size: 0.8rem;
  text-decoration: none;
  color: tomato;
  font-weight: 700;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

header h3 {
  margin-top: 0;
}

.example-1 {
  --bgCol: lightblue;
}

.example-2 {
  --bgCol: lightcoral;
}

.example-3 {
  --bgCol: lightgrey;
}

.example-4 {
  --bgCol: lightgreen;
}

.example-5 {
  --bgCol: lightsalmon;
}

.example-6 {
  --bgCol: lightgoldenrodyellow;
}

.example {
  padding: 1rem;
  overflow-x: hidden;
  margin: 2rem 0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: var(--bgCol);
}

.example p {
  margin: 0.75rem 0;
  font-size: 20px;
}

.example h4 {
  margin-top: 0;
}

.example__content {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.example h4 {
  margin-bottom: 0rem;
}

#content {
  margin: 0;
  text-align: center;
  padding: 1rem;
}

.btn {
  border: 2px solid transparent;
  transition: all 0.5s;
  outline: none;
  margin: 0.25rem;
  color: white;
  cursor: pointer;
}

.example-2 .example__content,
.example-6 .example__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block1,
.block2 {
  height: 100px;
  width: 100px;
  background: lightslategrey;
  margin: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block1 div,
.block2 div {
  height: 30px;
  width: 30px;
  background: gold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#theme-site {
  margin-top: 2rem;
}

#theme-site header {
  margin-bottom: 1rem;
}

#theme-site main {
  padding: 2rem 0;
}

#theme-site h3 {
  color: white;
  margin: 0;
  padding: 1rem;
}

#theme-site .subtitle {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  color: white;
}

#theme-site footer {
  padding: 1rem;
  color: white;
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0.5rem 1rem;
}

@media (max-width: 700px) {
  #content {
    padding: 1rem 0.5rem;
  }
  .block1,
  .block2 {
    margin: 0.5rem 0.5rem;
  }
  #frank {
    width: 250px;
  }
  .icon {
    margin: 0.5rem;
  }
}
