:root {
  --panelBackground: #f1f1f1;
  --task: #006a94;
  --lightText: #e8eddf;

  --appFont: Arial, Helvetica, sans-serif;
}

body, html {
  height: 100%;
  background: linear-gradient(var(--task), #64ace6);
  height: 100%;
  width: 100%;
  overflow: hidden;
}



.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: var(--light);
  height: 100%;
  border-right: 1px solid #333;
  width: 75px;
}
