body {
  zoom:170%;
}
    span.cls_002 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 18.6px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    div.cls_002 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 18.6px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    span.cls_003 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 14.5px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    div.cls_003 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 14.5px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    span.cls_004 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 8.3px;
      color: rgb(64, 120, 191);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_004 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 8.3px;
      color: rgb(64, 120, 191);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_005 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 7.1px;
      color: rgb(64, 120, 191);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_005 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 7.1px;
      color: rgb(64, 120, 191);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_006 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 12.4px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    div.cls_006 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 12.4px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    span.cls_007 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 8.3px;
      color: rgb(51, 51, 51);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_007 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 8.3px;
      color: rgb(51, 51, 51);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_008 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 8.3px;
      color: rgb(119, 119, 119);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_008 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 8.3px;
      color: rgb(119, 119, 119);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_009 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 7.1px;
      color: rgb(51, 51, 51);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_009 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 7.1px;
      color: rgb(51, 51, 51);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_010 {
      font-family: "Liberation Sans Narrow Italic", serif;
      font-size: 7.1px;
      color: rgb(153, 153, 135);
      font-weight: normal;
      font-style: italic;
      text-decoration: none
    }

    div.cls_010 {
      font-family: "Liberation Sans Narrow Italic", serif;
      font-size: 7.1px;
      color: rgb(153, 153, 135);
      font-weight: normal;
      font-style: italic;
      text-decoration: none
    }

    span.cls_011 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 7.1px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    div.cls_011 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 7.1px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    span.cls_012 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 7.1px;
      color: rgb(0, 0, 128);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_012 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 7.1px;
      color: rgb(0, 0, 128);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_013 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 7.1px;
      color: rgb(0, 128, 128);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_013 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 7.1px;
      color: rgb(0, 128, 128);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_014 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 7.1px;
      color: rgb(221, 17, 68);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_014 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 7.1px;
      color: rgb(221, 17, 68);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_015 {
      font-family: "Liberation Sans Narrow Italic", serif;
      font-size: 8.3px;
      color: rgb(51, 51, 51);
      font-weight: normal;
      font-style: italic;
      text-decoration: none
    }

    div.cls_015 {
      font-family: "Liberation Sans Narrow Italic", serif;
      font-size: 8.3px;
      color: rgb(51, 51, 51);
      font-weight: normal;
      font-style: italic;
      text-decoration: none
    }

    span.cls_016 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 8.3px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    div.cls_016 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 8.3px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    span.cls_017 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 7.1px;
      color: rgb(0, 134, 179);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_017 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 7.1px;
      color: rgb(0, 134, 179);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_018 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 10.4px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    div.cls_018 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 10.4px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    span.cls_019 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 7.1px;
      color: rgb(68, 84, 135);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    div.cls_019 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 7.1px;
      color: rgb(68, 84, 135);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    span.cls_020 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 7.1px;
      color: rgb(0, 153, 37);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_020 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 7.1px;
      color: rgb(0, 153, 37);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_021 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 10.6px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    div.cls_021 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 10.6px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    span.cls_022 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 8.8px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    div.cls_022 {
      font-family: "Liberation Sans Narrow Bold", serif;
      font-size: 8.8px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-style: normal;
      text-decoration: none
    }

    span.cls_023 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 9.8px;
      color: rgb(51, 51, 51);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_023 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 9.8px;
      color: rgb(51, 51, 51);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    span.cls_024 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 10.1px;
      color: rgb(0, 0, 0);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }

    div.cls_024 {
      font-family: "Liberation Sans Narrow", serif;
      font-size: 10.1px;
      color: rgb(0, 0, 0);
      font-weight: normal;
      font-style: normal;
      text-decoration: none
    }
