- wrapper ||= :div
- individual ||= false

- if individual
  %h2= task
  =simple_format task.body
  .comments.span4
    %h3 Comments
    %ul.comments=render task.comments, :wrapper => :li
    %h4 Add new Commment
    = render :partial => "comments/form", :locals => {:commentable => task}
- else
  = content_tag_for wrapper, task do
    = link_to task, task