.user-guide-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 80%;
}

.user-guide-wrapper h1 {
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.user-guide-wrapper h5{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 1em;
  transition: 0.5s;
}

.user-guide-wrapper h5:hover{
  letter-spacing: 1px;
  transition: 0.5s;
}

.ug-text-1.expanded-false p, .ug-text-2.expanded-false p {
  height: 0;
  opacity: 0;
}

.ug-text-1.expanded-true p, .ug-text-2.expanded-true p {
  -webkit-animation: fade-in 1s forwards;
  -webkit-animation-delay: 1s;
  animation: fade-in 1s forwards;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 16px;
  opacity: 0;
  overflow: hidden;
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
   }
}

@media screen and (max-width: 1200px) {
  .user-guide-wrapper {
    align-items: center;
    width: 50vw;
  }

  .user-guide-content {
    display: flex;
    width: 50vw;
    justify-content: space-between;
  }

  .user-guide-wrapper h5{
    font-size: 18px;
    padding: 10px;
    margin: 10px;
  }

  .ug-text-1, .ug-text-2 {
    display: flex;
    flex-direction: column;
    height: 20em;
    width: 20em;
  }
}
