<img src="/assets/img/404.jpg" width="446" height="353" class="img-polaroid">
<p>By <a href="http://dribbble.com/lobanovskiy" target="_blank">Eddie Lobanovskiy</a> @ <a href="http://dribbble.com/shots/608554-404-bulb" target="_blank">Dribbble</a></p>