@import url("https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css");

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #7a9d96;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
}

h1,h2 {
  text-align: center;
  /* margin-bottom: 2em; */
}

footer {
  text-align: center;
  margin-top: 5em;
  color: #fff;
}

footer a, footer a:visited {
  color: #00303f;
  text-decoration: none;
}

.scene {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.choices {
  display: flex;
  justify-content: space-between;
}

.choice {
  background: #fff;
  transition: background 600ms ease-in;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.choice:hover {
  background: #CAE4D8;
}

.choice img {
  width: 150px;
  height: 150px;
}

.choice span {
  margin-top: 1em;
}

.choice span {
  font-size: 1.3em;
  font-weight: 425;
}

.github-fork-ribbon:before {
  background: #00303f;
}

.game-over-container  {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 1em;
  text-align: center;
}

.game-over-container button {
  background: green;
  color: #fff;
  border: none;
  padding: 1em;
  font-size: 1.1em;
  margin: 1em auto;
}

@media (max-width: 775px) {
  .choices {
    flex-direction: column;
  }
  .choice {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
  }
}

@media (max-width: 575px) {
  .github-fork-ribbon {
    display: none;
  }
}