extends layout.pug

block content

  mixin option(value, text)
    option(value=value selected=(value === favoriteBeatle)) #{text}

  h1= title
  include includes/form_errors
  form(action=`/create-interesting` method='post')
    include includes/basic_info
    .form-group
      label(for='age') Age:
      input(type="number" id='age' class="form-control" name="age" value=age)
    .form-group
      label(for='favorite-beatle') Favorite Beatle
      select#favorite-beatle.form-control(name='favoriteBeatle')
        +option('', '--Please choose an option--')
        +option('John', 'John')
        +option('Paul', 'Paul')
        +option('Ringo', 'Ringo')
        +option('George', 'George')
        +option('Scooby-Doo', 'Scooby-Doo')
    .form-check
      input#iceCream.form-check-input(type='checkbox' checked=(iceCream === 'on') name="iceCream")
      label.form-check-label(for='iceCream') Likes Ice Cream
    div
      input(type='submit' class='btn btn-primary' value='Create Interesting User')
