<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <system.runtime.remoting>
    <application name="RemotingExample">

      <service>
        <wellknown mode="SingleCall" type="RemotingLib.RemotingExample, RemotingLib" objectUri="RemotingExample.rem" />
      </service>

      <channels>
        <channel port="7777" ref="tcp" />
      </channels>

    </application>
  </system.runtime.remoting>
</configuration>
