details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

div {
    display: block;
}

* {
    box-sizing: border-box;
}

html {
    color: #0e1318;
    font-family: "Open Sans",sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
}

/*
========================================
========================================
HEADER N NAV HEADER N NAV  HEADER N NAV
========================================
========================================
*/
.header {
  background-color: #fff;
  position: relative;
  width: 100%;
  padding: 8px 0;
}

.row {
  position: relative;

}

nav {
  color: #2C7873;
}

/*
========================================
========================================
BODY BODY BODY BODY BODY BODY BODY BODY
========================================
========================================
*/


section {
 margin-left: 8px;
 margin-right: 8px;
 margin-top:40px;
}

.button-primary {
  color
}

a:link {}

h1, h2, h3, h4 {
  font-family:"Lato", "monospace", sans-serif;
}




img {
  height:300px;
}

::selection {
  background: #00c4cc;
  color: #fff;
  text-shadow: none;
}
