<configuration>
  <system.runtime.remoting>
    <application>
	  <lifetime leaseTime="10s" renewOnCallTime="5s" />
      <service>
        <activated type="MathLibrary.SimpleMath, MathLibrary" />
      </service>
      <channels>
        <channel port="13101"                
                 ref="http" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
