body{
    background-color: #DFDFDF
}

#game-board{
    background-color: white;
    margin: auto;
    width: 600px;
    padding: 1em;
}

#score{
    font-size: 1.5em;
    margin: 1.25em o;

}

#answer{
    font-size: 1.5em;
    margin: 1.25em o;
}

#value{
    font-size: 1.25em;
    margin: 1.25em o;
}

#question{
    font-size: 1.25em;
    margin: 1.25em o;
}

#category-title{
    font-size: 1em;
    margin: 1.25em o;
}

#invalid-count{
    font-size: 1em;
    margin: 1.25em o;
}

.is-hidden {
    display: none;

}
