<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex text-center">
        <div class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" placeholder="Github Username" [(ngModel)]="user">
          </div>
          <button type="submit" class="btn btn-primary mb-2" (click)="loadRepos()" [disabled]="user.length === 0">Load</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="f c">
  <ul *ngIf="repos.repos.length && !repos.error">
    <li *ngFor="let repo of repos.repos">
      <a [routerLink]="['/view-repo', user, repo.name]">
        {{repo.name}}
      </a>
    </li>
  </ul>
  <div *ngIf="repos.error">
    {{repos.error.message}}
  </div>
  <div *ngIf="repos.active">Loading ...</div>
</div>