body {
  background-color: #64ddb1;
}

.section {
  background-color: #f1fffa;
  border-radius: 1pc;
  width: 90%;
  margin: auto;
  padding: 10px;
  position: relative;
  margin-bottom: 40px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.sub-section {
  background-color: #4dc0b8;
  border-radius: 1pc;
  width: 85%;
  margin: auto;
  padding: 10px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 35px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.inner-sub-section {
  background-color: #f2f3f4;
  border-radius: 1pc;
  width: 90%;
  margin: auto;
  padding: 10px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.image {
  width: 85%;
  border-radius: 1pc;
}

.image-box {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  font-size: 500%;
  background-color: #1ba79d;
  background-color: ;
  border-radius: 1pc;
  width: 90%;
  margin: auto;
  padding: 10px;
  position: relative;
  margin-bottom: 40px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

h2 {
  text-align: center;
  font-size: 250%;
  background-color: #1ba79d;
  border-radius: 1pc;
  width: 85%;
  margin: auto;
  padding: 10px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 25px;
  box-shadow: 5px 4px 3px rgba(0, 0, 0, 0.4);
}

h3 {
  text-align: center;
  font-size: 200%;
}

ul {
  background-color: #74d5dd;
  border-radius: 1pc;
  width: 90%;
  margin: auto;
  padding: 10px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  list-style-position: inside;
}

.quote {
  background-color: #74d5dd;
  border-radius: 1pc;
  width: 90%;
  margin: auto;
  padding: 10px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  background-color: #74d5dd;
  border-radius: 1pc;
  width: 90%;
  margin: auto;
  padding: 10px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

pre {
  background-color: #f2f3f4;
  width: 90%;
  margin: auto;
  padding: 10px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 1pc;
}
