body {
  margin: 0;
  padding: 0;
}

.app {
  align-items: center;
  background: url('https://static.pexels.com/photos/1526/dark-blur-blurred-gradient.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  overflow: hidden;
  width: 100vw;
}

.app-mesh-display {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
}

.app-user-menu {
  width: 20vw;
}


@media screen and (max-width: 1200px) {
  .app {
    flex-direction: column;
  }

  .app-mesh-display {
    height: 70vh;
  }

  .app-user-menu {
    align-items: center;
    display: flex;
    height: 30vh;
    justify-content: center;
    width: 100vw;
  }
}
