- membership ||= Membership.new

= simple_form_for membership, url: '/memberships', html: { method: :post } do |f|
  = f.association :project, label: 'Member of', collection: projects
  = f.hidden_field :user_id, value: person.id
  = f.button :button, 'Create membership'

