<div class="blog-detail-header">
  <div
    class="is-flex is-flex-direction-row is-justify-content-space-between mb-2"
  >
    <div class="is-flex">
      <div>
        {{ $authorSrc := $.Param "author.image" }}
        <figure class="image is-64x64 mr-2">
          <img
            src="{{ $authorSrc | relURL }}"
            class="is-rounded"
            alt="avatar"
          />
        </figure>
      </div>
      <div class="is-flex is-flex-direction-column is-justify-content-center">
        <div class="blog-author">{{$.Param "author.name"}}</div>
        <div class="blog-date">
          {{ dateFormat .Site.Params.dateFormat ($.Param "date") }}
        </div>
      </div>
    </div>
  </div>
  <h1 class="font-weight-bold blog-detail-header-title mb-0">
    {{$.Param "title"}}
  </h1>
  <h2 class="blog-detail-header-subtitle font-weight-bold mb-5">
    {{$.Param "subtitle"}}
  </h2>
  {{ $imgSrc := $.Param "image" }}
  <img
    class="img-fluid rounded"
    src="{{ $imgSrc | relURL }}"
    alt="TODO: provide alt"
  />
</div>
