<div *ngIf="(repoContentStateActive$ | async) as active; else loading">

  <div *ngIf="(repoContentStateContent$ | async) as content">
      <tree-root
      [nodes]="nodes"
      [options]="options"
      (activate)="onSelect($event)"></tree-root>
    <!-- <ul>
      <li *ngFor="let cntnt of content.tree ">
        <span *ngIf="cntnt.type==='tree' ">{{cntnt.name}}</span>
        <span class="clickable " *ngIf="cntnt.type !=='tree' " (click)="loadFile(cntnt)"> {{cntnt.name}}</span>
      </li>
    </ul> -->
  </div>
</div>

<ng-template #loading>
  Loading...
</ng-template>