/* general elements styles */

body {
  margin: 0;
  font: 10px verdana, geneva, arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

td,
th,
.bod,
font {
  font: 10px verdana, geneva, arial, sans-serif;
  color: #000000;
}

b,
strong {
  font-weight: bold;
}

a {
  font: 10px verdana, geneva, arial, sans-serif;
  color: #485c98;
  text-decoration: none;
}

a:hover {
  color: #687fc0;
}

/* custom styles */

.logo {
  font: 15px Georgia, Times;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  width: 122px;
  height: 19px;
  background-color: #22397a;
  position: absolute;
  top: 15px;
  left: 0px;
  z-index: 10;
}

.header {
  font: 12px verdana, geneva, arial, sans-serif;
  color: #485e9c;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.section {
  font: 11px verdana, geneva, arial, sans-serif;
  color: #000000;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.copy {
  font: 10px verdana, geneva, arial, sans-serif;
  color: #000000;
  padding-bottom: 5px;
}

.listrow1 {
  font: 10px verdana, geneva, arial, sans-serif;
  color: #000000;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-right: 2px;
}

.listrow0 {
  font: 10px verdana, geneva, arial, sans-serif;
  color: #000000;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-right: 2px;
  text-decoration: line-through;
}

.formlabel {
  font: 10px verdana, geneva, arial, sans-serif;
  font-weight: bold;
  color: #000000;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.banner {
  padding-top: 15px;
  padding-bottom: 10px;
}

.dotrule {
  background-image: url(../_img/bg_15dot_rule.gif);
}

.error {
  padding-top: 15px;
  color: #990000;
}

.paging {
  padding-top: 5px;
  padding-bottom: 5px;
}

.forumhead {
  background: #cccccc;
  padding: 6px;
  margin-bottom: 6px;
}

.forumreplyhead {
  color: #333333;
  margin-bottom: 12px;
}

/* form field styles */

.textfield {
  font: 10px verdana, geneva, arial, sans-serif;
  padding: 1px;
  padding-left: 2px;
  padding-bottom: 2px;
  color: #000000;
  border: 1px #000000 solid;
  width: 200px;
  background-color: #f6f6f6;
}

.textarea {
  font: 10px verdana, geneva, arial, sans-serif;
  padding: 1px;
  padding-left: 2px;
  padding-bottom: 2px;
  color: #000000;
  border: 1px #000000 solid;
  width: 400px;
  background-color: #f6f6f6;
}

.submenu {
  padding-top: 5px;
  padding-left: 5px;
}

/* anchor styles */

a.menu {
  font: 10px verdana, geneva, arial, sans-serif;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

a.menu:hover {
  color: #ffffff;
}

a.submenu {
  font: 9px verdana, geneva, arial, sans-serif;
  color: #000000;
  text-decoration: none;
}

a.submenu:hover {
  color: #ffffff;
}
