{
  "presets": ["doctolib"],
  "plugins": [
    "syntax-async-functions",
    "transform-regenerator",
    "syntax-trailing-function-commas",
    "transform-function-bind"
  ],
  "ignore": [
    "dist",
    "node_modules",
    "lib"
  ],
  "env": {
    "development": {
      "plugins": [["babel-plugin-module-alias", [
        {"src": "./src", "expose": "~"}
      ]]]
    },
    "production": {
      "plugins": [["babel-plugin-module-alias", [
        {"src": "./lib", "expose": "~"}
      ]]]
    }
  }
}
