body {
  margin: 0;
}

p {
  color: #ffffff;
}

.frequency-setting {
  color: #ffffff;
}

.radio {
  padding: 2px 10px;
  background: transparent;
  color: lightgray;
  border: 1px solid lightgray;
  cursor: pointer;
}

.button-case {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-body-wrap {
  display: flex;
}

@media (max-width: 1200px) {
  .app-body-wrap {
    flex-direction: column;
  }
}
