<configuration>
  <system.runtime.remoting>
    <application name="helloworld">

     <channels> 
      <channel 	name="smtp" 
		type="SMTPChannel.SMTPChannel, SMTPChannel" 
		senderEmail="client_1@localhost" 
		smtpServer="localhost"
		pop3Server="localhost"
		pop3User="client_1"
		pop3Password="client_1"
		pop3PollInterval="1"
		isServer="yes"/>
      </channels>

      <client>
        <wellknown type="Service.SomeSAO, Service"  
                   url="smtp:server_1@localhost/SomeSAO.soap" />
      </client>

      <client url="smtp:server_2@localhost">
        <activated type="Service.SomeCAO, Service" />
      </client>

    </application>
  </system.runtime.remoting>
</configuration>
