// Configuration
@hidpi_min_ratio: 1.5;
@hidpi_suffix: "@2x";


// Mixin
@hidpi_query: ~"(-webkit-min-device-pixel-ratio: @{hidpi_min_ratio}), (min--moz-device-pixel-ratio: @{hidpi_min_ratio}), (-o-min-device-pixel-ratio: @{hidpi_min_ratio}), (min-resolution: @{hidpi_min_ratio}dppx)";
.hidpi(@path, @w: auto, @h: auto) {
  background-image: url(@path);
  @at2x_path: ~`@{path}.replace(/\.\w+$/, function(match) { return @{hidpi_suffix} + match; })`;

  @media @hidpi_query {
    background-image: url("@{at2x_path}");
    background-size: @w @h;
  }
}