.ExcelTable2007 {
	border: 1px solid #B0CBEF;
	border-width: 1px 0px 0px 1px;
	font-size: 11pt;
	font-family: Calibri;
	font-weight: 100;
	border-spacing: 0px;
	border-collapse: collapse;
}

.ExcelTable2007 TH {
	background-image: url(excel-2007-header-bg.gif);
	background-repeat: repeat-x; 
	font-weight: normal;
	font-size: 14px;
	border: 1px solid #9EB6CE;
	border-width: 0px 1px 1px 0px;
	height: 17px;
}

.ExcelTable2007 TD {
	border: 0px;
	background-color: white;
	padding: 0px 4px 0px 2px;
	border: 1px solid #D0D7E5;
	border-width: 0px 1px 1px 0px;
}

.ExcelTable2007 TD B {
	border: 0px;
	background-color: white;
	font-weight: bold;
}

.ExcelTable2007 TD.heading {
	background-color: #E4ECF7;
	/* text-align: center; */
	border: 1px solid #9EB6CE;
	border-width: 0px 1px 1px 0px;
}

.ExcelTable2007 TH.heading {
	background-image: url(excel-2007-header-left.gif);
	background-repeat: none;
}


.table-striped tbody tr:first-child td {
    padding-top:1px;
    padding-right:1px;
    padding-left:1px;

    color:black;
    font-size:14.0pt;
    font-weight:700;
    font-style:normal;
    text-decoration:underline;

    font-family:Calibri,
    sans-serif;

    /* text-align:center; */
    vertical-align:middle;
    border-top:1.0pt solid windowtext;
    border-right:.5pt solid windowtext;
    border-bottom:1.0pt solid windowtext;
    border-left:1.0pt solid windowtext;
    background:#FFC000;

    white-space:normal;
    background: red;
    	font-weight: bold;
          text-align: justify;
          text-justify: inter-word;
    
}


.zoom {
  
    padding: 50px;
    background-color: lightgray;
    transition: transform .2s;
    /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

body {
  zoom:1.2;
    font-family: -apple-system;
    font-size: 90%;
    color: #333;
    /* justify-content: center; */
    padding: 1rem;
}


table {
    border: 1px solid gold;
    border-collapse: collapse;
}

td,
th {
      background: lightblue;
      border-color: white;
    white-space: nowrap;
    border: 1px solid #ddd;
    padding: 20px;
}
th {
    background-color: #eee;
    position: sticky;
    top: -1px;
    z-index: 2;


}

tbody tr td:first-of-type {
    background-color: #eee;
    position: sticky;
    left: -1px;
    z-index: 1;
}

.style16 {
    color: #0563C1;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;

    font-family: Calibri, sans-serif;

}

a:link {
    color: #0563C1;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;

    font-family: Calibri, sans-serif;

}

a:visited {
    color: #954F72;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    font-family: Calibri, sans-serif;

}
table {
    border-spacing: 0.5rem;
}

td {
    padding: 0.5rem;
}

td:nth-child(1) {
    background: hsl(150, 50%, 50%);
}

td:nth-child(2) {
    background: hsl(160, 60%, 50%);
}

td:nth-child(3) {
    background: hsl(170, 70%, 50%);
}

td:nth-child(4) {
    background: hsl(180, 80%, 50%);
}

td:nth-child(5) {
    background: hsl(190, 90%, 50%);
}

td:nth-child(6) {
    background: hsl(200, 99%, 50%);
}



.ExcelTableXP {
    border: 1px solid #716F64;
    border-width: 1px 0px 0px 1px;
    font-size: 10pt;
    font-family: arial;
    border-spacing: 0px;
    border-collapse: collapse;
}

.ExcelTableXP TH {
    background-color: #EFEDDE;
    border: 1px solid #ACA899;
    border-width: 0px 1px 1px 0px;
    font-weight: normal;
}

.ExcelTableXP TD {
    border: 0px;
    background-color: white;
    padding: 0px 4px 0px 2px;
    border: 1px solid #C0C0C0;
    border-width: 0px 1px 1px 0px;
}

.ExcelTableXP TD.heading {
    background-color: #EFEDDE;
    text-align: center;
    padding: 0px 0px 0px 0px;
    border: 1px solid #ACA899;
    border-width: 0px 1px 1px 0px;
}
