// ==========================
// `<pre>` and `<code>` tags.
// ==========================

code,
pre,
pre .token[class] {
	font-family: $font-family-mono;
}

// ==============
// `<code>` tags.
// ==============

code {
	color: color(inline-code);
	word-break: break-word;
}

pre > code,
pre > code[class] {
	outline: 0;

	border-radius: $code-border-radius;
	display: block;

	font-size: 13px;
	tab-size: 2;

	padding: 1em;
	overflow-x: auto;
}

pre > code:focus {
	box-shadow: $code-box-shadow-focus;
}

// ====================================
// Default colors, withoug Highlight.js
// ====================================

pre > code:not(.hljs) {
	background-color: color(block-code-background);
	color: color(block-code);
}

// =======================================
// Fix incorrect Storybook implementation.
// =======================================

*[class] > pre.hljs[class] {
	& {
		overflow: hidden;
		padding: 0;
	}

	& > code:not(.hljs) {
		background-color: transparent;
	}
}
