// ====================
// Default placeholder.
// ====================

/*
  This is empty by default, but the intent
  is that it would be overwritten by another
  variable for a custom site implementation.
*/

// prettier-ignore
$_custom-color-map: (
  // Leave this empty!
) !default;

// ================
// Helper function.
// ================

@function color($key) {
  @if map-has-key($_merged-color-map, $key) {
    @return map-get($_merged-color-map, $key);
  }

  @warn "Unknown `color(#{$key})`";
  @return $_color-pink;
}

// ================================
// Variables. Private to this file.
// ================================

$_color-white: #fff !default;
$_color-pink: #f0f !default;

// ================================
// Color map. Private to this file.
// ================================

// prettier-ignore
$_default-color-map: (
  body-background: $_color-white,
) !default;

// =================
// Merge color maps.
// =================

// prettier-ignore
$_merged-color-map: map-merge(
  $_default-color-map,
  $_custom-color-map
) !default;