/*
  // ===============
  // What the what!?
  // ===============

  Below is a list of common `class` names
  that appear in these default themes:

  - Twenty Twenty
  - Twenty Nineteen
  - Twenty Seventeen
  - Twenty Sixteen

  // ==============
  // Comments area.
  // ==============

  - #comments
  - .comment-reply-title

  // ================
  // Comment element.
  // ================

  - .comment
  - .comment.bypostauthor
  - .comment.byuser
  - .comment.comment-author-admin
  - .comment.depth-1
  - .comment.even
  - .comment.odd
  - .comment.thread-alt
  - .comment.thread-even
  - .comment.thread-odd

  // =================
  // Comment children.
  // =================

  - .comment-author
  - .comment-body
  - .comment-content
  - .comment-meta
  - .comment-metadata
  - .comment-notes
  - .says (sometimes hidden)

  // =============
  // Comment form.
  // =============

  - .comment-form-author
  - .comment-form-comment
  - .comment-form-email
  - .comment-form-url
  - .comment-notes
  - .comment-respond
  - .email-notes
  - .form-submit
  - .submit

  // ================
  // Comments closed.
  // ================

  - .comments-closed
  - .no-comments

  // ==================================
  // VCARD (microformat).
  //
  // Don't style these directly.
  //
  // http://microformats.org/wiki/hcard
  // ==================================

  - .fn
  - .url
  - .vcard
*/

// ==============
// Comments area.
// ==============

#comments {}

.comment-reply-title {}

// ================
// Comment element.
// ================

.comment {}

.comment.bypostauthor {}

.comment.byuser {}

.comment.comment-author-admin {}

.comment.depth-1 {}

.comment.even {}

.comment.odd {}

.comment.thread-alt {}

.comment.thread-even {}

.comment.thread-odd {}

// =================
// Comment children.
// =================

.comment-author {}

.comment-body {}

.comment-content {}

.comment-meta {}

.comment-metadata {}

.comment-notes {}

/*
  NOTE:

  This is sometimes hidden, by being
  paired with `screen-reader-text`.

  ```
  <span class="says screen-reader-text">
    says:
  </span>
  ```
*/
.says {}

// =============
// Comment form.
// =============

.comment-form-author {}

.comment-form-comment {}

.comment-form-email {}

.comment-form-url {}

.comment-respond {}

.email-notes {}

.form-submit {}

.submit {}

// ================
// Comments closed.
// ================

/*
  NOTE: The `<p>` selector is needed, so
  that we can style either markup pattern:

  ```
  <div id="comments">
    <p class="comments-closed">
      Comments are closed.
    </p>
  </div>
  ```

  ```
  <div id="comments" class="comments-closed">
    <p class="no-comments">
      Comments are closed.
    </p>
  </div>
  ```
*/
p.no-comments,
p.comments-closed {}