div.wp-block-buttons {
  /*
    =====
    NOTE:
    =====

    I know this code looks a bit gross.

    But that is more of a reflection upon
    the WordPress block styles themselves.

    This is what it takes to override them.
  */

  &,
  &.alignleft,
  &.alignright,
  &.aligncenter {
    // Undo float.
    float: none;

    // Flex.
    align-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    // Offsets.
    margin-top: -1 * $gutter--half;
    margin-left: -1 * $gutter--quarter;
    margin-right: -1 * $gutter--quarter;
    margin-bottom: $gutter;
  }

  // Left aligned.
  &,
  &.alignleft {
    justify-content: flex-start;
  }

  // Center aligned.
  &.aligncenter {
    justify-content: center;
  }

  // Right aligned.
  &.alignright {
    justify-content: flex-end;
  }

  // Buttons within.
  &,
  &.alignleft,
  &.alignright,
  &.aligncenter {
    & > .wp-block-button.wp-block-button {
      // Reset.
      margin: 0;

      // Add margin back.
      margin-top: $gutter--half;
      margin-left: $gutter--quarter;
      margin-right: $gutter--quarter;
    }
  }
}