// ==================
// In variables file.
// ==================

$font-size-h1: 2.2rem !default;
$font-family-h1: inherit !default;
$font-weight-h1: inherit !default;

// =================
// In headings file.
// =================

h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-h1;

  /*
    In all browsers, `font-family`
    behaves like "inherit" by default.
  
    So we only need this if it has
    been set to something specific.
  */
  @if ($font-family-h1 != inherit) {
    font-family: $font-family-h1;
  }
}