@import url("https://fonts.googleapis.com/css?family=Open+Sans|Rye|Cabin|El+Messiri|Cinzel");

body {
}

.img-container {
  display: block;
  width: 100%;
  position: fixed;
  padding: 0;
}

img {
  opacity: 0.8;
}

h1 {
  font-family: "Rye";
}

a {
  color: white;
}

#finest {
  position: absolute;
  top: 5%;
  left: 20%;
  transform: translate(-50%, -50%);
  /*animation: rightmove 2s ease;
    animation-fill-mode: forwards;*/
  animation: fadein 4s;
  color: white;
  font-size: 50px;
  font-family: "Cinzel";
  text-shadow: 1px 1px 10px gold;
}
#logo {
  position: absolute;
  top: 1%;
  left: 65%;
  /*transform: translate(-50%, -50%);
    /*animation: rightmove 2s ease;
    animation-fill-mode: forwards;*/
  animation: fadein 4s;
  color: beige;
  font-size: 40px;
  font-family: "Rye";
  text-shadow: 1px 1px 10px black;
  display: none;
}

#door {
  position: absolute;
  top: 60%;
  left: 23%;
  transform: translate(-50%, -50%);
  /*animation: leftmove 3s ease;
    animation-fill-mode: backwards;*/
  animation: fadein 4s;
  color: white;
  font-size: 50px;
  font-family: "Cinzel";
  text-shadow: 1px 1px 10px gold;
  display: none;
}
#entrance {
  position: absolute;
  top: 60%;
  left: 70%;
  /*transform: translate(-50%, -50%);
    /*animation: leftmove 3s ease;
    animation-fill-mode: backwards;*/
  animation: fadein 4s;
  color: white;
  font-size: 30px;
  font-family: "Cinzel";
  text-shadow: 1px 1px 10px gold;
  display: none;
}

#mobile-box {
  display: none;
  width: 90%;
  align-items: center;
  padding: 2%;
}

#mobile-logo {
  animation: fadein 4s;
  color: beige;
  font-family: "Rye";
  text-align: center;
  text-shadow: 1px 1px 10px black;
  padding-top: 30%;
  padding-bottom: 10%;
}

#micro-finest {
  animation: fadein 4s;
  color: white;
  text-align: center;
  font-family: "Cinzel";
  text-shadow: 1px 1px 10px gold;
  display: none;
}
#micro-door {
  animation: fadein 4s;
  color: white;
  text-align: center;
  font-family: "Cinzel";
  text-shadow: 1px 1px 10px gold;
  display: none;
}
#micro-entrance {
  animation: fadein 4s;
  color: white;
  text-align: center;
  font-family: "Cinzel";
  text-shadow: 1px 1px 10px gold;
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  #finest {
    font-size: 35px;
  }
  #door {
    font-size: 35px;
  }
  #logo {
    font-size: 35px;
  }
}
@media (max-width: 1000px) {
  #finest {
    font-size: 25px;
  }
  #door {
    font-size: 25px;
  }
  #logo {
    font-size: 25px;
  }
  #entrance {
    font-size: 20px;
  }
}
@media (max-width: 770px) {
  .img-container {
    display: none;
  }
  body {
    background: black;
  }
  #mobile-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
