<div class="hero-unit">
  <h2>Vos collègues vous aiment et veulent manger avec vous !</h2>
  <p>Pour participer au choix du restaurant, entrez votre email :</p>
  <form>
  {{#if model.hash}}
    {{#if saved}}
    <div class="alert alert-success">
      Email enregistré. Merci !
    </div>
    {{else}}
    <p><input type="email" placeholder="Email" class="input-xlarge" id="email" required/></p>
    <p><input type="submit" class="btn btn-primary" value="Enregister mon email"></p>
    {{/if}}
  {{else}}
    <p><i class="icon-spinner icon-spin"></i> Chargement en cours...</p>
  {{/if}}
  </form>
  <hr>
  <h3>Comment ça marche ?</h3>
  <p>Chaque jour à 10h un premier email vous sera envoyé dans lequel vous devrez choisir le lieu du repas,
  à 12h vous recevrez un email avec le lieu choisi par la majorité.</p>
</div>