- var dev = true

html:5
	head
		title Knochenmark Portfolio
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description' content='Knochenmarks Portfolio')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='assets/css/main.css')
		script(async src='src/js/libs/d3.min.js')
		script(async src='src/js/libs/jquery-3.1.1.js')
	body

		//- Header
		include ../includes/header

		//- Content
		block content

		//- //- Footer
		//- include ../includes/footer

		script(async src='assets/js/bundle.js')
