.logo{
  text-align: center;
  img{
    width: 200px;
    height: 150px;
  }
}

.search-form{
  text-align: center;
  margin: 10px 0 40px 0;
  
  input[type=text]{
    border-radius: 0;
    outline: none;
    background: #fff;
    padding: 9px 0px 4px 10px;
    font-size: 36px;
    line-height: 50px;
    height: 50px;
    border-color: #000;
    width: 80%
  }
  
  .btn-search{
    text-align: left;
  }
}

header .search-form{
  margin: 10px 0;
  
  input[type=text]{
    padding: 9px 0px 4px 10px;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
  }
}

.navbar header{
  background-color: whiteSmoke;
}

.graphh{
  display: none;
}

/* Large desktop */
@media (min-width: 1200px) { 
  .graphh{
    display: block;
  }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { .graphh{
  display: block;
} }


#menu {
  height: 80px;
  header{
    display: none;
  }
}

#menu.search-enabled {
  height: 120px;
  header{
    display: block;
  }
}


#search-input-small {
  z-index: 1;
  position: relative;
  height: 23px;
  width: 80%;
  border-radius: 0px;
  outline: none;
  padding: 0;
  font-size: 14px;
  line-height: 10px;
  background: none;
  top: -2px;
  padding: 9px 0px 4px 0px;
  line-height: 16px;
  border-color: black;
  padding-left: 10px;
  background: white;

}
#search-box-small {
  padding-top: 10px;
} 
