html {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>⚡</text></svg>")
      14 0,
    auto;
}

input:hover,
label {
  cursor: pointer;
}

body {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  color: var(--grey);
  background: url('../images/pattern.svg') repeat;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0 %,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

h1 {
  font-size: 2.444rem;
  color: var(--black);
}

h2 {
  font-size: 2.074rem;
  color: var(--one);
}

h3 {
  font-size: 1.728rem;
  color: var(--grey);
}

h4 {
  font-size: 1.44rem;
  color: var(--two);
}

h5 {
  font-size: 1.2rem;
  color: var(--grey);
}

h6 {
  font-size: 1rem;
  color: var(--grey);
}

a {
  color: var(--one);
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>⚡</text></svg>")
      16 0,
    auto;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

main {
  padding: 2rem 0;
  margin: 2rem 0;
}

footer {
  padding: 2rem 0;
  font-style: italic;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-bottom: 6rem;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 620px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), 0 0 22px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
}

.grid-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.05);
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item h4 {
  margin-bottom: 1rem;
}

.grid-item__info {
  display: flex;
  flex-wrap: wrap;
}

.grid-item__info__item {
  display: block;
  padding: 0.25rem 0.5rem;
  background: var(--bg);
  border-radius: 3px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  color: #383838;
}

.grid-item__info__item svg {
  color: #5a5a5a;
  max-width: 1em;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.theme-title {
  margin-right: 1rem;
}

.radio-buttons {
  display: flex;
  flex-wrap: wrap;
}

.form-check {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background: var(--grey-light);
  border-radius: 5px;
}

.form-check input {
  margin-right: 0.5rem;
}

.table-wrapper {
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), 0 0 22px rgba(0, 0, 0, 0.05);
  margin-bottom: 6rem;
}

table {
  border-collapse: separate;
  border-spacing: 0 0.25rem;
}

table th {
  text-align: left;
  padding: 0.5rem 1.5rem 1rem 0.5rem;
}

table tbody tr td {
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  font-size: 16px;
}

@media (max-width: 440px) {
  table tbody tr td {
    font-size: 14px;
  }
}

table tbody tr:nth-child(even) {
  background: var(--bg);
}
