.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.8;
}

.pimg1 {
  background-image: url("../images/yokohama_bay2200.jpg");
  min-height: 70vh;
  margin-top: 80px;
}
.pimg2 {
  background-image: url("../images/shrine2200.jpg");
  min-height: 70vh;
}
.pimg3 {
  background-image: url("../images/sasazuka2200.jpg");
  min-height: 100vh;
}

section {
  text-align: center;
  line-height: 1.8em;
  background-color: #282e34;
  color: #ddd;
  font-family: Raleway;
  padding: 50px 130px;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Raleway;
  font-size: 3.5vw;
  font-weight: 500;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  text-shadow: 3px 2px #111;
}

.ptext h4 {
  text-transform: none;
  margin: 30px 0;
  font-family: Rubik;
}

.ptext a {
  color: #fff;
}

.ptext .border {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.tech-icons {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
  gap: 40px;
  margin: 50px auto;
  font-family: Rubik;
  &-icon {
    width: 100px;
    & img {
      max-width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 580px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
  .pimg1,
  .pimg2 {
    min-height: 50vh;
  }
  section {
    padding: 20px 40px;
  }
  .ptext {
    font-size: 4.75vw;
    letter-spacing: 0.65rem;
  }
  .ptext h4 {
    font-size: 3.75vw;
    margin-top: 60px;
  }
  .tech-icons {
    &-icon {
      width: 80px;
    }
  }
}
