.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 10px;
  font-family: Raleway;
  transition: background-color 0.25s ease-out;
  &-main {
    margin: auto;
    margin-top: 20vh;
    width: 40%;
    text-align: center;
    &-toggle {
      display: flex;
      margin: 0 auto;
      & span {
        font-size: 1.2em;
        background: none;
        border: none;
        cursor: pointer;
        transition: color 0.3s ease;
        margin-top: 4px;
        margin-right: 2px;
        &:last-child {
          margin-top: 5px;
        }
      }
      &-switch {
        position: relative;
        padding: 0 4px;
        display: flex;
        align-items: center;
        & input[type="checkbox"].checkbox {
          width: 40px;
          height: 10px;
          background: #555;
          position: relative;
          border-radius: 5px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          cursor: pointer;
          vertical-align: 2px;
          outline: none;
          &:checked + label {
            left: 30px;
          }
          &:focus-visible {
            outline: solid 2px white;
          }
          & + label {
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            transition: all 0.3s ease;
            cursor: pointer;
            position: absolute;
            left: 2px;
            background: #fff;
            background-color: dodgerblue;
          }
        }
      }
    }
    & h1 {
      margin-bottom: 0;
    }
    & small {
      font-style: italic;
    }
    & hr {
      border: 0.5px solid lightgray;
    }
    &-body {
      text-align: left;
      padding: 10px 0;
    }
    &-icons {
      display: flex;
      justify-content: center;
      margin-bottom: 0;
      margin-top: 5px;
      padding: 0;
      &-icon {
        width: 24px;
        margin: 0 auto;
      }
    }
  }
}

.dark-mode {
  background-color: #1a1919;
  color: lightgray;
  transition: background-color 0.25s ease-out;
}

@media only screen and (max-width: 1200px) {
  .article {
    &-main {
      width: 60%;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .article {
    &-main {
      width: 65%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .article {
    &-main {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .article {
    &-main {
      width: 75%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .article {
    &-main {
      width: 80%;
    }
  }
}
