.header {
  background: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-bottom: 0.25px solid darkslategray;
    &-title {
      width: 20%;
      margin: 0 2%;
      text-align: center;
      &-link {
        text-decoration: none;
        color: white;
        & h1 {
          margin: 0.25rem;
          font-family: "Bebas Neue";
          font-weight: 200;
          letter-spacing: 0.0125rem;
        }
      }
      @media screen and (max-width: 1000px) {
        width: 30%;
      }
      @media screen and (max-width: 700px) {
        width: 40%;
      }
      @media screen and (max-width: 500px) {
        width: 50%;
      }
    }
    &-social {
      width: 20%;
      margin: 0 2%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &-link {
        width: 25px;
        &-icon {
          max-width: 30px;
          height: auto;
        }
      }
      @media screen and (max-width: 1000px) {
        width: 30%;
      }
      @media screen and (max-width: 700px) {
        width: 40%;
      }
      @media screen and (max-width: 500px) {
        width: 50%;
      }
    }
  }
  &-links {
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-internal {
      width: 50%;
      margin: auto;
      padding: 5px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-link {
        text-decoration: none;
        color: lightgray;
        font-family: Rubik;
        font-size: 1.25rem;
      }
    }
  }
  &-burger {
    display: none;
    &-btn {
      padding: 10px;
      //font-size: 40px;
      background: black;
      color: #ffffff;
      font-weight: 200;
      border: 0.5px solid gray;
      border-radius: 3px;
      margin: 3px 30px;
    }
    @media screen and (max-width: 700px) {
      display: block;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .header {
    &-links {
      &-internal {
        width: 55%;
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  .header {
    &-links {
      &-internal {
        width: 60%;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .header {
    &-links {
      &-internal {
        width: 65%;
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .header {
    &-links {
      &-internal {
        width: 70%;
      }
    }
  }
}
@media only screen and (max-width: 850px) {
  .header {
    &-content {
      &-title {
        &-link {
          & h1 {
            font-size: 1.8rem;
          }
        }
      }
    }
    &-links {
      &-internal {
        &-link {
          font-size: 2.4vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .header {
    &-links {
      display: none;
    }
  }
}
// @media only screen and (max-width: 600px) {
//     .header {
//         &-content {
//             &-title {
//                 &-link {
//                     & h1 {
//                         font-size: 1.7rem;
//                     }
//                 }
//             }
//         }
//         &-links {
//             &-internal {
//                 width: 90%;
//                 &-link {
//                    font-size: 3vw;
//                 }
//             }
//         }
//     }
// }
