.archives {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-height: 100vh;
  &-body {
    margin: 15vh auto;
    width: 50%;
    & h2 {
      margin-bottom: 40px;
      font-family: Rubik;
      font-weight: 200;
      font-style: normal;
      text-align: center;
    }
    &-post {
      margin-bottom: 60px;
      &-link {
        text-decoration: none;
        & h2 {
          margin-bottom: 0;
          font-family: Raleway;
          font-weight: 600;
          font-style: italic;
          text-align: left;
        }
      }
      &-date {
        font-family: Rubik;
      }
      &-under {
        border: 1px solid dodgerblue;
      }
      & p {
        margin-bottom: 0;
        margin-top: 0;
        font-family: Raleway;
      }
      & small {
        font-family: Rubik;
      }
      &-tag-wrap {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      }
    }
    &-pagination {
      &-link {
        color: dodgerblue;
        float: right;
        font-family: Rubik;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .archives {
    &-body {
      margin: 15vh auto;
      width: 60%;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .archives {
    &-body {
      margin: 15vh auto;
      width: 70%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .archives {
    &-body {
      margin: 15vh auto;
      width: 75%;
    }
  }
}
