html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  &-main {
    margin-top: 12vh;
    &-body {
      margin: 2vh auto;
      width: 60%;
      display: flex;
      justify-content: space-between;
      &-post {
        width: 60%;
        margin: 0 auto;
      }
      &-postlist {
        width: 30%;
        margin: 0, auto;
        text-align: center;
        padding: 0 60px;
        & h2,
        h3 {
          font-family: Rubik;
          font-weight: 200;
          background: darkkhaki;
          padding: 5px 0;
          border-radius: 3px;
          box-shadow: 1px 1px 3px;
        }
        & h4 {
          font-family: Rubik;
          font-weight: 200;
          margin-bottom: 0;
        }
        & a {
          text-decoration: none;
          color: #010101;
          &:hover {
            color: gray;
          }
        }
        & small {
          font-family: Rubik;
        }
        & p {
          font-family: Rubik;
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .index {
    &-main {
      &-body {
        width: 65%;
      }
    }
  }
}
@media only screen and (max-width: 1400px) {
  .index {
    &-main {
      &-body {
        width: 70%;
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  .index {
    &-main {
      &-body {
        width: 75%;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .index {
    &-main {
      &-body {
        width: 80%;
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .index {
    &-main {
      &-body {
        width: 85%;
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .index {
    &-main {
      &-body {
        width: 90%;
      }
    }
  }
}
@media only screen and (max-width: 850px) {
  .index {
    &-main {
      &-body {
        flex-direction: column;
        &-post {
          width: 90%;
        }
        &-postlist {
          margin: 30px auto;
          width: 60%;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .index {
    &-main {
      &-body {
        &-postlist {
          width: 60%;
        }
      }
    }
  }
}
