.latest {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  &-posts {
    padding: 0 30px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    & span {
      font-style: italic;
      color: #b8b8b8;
    }
    & a {
      color: black;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .latest {
    width: 80%;
  }
}
@media only screen and (max-width: 1300px) {
  #link3 {
    display: none;
  }
  .latest {
    width: 70%;
  }
}
@media only screen and (max-width: 1100px) {
  .latest {
    width: 90%;
    &-posts {
      width: 70%;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .latest {
    width: 95%;
    &-posts {
      width: 75%;
    }
  }
}
@media only screen and (max-width: 850px) {
  #link2 {
    display: none;
  }
  .latest {
    width: 75%;
    &-posts {
      width: 60%;
    }
  }
}
@media only screen and (max-width: 700px) {
  .latest {
    display: none;
  }
}
