a {
  text-decoration: none;
  color: dodgerblue;
}

.sidebar {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100vh;
  background: black;
  display: none;
  flex-direction: column;
  justify-content: center;
  &-link {
    font-family: Raleway;
    text-align: center;
    margin: 30px 0;
  }
  &-btn {
    margin: 10px;
    padding: 5px;
    background: dodgerblue;
    color: white;
    border: 1px solid dodgerblue;
    border-radius: 3px;
  }
}

.sidebar-show {
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slide-in 0.5s forwards;
  animation-delay: 0.05s;
  &-link {
    background: pink;
  }
}
.sidebar-hide {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slide-out 0.5s forwards;
  animation-delay: 0.05s;
}

@keyframes slide-in {
  100% {
    left: 0;
  }
}
@keyframes slide-out {
  100% {
    left: -50%;
  }
}
