.posttag {
  &-link {
    text-decoration-color: white;
    & p {
      color: gray;
      text-decoration: none;
      font-family: Rubik;
      margin-top: 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
