body {
  background-image: url(../photos/photo1.jpeg);
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Lato", sans-serif;
}

html {
  height: 100%;
}

#content {
  text-align: center;
  padding-top: 25%;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

h1 {
  font-weight: 700;
  font-size: 7em;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
