/* ========GLOBAL=========*/

html {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background: url("../photos/tile.jpg") top left repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h1,
h2 {
  margin: 0 0 40px;
}

h3 {
  margin: 20px 0;
}

h4 {
  font-size: 18px;
}

p {
  padding: 15px 15px;
}

#delete-form {
  display: inline;
}

#myrow {
  background-color: #e8e8e8;
  text-align: center;
}

.thumbnail img {
  width: 100%;
}

#mynavbar {
  margin-bottom: 0px;
}

/*===============HEADER===============*/

#hero {
  background: url("../photos/header_1.jpg") 50% 0 repeat fixed;
  min-height: 400px;
  padding: 40px 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#hero article {
  width: 100%;
  text-align: center;
}

#mycontainer {
  margin-top: 150px;
}

#mycontainer h1 {
  font-size: 5em;
  margin: auto;
}

/*=============OPTIN============*/

#optin {
  background: #3e4249;
  padding: 14px 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1.2em;
}

#optin p {
  margin: 7px 0 0 0;
  padding: 0;
}

/*========== INDEX MAIN PAGE ===========*/

#show h4 {
  padding-top: 15px;
  padding-left: 10px;
  margin: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

#show p {
  padding-top: 10px;
  padding-bottom: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
}

#show .col-md-6 {
  padding: 0;
  padding-bottom: 10px;
}

#show .col-md-6 p {
  text-align: center;
}

#show img.showImg {
  width: 100%;
  height: 150px;
}

#show .thumbnail {
  padding: 0;
  background-color: #f1f1f1;
}

#show .thumbnail.caption-full {
  padding: 9px;
}

#show .thumbnail .caption-full h4 {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  font-size: 2em;
  font-weight: 700;
}

#show .caption.campground-name {
  padding: 1px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#show .hoverthumb:hover {
  background: black;
  border: 2px solid black;
}

.container.camps-container {
  background-color: #f7f7f7;
  padding-top: 15px;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.btn-primary.thumbnail-button {
  width: 100%;
}
.thumbnail p {
  margin-bottom: 0;
  padding: 10px 15px 15px 15px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-align: left;
  height: 65px;
}

.alert.alert-danger.myalert {
  padding-top: 65px;
  width: 100%;
  margin: 0;
  text-align: center;
}

.alert.alert-success.mysuccess {
  padding-top: 65px;
  width: 100%;
  margin: 0;
  text-align: center;
}

.thumbnail .mysection-showPage p {
  height: 100%;
}

#rankdisplay {
  text-align: center;
  margin-bottom: 0px;
  background-color: #222222;
  color: white;
}

#rankdisplay h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.thumbnail #mystarRating {
  height: 58px;
  background: #dbdcdc;
  padding: 5px 15px;
  width: 50%;
}

.text-left h2 {
  margin: 0;
}

hr.myhr {
  margin: 10px;
}

/* OTHER SECTION*/

#othersections {
  padding-top: 100px;
}

#othersections .thumbnail {
  padding: 0;
}

#addcoment {
  text-align: center;
}

#othersections h4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 20px;
  font-size: 30px;
  padding-bottom: 0;
}

/* POST BLOG >>>>>>*/

#campdescription {
  padding-top: 80px;
}

#campdescription .post,
.widget,
#comments {
  position: relative;
  border: solid 1px #ddd;
  background: white;
  margin: 0 0 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#campdescription .post header,
#campdescription .post .post-excerpt,
#campdescription .post .post-body,
#campdescription #comments .comments-wrap {
  padding: 20px;
}

#campdescription .post header h3 {
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: solid 1px #ddd;
}

#campdescription .camprating {
  background-color: #33a5b7;
  display: block;
  height: 70px;
  width: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  position: absolute;
  bottom: -25px;
  left: 70%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: 0 !important;
}

#campdescription .row.comment-and-rate {
  height: 100%;
}

#campdescription .col-sm-4.col-rating {
  height: 100%;
  padding-top: 18px;
}

#campdescription .post header h1 {
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: solid 1px #ddd;
  font-size: 24px;
}

#campdescription .post-image img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

#campdescription .post-details {
  font-size: 12px;
  width: 90%;
}

#campdescription .post-details i.fa {
  padding-left: 10px;
}

/*COMMENTS*/

#campdescription .comments h3 {
  padding-left: 15px;
  margin: 0;
}

#campdescription .comment.mycomment {
  padding: 10px;
}

#campdescription .comments .btn.btn-success {
  margin-top: 10px;
  width: 100%;
}

#campdescription .comment p {
  padding-bottom: 0;
  padding-top: 0;
}

#campdescription .comment i {
  padding-left: 20px;
  font-size: 12px;
}

#campdescription .pull-right {
  padding-right: 15px;
}

#campdescription .pull-right.days {
  padding-right: 0;
}
#campdescription .col-sm-12.comments {
  background: white;
  border: solid 1px #ddd;
}

#campdescription .col-sm-12.comments:nth-child(2n + 3) {
  background: #e6e5e5;
}

/* RATINGS*/

fieldset,
label {
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

/* JS CLASSES*/

.hoverable {
  opacity: 0.8;
}

#show .backgroundhover {
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.buttoncolo {
  background-color: #5cb85c;
  border: none;
}

.buttoncolo:hover {
  background-color: #5cb85c;
  border: none;
}
