.wrapper {
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

.header {
  display: flex;
  flex-direction: row;
  wrap: no-wrap;
  justify-content: space-between;
  padding: 1rem;
}

.date {
  font-size: 0.9rem;
}

.header,
.data {
  z-index: 10;
}

.views,
.appreciations,
.comments {
  position: relative;
  margin-left: 0.85rem;
}
.wrapper .data {
  position: relative;
  width: 100%;
}

.stats {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.stats a {
  color: white !important;
}

.stats span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: all 0.5s;
}

.wrapper:hover .stats span {
  transform: translate(-50%, -1rem);
  opacity: 1;
}

.content {
  padding: 1rem;
  position: relative;
}

.content h2 {
  margin-top: 1.25rem;
  margin-bottom: 0;
}

.areas {
  transform: translateY(25px);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 1rem;
  transition: all 0.5s;
  font-size: 0.75rem;
}

.areasItem:not(:last-child) {
  margin-right: 0.25rem;
}

.areasItem:not(:last-child):after {
  content: ",";
}

.wrapper:hover .areas {
  transform: translateY(10px);
  opacity: 1;
}
