html {
  background: rgb(22, 25, 31) !important;
  color: white !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgb(50, 139, 255) !important;
  transition: color 0.5s !important;
}

a:hover {
  text-decoration: none !important;
  color: rgb(121, 168, 255) !important;
}

.flex-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col {
  width: 33%;
  padding: 1rem 1.25rem;
}

.card a {
  color: white !important;
}

@media screen and (max-width: 1100px) {
  .col {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .flex-grid {
    display: block;
  }
  .col {
    width: 100%;
  }
}
