@import '_settings'

normalize-css()
base()

* {
  box-sizing: border-box
}

body
  padding: 50px

body, html
  padding: 0
  margin: 0

body
  font-size: 45px
  background: #464B4D

img
  display: block
  margin: 80px auto


strong
  color: #fff

.lead
  text-align: center
  color: #eee
  font-family: "Helvetica Neue", sans-serif
  max-width: 20em
  margin: 80px auto

.presentation
  padding: 0 20px 40px
  border-top: 4px solid rgb(155, 215, 92)
  max-width: 960px
  margin: 40px auto 80px

  color: #fff

  background: #222

  h2, h3
    text-align: center
  h2
    font-weight: 100
    font-size: 41px
  h3
    font-weight: 200
    font-size: 22px

  a, a:visited, a:link, a:active
    color: rgb(155, 215, 92)
    text-decoration: none

.video
  display: flex
  .speakerdeck,.youtube
    width: 50%
    padding: 20px
  .youtube
    text-align: right
    padding-right: 10px
  .video-wrapper
    box-sizing: content-box
    position: relative
    padding-bottom: 75%
    padding-top: 25px
    height: 0
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  .speakerdeck
    padding-left: 10px
    iframe
      margin-top: 7px !important
.description
  max-width: 40em
  margin: 20px auto
  font-weight: 400
  font-size: 18px
  color: #efefef

.disqus
  margin-top: 90px


@media (max-width: 930px)
  .video
    display: block
    .speakerdeck,.youtube
      width: auto
      padding: 0
      text-align: center
      margin: 20px 0
