.pagination-container {
  max-width: 800px;
  float: right;
  padding: 10px 0 20px 0;

  .pagination {
    padding: 0;

    .page-item.active .page-link,
    .page-item.active .page-link:focus,
    .page-item.active {
      background-color: #29b473;
      border-color: #29b473;
      margin: 0;
    }

    .page-link {
      font-size: 12px;

      &:hover {
        background-color: #29b473;
        color: white;
      }
    }
  }

  .input-group {
    width: 127px;
    float: right;
  }

  .input-group-addon {
    font-size: 12px;
    padding: 2px 9px;
    background-color: #29b473;
    color: white;
  }

  a:hover {
    cursor: pointer;
  }

  input {
    font-size: 12px;
    width: 80px;
    padding: 3px;
  }
}
