<div *ngIf="isPagination">
  <div class="pagination-container">
    <div class="text-center">
      <ul *ngIf="pages && pages.length" class="pagination">
        <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
          <a class="page-link" (click)="setPage(1)">First</a>
        </li>
        <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
          <a class="page-link" (click)="setPage(currentPage - 1)">Previous</a>
        </li>
        <li
          class="page-item"
          *ngFor="let page of pages"
          [ngClass]="{ active: currentPage === page }"
        >
          <a class="page-link" (click)="setPage(page)">{{ page }}</a>
        </li>
        <li
          class="page-item"
          [ngClass]="{ disabled: currentPage === totalPages }"
        >
          <a class="page-link" (click)="setPage(currentPage + 1)">Next</a>
        </li>
        <li
          class="page-item"
          [ngClass]="{ disabled: currentPage === totalPages }"
        >
          <a class="page-link" (click)="setPage(totalPages)">Last</a>
        </li>
      </ul>
      <div class="input-group">
        <span class="input-group-addon">Page</span>
        <input
          type="number"
          min="1"
          class="form-control-sm"
          #pageInput
          (keypress)="validateNumber($event)"
          [(ngModel)]="initialPageView"
          (keyup.enter)="setPage(pageInput.value)"
        />
      </div>
    </div>
  </div>
</div>
