section.hero.is-dark.has-text-centered.weatherhero.is-bold
  .hero-body.container
    .card.card-content.is-paddingless
      .content
        .columns
          .column.tempcolumn.has-text-left
            p.subtitle#date
            h1.title.is-paddingless.is-marginless.temp.is-1 ...
            p.subtitle.is-paddingless.is-marginless#city
            p.subtitle.is-paddingless.is-marginless#main
          .column.detailscolumn
            .tabs.is-centered
              ul
                li.is-active
                li.is-active#celsius-active
                  a
                    span#celsius Celsius
                li#farenheit-active
                  a
                    span#farenheit Farenheit
            br
            .columns
              .column
                i.wi.wi-barometer
                p#precipitation
            br
            .columns
              .column
                i.wi.wi-humidity
                p#humidity
            br
            .columns
              .column
                i.wi.wi-strong-wind
                p#wind




