head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible",content="ie-edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="a simple project setup for rookie web desingers")
    title Welcome to Project Setup
    link(rel="stylesheet", href="styles/main.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css")
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
