nav.nav.hero.is-primary
  .container
    .nav-left
      a.logo(href='https://ashish.me')
        svg(width='50', height='50', viewbox='0 0 512 512', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:figma='http://www.figma.com/figma/ns')
          g#Canvas(transform='translate(-837 419)', figma:type='canvas')
            g#Component(style='mix-blend-mode:normal;', figma:type='symbol')
              g#Ellipse(style='mix-blend-mode:normal;isolation:isolate;', figma:type='ellipse')
                use#logohover(xlink:href='#path0_fill', transform='translate(837 -419)', fill='#DD4A68', style='mix-blend-mode:normal;')
                mask#mask0_outline_ins
                  use(xlink:href='#path0_fill', fill='white', transform='translate(837 -419)')
                g(mask='url(#mask0_outline_ins)')
                  use(xlink:href='#path1_stroke_2x', transform='translate(837 -419)', fill='#FFFFFF', style='mix-blend-mode:normal;')
              g(id='Vector 2', style='mix-blend-mode:normal;', figma:type='vector')
                use(xlink:href='#path2_fill', transform='translate(1126.91 -260.997)', fill='#FFFFFF', style='mix-blend-mode:normal;')
              g#Vector(style='mix-blend-mode:normal;', figma:type='vector')
                use(xlink:href='#path3_fill', transform='translate(917.738 -260.997)', fill='#FFFFFF', style='mix-blend-mode:normal;')
          defs
            path#path0_fill(d='M 512 256C 512 397.385 397.385 512 256 512C 114.615 512 0 397.385 0 256C 0 114.615 114.615 0 256 0C 397.385 0 512 114.615 512 256Z')
            path#path1_stroke_2x(d='M 492 256C 492 386.339 386.339 492 256 492L 256 532C 408.431 532 532 408.431 532 256L 492 256ZM 256 492C 125.661 492 20 386.339 20 256L -20 256C -20 408.431 103.569 532 256 532L 256 492ZM 20 256C 20 125.661 125.661 20 256 20L 256 -20C 103.569 -20 -20 103.569 -20 256L 20 256ZM 256 20C 386.339 20 492 125.661 492 256L 532 256C 532 103.569 408.431 -20 256 -20L 256 20Z')
            path#path2_fill(d='M 79.4614 0L 0 0L 0 56.3237L 79.4614 56.3237C 90.4725 60.7502 95.3064 69.8017 96.347 73.7742C 102.023 92.1609 87.4549 103 79.4614 106.121L 0 106.121L 0 161.878L 79.4614 161.878C 108.408 157.905 128.321 142.346 134.659 135.063C 160.086 108.732 155.47 67.9101 149.983 50.7907C 136.816 16.1736 97.4822 2.50643 79.4614 0Z')
            path#path3_fill(d='M 122.03 11.834L 0 205.491L 60.4071 205.491L 122.03 109.681L 122.03 205.491L 180.287 205.491L 180.287 11.834C 156.221 -7.00678 129.692 -0.556265 122.03 11.834Z')


    span.nav-toggle
      span
      span
      span
    .nav-right.nav-menu
      a.nav-item.if.contains.endif(class='is-tab{% page.url site_page.url %} is-active{% %}', href='https://ashish.me')
        | Home
      a.nav-item.if.contains.endif(class='is-tab{% page.url site_page.url %} is-active{% %}', href='https://blog.ashish.me')
        | Blog
      a.nav-item.if.contains.endif(class='is-tab{% page.url site_page.url %} is-active{% %}', href='https://ashish.me/projects')
        | Projects
      a.nav-item.if.contains.endif(class='is-tab{% page.url site_page.url %} is-active{% %}', href='https://ashish.me/experiments')
        | Labs
      a.nav-item.if.contains.endif(class='is-tab{% page.url site_page.url %} is-active{% %}', href='https://ashish.me/about')
        | About
      a.nav-item.if.contains.endif(class='is-tab{% page.url site_page.url %} is-active{% %}', href='https://ashish.me/docs/resume.pdf')
        | Resume
