body {
  color: black;
}
span {
  border-width: 10px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
  overflow-wrap: normal;
}
h1,
h2,
h3,
h4 {
  text-align: center;
}
img {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8),
    inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -7px 0 rgba(0, 0, 0, 0.6),
    inset 0 -9px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8),
    inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -7px 0 rgba(0, 0, 0, 0.6),
    inset 0 -9px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8),
    inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -7px 0 rgba(0, 0, 0, 0.6),
    inset 0 -9px 0 rgba(255, 255, 255, 0.3);
  /*-webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  */
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
