<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #4169E1;"
>
  <a class="navbar-brand" href="/home">Top Shelf Whisky</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Shop Home
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-wine-bottle"></i>
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/shop/Speyside"><i
              class="fas fa-glass-whiskey"
            ></i>
            Speyside</a>
          <a class="dropdown-item" href="/shop/Islay"><i
              class="fas fa-glass-whiskey"
            ></i>
            Islay</a>
          <a class="dropdown-item" href="/shop/Highland"><i
              class="fas fa-glass-whiskey"
            ></i>
            Highland</a>
          <a class="dropdown-item" href="/shop/Island"><i
              class="fas fa-glass-whiskey"
            ></i>
            Island</a>
          <a class="dropdown-item" href="/shop/Campbeltown"><i
              class="fas fa-glass-whiskey"
            ></i>
            Campbeltown</a>
          <a class="dropdown-item" href="/shop/Lowland"><i
              class="fas fa-glass-whiskey"
            ></i>
            Lowland</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/shop/Bourbon-Rye"><i
              class="fas fa-flag-usa"
            ></i>
            Bourbon and Rye</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-user"></i>
          New and Existing Users
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#if login}}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/user/profile"><i
                class="fas fa-user-circle"
              ></i>
              User Account</a>
            <a class="dropdown-item" href="/user/logout"><i
                class="fas fa-sign-out-alt"
              ></i>
              Log Out</a>
          {{else}}
            <a class="dropdown-item" href="/user/signup"><i
                class="fas fa-user-plus"
              ></i>
              Sign Up</a>
            <a class="dropdown-item" href="/user/signin"><i
                class="fas fa-sign-in-alt"
              ></i>
              Sign In</a>
          {{/if}}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shopping-cart">
          <i class="fas fa-shopping-cart"></i>
          Shopping Cart
          <span class="badge">{{session.cart.totalQty}} items</span>
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>