.footer {
  position: relative;
  font-size: 15px;
  padding: 20px 40px;
  margin-top: -120px;
  height: 120px;
  background-color: $footer-bg;
  color: white;
  text-align: center;

  .footer-menu {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    float: left;

    li {
      a {
        color: white;
      }
    }
  }

  .copyright {
    float: right;
    margin-top: 50px;
    right: 40px;
    bottom: 50px;
  }
}
