.navbar-light {
  margin-bottom: 30px;
  background-color: white;

  .navbar-nav {
    .nav-link {
      color: $main-font;
      font-size: 14px;
    }
  }

  .navbar-brand {
    margin-right: 30px;
    img {
      height: 40px;
      width: 250px;
    }
  }

  .user {
    font-weight: bold;
  }
}

.sync-search {
  &-nav {
    background-color: $search-nav;

    input,
    button {
      font-family: "Raleway" !important;
      border-radius: 0;
    }

    button {
      border-color: white;
      color: white;
    }
  }

  &-form {
    margin: 0 auto;
    input {
      border-radius: 0;
    }
  }
}
