.loading-form {
  position: relative;
  &.disabled {
    form {
      opacity: 0.5;
    }

    button {
      pointer-events: none;
    }
  }
}

#loginSection {
  .login-form {
    width: 300px;
    margin: 0 auto;
  }

  .alert {
    margin-top: 10px;
  }

  .loader {
    z-index: 1000;
    position: absolute;
    left: 100px;
    top: 50px;
  }
}

#signupSection {
  .signup-form {
    width: 300px;
    margin: 0 auto;
  }

  form {
    margin-bottom: 20px;
  }

  .loader {
    z-index: 1000;
    position: absolute;
    left: 100px;
    top: 100px;
  }
}
