<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>Index</title>
  </head>
  <body>
    <ul>
      {{#users}}
        <li class="users">
          <img src="{{avatar}}" alt="Avatar">
          <h1>
            <a href="/user/{{username}}">{{name}}</a>
          </h1>
          {{#job}}
            <p>{{job}} {{company}}</p>
          {{/job}}
          {{^job}}
          <p class="available">Available for hire</p>
          {{/job}}
        </li>
      {{/users}}>
    </ul>
  </body>
</html>
