<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title></title>
  </head>
  <body>
    <div class="wrapper">
      <div class="robot-info">
        <img src="{{avatar}}" alt="">
        <div class="robot-info-top">
          <h1>{{name}}</h1>
          <p>{{#address.city}}{{address.city}},{{/address.city}} {{address.country}}  |
            {{#job}}{{job}}{{/job}} {{^job}}Available for hire {{/job}}</p>
          <p>{{email}}  |  {{phone}}</p>
        </div>
      </div>
      <table class="robot-info-bottom">
        <tr>
          <th>Education</th>
          <td>{{university}}</td>
        </tr>
        <tr>
          <th>Skills</th>
          <td>{{skills}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
