/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}
a:hover {
  color: #000;
}
a:visited {
  color: #a0a;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 150%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.contact {
  float: left;
  margin-right: 3em;
}

.contact a {
  color: #8085c1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -0.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0.2em 0.4em;
  word-wrap: break-word;
  white-space: pre-wrap; /* For firefox word wrap */
}

.post h1,
h2,
h3 {
  margin: 1em 0;
}

.post .highlight {
  margin: 1em 0;
}

.post ul,
.post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
}

.post pre code {
  border: none;
  line-height: 1.2;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #fff;
}

.post pre.terminal code {
  background-color: #333;
}

.post blockquote {
  margin: 20px 0 20px 0;
  background-color: #ddd;
}

.post blockquote > p {
  padding: 10px;
  margin: 0;
}

/* custom */
h6.description {
  margin-bottom: 2em;
  font-size: 12px;
  color: #666;
  float: left;
  /*margin: 0;*/
  /*width: 60%;*/
}

.donation {
  margin: 20px 0;
  font-weight: bold;
}

.search-wrapper {
  width: 56%;
  margin: 0;
  padding: 0;
  float: left;
}

.header ul li {
  list-style: none;
  height: 22px;
}

.site-search {
  width: 44%;
  float: right;
}

.social a {
  width: 32px;
  height: 32px;
  float: left;
  display: block;
  margin: 0 2px;
  background: url("/assets/images/social-media-icons.png")
    no-repeat 0px 0;
}

.social .twitter {
  background-position: -39px 0;
}

.social .linkedin {
  background-position: -75px 0;
}
.social .aboutme {
  background-position: -111px 0;
}
.social .youtube {
  background-position: -150px 0;
}
.social .stumbleupon {
  background-position: -184px 0;
}
.social .blogger {
  background-position: -221px 0;
}
.social .foursquare {
  background-position: -257px 0;
}
.social .stackoverflow {
  background-position: -293px 0;
}
.social .github {
  background-position: -330px 0;
}

.img-side-by-side {
  display: flex;
}

.img-side-by-side > div:first-of-type {
  padding-right: 1rem;
}
.img-side-by-side > div:last-of-type {
  padding-left: 1rem;
}

figcaption {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* Style adjustments for viewports 480px and over go here */
  .container {
    margin: 2px;
    width: 100%;
    text-overflow: "";
  }

  .site {
    font-size: 100%;
    width: 95%;
    padding: 0 5px;
  }

  .site img {
    width: 100%;
  }

  .header {
    text-align: center;
  }

  .header h6.description {
    float: none;
    height: 30px;
    font-size: 10px;
  }

  .search-wrapper {
    width: 100%;
    text-align: center;
  }

  .site-search {
    width: 100%;
  }

  .posts {
    width: 99%;
    overflow: hidden;
  }

  .posts li {
    text-align: left;
    white-space: nowrap;
    padding: 5px 0;
  }

  .posts li a {
    padding: 5px 0;
  }

  .posts li span {
    visibility: hidden;
    width: 0;
    margin-left: -70px;
  }

  .license {
    text-align: left;
    width: 90%;
  }

  .img-side-by-side {
    display: inline;
  }
  .img-side-by-side > div:first-of-type {
    padding-right: 0;
  }
  .img-side-by-side > div:last-of-type {
    padding-left: 0;
  }

  pre.highlight {
    overflow-x: scroll;
    white-space: pre;
  }
}

.highlight {
  line-height: 0.9em;
}

/* permalinks */

h1 a.anchor i.anchor-icon,
h2 a.anchor i.anchor-icon,
h3 a.anchor i.anchor-icon,
h4 a.anchor i.anchor-icon,
h5 a.anchor i.anchor-icon,
h6 a.anchor i.anchor-icon {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

h1:hover a.anchor i.anchor-icon,
h2:hover a.anchor i.anchor-icon,
h3:hover a.anchor i.anchor-icon,
h4:hover a.anchor i.anchor-icon,
h5:hover a.anchor i.anchor-icon,
h6:hover a.anchor i.anchor-icon {
  opacity: 0.6;
}

.anchor-icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAADCUlEQVRYhb2WwWsTQRTGp5QqhUihklNDoHGzbygUhJ56sVAQCgVP7VH0KhT8A7x4VTCUptl97yQKvTQgCEJPBTFWKAQEIVgoiUneg0IhIBQEoaCHbnR3zG52064fzGWZefubN/O+eUqlKHBaUCRZvVVhK83/DFS20sgAiQPIPzTJrz8D5UyjvMiVeDJ1CAvbi0DcCgAYA1CONPF8ehAOL/2ThdDBvWLl2+3/AgHIh4C8op3OQpFkFYi/mDDa6SykC0G8o9Z3xwMTnzauAXI1OE9Or+Qix4aIhqldCqKI3TuJIPwwJG+NY1wZGQSeHd1Q6sIrAGXNdnljKIQna+s4698EIG+ODHJZAUntr8fwm+QBUNY0MmmSOpDUAHmziJ27I4B89mWkGn9huT2rid+HGhVJrUDNfJxYtsszQHLuA3keC8JyeEmjnA01KuQTcFoQFatAzSlAPvSvi5XRwY7JPUDeB5KaCQjIEuYNgyBilW+IY1ZzJZ72Bc8D8r4JYx7TQAhksV2eSQxho7wcVKK5Ek8C8p6x0wOl1FgfQqN8SnqM0RDru+OAvAlO914YDJCcgyvL/e9XBgHEr30Q1f47YQbLVhoZjd1XUG7PKqXGFNUngOQgMQS4shwKoZSyqfNgaFBvrrV1fB2QP5jzLezMRWcC24tREEoppag+YV5MjXxi9hYz219vAsrHxBCewZxGQnjKlXjSNDYgOQfiHdvlDU1cBuLviSGUUkoTl5O8ot7FDGYmwuRiQaj13XFN3PPV9mGcV9SDqQ6BaMRufArUzAfK1JX7sRZ6KpKsauJ3mvinL04dkB8n6tgt7MxdWZNyGeVKPB0AcbtP4q7NVhoZy+El4/PYyDDBDpt7niFFyrRtQDkC5L24XVoISPeRcdE6Ub1F2NtR2G7aI0MopZRn3WY5DoQJg4hXojFUoOaUv33rP9P+y6uJ5zVyIzWIvnIlnjZhLn4mZ36vSRUiAGM0MIMGELdSg/DBTAKJ429wjUxQttLIpArhV4Gaee12HwKJo5HJdnkjrSz8BpLFRTRZvOorAAAAAElFTkSuQmCC)
    0 0 no-repeat;
  background-size: 17px;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.anchor {
  text-decoration: none;
  line-height: 1;
  width: 17px;
  margin-left: -20px;
  display: inline-block;
  height: 17px;
  cursor: pointer;
  margin-right: 3px;
}
