#content {
  margin-top: 60px;
}

#bookmarklets {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 25px;
}

#bookmarklets p {
  margin: 0 0 1em;
}

#bookmarklets h2 {
  font-size: 26px;
  margin-top: 15px;
  font-family: 'Raleway', Ubuntu, Helvetica, sans-serif;
}

#bookmarklets h3 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 15px;
  color: #4272AB;
  font-family: 'Raleway', Ubuntu, Helvetica, sans-serif;
}

#bookmarklets ul {
  list-style-type: square;
  list-style-position: inside;
  margin-bottom: 1em;
}

#bookmarklets #notsure {
  font-size: 14px;
  color: gray;
}

#bookmarklets #notsure a {
  color: #6D92BE;
}

#platform-browser-version {
  overflow: hidden;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#platform-browser-version #platform {
  float: left;
  text-align: left;
  margin-right: 10px;
}

#platform-browser-version #browser {
  float: left;
  text-align: left;
  margin-right: 10px;
}

#platform-browser-version #version {
  float: left;
  text-align: left;
}

#bookmarklet-url {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

#bookmarklet-url a {
  color: #6D92BE;
}

#bookmarklet-url-input {
  display: none;
}

#bookmarklet-url-input input {
  width: 300px;
}

#bookmarklet-url-input a {
  font-size: 14px;
  color: #6D92BE;
}

#bookmarklet-link {
  text-align: center;
}

#bookmarklet-link div {
  margin-bottom: 10px;
}

#bookmarklet-link div:nth-last-child(2) {
  margin-bottom: 0px;
}

#bookmarklet-link #bookmarklet-link-url {
  color: gray;
  display: none;
}

#bookmarklet-link #bookmarklet-link-url span {
  color: #6D92BE;
}

#bookmarklet-link a {
  padding: 7px;
  border: 1px solid #4272AB;
  border-radius: 3px;
  background-color: #D6E0ED;
  text-decoration: none;
  color: #1C4E8A;
}
