#content {
  margin-top: 60px;
}

#article {
  text-align: left;
  background-color: white;
  line-height: 1.6;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 25px;
}

#article p {
  margin: 0 0 1em;
}

#article h1 {
  margin-top: 40px;
  font-size: 32px;
  color: #4272ab;
  font-family: "Raleway", Ubuntu, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

#article h2 {
  font-size: 26px;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
  margin-top: 15px;
}

#article h3 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
  margin-top: 15px;
}

#article div.image {
  text-align: center;
}

#article div.image p {
  text-align: center;
  font-size: 0.8em;
}

#article ul {
  list-style-type: square;
  list-style-position: inside;
  margin-bottom: 1em;
}

#article .email {
  background: #fff7f0;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 4px;
}

#article .video {
  margin-bottom: 1em;
}

#article .broowserools-widget-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}

.float-fix-a {
  position: relative;
  float: right;
  right: 50%;
  margin-top: 10px;
}

.float-fix-b {
  position: relative;
  float: right;
  right: -50%;
}

.clear {
  clear: both;
}
