.providers
  %ul
    %li= link_to image_tag("facebook_64.png", :size => "64x64", :alt => "Facebook") + 'Facebook', user_omniauth_authorize_path(:facebook)
        
    -# %li= link_to image_tag("twitter_64.png" , :size => "64x64", :alt => "Twitter" ) + 'Twitter' , user_omniauth_authorize_path(:twitter)
    -# %li= link_to image_tag("google_64.png"  , :size => "64x64", :alt => "Google"  ) + 'Google'  , "/auth/google"
    -# %li= link_to image_tag("openid_64.png"  , :size => "64x64", :alt => "OpenID"  ) + 'OpenID'  , "/auth/openid"

