<div class="card" *ngIf="!selectedResource; else formView">
  <div class="card-body">No resource selected :(</div>
</div>

<ng-template #formView>
  <form>
    <div *ngIf="alert?.success" class="alert alert-success">
      {{ alert.success }}
    </div>
    <div *ngIf="alert?.error" class="alert alert-danger">
      {{ alert.error }}
    </div>
    <div class="mb-3">
      <label htmlFor="title">Title</label>
      <input
        [(ngModel)]="selectedResource.title"
        name="title"
        type="text"
        class="form-control"
        id="title"
        placeholder="How to survice in mountains"
      />
    </div>
    <div class="mb-3">
      <label for="description">Description</label>
      <textarea
        [(ngModel)]="selectedResource.description"
        name="description"
        class="form-control"
        id="description"
        placeholder="Just some description"
      ></textarea>
    </div>
    <div class="mb-3">
      <label htmlFor="link">Link</label>
      <input
        [(ngModel)]="selectedResource.link"
        name="link"
        type="text"
        class="form-control"
        id="link"
        placeholder="Some url"
      />
    </div>
    <div class="mb-3">
      <label htmlFor="type">Resource Type</label>
      <select
        [(ngModel)]="selectedResource.type"
        class="form-control"
        name="type"
        id="type"
      >
        <option *ngFor="let type of types" [value]="type">{{ type }}</option>
      </select>
    </div>
    <hr class="mb-4" />
    <button
      (click)="submitForm()"
      class="btn btn-primary btn-lg btn-block"
      type="button"
    >
      Update
    </button>
  </form>
</ng-template>
