.board {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.boardrow {
    display: flex;
    align-items: center;
}

.boardrow:after {
    clear: both;
    content: "";
    display: table;
}