<div ng-show="! media.$resolved">
  <i class="fa fa-spinner fa-spin"></i> Chargement en cours...
</div>

<div class="detail row" ng-show="media.$resolved">
  <div class="photo col-md-6">
    <img class="img-responsive" ng-src="{{media.images.standard_resolution.url}}" alt="{{media.caption.text}}">
  </div>
  <div class="infos col-md-6">
    <div class="user">
      <a href="http://instagram.com/{{media.user.username}}">
        <img class="img-rounded" ng-src="{{media.user.profile_picture}}" class="avatar" width="30" height="30" alt="{{media.user.full_name}}">
        {{media.user.username}}
      </a>
    </div>
    <hr>
    <p>{{media.caption.text}}</p>
    <p class="see-on"><a href="{{media.link}}"><i class="fa fa-external-link"></i> Instagram</a></p>
  </div>

  <div class="prev" ng-show="prev.id"><a ui-sref="photos.detail({ id: prev.id })"><i class="fa fa-angle-left"></i></a></div>
  <div class="next" ng-show="next.id"><a ui-sref="photos.detail({ id: next.id })"><i class="fa fa-angle-right"></i></a></div>

</div>

<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pager">
      <li><a ui-sref="photos.grid({ p: page })">← Retourner à la liste</a></li>
    </ul>
  </div>
</div>