<div ng-show="! medias.length">
  <i class="fa fa-spinner fa-spin"></i> Chargement en cours...
</div>

<div class="grid" ng-show="medias.length">
  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-3 portfolio-item" ng-repeat="media in medias">
      <div class="photo">
        <a ui-sref="photos.detail({ id: media.id })"><img ng-src="{{media.images.low_resolution.url}}" alt="{{media.caption.text}}"></a>
        <p class="fav"><i class="fa fa-heart"></i>{{media.likes.count}}</p>
      </div>
      <p class="user">
        <a href="http://instagram.com/{{media.user.username}}">
          <img ng-src="{{media.user.profile_picture}}" class="avatar" width="16" height="16" alt="{{media.user.full_name}}">
          {{media.user.username}}
        </a>
      </p>
    </div>

  </div>

  <div class="row text-center">

    <div class="col-lg-12">
      <ul class="pager">
        <li ng-show="page > 1"><a ui-sref="photos.grid({p: page - 1})">← Précédent</a></li>
        <li ng-show="page * limit < count.count"><a ui-sref="photos.grid({p: page + 1})">Suivant →</a></li>
      </ul>
    </div>

  </div>
</div>