<section id="rentalDetails">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <img src="{{model.image}}" alt="" />
      </div>
      <div class="col-md-6">
        {{location-map city=model.city street=model.street}}
      </div>
    </div>
  </div>
  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        {{rental-details rental=model}}
      </div>
      <div class="col-md-4">
        {{rental-booking rental=model booking=booking}}
      </div>
    </div>
  </div>
</section>