<div class="hero-unit">
<h2>Bon appétit !</h2>
<p>Votre rendez-vous a été créé, vous recevrez désormais un email chaque jour à 10h permettant de voter le lieu du repas. A 12h le résultat vous sera également envoyé par email.</p>
<p>Si vous souhaitez inviter d'autres personnes, vous pouvez le faire en partageant ce lien :</p>
<p><a href="{{link}}">{{link}}</a></p>
</div>