<h2>Création d'un rendez-vous du midi</h2>
<ul class="breadcrumb">
  <li>Inscription <span class="divider">/</span></li>
  <li>Choix des restaurants <span class="divider">/</span></li>
  <li class="active">Invitation des collègues</li>
</ul>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="emails">
      Emails :
      <span class="hint">(utilisez des virgules pour séparer les emails)</span>
    </label>
    <div class="controls">
      <textarea id="emails" type="textarea" rows="3"></textarea>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-primary" value="Continuer">
    </div>
  </div>
</form>