<h2>Création d'un rendez-vous du midi</h2>
<ul class="breadcrumb">
  <li class="active">Inscription <span class="divider">/</span></li>
  <li>Choix des restaurants <span class="divider">/</span></li>
  <li>Invitation des collègues</li>
</ul>

<p>Pour créer un nouveau rendez-vous du midi, vous devez commencer par entrer votre adresse email.</p>

<form class="signup">
  <input id="email" class="input-xlarge" type="email" placeholder="Email" required>
  <p><input type="submit" class="btn btn-primary" value="Continuer"></p>
</form>