.meshdisplay-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.meshdisplay-wrapper h1 {
  color: black;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 50px;
  font-weight: 100;
}
