.footer {
  text-align: center;
  font-family: Rubik;
  &-light {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &-twitter {
      width: 24px;
    }
  }
  &-dark {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    &-twitter {
      width: 24px;
    }
  }
}
