.postblock {
  font-family: Raleway;
  & a {
    text-decoration: none;
    color: black;
  }
  & h1 {
    font-family: Raleway;
    margin-bottom: 0;
  }
  & small {
    color: darkgray;
    font-style: italic;
  }
  & button {
    height: 25px;
    background: slategray;
    color: white;
    font-family: Rubik;
    border: 1px solid transparent;
    &:hover {
      background: white;
      color: slategray;
      border: 1px solid slategray;
      cursor: pointer;
    }
  }
}
