<configuration>
  <system.runtime.remoting>
    <application>

      <channels>
        <channel ref="http" port="5555" />
      </channels>


      <lifetime 
			leaseTime="10MS" 
			renewOnCallTime="10MS" 
			leaseManagerPollTime = "5MS" 
	  />

      <service>

        <wellknown mode="Singleton" 
                   type="Server.DefaultLifeTimeSingleton, Server" 
                   objectUri="DefaultLifeTimeSingleton.soap" />

        <wellknown mode="Singleton" 
                   type="Server.LongerLivingSingleton, Server" 
                   objectUri="LongerLivingSingleton.soap" />

        <wellknown mode="Singleton" 
                   type="Server.InfinitelyLivingSingleton, Server" 
                   objectUri="InfinitelyLivingSingleton.soap" />

      </service>
    </application>
  </system.runtime.remoting>
</configuration>
