<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <!-- Title -->
  <h3 class="title is-3">Signup</h3>

  <!-- Singup Error Message Box -->
  <div *ngIf="showSignupError" [@fadeInAndOut] class="field margin-bottom">
    <div class="notification is-danger">Please try again later</div>
  </div>

  <!-- Name Input -->
  <div class="field">
    <label class="label is-medium">Name</label>
    <div class="control has-icons-right">
      <input class="input is-medium" autofocus type="text" formControlName="name" />
    </div>
  </div>

  <!-- Email Input -->
  <div class="field">
    <label class="label is-medium">Email</label>
    <div class="control has-icons-right">
      <input class="input is-medium" type="email" formControlName="email" />
    </div>
  </div>

  <!-- Username Input -->
  <div class="field">
    <label class="label is-medium">Username</label>
    <div class="control has-icons-right">
      <input class="input is-medium" autofocus type="text" formControlName="username" />
    </div>
  </div>

  <!-- Password Input -->
  <div class="field">
    <label class="label is-medium">Password</label>
    <div class="control">
      <input class="input is-medium" type="password" formControlName="password" />
    </div>
  </div>

  <!-- Login Button -->
  <div class="field padding-top">
    <div class="control">
      <button
        *ngIf="!signupInProgress"
        [disabled]="!signupForm.valid"
        class="button is-large is-primary is-fullwidth"
      >
        Sign Up
      </button>
      <!-- Loading Indicator -->
      <a
        *ngIf="signupInProgress"
        [ngClass]="{ 'is-loading': signupInProgress }"
        class="button is-large is-primary is-fullwidth"
        >Sign Up</a
      >
    </div>
  </div>
</form>
