// Material Theming
// After importing all MDC Web components, apply mixins to theme individual components

// .mdc-button {
//   @include mdc-button-shape-radius(50%);
// }

// Checkbox and radio

.mdc-checkbox,
.mdc-radio {
  margin-right: 4px;
}

// Switch

.mdc-switch {
  @include mdc-rtl-reflexive-box(margin, right, 20px);
}

// Top app bar

.component-wrapper .mdc-top-app-bar {
  @include mdc-elevation(4);
  position: relative;
  z-index: 1;

  &:not(.mdc-top-app-bar--short) {
    width: 100%;
  }
}

// Card

.mdc-card {
  width: 100%;
  color: $mdc-theme-on-surface;

  .demo-card__primary {
    padding: 1rem;
  }

  .demo-card__title,
  .demo-card__subtitle {
    margin: 0;
  }

  .demo-card__secondary {
    padding: 0 1rem 8px;
    opacity: 0.87;
  }
}

// Linear progress

.mdc-linear-progress {
  width: 100%;
}

// Menu

.mdc-menu-surface--anchor > .mdc-menu {
  position: relative;
  z-index: 1;
}

// Select

.mdc-select {
  width: 160px;
}

// Drawer

.drawer-component-wrapper {
  background: rgba(0, 0, 0, 0.3);

  .mdc-drawer {
    @include mdc-elevation(16);

    .mdc-drawer__content {
      padding: 0;
    }
  }
}

// Text field

.mdc-text-field {
  width: 100%;
}

// Tabs
.component-wrapper .mdc-tab-bar {
  background: $mdc-theme-primary;

  .mdc-tab {
    @include mdc-tab-text-label-color($mdc-theme-on-primary);

    .mdc-tab__ripple {
      @include mdc-states($mdc-theme-on-primary);
    }
  }

  .mdc-tab-indicator {
    @include mdc-tab-indicator-underline-color($mdc-theme-on-primary);
  }
}

// Snackbar

.mdc-snackbar {
  position: relative;
  margin: 0;
  justify-content: start;
  z-index: 1;
}

// Dialog

.mdc-dialog {
  position: relative;
  justify-content: start;
  z-index: 1;

  .mdc-dialog__surface {
    max-width: 100%;
  }
}

// List

.component-wrapper > .mdc-list {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: $mdc-theme-background;

  .mdc-list-item__graphic {
    background-color: if(
      mdc-theme-contrast-tone($mdc-theme-background) == "dark",
      rgba(0, 0, 0, 0.12),
      rgba(255, 255, 255, 0.12)
    );
    color: if(
      mdc-theme-contrast-tone($mdc-theme-background) == "dark",
      rgba(0, 0, 0, 0.68),
      rgba(255, 255, 255, 0.68)
    );
  }
}

// Image list

.mdc-image-list {
  @include mdc-image-list-masonry-columns(2);

  max-width: 400px;
  max-height: 600px;
  margin: 0;
}

.component-wrapper {
  &.button-component-wrapper,
  &.fab-component-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Offset built-in padding to left-align all components

  &.chips-component-wrapper {
    @include mdc-rtl-reflexive-box(margin, left, -8px);
  }

  &.checkbox-component-wrapper,
  &.radio-component-wrapper {
    @include mdc-rtl-reflexive-box(margin, left, -10px);
  }

  &.icon-button-component-wrapper {
    @include mdc-rtl-reflexive-box(margin, left, -12px);
  }
}
