* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 100vh;
}
strong,
.bpm-container,
footer {
  font-family: "Open Sans";
}
/******** Header *********/
header {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 15px
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

strong {
  font-weight: 400;
  font-size: 3rem;
  margin-top: 10px;
}

/******** Main *********/
.container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  /* flex-grow: 1; */
  height: 100%;
}

.metronome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

#canvas {
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #000;
}

button {
  border-radius: 3px;
  font-size: 20px;
  background-color: #F5F5F5;
  border: 1px solid #999;
}

.bpm-form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bpb-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#beatList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

li {
  padding: 0;
  flex-grow: 1;
  margin: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.acctbtn {
  flex-grow: 1;
  border: none;
}

.accent {
  background-color: #f44336;
  color: white;
  box-shadow: 1px 1px 3px black;
}

.noAccent {
  box-shadow: 1px 1px 3px black;
}

.bpb-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#addBpb,
#minusBpb {
  flex-basis: 0;
  margin: 0px 2px;
  flex-grow: 1;
}

/****** Footer ********/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.footer-text {
  margin-right: 20px;
  font-size: .75rem;
}

/****** Media Queries *******/

@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
    align-items: baseline;
  }
  h1 {
    margin-left: 10px;
  }
  .metronome-container,
  .footer-container {
    max-width: 300px;
  }
  .footer-text {
    font-size: 1rem;
  }
}
