<%= link_to blog_path(blog) do %>
  <div class="card">
    <%= image_tag blog.main_image, class: "card-img-top" %>
    <div class="card-block">
      <h4 class="card-title"><%= link_to blog.title, blog_path(blog) %></h4>
      <div class="meta">

      </div>
      <div class="card-text">
          <%= truncate blog.body, length: 50 %>
      </div>
    </div>
  </div>
<% end %>


