<configuration>
  <system.runtime.remoting>
    <application name="SomeServer">

      <channels>
        <channel ref="http" port="5555" />
      </channels>

      <service>
        <activated type="Server.SomeCAO, Server" />
      </service>
	

    </application>
  </system.runtime.remoting>
  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="server" 
					  publicKeyToken="84d24a897bf5808f"
					  culture="neutral" />
			<bindingRedirect oldVersion="1.0.0.1" 
					 newVersion="1.0.1.1" />
		</dependentAssembly>
	</assemblyBinding>
  </runtime>

</configuration>


