.blog-content {
  table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
  }

  p {
    margin: 15px 0;
  }

  h1,
  h2,
  h3,
  h3,
  h5,
  h5 {
    font-weight: bold;
    margin: 15px 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  ul {
    list-style: disc;

    li {
      margin-left: 10px;
    }
  }

  th {
    border: 1px solid #ddd;
  }

  tr:nth-child(odd) {
    background-color: #efefef;
  }

  td {
    border: 1px solid #ddd;
    line-height: 1.4285714;
    padding: 8px;
  }

  .number,
  .tag {
    display: inline;
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-radius: inherit;
    font-weight: inherit;
    white-space: inherit;
    background: inherit;
    margin: inherit;
  }
}
