@import "ember-bootstrap/bootstrap";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

html,
body,
p {
  color: $main-text-color-gray;
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.apartment {
  color: #a72da3;
}

.condo {
  color: #d68000;
}

.house {
  color: #bf1818;
}

.map-container {
  border-radius: 5px;
  width: 100%;
  min-height: 300px;
  height: 100%;
  background-color: grey;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

.btn-bwm-confirm {
  border-color: $main-color;
  color: $main-color;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent !important;
    border-color: $main-color !important;
    color: $main-color !important;
    box-shadow: none !important;
  }
}

.btn-bwm {
  background-color: $main-color;
  border-color: $main-color;
  padding: 15px 30px;
  font-size: 20px;

  &:hover,
  &:focus,
  &:active {
    border-color: $main-color !important;
    background-color: $main-color !important;
  }
}

@import "ember-power-select/themes/bootstrap";

@import "ember-power-select";
