#rentalsListing {
  font-family: "Mukta Malar", sans-serif;
  color: $listing-font;
  margin-bottom: 60px;

  .btn {
    height: 38px;
    font-family: "Mukta Malar", sans-serif;
  }

  .rental-link {
    text-decoration: none;
    color: inherit;
  }
  .listing {
    &-image-container {
      height: 240px;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 3px;

      > div {
        height: 100%;
      }

      &:hover > div {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &-desc-container {
      font-size: 14px;
      margin-top: 5px;
    }

    .type {
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin-bottom: 0;
    }

    .title {
      font-size: 21px;

      a {
        font-weight: bold;
        color: $listing-font;
      }
    }

    .price {
      color: #5d5c5c;
      font-size: 14px;
      font-family: "Raleway" !important;
    }

    h3 {
      margin-bottom: 0px;
      font-weight: bold;
      color: #555555;
    }
  }

  ul {
    list-style-type: none;
  }

  .result-row {
    margin-bottom: 30px;
  }

  .listing-header {
    margin: 20px 0;
  }

  .search-container {
    width: 300px;

    .search-form {
      margin-bottom: 20px;
    }

    .city-filter {
      height: 40px;
      width: 200px;

      padding-left: 20px;
      input[type="text"],
      textarea {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #dddddd;
      }

      input[type="text"]:focus,
      textarea:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgba(81, 203, 238, 1);
      }
    }
  }
}
