#newRental {
  .image-name {
    font-size: 12px;
    font-weight: bold;
    color: purple;
  }

  .rental-form {
    margin: 0 auto;
    position: relative;

    &.disabled {
      form {
        opacity: 0.5;
      }

      button {
        pointer-events: none;
      }
    }
  }

  form {
    margin-bottom: 20px;
  }

  .loader {
    z-index: 1000;
    position: absolute;
    left: 200px;
    top: 200px;
  }
}
