.booking-modal {
  padding: 20px;
}

.btn-reserve {
  font-size: 17px;
  background-color: #f35e5e;
  border-color: #f35e5e;
  font-size: 20px;

  &:hover,
  &:focus {
    background-color: #f35e5e;
    border-color: #f35e5e;
    opacity: 0.8;
  }
}

.reserve-price {
  margin-bottom: 0px;
  font-size: 15px;

  .amount {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.5px;
  }
}

#rentalShow {
  margin-bottom: 80px;
  .top-section {
    margin-bottom: 20px;
  }
  .rental-desc {
    .title {
      font-family: "Mukta Malar", sans-serif;
      color: $listing-font;
      font-weight: bold;
      letter-spacing: 0.5px;
      font-size: 32px;
      margin-bottom: 0;
      display: inline-block;
      margin-right: 10px;
    }

    .type {
      text-transform: uppercase;
      font-size: 12px;
    }

    .location {
      font-size: 16px;
    }

    .room-info {
      margin-bottom: 10px;

      > span {
        margin-right: 10px;
      }
    }
  }
  .rental-image {
    width: 100%;
    height: 360px;
    border-radius: 5px;
  }

  .user-info-container {
    .user-image {
      margin-right: 20px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  .price-container {
    border: 1px solid #e45c5c;
    background-color: #e45c5c;
    color: white;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    top: 6px;
    -moz-box-shadow: 2px 2px 1px grey;
    -webkit-box-shadow: 2px 2px 1px grey;
    box-shadow: 2px 2px 1px grey;

    .price {
      position: absolute;
      font-size: 22px;
      width: 70px;
      top: 10px;
      left: 11px;
    }

    .currency {
      font-size: 15px;
    }
  }

  .detail {
    margin-bottom: 5px;
  }
}
