body{
    background-color:#DFDFDF;
}

#game-board{
    width:600px ;
    margin:auto ;
    padding: 1em;
    background-color: white;
}

#score, #answer, #value, #category-title, #invalid-count, #question{
    font-size: 1.5em;
    margin:1.25em 0;
}

/* .is-hidden{
    display: none;
} */
