body {
  margin: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.base-converter {
  text-align: center;
}

.title {
  margin-top: 2vh;
  margin-bottom: 3vh;
}
.col {
  columns: 100px 3;
}
.numberBlock {
  display: "flex";
  width: 80%;
  margin: auto;
  /* box-shadow: -1px 0px 4px -1px rgba(196, 188, 196, 1); */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: rgb(0, 0, 0);
  font-size: xx-large;
  font-weight: bolder;
  font-style: italic;
}

body {
  background-color: #05070e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header {
  width: 100%;
  height: 25.5%;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  margin-bottom: 3vh;
  box-shadow: 0 0 80px 0 #00000042;
}

.title {
  height: 12vh;
  font-size: larger;
  margin: auto;
  margin-top: 9.5vh;
  margin-left: 3vw;
}

h3 {
  margin: 4vh 3vw 0 3vw;
  text-align: center;
  color: #ffe6eb;
  font-size: x-large;
}

.err {
  display: none;
}

form {
  margin-top: 2vh;
  height: 65vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}

.input {
  margin: 3vh 6vw;
  width: 90%;
}

input {
  border-radius: 30px;
  width: 80%;
  background-color: #ff78b009;
  border-width: 2;
  outline-style: dashed;
  outline-color: rgb(175, 226, 250);
  outline-width: 0.5px;
  margin: 0;
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 768px) {
  form {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}
body {
  background: linear-gradient(
    -45deg,
    #da0000a8,
    #0008ffaf,
    #23d5a2a8,
    #12129685
  );
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
