html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(#e383b9, #5f65e9);
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 36px;
}

i {
  font-size: 12px;
}

input {
  padding: 6px;
  background: none;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  margin-top: 0;
  margin-right: 8px;
}

input::placeholder {
  color: #4147ad;
}

.title-input {
  font-size: 24px;
}

input:focus {
  outline: none;
}

h1 {
  margin: 0;
}

button {
  padding: 6px 8px;
  font-size: 16px;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

button:hover {
  background-color: #ffffff22;
}

button:focus {
  outline: none;
}

.friends-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 36px;
}

h4 {
  margin: 4px 0;
  border-bottom: 1px solid white;
  padding: 6px;
  position: relative;
  width: 180px;
  display: flex;
  cursor: pointer;
}

.fa-dragon {
  position: absolute;
  right: 12px;
  top: 9px;
}
