<configuration>
  <system.runtime.remoting>
    <application name="helloworld">

      <channels>
       <channel name="smtp" 
		type="SMTPChannel.SMTPChannel, SMTPChannel" 
		senderEmail="server_2@localhost" 
		smtpServer="localhost"
		pop3Server="localhost"
		pop3User="server_2"
		pop3Password="server_2"
		pop3PollInterval="1"
		isServer="yes">
	</channel>
      </channels>

      <service>
        <activated type="Service.SomeCAO, Service" />
      </service>

    </application>
  </system.runtime.remoting>
</configuration>
