/* -------------------------------- */
/* BUTTONS */
/* -------------------------------- */

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  border-radius: 300px;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: black;
  margin-right: 15px;
}

.btn-default:link,
.btn-default:visited {
  border: 1px solid #d20000;
  color: #d20000;
}

.btn:hover,
.btn:active {
  background-color: #d20000;
}

.btn-default:hover,
.btn-default:active {
  border: 1px solid #d20000;
  color: black;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid white;
  color: white;
}
