.content {
  width: 100%;
  height: 100%;

  .modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    marginright: -50%;
    transform: translate(-50%, -50%);
    background-color: black;
  }

  .content-list {
    margin-top: 40px !important;
    height: 80%;
    background: $contentColor;
  }

  .content-detail {
    margin-top: 40px !important;
    height: 80%;
    background: $contentColor;

    .top-sold ul {
      list-style: none;
      color: #c5c5c5;
      text-align: center;
    }

    .top-sold h1 {
      margin-bottom: 5px;
      text-align: center;
    }

    .top-sold {
      margin-bottom: 5px;
      margin-left: 20px;
    }

    p {
      text-align: center;
      margin-top: 30px;
      color: white;
    }

    .content-buttons {
      margin: 5% 40%;
    }
  }

  .filter-content {
    margin-top: 20px;
    font-size: 80%;
    text-align: center;
    width: 100%;
  }

  .filter-content span:hover {
    color: white;
  }
}
