footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

footer a {
  color: #e67e22;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-linkedin,
.ion-social-skype-outline,
.ion-social-googleplus {
  transition: color 0.2s;
}

.ion-social-linkedin:hover {
  color: #007bb6;
}

.ion-social-skype-outline:hover {
  color: #007bb6;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}
