header {
  margin: 0 auto;
  display: table;
  font-size: 150%;

  h1 {
    font-weight: 300;
  }

  .title-bold {
    font-weight: 500;
  }
}

.logo {
  font-size: 250%;
  width: auto;
  float: left;
  color: #dcdcdc;
  text-decoration: none;
  margin-top: 40px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 60px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #8c05f7;
}
