body {
  background-image: url(img/landing.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

html {
  height: 100%;
}

#content {
  text-align: center;
  padding-top: 25%;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

h1 {
  font-weight: 400;
  font-size: 5em;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  font-weight: 300;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  border-radius: 300px;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid white;
  color: white;
}

.btn:hover,
.btn:active {
  background-color: #111;
  opacity: 0.5;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid white;
  color: white;
}
