.main-view {
  .offer {
    table {
      background: $contentColor;
      border-collapse: separate;
      box-shadow: inset 0 1px 0 $contentColor;
      font-size: 12px;
      margin: 10px auto;
      text-align: left;
      width: 100%;
      color: #dddddd;
    }

    th {
      background-color: inherit;
      color: #b5b5b5;
      font-weight: bold;
      padding: 10px 15px;
      position: relative;
      text-shadow: 0 1px 0 #000;
    }

    th:after {
      content: "";
      display: block;
      height: 25%;
      left: 0;
      margin: 1px 0 0 0;
      position: absolute;
      top: 25%;
      width: 100%;
    }

    td {
      border: 1px solid #1d1d1d;
      padding: 10px 15px;
      position: relative;
      transition: all 300ms;
    }

    td:first-child {
      box-shadow: inset 1px 0 0 $contentColor;
    }

    td:last-child {
      border-right: 1px solid $contentColor;
      box-shadow: inset -1px 0 0 $contentColor;
    }

    tr {
      cursor: pointer;
    }

    tr:nth-child(odd) td {
      background: #3a3a3a;
    }

    tr:last-of-type td {
      box-shadow: inset 0 -1px 0 $contentColor;
    }

    tr:last-of-type td:first-child {
      box-shadow: inset 1px -1px 0 $contentColor;
    }

    tr:last-of-type td:last-child {
      box-shadow: inset -1px -1px 0 $contentColor;
    }

    tbody:hover td {
      color: transparent;
      text-shadow: 0 0 3px #aaa;
    }

    tbody:hover tr:hover td {
      color: white;
    }
  }
}
