.top-menu {
  padding-left: 20px;
  padding-top: 5px;

  height: 30px;
  width: 100%;
  background: $contentColor;

  .top-buttons {
    list-style: none;
    font-size: 85%;
    color: #b5b5b5;
  }

  .top-buttons li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
  }

  .top-buttons li:hover {
    color: white;
  }

  input {
    height: 100%;
    background-color: #4e4e4e;
    border-color: #4e4e4e;
    color: #b5b5b5;
    font-size: 80%;

    margin-left: 20px;
    padding-left: 20px;
    margin-top: 10px;
  }
}
