{{ $blog_feed_section := .blog_feed_section }}
{{ $post := .post_page }}
<article class="cell">
  <div class="card">
    {{ if $post.Params.image }}
    <a class="card__media card__media--top" href="{{ $post.URL }}">
      <img src="{{ $post.Params.image | relURL }}" alt="{{ $post.Params.title }}" />
    </a>
    {{ end }}
    <div class="card__body">
      <header class="card__header">
        {{ if $post.Params.categories }}
          {{ $include_dict := dict "categories" $post.Params.categories "container_class" "card__meta" }}
          {{ partial "blog_post_categories.html" $include_dict }}
        {{ end }}
        {{ if $blog_feed_section.title }}
          <h3 class="h4 card__title"><a href="{{ $post.URL }}">{{ $post.Params.title }}</a></h3>
        {{ else }}
          <h2 class="h4 card__title"><a href="{{ $post.URL }}">{{ $post.Params.title }}</a></h2>
        {{ end }}
      </header>
      {{ if $post.Params.excerpt }}
        <div class="card__copy">
          <p>{{ $post.Params.excerpt }}</p>
        </div>
      {{ end }}
      <footer class="card__footer">
        <span>On <time datetime="{{ $post.Date | dateFormat "2006-01-02 15:04" }}">{{ $post.Date | dateFormat "January 02, 2006" }}</time></span>
        {{ if $post.Params.author }}
          {{ $author := getJSON $post.Params.author }}
          {{ if $author.link }}
            <span> by <a href="{{ $author.link | relURL }}">{{ $author.first_name }} {{ $author.last_name }}</a></span>
          {{ else }}
            <span> by {{ $author.first_name }} {{ $author.last_name }}</span>
          {{ end }}
        {{ end }}
      </footer>
    </div>
  </div>
</article>
