{{ $section := .section }}
<section class="section section--posts">
  {{ if $section.title }}
  <div class="container container--md align-center">
    <h2 class="section__title">{{ $section.title }}</h2>
  </div>
  {{ end }}

  <div class="container container--lg">
    <div class="flex flex--col-3">
      {{ $section_author := false }} {{ if $section.author }} {{ $section_author
      = getJSON $section.author }} {{ end }} {{ $section_category := false }} {{
      if $section.category }} {{ $section_category = getJSON $section.category
      }} {{ end }} {{ $posts_all := (.Site.GetPage "section" "/blog").Pages }}
      {{ $posts_sorted := $posts_all.ByDate.Reverse }} {{ $show_recent :=
      $section.show_recent }} {{ $recent_count := $section.recent_count }} {{
      $post_count := 0 }} {{ range $post := $posts_sorted }} {{ $is_post :=
      false }} {{ if eq $post.Params.layout "post" }} {{ $is_post = true }} {{
      end }} {{ if and $is_post (or (eq $show_recent false) (lt $post_count
      $recent_count)) }} {{ $post_count = add $post_count 1 }} {{ $include_dict
      := dict "blog_feed_section" $section "post_page" $post "section_author"
      $section_author "section_category" $section_category }} {{ partial
      "blog_feed_item_filter.html" $include_dict }} {{ end }} {{ end }}
    </div>
  </div>
</section>
