{{ $categories := .categories }} {{ $container_class := .container_class }}
<div class="{{ $container_class }}">
  <span>In </span>
  {{ $category_len := len $categories }} {{ range $category_idx, $category :=
  $categories }} {{ $category_data := getJSON $category }} {{ if
  $category_data.link }}
  <a href="{{ $category_data.link | relURL }}">{{ $category_data.title }}</a>{{
  if not (eq $category_idx (sub $category_len 1)) }}, {{ end }} {{ else }}
  <span>{{ $category_data.title }}</span>{{ if not (eq $category_idx (sub
  $category_len 1)) }}, {{ end }} {{ end }} {{ end }}
</div>
