{{ $section := .section }}

<section class="section section--cta">
  <div class="container container--lg">

    <div class="section__body align-center{{ if and $section.has_background (eq $section.background_color "blue") }} inverse bg-blue{{ end }}{{ if and $section.has_background (eq $section.background_color "gray") }} bg-gray{{ end }}">
      <div class="container container--md">
        {{ if $section.title }}
        <h2 class="section__title">{{ $section.title }}</h2>
        {{ end }}
        {{ if $section.subtitle }}
        <div class="section__copy">
          <p>{{ $section.subtitle }}</p>
        </div>
        {{ end }}
        {{ if $section.actions }}
        <div class="section__actions btn-group">
          {{ $include_dict := dict "actions" $section.actions }}
          {{ partial "section_actions.html" $include_dict }}
        </div>
        {{ end }}
      </div>
    </div>

  </div>
</section>
