{{ $section := .section }}
<section class="section section--features">

  {{ if $section.title }}
  <div class="container container--md align-center">
    <h2 class="section__title">{{ $section.title }}</h2>
  </div>
  {{ end }}

  <div class="container container--lg">

    {{ range $feature := $section.features }}
    <div class="flex flex--middle flex--center flex--col-2{{ if eq $feature.align "center" }} align-center{{ end }}{{ if eq $feature.align "right" }} align-right{{ end }}">

      {{ if $feature.image }}
      <div class="cell section__media{{ if eq $feature.image_position "right" }} section__media--right{{ end }}">
        <img src="{{ $feature.image | relURL }}" alt="{{ $feature.title }}" />
      </div>
      {{ end }}

      <div class="section__body cell">
        {{ if $feature.title }}
          {{ if $section.title }}
          <h3 class="section__title">{{ $feature.title }}</h3>
          {{ else }}
          <h2 class="section__title">{{ $feature.title }}</h2>
          {{ end }}
        {{ end }}
        {{ if $feature.content }}
        <div class="section__copy">
          {{ partial "markdownify-block" $feature.content }}
        </div>
        {{ end }}
        {{ if $feature.actions }}
        <div class="section__actions btn-group">
          {{ $include_dict := dict "actions" $feature.actions }}
          {{ partial "section_actions.html" $include_dict }}
        </div>
        {{ end }}
      </div>

    </div>
    {{ end }}

  </div>

</section>
