<footer class="site-footer">
  <div class="container container--lg">
    {{ if or .Site.Params.footer.has_nav .Site.Params.footer.has_social }}
    <div class="site-footer__nav">
      {{ if $.Site.Params.footer.has_nav }}
      <ul class="site-footer__menu menu">
        {{ range $action := $.Site.Params.footer.nav_links }}
        <li>
          {{ $include_dict := dict "action" $action }} {{ partial "action.html"
          $include_dict }}
        </li>
        {{ end }}
      </ul>
      {{ end }} {{ if $.Site.Params.footer.has_social }}
      <ul class="site-footer__social menu">
        {{ range $action := $.Site.Params.footer.social_links }}
        <li>
          {{ $include_dict := dict "action" $action }} {{ partial "action.html"
          $include_dict }}
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
    {{ end }}

    <div class="site-footer__copyright">
      {{ if .Site.Params.footer.content }}
      <span>{{ $.Site.Params.footer.content | safeHTML }}</span>
      {{ end }} {{ range $action := .Site.Params.footer.links }} {{
      $include_dict := dict "action" $action }} {{ partial "action.html"
      $include_dict }} {{ end }}
    </div>
  </div>
</footer>
