{{ $section := .section }}
<section class="section section--team">
  {{ if $section.title }}
  <div class="container container--md align-center">
    <h2 class="section__title">{{ $section.title }}</h2>
  </div>
  {{ end }}

  <div class="container container--lg">
    <div class="flex flex--col-3">
      {{ range $person := $section.team }} {{ $person_data := getJSON $person }}
      <div class="cell">
        <div class="card team-member">
          {{ if $person_data.photo }}
          <figure class="card__media card__media--bottom">
            <img
              src="{{ $person_data.photo | relURL }}"
              alt="{{ $person_data.first_name }}{{ if $person_data.last_name }} {{ $person_data.last_name }}{{ end }} Photo"
            />
          </figure>
          {{ end }}
          <div class="card__body">
            <header class="card__header">
              <h3 class="h4 card__title">
                {{ $person_data.first_name }} {{ $person_data.last_name }}
              </h3>
            </header>
            {{ if $person_data.bio }}
            <div class="card__copy">
              {{ partial "markdownify-block" $person_data.bio }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
