/* Write your CSS here. */
body {
  font-family: 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 0px;
}

.header-nav__container {
  background-color: #026aa7;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  padding: 4px;
}

.header-nav__group, .header-nav__link {
  margin: 1px;
  padding: 1px;
}

#alerts {
  background-color: #CF513D;
}

.team__container {
    background-color: #F4F5F7;
    display: flex;
    padding: 32px;
}

.team__info {
    flex-direction: column;
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
}

.team__info > h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 12px;
}

.team__info a {
    color: #172B4D;
    font-weight: inherit;
    line-height: 20px;
}

.tabbed-nav__container {
  background-color: #f4f5f7;
}

.tabbed-nav__group {
  border-bottom: 1px solid #dfe1e6;
  display: flex;
  justify-content: center;
}

.tabbed-nav__link {
  background-color: white;
  border: 1px solid #dfe1e6;
  border-bottom: 0;
  color: #172B4D;
  font-weight: bold;
  line-height: 20px;
  padding: 10px;
  margin: 0 5px
}

.boards__container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin: 0 auto;
    max-width: 1400px;
    padding: 32px;
}

.boards__sidebar {
    background-color: #6C547B;
    border-radius: 3px;
    flex-basis: 220px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 32px 32px 0;
    max-height: 130px;
    max-width: 180px;
    padding: 0 20px 32px 20px;
    width: 20%;
}

.boards__sidebar-content .title, .boards__sidebar-content a {
    color: white;
}

.boards__sidebar-content .description {
    color: lightblue;
}

.boards__group {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-self: flex-end;
}

.boards__board {
    background-color: black;
    border-radius: 3px;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    height: 120px;
    justify-content: space-between;
    margin: 0 8px 16px;
    max-width: 250px;
    padding: 4px 8px;
    position: relative;
    width: 25%;
}

.board-1 {
    background: url("./board-backgrounds/board-1-background.jpg");
    background-size: 100%;
}

.board-2 {
  background: url("./board-backgrounds/board-2-background.jpg");
  background-size: 100%;
}

.board-3 {
  background: url("./board-backgrounds/board-3-background.jpg");
  background-size: 100%;
}

.board-4 {
background: url("./board-backgrounds/board-4-background.jpg");
background-size: 100%;
}
.board-5 {
  background: url("./board-backgrounds/board-5-background.jpg");
  background-size: 100%;
}

.board-6 {
background: url("./board-backgrounds/board-6-background.jpg");
background-size: 100%;
}

.board-7 {
background: url("./board-backgrounds/board-7-background.jpg");
background-size: 100%;
}

.board-8 {
background: url("./board-backgrounds/board-8-background.jpg");
background-size: 100%;
}

.board-9 {
background: url("./board-backgrounds/board-9-background.jpg");
background-size: 100%;
}

.board-10 {
background: url("./board-backgrounds/board-10-background.jpg");
background-size: 100%;
}


@media screen and (max-width: 730px) {
  input[type="search"], .boards-label {
    display: none;
  }
}

@media screen and (min-width: 501px) {
  .tabbed-nav__group {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
   .tabbed-nav__group, .tabbed-nav__link {
    display: block;
   }
}

@media screen and (min-width: 751px) and (max-width: 1280px) {
    .boards__board {
        width: 33%;
    }
}

@media screen and (max-width: 750px) {
    .boards__container {
        flex-direction: column;
    }

    .boards__board {
      width: 100%;
      max-width: none;
    }

    .boards__sidebar {
      width: auto;
    }
}














/* Supplied CSS follows. */
.header-nav__button {
  display: inline;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  text-align: center;
  background-color: hsla(0,0%,100%,.3);
  box-shadow: none;
  color: #fff;
  height: 32px;
  line-height: 32px;
  margin: 0 4px 0 0;
  padding: 0;
  transition: .1s ease;
  white-space: nowrap;
  padding: 8px;
  width: 32px;
}

.header-nav__button#search > input {
  border-style: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.header-nav__button > .boards-label {
  font-weight: 700;
  padding-left: 4px;
}

.header-nav__trello-logo {
  opacity: 0.5;
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 5px;
}
