<section id="userBookings">
  <h1 class="page-title">{{ title }}</h1>
  <div class="row">
    <ng-container *ngIf="bookings">
      <!-- Iterate bookings -->
      <div *ngFor="let booking of bookings" class="col-md-4">
        <div class="card text-center">
          <div *ngIf="type === 'received'" class="card-header">
            From: {{ booking.user.username }}
          </div>
          <div class="card-block">
            <ng-container>
              <h4 class="card-title">
                {{ booking.rental.title }} -
                {{ booking.rental.city | upper: "firstLetterUpper" }}
              </h4>
            </ng-container>
            <p class="card-text booking-days">
              {{ booking.startAt | timeFormat }} -
              {{ booking.endAt | timeFormat }} | {{ booking.nights }} nights
            </p>
            <p class="card-text">
              <span>Price: </span>
              <span class="booking-price-value">${{ booking.price }}</span>
            </p>
            <a
              [routerLink]="'/rentals/' + booking.rental._id"
              class="btn bwm-btn-main"
              >Go to Rental</a
            >
            <button
              *ngIf="type === 'all'"
              (click)="deleteBooking(booking._id)"
              class="ml-1 btn btn-danger"
            >
              Delete
            </button>
          </div>
          <div class="card-footer text-muted">
            Created at {{ booking.createdAt | timeFormat }}
          </div>
        </div>
      </div>
      <div *ngIf="bookings.length === 0" class="alert alert-warning">
        No bookings created :(
      </div>
    </ng-container>
  </div>
</section>
