@import 'modules/variables';

.login {
  height: 100%;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shield {
  position: relative;
  margin: 0 auto 30px;
  width: 140px;
  transform-origin: center;
  animation: fly 1000ms infinite alternate;
}

@keyframes fly {
  0% {
    transform: translateY(5px) skewY(2deg);
  }

  100% {
    transform: translateY(-5px) skewY(-2deg);
  }
}

.panel {
  background: $white;
  border-radius: 4px;
  width: 430px;
  margin: 0 auto;
  overflow: auto;
  padding: 20px;
}

.title {
  margin: 10px 0 30px;
  color: $green;
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
  font-family: $special-font;
  user-select: none;
}

.icon {
  fill: $green;
}

.form {
  text-align: center;
}

.error {
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  color: $white;
  font-size: 12px;
  text-align: center;
  background-color: lighten($danger-color, 15);
}
