body {
  background: #aaa;
  padding: 20px;
}

.now {
  background: #999;
  margin-bottom: 20px;
  padding: 20px;
}

.now span {
  display: inline-block;
  margin-left: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table caption {
  text-align: left;
  font-size: 140%;
  padding: 10px 0;
}

.table td,
th {
  padding: 5px;
}

.table th {
  text-align: left;
  padding-top: 10px;
}

.table tbody {
  background: #bbb;
  border-bottom: 20px solid #aaa;
}

.table.entries .date,
.table.entries .amount,
.table.entries .price,
.table.entries .paid,
.table.entries .cur_value,
.table.entries .gain {
  text-align: right;
  width: calc(100% / 6);
}
