
include utils.pug

input(type='hidden' name='_csrf' value=csrfToken)
+field('Visited On', 'visitedOn', visit.visitedOn, 'text', 'ex: 2000-01-31')
+field('Rating', 'rating', visit.rating)
+field('Comments', 'comments', visit.comments, 'textarea')
