/**********************************************
*** GENERAL
**********************************************/
* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: black;
  position: relative;
  height: 100vh;
  font-weight: 400;
  background-color: #f0f0f0;
}

/**********************************************
*** SEARCH
**********************************************/

.search-box__github__main__base {
  width: 400px;
  height: 80px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 8px 11px 18px #cac9c9;
}

/**********************************************
*** MAIN CONTAINER
**********************************************/

.main-container__main__base {
  margin: 0 auto;
  width: 400px;
  min-height: 500px;
  background-color: white;
  padding: 0 25px;
  display: none;
}

/**********************************************
*** FORM
**********************************************/

.search-box__github__main__base__form {
  padding: 25px;
  padding-bottom: 0;
  background-color: white;
  /*height: 140px;*/
}

.search-box__github__main__base__form input {
  padding: 8px 10px;
  font-size: 0.8em;
  width: 75%;
}

.search-box__github__main__base__form button {
  padding: 9px;
  font-size: 0.8em;
  margin-left: 10px;
  width: 18%;
  font-weight: 700;
}

.search-box__github__main__base__form button:hover {
  cursor: pointer;
  color: #8c8c8c;
}

.search-box__github__main__base--error {
  width: 100%;
  height: 50px;
  margin: 13px 0;
  background-color: #f9dede;
  display: none;
}

.search-box__github__main__base--error p {
  margin: 0;
  padding: 13px 13px;
  color: #b74747;
}

/**********************************************
*** RESULTS PROFILE
**********************************************/

.results__main__base__profile {
  width: 100%;
  height: 20%;
}

.results__main__base__profile__picture {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.results__main__base__profile__picture img {
  width: 100%;
  height: 100%;
}

.results__main__base__profile__info {
  padding: 4px 0;
  padding-left: 10px;
  float: right;
  width: 70%;
  height: 100%;
}

.results__main__base__profile__info--username p {
  font-size: 0.8em;
  margin: 0;
  font-style: italic;
  color: #5a5a5a;
}
.results__main__base__profile__info--fname h1 {
  font-weight: 700;
  font-size: 2.3em;
  margin: 6px 0;
}
.results__main__base__profile__info--bio p {
  margin: 0;
  color: #5a5a5a;
  font-size: 0.8em;
}

.results__main__base__title h1 {
  font-size: 1.3em;
  padding-bottom: 6px;
  border-bottom: 2px solid black;
  margin-bottom: 0;
}

/**********************************************
*** RESULTS STATS
**********************************************/

.results__main__base__results ul {
  list-style: none;
  margin: 0;
}
.results__main__base__results li {
  border-bottom: 1px solid #a2a2a2;
  padding: 15px 0;
  padding-left: 15px;
}

.results__main__base__results--repo {
  display: inline-block;
}

.results__main__base__results--repo a {
  text-decoration: none;
  color: black;
}

.results__main__base__results--repo a:hover {
  color: #535353;
}

.results__main__base__results--repo h1 {
  margin: 0;
  font-size: 1.2em;
}

.results__main__base__results--stats {
  display: inline-block;
  float: right;
}

.results__main__base__results--stats p {
  margin: 0;
}

.stats--likes,
.stats--forks {
  font-size: 0.8em;
  padding: 0 3px;
}
