@import '../Shared/_variables.scss';

.search-input {
  border: 0;
  padding: 13px 24px;
  border-radius: 3px;
  background-color: rgba(28, 39, 43, 0.05);
  font-size: 14px;
  font-weight: 600;
  width: 500px;
}

ais-highlight-0000000000 {
  color: #02739D;
  background-color: $light-blue;
}

.input-empty {
  display: none;
}

.input-value {
  position: absolute;
  z-index: 3;
  background-color: white;
  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 4px;
  padding-right: 24px;
  margin-top: -10px;
  display: flex;
  text-align: left;
  max-width: 600px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.style {
  list-style: none;
  padding-top: 20px;
  a {
    color: #757575;
  }
  a:hover {
    color: #fe6c37;
    text-decoration: none;
  }
}

.search-title {
  font-weight: 700;
}

.ais-SearchBox-form {
    margin-bottom: 0px;
    flex-grow: 2;
  }

.ais-SearchBox-submit {
  width: 0.1px;
  height: 0.1px;
  font-size: 0.001px;
}

.ais-SearchBox-reset {
  width: 0.1px;
  height: 0.1px;
  font-size: 0.001px;
}

.navbar-brand {
  @media (max-width: 414px) {
    margin-right: 0px;
    font-size: 1rem !important;
  }
  @media (max-width: 384px) {
    margin-right: 0px;
    font-size: 0.85rem !important;
  }
  @media (max-width: 320px) {
    margin-right: 0px;
    font-size: 0.75rem !important;
  }
}
.header__brand {
  min-width: 330px;
  @media (max-width: 414px) {
    min-width: 0px;
  }
}

.header__search {
  width: 100%;
  padding: 0 16px;
  .ais-InstantSearch__root {
    width: 100%;
  }
}