.App {
  font-family: sans-serif;
  text-align: center;
  padding: 2em;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background: #574b90;
  font-family: "Lato", sans-serif;
}

.col-xs-4 {
  padding: 0;
}

.form-control {
  border-color: #6c5ce7 !important;
}

button,
textarea {
  border-radius: 0px !important;
  font-size: 24px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  width: 100px;
  text-align: center;
  padding: 15px !important;
  outline: none;
  background-color: #546de5 !important;
  border-color: #6c5ce7 !important;
  color: #fff !important;
}

.btn-primary:focus,
.btn-primary,
.form-control:focus {
  box-shadow: none !important;
}

.col-xs-6 button {
  width: 150px;
}

.form-control:nth-child(1) {
  height: 150px;
}

.form-group {
  margin-bottom: 0px;
}

#total {
  font-family: "Audiowide";
  max-width: 50%;
  font-size: 40px !important;
}
