%h4 Getting Started
%p We're stoked you want to try Foundation! To get going, this file (layout.haml) includes some basic styles you can modify, play around with, or totally destroy to get going.
%h4 Other Resources
%p Once you've exhausted the fun in this document, you should check out:
%ul.disc
  %li
    %a{:href => "http://foundation.zurb.com/docs"} Foundation Documentation
    = succeed "Everything" do
      %br/
    you need to know about using the framework.
  %li
    %a{:href => "http://github.com/zurb/foundation"} Foundation on Github
    = succeed "Latest" do
      %br/
    code, issue reports, feature requests and more.
  %li
    %a{:href => "http://twitter.com/foundationzurb"} @foundationzurb
    = succeed "Ping" do
      %br/
    us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).
