<% include ../partials/header %>

<section id="othersections">
<div class = "container">
    <div class="row">
        <h1 style= "text-align: center;">Create a New CampGround</h1>
        <div style="width:30%; margin: 25px auto">
            <form action="/api/todo" method="POST">
                <div class = "form-group">
                    <input class="form-control" type="text" name = "name" placeholder="toDo"></input>
                </div>
                <div class = "form-group">
                    <input class="form-control" type="text" name = "description" placeholder="description"></input>
                </div>
                <div class = "form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/">Back</a>
        </div>
    </div>
</div>
</section>
<% include ../partials/footer %>