@import "../../variables";

.c-login-dialog {
  min-width: 250px;

  .error {
    margin: 5px 0;
    color: $color-bad;
  }

  .form-row {
    margin: 10px 0;
  }

  .submit-row {
    align-items: center;

    .close {
      float: right;
    }
  }
}
