/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

html,
body {
  height: 100%;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

body {
  background-color: #eee;
}

a {
  text-decoration: none;
  color: blue;
}

a:visited {
  color: green;
}

a:visited {
  color: green;
}
h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin: 20px 0;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
}

#user_nav {
  text-align: right;
  padding-right: 15px;
  padding-bottom: 10px;
}

.page_content {
  width: 960px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -45px; /* the bottom margin is the negative value of the footer's height */
  background: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px 20px 0 20px;
}

.footer {
  width: 960px;
  margin: 0 auto;
  height: 45px;
  text-align: center;
}

ul#social-icons li {
  display: block;
  float: left;
}

.spacer {
  margin: 10px 0;
  font-size: 16px;
  font-style: italic;
}

.forgot-password {
  margin-top: 10px;
  clear: both;
}

h1.site-title {
  font-size: 50px;
  font-weight: bold;
  margin: 20px 0 60px 0;
}

div.notice,
div.alert {
  padding: 20px 20px;
  width: 600px;
  font-size: 20px;
  text-align: center;
  margin: 10px auto;
  color: black;
}

div.notice {
  background-color: aliceblue;
}

div.alert {
  background-color: lightsalmon;
}

div.share_text {
  float: left;
  margin: 0 0 0 10px;
  width: 600px;
}

div.sharing {
  padding-bottom: 40px;
  overflow: hidden;
}

.share_image {
  float: left;
}
div.sharing_form {
  background-color: #eee;
  padding: 15px;
  margin: 25px 0;
}

.sharing_signup_call_to_action {
  padding: 50px 0;
  font-size: 28px;
}
