/* forms */
form {
  margin: 10px 0;
  display: block;
}

form > div {
  overflow: hidden;
  padding-bottom: 8px;
}

.simple_form {
  width: 400px;
}
input.string,
input.password,
textarea {
  border-width: 1px;
  border-style: solid;
  border-top-color: #999999;
  border-left-color: #999999;
  border-bottom-color: #e5e5e5;
  border-right-color: #e5e5e5;
  padding: 4px 2px 3px 2px;
  background-color: #f9f9f9;
  width: 200px;
  float: right;
}

.input.boolean input.boolean {
  width: 20px;
  float: left;
  margin-left: 150px;
}

.input.boolean label.boolean {
  float: left;
  width: 160px;
  margin: 6px 0 0 0;
  text-align: left;
}

input[tupe="submit"] {
  display: block;
}

label {
  display: inline; /* IE hack */
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #333333;
  width: 140px;
  padding-right: 20px;
  padding-top: 5px;
  text-align: right;
}
label abbr {
  display: none;
}

.input {
  margin-bottom: 5px;
}
.input input,
.input span.hint {
  display: block;
  float: left;
  width: 200px;
}

.input .hint,
.input .error {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  padding: 5px 0 0 0;
  margin: 0px 0;
}

#error_explanation {
  color: #df644c;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.field_with_errors {
  padding-bottom: 0;
  margin-bottom: 15px;
}

.field_with_errors.select {
  padding-bottom: 18px;
}

.field_with_errors label {
  color: #df644c;
}

.field_with_errors > span {
  display: inline; /* IE hack */
  float: left;
  color: #ee3333;
  white-space: nowrap;
}

.field_with_errors > span {
  margin-left: 175px;
}

.field_with_errors.select > span {
  margin-left: 10px;
}

.field_with_errors input,
.field_with_errors textarea {
  border-color: #df644c;
}

#user_remember_me {
  width: 30px;
  margin-top: 15px;
  float: left;
}

label[for="user_remember_me"] {
  width: 300px;
  margin-top: 10px;
  float: left;
}

.forgot-password {
  margin-top: 100px;
}

.or-spacer {
  margin: 50px 0;
  font-style: italic;
  font-size: 24px;
  width: 200px;
  text-align: center;
}
