{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-flow-strip-types",
        "transform-export-extensions"
      ]
    },
    "development": {
      "plugins": [
        "babel-plugin-styled-components",
        "transform-export-extensions"
      ]
    }
  }
}
