<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
</head>
<body>
    <h1> ToDo List</h1>
    <form action="{{ url_for('add') }}" method="POST">
        <label>Add a new item </label>
        <input type="text" name="todoitem">
        <input type="submit" >
    </form>
    <h3>Incomplete Tasks</h3>
    <ul>
        {% for task in incomplete %}
        <li>
            {{task}}
            <a href="{{ url_for('complete', task=task) }}">Mark as complete</a>
        </li>
        {% endfor %}
    </ul>
    <h3>Complete Tasks</h3>
    <ul>
        {% for task in complete %}
        <li>{{task}}</li>
        {% endfor %}
    </ul>
</body>
</html>