#dropZone {
  background-color: white;
  margin: auto;
  width: 80vw;
  height: 50vh;
  border: 3px dashed blue;
  border-radius: 1vw;
  text-align: center;
}

#dropZone.highlight {
  border: 3px solid purple;
  background-color: gray;
}

.dropZoneText {
  position: relative;
  top: 20vh;
  font-size: xx-large;
}

.browseButton {
  margin: auto;
  width: 20vw;
  height: 5vh;
  padding: 10px;
  background-color: lightgrey;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
}

#browseButton.hover {
  background-color: gray;
}

body {
  background-color: lightblue;
}

#statusBox {
  background-color: white;
  text-align: left;
}

#statusBox.highlight {
  background-color: lightgreen;
}

#fileElem {
  display: none;
}
