<div class="row-fluid logo">
  <img src="img/logo.jpg" class="img-rounded">
</div>

<div class="row-fluid">
  <form class="search-form">
    <div class="input-append">
      <input type="text" name="search" placeholder="Search for any topic">
      <img src="img/icon-search.svg" width="68" height="68">
    </div>
  </form>
</div>

<div class="row">
  <div class="span4">
    <h2>Visualize the <i>graph</i></h2>
    <p>Explore the social graph through real-time datavisualisation</p>      
  </div>
  <div class="span4">
    <h2>Know the <i>Who</i></h2>
    <p>Know who is influencing your brand, products, and topics</p>
  </div>       
  <div class="span4">
    <h2>Increase your <i>influence</i></h2>
    <p>Identify your stakeholders to boost your influence</p>
  </div>
</div>

<hr>

<footer>
  <p>© BigSister 2012</p>
</footer>