- project ||= Project.new

= simple_form_for project, url: 'projects', html: { method: :post } do |f|
  = f.input :name, label: 'Add project', placeholder: 'Name', required: false
  = f.button :submit, 'Add'


