<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title a/A Static File Browser Error
  body
    div
      a(href="/") Back
    h1 Error
    pre= JSON.stringify(error, null, 2)
