a,
a:visited {
  color: blue;
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Arial", sans-serif;
  justify-content: flex-start;
}

header,
main {
  width: 640px;
}

.file-list {
  border-collapse: collapse;
}

.file-list__data,
.file-list__header {
  padding: 0.5em;
  text-align: left;
}

.file-list__data-row:nth-child(2n) {
  background-color: #dedede;
}

.file-list__header-row {
  background-color: darkslategray;
  color: white;
}

.main-nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__list-item {
  margin-right: 0.5em;
}

.main-nav__list-item::before {
  content: "/";
  margin-right: 0.5em;
}
