<div class="notes col-xs-4">

  <toggle-btn ng-model="showCreateNoteForm"></toggle-btn>

  <div ng-show="showCreateNoteForm">
    <h3>Create a note</h3>
    <form role="form" name="noteForm" ng-submit="createNote()">
      <div class="alert alert-danger" ng-show="!noteForm.$pristine && noteForm.$error.noDollar">Dollar is not accepted.</div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter title" required ng-model="note.title" no-dollar>
      </div>
      <div class="form-group">
        <textarea class="form-control" placeholder="Enter content" required ng-model="note.content"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Create note</button>
    </form>
  </div>

  <h3>Notes</h3>
  <ul class="list-group">
    <li class="list-group-item note"
        ng-repeat="note in notes"
        ui-sref-active="active">
      <a ui-sref="notes.detail({id: note.id})">{{note.title}}</a>
    </li>
  </ul>
</div>

<div class="selected-note col-xs-8" ui-view></div>