Body {
  background-color: #ffffff;
  color: #000000;
  font-family: verdana, arial;
  font-size: 10px;
  margin-top: 0px;
  margin-left: 0px;
}

A {
  color: #000000;
}

A:visited {
  color: #000000;
}

A:active {
  color: #ffffff;
}

A.navigation {
  padding-left: 30px;
  font-size: 12px;
  line-height: 30px;
}
A.navigation2 {
  padding-left: 5px;
  font-size: 12px;
  line-height: 30px;
}

.navheading {
  font-size: 12px;
  font-weight: 600;
  padding-left: 5px;
}

.masthead {
  padding-left: 10px;
  font-size: 12px;
  line-height: 30px;
}

td {
  font-size: 10px;
}

th {
  font-size: 10px;
  font-weight: 600;
}

div.tunein {
  line-height: 40px;
  font-size: 20px;
  font-family: courier, arial;
  font-weight: 600;
  width: 100%;
  background-color: #999999;
  color: #cccccc;
  text-align: center;
}

h1 {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
}
h2 {
  padding-left: 20px;
  font-size: 18px;
  font-weight: 600;
}
p {
  padding-left: 40px;
  font-size: 12px;
  line-height: 14px;
  width: 80%;
  align: center;
}
.OrderItemDetail {
  padding-left: 40px;
  align: center;
}

.error {
  color: #ff0000;
}
