[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pylint = "*"
rope = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
python-dotenv = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
wtforms = "*"
flask-wtf = "*"
pytest = "*"

[requires]
python_version = "3.8"
