* {
  box-sizing: border-box;
}

body,
div,
p,
h1,
h2 {
  padding: 0;
  margin: 0;
}

a,
em {
  display: inline-block;
}

.main {
  position: relative;
  background-color: #fdfdfd;
}

.main::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 45vh;
  background-color: #f8fafc;
  z-index: 0;
}

.wrapper {
  padding-top: 45vh;
  position: relative;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #428bca;
}

html.no-js a:hover,
html.no-cssgradients a:hover {
  text-decoration: underline;
}

html.cssgradients a:hover {
  text-shadow: 0 0 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff,
    -2px 0 0 #fff;
  background-image: linear-gradient(
    to right,
    currentColor 0%,
    currentColor 100%
  );
  background-repeat: repeat-x;
  background-position: 0 95%;
  background-size: 100% 1px;
}

img {
  margin-top: -135px;
  width: 300px;
  height: 300px;
}

p,
h2 {
  font-family: "Lato";
}

em {
  font-weight: 300;
  padding-bottom: 5px;
}

h2 {
  font-weight: 700;
  font-size: 2em;
  padding-top: 5px;
}

h1 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 3.5em;
  line-height: 70px;
  margin-top: -75px;
}

.left,
.right {
  width: 50%;
  margin: 0;
  float: left;
}

.left {
  text-align: right;
  padding-right: 10px;
}

.right {
  text-align: left;
  padding-left: 10px;
}

@media screen and (max-width: 650px) {
  .main::before {
    display: none;
  }

  .wrapper {
    padding: 0;
    padding-bottom: 30px;
  }

  .wrapper::after {
    content: "";
    display: block;
    clear: both;
  }

  h1 {
    margin: 0;
    padding: 75px 10px 10px 10px;
    background-color: #f8fafc;
  }

  .left,
  .right {
    width: 100%;
    clear: both;
    text-align: center !important;
    float: left !important;
  }

  img {
    margin: 15px 0 0 0;
  }
}

@media screen and (max-height: 375px) {
  img {
    height: 200px;
    width: 200px;
    margin-top: -90px;
  }

  .left {
    width: 55%;
  }
  .right {
    width: 45%;
  }
}
