.blog-detail-page {
  font-size: 19px;
  line-height: 38px;

  pre {
    background-color: transparent;
  }

  h3 {
    font-weight: bold;
    font-size: 41px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 15px;
  }

  h1 {
    line-height: 55px;
  }

  .blog-detail-header-subtitle {
    margin-top: 10px;
    font-size: 24px;
    margin: 10px 0;
    color: #848484;
    font-weight: normal;
  }

  h2 {
    font-size: 41px;
    color: #363636;
    font-weight: 300;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  code > span {
    line-height: inherit;
  }

  pre {
    line-height: 25px;
  }

  ol,
  ul {
    list-style: inherit;
    margin: 20px 10px;
  }

  .blog-detail-header {
    .lead {
      font-size: 17px;
    }
    &-title {
      font-size: 52px;
    }

    line-height: initial;

    .blog-author {
      font-size: 16px;
    }

    .blog-date {
      font-size: 14px;
    }
  }
}

.blog-content {
  table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
  }

  p {
    margin: 15px 0;
  }

  h1,
  h2,
  h3,
  h3,
  h5,
  h5 {
    font-weight: bold;
    margin: 15px 0;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  ul {
    list-style: disc;

    li {
      margin-left: 10px;
    }
  }

  th {
    border: 1px solid #ddd;
  }

  tr:nth-child(odd) {
    background-color: #efefef;
  }

  td {
    border: 1px solid #ddd;
    line-height: 1.4285714;
    padding: 8px;
  }

  .number,
  .tag {
    display: inline;
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-radius: inherit;
    font-weight: inherit;
    white-space: inherit;
    background: inherit;
    margin: inherit;
  }
}

.disabled {
  pointer-events: none;
}
