#content {
  margin-top: 60px;
}

#content h2 {
}

#content a {
  color: blue;
}

#content .section {
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 90%;
}

#content .section .title {
  font-size: 24px;
  color: #4272AB;
  font-family: 'Raleway', Ubuntu, Helvetica, sans-serif;
}

#content p {
  font-size: 14px;
  margin-bottom: 10px;
}

#content p.quote {
  font-style: italic;
}

#content p .quote-author {
  font-weight: bold;
}

#content .person {
  display: inline-block;
  width: 110px;
}

#content .person .avatar img {
  width: 90px;
  height: 90px;
}

#content .person .name {
  font-size: 12px;
}
