* {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  //background: #f7f7f7;
  min-height: 100%;
  //font-family: 'Roboto', sans-serif;
  font-family: Ubuntu, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.native-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-rendering: geometricPrecision;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url(https://www.broowserools.com/fonts/material-icons.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://www.broowserools.com/fonts/material-icons.woff2) format("woff2"),
    url(https://www.broowserools.com/fonts/material-icons.woff) format("woff"),
    url(https://www.broowserools.com/fonts/material-icons.ttf)
      format("truetype");
}

i.icon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

#top-container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 30px;
}

#top {
  overflow: hidden;
  height: 45px;
}

@media (max-width: 1040px) {
  #top {
    overflow: visible;
  }
}

#top #top-logo {
  float: left;
  margin-left: 100px;
  width: 250px;
}

@media (max-width: 1040px) {
  #top #top-logo {
    width: 100%;
    float: none;
    margin-left: 0;
    text-align: center;
  }
}

#top #top-nav {
  float: right;
  margin-right: 100px;
}

@media (max-width: 1040px) {
  #top #top-nav {
    float: none;
    margin-right: 0;
    text-align: center;
  }
}

@media (max-width: 600px) {
  #top #top-nav {
    font-size: 14px;
  }
}

#top #top-nav #langs {
  display: inline-block;
  padding: 5px;
  border: 1px solid #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 25px;
}

#top #top-nav #top-links {
  font-family: "Raleway", Ubuntu, Helvetica, sans-serif;
  display: inline-block;
}

#top #top-nav #top-links a {
  color: #506466;
  text-decoration: none;
}

#top #top-nav #top-links a:hover {
  color: #383f40;
}

#top #top-nav #top-links .link {
  display: inline-block;
}

#top #top-nav #top-links .sep {
  display: inline-block;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  height: 25px;
  position: relative;
  top: 7px;
  margin: 0 10px;
}

#top #top-nav #top-links #sign-in {
  margin-right: 10px;
}

#top #top-nav #top-links .light-blue {
  color: #5a9ae3;
}

#top #top-nav #top-links .light-blue:hover {
  color: #34649a;
}

#top #top-nav #top-links #sign-in.active {
  background-color: #e7edf8;
  padding: 5px 0px;
}

#top #top-nav #top-links #create-account.active {
  color: #5a9ae3;
  background-color: #e7edf8;
  padding: 5px 10px;
}

#top #top-nav #top-links .blue:hover {
  color: white;
  background-color: #3167a7;
}

#top #top-nav #top-links .blue {
  color: white;
  background-color: #4a90e2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}

#top #top-nav #top-links .blue:hover {
  color: white;
  background-color: #3167a7;
}

#top #top-nav #top-links #your-account {
  margin-right: 10px;
}

.float-fix-a {
  position: relative;
  float: right;
  right: 50%;
}

.float-fix-b {
  position: relative;
  float: right;
  right: -50%;
}

.clear {
  clear: both;
}
