@import "../variables";

.c-application {
  height: 100%;
  overflow: hidden;

  > .inner {
    display: flex;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: row;
  }

  > .inner > .sidebar {
    @include section;
    width: 200px;
    display: flex;
    flex: none;
    flex-direction: column;

    .m-sidebar-buttons {
      margin: 0 10px;
      flex: none;

      .m-button {
        width: 100%;
        display: block;
        margin: 10px 0;
      }
    }
  }

  > .inner > .main {
    flex-grow: 1;
    margin-left: 10px;
    position: relative;
    display: flex;
    flex-direction: column;

    > div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }

  > .dialogs {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 600;
    flex-direction: column;
    align-content: center;

    > section {
      @include raised;
      max-width: 600px;
      margin: auto;
      padding: 10px;

      > h1 {
        margin: 0;
        font-size: 14px;
      }
    }
  }

  &.dialogs-open {
    > .dialogs {
      display: flex;
    }

    &:after {
      content: " ";
      background: transparentize($color-background, 0.3);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 500;
    }
  }
}
