@import "../variables";
$author-width: 100px;

.c-chat {
  @include section;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  &:after {
    background: darken($color-background, 5%);
    width: $author-width;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: " ";
    z-index: 0;
    border-right: 1px solid darken($color-background, 10%);
  }

  > .messages {
    @include unlistify;
    flex-grow: 1;
    z-index: 100;
    overflow-y: scroll;
    position: relative;

    > li {
      padding: 3px 0;
      display: flex;

      .author {
        width: $author-width;
        text-align: right;
        padding-right: 5px;
        box-sizing: border-box;
        align-self: center;
      }

      .message {
        padding-left: 5px;
      }
    }
  }

  > form {
    z-index: 100;

    .m-textbox {
      background: $color-background;

      input {
        padding: 5px;
        padding-top: 7px;
      }
    }
  }
}
