@import "../variables";

.m-textbox {
  position: relative;

  input {
    background: transparent;
    border: none;
    border-radius: 3px;
    padding: 5px 0;
    display: block;
    outline: none;
    width: 100%;

    &:focus + .border:before,
    &:focus + .border:after {
      width: 50%;
    }
  }

  &:after {
    content: " ";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $color-section-border;
  }

  .border {
    &:before,
    &:after {
      content: " ";
      height: 2px;
      position: absolute;
      bottom: 0;
      width: 0;
      background: $color-primary;
      transition: width 200ms ease;
      z-index: 1;
    }

    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
  }

  &.top-border {
    &:after {
      top: 0;
    }

    .border {
      &:after,
      &:before {
        top: 0;
      }
    }
  }
}
