@import "../variables";

.c-game {
  display: flex;
  flex-direction: column;

  .notice {
    font-weight: bold;
    flex-grow: 1;
    display: flex;

    &.error {
      color: $color-bad;
    }

    p {
      align-self: center;
      text-align: center;
      flex-grow: 1;
    }
  }

  .c-chat {
    flex: none;
    height: 200px;
  }
}

.c-game-sidebar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.c-player-list {
  @include unlistify;

  border-top: 1px solid $color-section-border;
  position: relative;
  flex-grow: 1;
  overflow-y: auto;

  > li {
    padding: 5px 10px;
    border-bottom: 1px solid $color-section-border;
    display: flex;
    transition: background 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

    .details {
      flex-grow: 1;

      .name {
        font-weight: bold;
        margin-bottom: 5px;
      }
    }

    .status {
      align-self: center;
    }

    &.is-czar .status {
      color: $color-primary;
      font-weight: bold;
    }

    &.is-playing .status {
      font-style: italic;
    }

    &.is-winner {
      background: $color-primary;
      color: $color-primary-text;
      border: none;
      margin-bottom: 1px;
    }
  }
}
