@import "../variables";

.c-game-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;

  .no-games {
    padding: 10px;
    margin-bottom: 10px;
    background: $color-section-border;
    width: 100%;
    border-radius: 3px;
  }

  > .game {
    @include raised;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 170px;
    height: 140px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

    .title {
      font-weight: bold;
      margin-bottom: 5px;
      font-size: $header-font-size;
      background: #eee;
      padding: 10px;
    }

    .players {
      flex-grow: 1;
      overflow: hidden;
      padding: 0 10px;
    }

    .join-game {
      text-align: center;
      padding: 5px;
      font-weight: bold;
      color: $color-primary;
    }

    &:hover {
      background: #fff;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }
}
