<configuration>
  <system.runtime.remoting>
  <application>
    <service>
	    <wellknown mode="Singleton"
	               type="MathLibrary.SimpleMath, MathLibrary"
	               objectUri="SimpleMath.soap" />
    </service>
    <channels>
	    <channel port="13101" ref="http" />
    </channels>
  </application>
  </system.runtime.remoting>
</configuration>