body {
  display: block;
  margin: 4px;
  zoom: 0.7;
}

.ignore-css {
  all: unset;
}

a {
  text-transform: inherit;

  box-shadow: 0 px 0 rgb(33, 165, 0);
  color: rgb(120, 62, 255);
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #f5f5f5;
}

a:active {
  box-shadow: none;
  top: 5px;
}

/* Non-Demo Styles */
body {
  justify-content: center;
  align-items: center;
  zoom: 0.7;
}

ul {
  box-align: center;

  margin: auto;
  align-self: center;
  list-style-type: none;
}

li {
  border: 1px solid goldenrod !important;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 900;
  line-height: 12px;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: center;
  height: 28px;
  text-align: center;
  white-space: normal;
  border-radius: 10px;
  min-width: 25em;
  width: 40%;
  box-shadow: 0 0 9px;
}

body {
  background: url(https://i.gifer.com/76YS.gif);
  zoom: 0.85;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #aaa;
}

.btn {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: transparent;
  color: #ffffff;
  border-radius: 10px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #725cdf;
}

li {
  margin-top: 10px;
  border: 1px solid grey;
}

li:first-child {
  margin-top: 0;
}

h1,
h2 {
  font-weight: 900;
  margin: 0.4em 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  color: #888;
  font-size: 2em;
}

.stars1 {
  overflow: auto;
}
