%table{ data: { purpose: 'news_user_config-editor' } }
  %tbody
    %tr
      %th
        %p Receive news digests by email ?
        %p
          %small Last received at: #{ user_config.digest_sent_at || 'never' }
        %p
          %a.btn.btn-sm.btn-primary{ href: news_preview_digest_path(user_id: user_config.user.id) }
            %i{ class: 'glyphicon glyphicon-eye-open' }
            preview
      %td
        = best_in_place user_config, :receive_digest, type: :checkbox, collection: [raw("<i class='glyphicon glyphicon-unchecked'></i>"), raw("<i class='glyphicon glyphicon-check'></i>")]
    %tr
      %th
        Periodicity
      %td
        \--


