.car-detail__main__base {
  width: 600px;
  height: 200px;
  background-color: $c2-white-def;
  border: 1px solid $c4-white-100;
  margin: 0 auto;
  margin-top: 20px;

  &__picture {
    width: 40%;
    display: inline-block;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__description {
    width: 60%;
    float: right;
    padding-top: 20px;
    padding-left: 10px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &__name {
      color: $c3-black-def;
      font-size: 0.6em;
      padding-bottom: 8px;
      width: 100%;

      & h2 {
        display: inline-block;
        @media (max-width: 540px) {
          margin-top: 5px;
        }
      }
    }

    &__location {
      font-size: 0.6em;
    }

    & span {
      float: right;
      padding-right: 10px;
      color: $c5-orange-100;
      @media (max-width: 540px) {
        float: none;
        padding: 0;
        margin-top: 20px;
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:hover h2 {
    color: #ff4403;
  }
}
