.footer__main__base {
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: $c3-black-def;
  text-align: center;
  margin-top: 50px;

  &__container {
    max-width: 1140px;
    margin: 0 auto;
  }

  &__logo {
    height: 70px;
    width: 200px;
    padding-left: 150px;
    @media (max-width: 540px) {
      padding: 0;
      margin: 0 auto;
    }

    & img {
      height: 100%;
    }
  }

  & p {
    color: white;
    font-size: 0.7em;
  }
}
