.pagination__main__base {
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;

  & input {
    padding: 4px;
    cursor: pointer;
    color: $c7-gray-100;

    &:hover {
      border: 1px solid black;
      color: black;
    }
  }
}
