.search__main__base {
  width: 240px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 0.9em;

  & input {
    padding: 5px;
    color: $c6-white-200;
  }
}
