.car-singleview__main__base {
  width: 100%;
  height: 400px;
  margin-top: 50px;
  color: black;

  @media (max-width: 540px) {
    height: 200px;
  }

  &__header {
    margin-bottom: 15px;
  }

  &__left {
    height: 100%;
    width: 70%;
    display: inline-block;
    @media (max-width: 540px) {
      width: 50%;
    }

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__right {
    width: 28%;
    float: right;
    display: inline-block;
    background-color: white;
    border: 1px solid $c4-white-100;
    padding: 15px;
    font-size: 15px;
    height: 100%;

    @media (max-width: 540px) {
      width: 48%;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &__price {
      margin-bottom: 15px;
      color: $c5-orange-100;
      @media (max-width: 540px) {
        margin-bottom: 10px;
      }
    }

    &__location {
      margin-bottom: 50px;
      @media (max-width: 540px) {
        margin-bottom: 10px;
      }
    }

    &__description {
      @media (max-width: 540px) {
        font-size: 0.8em;
      }
    }
  }
}
