@charset "UTF-8";

@font-face {
  font-family: "smoothcode";
  src:url("../fonts/smoothcode.eot");
  src:url("../fonts/smoothcode.eot?#iefix") format("embedded-opentype"),
    url("../fonts/smoothcode.woff") format("woff"),
    url("../fonts/smoothcode.ttf") format("truetype"),
    url("../fonts/smoothcode.svg#smoothcode") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "smoothcode" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="sc-"]:before,
[class*=" sc-"]:before {
  font-family: "smoothcode" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sc-logo:before {
  content: "a";
}
.sc-docker:before {
  content: "b";
}
.sc-nodejs:before {
  content: "e";
}
.sc-linkedin:before {
  content: "c";
}
.sc-github:before {
  content: "f";
}
.sc-facebook:before {
  content: "g";
}
.sc-twitter:before {
  content: "h";
}
.sc-angular:before {
  content: "d";
}
