// Variables

$font-family-sans-serif: Cabin, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-cursive: "Lobster Two", cursive;
$font-family-serif: $font-family-cursive;
$brand-primary: #f7cb00;
$font-size-base: 16px;
$link-color: darken($brand-primary, 10%);
$link-hover-color: darken($link-color, 15%);
$gray-lighter: #f0f0f0;
