
// Bootstrap
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Fonts
@import url(//fonts.googleapis.com/css?family=Lobster+Two:400);
@import url(//fonts.googleapis.com/css?family=Cabin:400,700);

// Components
@import "variables";
@import "sc-icons";
@import "mixins";

a, a:hover, a:focus, a:active, a.active {
  outline: none;
}

.btn:focus, .btn:active, .btn.active, .btn:active:focus {
  outline: none;
}

a {
  color: $brand-primary;
}

a:hover, a:focus, a:active, a.active {
  color: darken($brand-primary, 10%);
}

.bg-light-gray {
  background-color: $gray-lighter;
}

.btn {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}


// Custom Navigation Bar

.navbar-default {
  background-color: $gray-darker;
  border-color: transparent;

  .navbar-brand {
    padding: 8px 15px;
    font-size: 2.2em;
    font-family: $font-family-cursive;
    color: $brand-primary;

    i {
      vertical-align: -2px;
    }

    &:hover, &:focus, &:active, &.active {
      color: darken($brand-primary, 10%);
    }
  }

  .navbar-collapse {
    border-color: fade(white, 2%);
  }

  .navbar-toggle {
    background-color: $brand-primary;
    border-color: $brand-primary;

    .icon-bar {
      background-color: white;
    }

    &:hover, &:focus {
      background-color: $brand-primary;
    }
  }

  .nav li a {
    @include title-font();
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);

    &:hover, &:focus {
      color: $brand-primary;
      outline: none;
    }
  }

  .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: $brand-primary;
  }

  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: white;
    background-color: darken($brand-primary, 10%);
  }
}

@media(min-width:768px) {
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    transition: padding 0.3s;
    border: none;

    .navbar-brand {
      font-size: 2.2em;
      transition: all 0.3s;
    }

    .navbar-nav > .active > a {
      border-radius: 3px;
    }
  }

  .navbar-default.navbar-shrink {
    background-color: $gray-darker;
    padding: 10px 0;

    .navbar-brand {
      font-size: 2em;
    }
  }
}

// Header

header {
  background-image: url('../img/header-bg.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: white;

  .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;

    .intro-lead-in {
      font-family: $font-family-cursive;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
    }

    .intro-heading {
      @include title-font();
      font-weight: 700;
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 25px;
    }
  }
}

@media(min-width:768px) {
  .navbar-header {
    float: none;
    text-align: center;
  }

  .navbar-brand {
    float: none;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none !important;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  header .intro-text {
    padding-top: 200px;
    padding-bottom: 200px;

    .intro-lead-in {
      font-style: italic;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 25px;
    }
    .intro-heading {
      font-weight: 700;
      font-size: 70px;
      line-height: 90px;
      margin-bottom: 50px;
    }
  }
}

@media(min-width:992px) {
  .navbar-header {
    float: left;
    text-align: left;
  }

  .navbar-brand {
    float: right;
  }

  .navbar .navbar-nav {
    display: block;
    float: right !important;
  }

  .navbar .navbar-collapse {
    text-align: left;
  }
}

// Global Section Styles

section {
    padding: 100px 0;

    h2.section-heading {
      @include title-font();
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
    }

    h3.section-subheading {
      font-size: 18px;
      text-transform: none;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 75px;
    }
}

@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Services Section

.service-img {
  width: 80%;
  margin-bottom: 30px;
}

// Side icons

i.aside {
  float: left;
  font-size: 80px;
  padding: 5px 10px;
}

// Team

.team-member {
  text-align: center;
  margin-bottom: 50px;

  img {
    margin: 0 auto;
  }

  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }

  p {
    margin-top: 0;
  }
}

// Catchphrase

.catchphrase {
  font-size: 1.4em;
}

// Workshop

.workshop {
  margin-bottom: 30px;

  h4 {
    @include title-font();
  }

  ul {
    margin-left: 80px;
  }
}

.references img {
  height: 60px;
  margin: 20px;
}

// Contact

section#contact {
  background-color: $gray-darker;

  .section-heading {
    color: white;
  }

  .form-group {
    margin-bottom: 25px;

    input, textarea {
      padding: 20px;
    }

    input.form-control {
      height: auto;
    }

    textarea.form-control {
      height: 242px;
    }
  }

  .form-control:focus {
    border-color: $brand-primary;
    box-shadow: none;
  }

  ::-webkit-input-placeholder {
     @include title-font();
  }

  :-moz-placeholder { /* Firefox 18- */
     @include title-font();
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     @include title-font();
  }

  :-ms-input-placeholder {
     @include title-font();
  }

  .text-danger {
    color: $brand-danger;
  }
}

// Footer

footer {
  padding: 25px 0;
  text-align: center;

  span.copyright {
    @include title-font();
    line-height: 40px;
    text-transform: none;
  }

  ul.quicklinks {
    @include title-font();
    margin-bottom: 0;
    line-height: 40px;
    text-transform: none;
  }

  a {
    color: $gray-darker;
  }

  a:hover, a:focus, a:active, a.active {
    color: darken($gray-darker, 10%);
  }
}

// Social Buttons

ul.social-buttons {
  margin-bottom: 0;
  li {
    a {
      display: block;
      background-color: $gray-darker;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      font-size: 20px;
      line-height: 46px;
      color: white;
      outline: none;
      transition: all 0.3s;

      &:hover, &:focus, &:active {
        background-color: $brand-primary;
        text-decoration: none;
      }
    }
  }
}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: $brand-primary;
}

::selection {
    text-shadow: none;
    background: $brand-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $brand-primary;
}
