- container_tag ||= :li

=content_tag container_tag do
  .commentable= comment.commentable
  .comment=     link_to comment, article_path(comment.commentable, :anchor => 'comment_'+comment.id.to_s)
  

  

