.meta
  %ul
    %li.created-at
      created: 
      = time_ago_in_words(comment.created_at)
      ago
    %li.author
      written by: 
      = link_to comment.user, comment.user
      
    -if can? :update, comment
      %li.edit    
        = link_to 'Edit', edit_comment_path(comment)
      
