/*
  Inspired by this post…

  https://css-tricks.com/transitions-only-after-page-load

  I didn't want to have to add something to
  the page initially, only to remove it later.

  Instead, I'm adding a "positive" flag via JS
  and am simply ignoring all animations and
  transitions if the flag is not present.
*/

html:not([data-has-css-animation="true"]) * {
  animation: none !important;
  transition: none !important;
}
