@import "bootstrap";
@import "registration";
@import "gritter";
@import "shared/social-links";
@import "shared/nav";
@import "pages";
@import "font-awesome";
// @import "blogs";

/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

.btn-portfolio {
  color: white !important;
  background-color: #eab126 !important;
  border: 1px solid #eab126 !important;
  border-radius: 0 !important;

  &:hover,
  &:focus,
  &:active {
    background-color: #eab126 !important;
    color: black !important;
    border: 1px solid #eab126 !important;
  }
}

.hidden-seo {
  visibility: hidden;
  position: absolute;
}

/* Links */
a,
a:focus,
a:hover {
  color: white;
}

/*
 * Base structure
 */

@font-face {
  font-family: "Raleway";
  src: font-url("Raleway-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: font-url("Roboto-Regular.ttf");
}

body {
  text-align: center;
}

.body-wrapper {
  min-height: 100%;
  margin-bottom: -60px;
}

html,
body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: black;
  background-color: #f8f8f8;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.content-wrapper {
  padding-bottom: 60px;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
}

.app-nav span {
  margin: 0 15px;
}

.catcher {
  position: relative;

  .catcher-text {
    margin-top: 50px;
    width: 300px;
  }

  .catcher-img {
    border-radius: 50%;
  }

  margin-bottom: 60px;
}

.navigation-second {
  position: absolute;
  bottom: -115px;

  ul {
    list-style-type: none;

    a {
      color: #3d3d3d;
      letter-spacing: 1px;
    }

    > li {
      margin-right: 40px;
      font-size: 50px;
      display: inline-block;
      /* You can also add some margins here to make it look prettier */
      zoom: 1;
      *display: inline;
      /* this fix is needed for IE7- */
    }
  }
}

.home-page {
  h2 {
    font-size: 43px;
    color: #5a5a5a;
  }
  p {
    font-size: 16px;
    color: #5a5a5a;
  }
}

.tech-news {
  color: black;
  margin: 20px;
  font-size: 12px;

  a {
    color: green;
  }

  > .card {
    padding: 30px;
  }
}

.app-card-container {
  text-align: left;
  font-size: 15px;

  h1 {
    text-transform: uppercase;
    font-size: 24px;
  }

  h3 {
    font-size: 17px;
  }

  a {
    color: black;
  }

  .card {
    &-portfolio {
      padding: 40px;

      .card-job {
        padding: 15px;
      }
    }
  }

  img {
    border-radius: 50%;
  }

  .home-center {
    text-align: center;
  }
}

.card-block {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-about {
  margin-top: 20px;
  background-color: transparent;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #101b27;
  margin-top: -60px;
  color: white;
  text-align: left;

  .favicon {
    float: right;
  }
}

.home-container {
  h1 {
    font-size: 53px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    height: 0;
  }

  .home-p {
    margin: 0;
  }
}

.skills {
  margin-top: 10px;

  h4 {
    font-size: 17px;
  }
}

.auth-links {
  margin-top: 10px;

  a {
    color: black;
  }
}

.cv-section {
  .btn-portfolio {
    margin: 10px 0;
  }
}

.typed-header {
  font-weight: bold;
}

.task-container {
  padding: 20px;
  height: 165px;

  background-color: #4b4bf6;
  color: white;
  span {
    font-size: 14px;
  }

  h2 {
    font-size: 17px;
  }

  .task-time {
    font-size: 14px;
    text-transform: italic;
  }
}

.hidden {
  visibility: hidden;
}

// Cards

html {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h5 {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
  margin: 0;
}

.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;

  > a {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.2857em;
    color: black;
  }
}

.card-text {
  clear: both;
  margin-top: 0.5em;
  color: rgba(0, 0, 0, 0.68);
}

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: 0.75em 1em;
  color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  background: #fff;
}

.card-inverse .btn {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.profile {
  position: absolute;
  top: -12px;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 50%;
}

.profile-avatar {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile-inline {
  position: relative;
  top: 0;
  display: inline-block;
}

.profile-inline ~ .card-title {
  display: inline-block;
  margin-left: 4px;
  vertical-align: top;
}

.text-bold {
  font-weight: 700;
}

.meta {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
}

.meta a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.meta a:hover {
  color: rgba(0, 0, 0, 0.87);
}

.heading-row {
  margin-bottom: 30px;
}

.leading-box {
  padding: 80px 100px;
  margin-bottom: 30px;
  background-color: white;
  color: #545252;

  p {
    text-align: justify;
  }

  h2 {
    margin-bottom: 30px;
  }
}
