// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* stylelint-disable selector-list-comma-newline-after */
@import "bootstrap";
@import "font-awesome";
@import "gritter";
@import "shared/nav";
@import "shared/social-links";

@font-face {
  font-family: "Raleway";
  src: font-url("Raleway-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: font-url("Roboto-Regular.ttf");
}

html,
body {
  font-family: "Raleway", sans-serif;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;

  .blog-post-title {
    margin-bottom: 0.25rem;
    font-size: 29px;
    text-transform: uppercase;

    a {
      color: #212529;
      font-weight: bold;

      &:hover {
        text-decoration: none;
      }
    }
  }
  .blog-body-p > p {
    margin-bottom: 5px;
  }

  .blog-post-meta {
    font-size: 14px;
    margin-bottom: 1.25rem;
    color: #999;
  }
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
  margin-top: 20px;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.nav-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  flex-grow: 3;
}

.blog-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  a {
    font-size: 14px;
    color: white;
  }
}

.pull-right {
  float: right;
}

.social-links li a {
  font-size: 2.5em;
}

.comment-card > .card {
  margin-top: 15px;
}

.comment-attribution {
  font-size: 0.8em;
  font-style: italic;
}

.comment-name {
  font-weight: 700;
}

.float-flex-right {
  margin-left: auto !important;
}

.blogcrumb a {
  font-size: 1.25em;
  margin: 0 10px;
}

.draft {
  color: orange;

  &:hover {
    color: green;
  }
}

.published {
  color: green;

  &:hover {
    color: orange;
  }
}

.blog-sidebar {
  .centered {
    text-align: center;
  }
}

.jumbotron {
  .featured-link {
    a {
      color: #efefef;
      text-decoration: underline;
    }
  }
}

.new_comment {
  margin-top: 30px;

  .disabled {
    .form-control,
    input {
      pointer-events: none;
    }
  }

  .comment-label {
    font-weight: 700;
    font-decoration: italic;
  }
}

.blog-main {
  img {
    max-width: 100%;
    max-height: 300px;
  }
}

.card {
  margin: 10px;
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
  h3 {
    font-size: 1em;
  }
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;

  > a {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.2857em;
    color: black;
  }
}

.card-text {
  clear: both;
  margin-top: 0.5em;
  color: rgba(0, 0, 0, 0.68);
}
