.service-container {
  margin-bottom: 50px;
  color: #363636;

  .service-row {
    margin: 0 50px;

    .service {
      background-color: rgba(255, 248, 73, 0.7);
      padding: 0 20px 20px 20px;
      box-shadow: 1px 2px 10px 1px #d5d5d5;

      i {
        font-size: 50px;
        margin: 25px;
      }
    }
  }
}
