.options {
  position: absolute;
  width: 200px;
  max-height: 200px;
  background-color: white;
  border-radius: 4px;
  color: #363636;
  border: 1px solid #dbdbdb;
  overflow: auto;
  z-index: 10;
}

.title {
  font-weight: bold;
}

.subtitle {
  font-size: 0.9rem;
}

.option:hover {
  cursor: pointer;
  background-color: #ececec;
}
