$dark: (
  footer-background-color: #403e41,
  footer-color: #bdbdbd,
  link: #ffd866,
  link-hover: #ff6188,
  title-color: #ffd866,
  meta-color: #fcfcfa,
  body-color: #fcfcfa,
  hr-color: #595b5c,
  body-background-color: #2d2a2e,
  backdrop-background-color: #212121,
  dropdown-border-top-color: #424242,
  dropdown-item-active-background-color: #424242,
  dropdown-content-background-color: #595b5c,
  dropdown-item-hover-background-color: #727072,
  dropdown-item-hover-color: #fcfcfa,
  dropdown-item-color: #fcfcfa,
  navbar-border-bottom-color: #4e4e4e,
  navbar-background-color: #403e41,
  navbar-mobile-background-color: #3a3a3a,
  navbar-title-color: #fcfcfa,
  navbar-title-hover-color: #ffd866,
  navbar-title-active-color: #ff6188,
  navbar-menu-hover-background-color: lighten(#403e41, 5%),
  navbar-dropdown-item-hover-color: #ffd866,
  sidebar-title-color: #aed581,
  sidebar-li-color: #fcfcfa,
  taxo-title-color: #bdbdbd,
  taxo-num-color: #fcfcfa,
  taxo-num-background-color: #212121,
  taxo-tags-background-color: lighten(#212121, 13%),
  taxo-tags-color: #78dce8,
  taxo-series-background-color: lighten(#212121, 13%),
  taxo-series-color: #ea9c77,
  taxo-categories-background-color: lighten(#212121, 13%),
  taxo-categories-color: #ab9df2,
  breadcrumb-item-color: #82aaff,
  breadcrumb-background-color: #212121,
  breadcrumb-item-active-color: #bdbdbd,
  list-header-title-color: #fcfcfa,
  figcaption-color: #bdbdbd,
  figcaption-strong-color: #fcfcfa,
  single-hr-background-color: #595b5c,
  single-blockquote-border-color: #fcfcfa,
  single-header-title-color: #fcfcfa,
  single-contents-title-color: #aed581,
  single-contents-subtitle-color: #fcfcfa,
  related-header-title-color: #fcfcfa,
  related-link-color: #a9dc76,
  content-box-border-color: #616161,
  content-box-background-color: #403e41,
  burger-menu-color: #fcfcfa,
  social-icon-color: #bdbdbd,
  social-icon-hover-color: lighten(#bdbdbd, 20%),
  pagination-link-color: #82aaff,
  pagination-background-color: #212121,
  pagination-disabled-color: #757575,
  pagination-number-color: #fcfcfa,
  terms-title-color: #ddd,
  terms-title-shadow-color: #403e41,
  terms-tags-color: #78dce8,
  terms-categories-color: #ab9df2,
  terms-series-color: #ea9c77,
  terms-len-color: #727072,
  toc-label-color: #727072,
  toc-title-color: #90a4ae,
  toc-vertical-line: #727072,
  toc-vertical-line-active: #ff6188,
  toc-header-background-color: #403e41,
  toc-header-background-color-hover: #424242,
  toc-body-background-color: #403e41,
  search-placeholder-color: #727072,
  search-color: #fcfcfa,
  search-icon-color: #727072,
  search-border-color: #1d1d1d,
  search-border-outline-color: rgba(66, 66, 66, 0.45),
  search-border-active-color: #424242,
  search-content-color: inherit,
  search-background-color: #212121,
  search-content-background-color: lighten(#403e41, 5%),
  search-hover-background-color: #403e41,
  search-highlight-color: #ff6188,
  selection-color: #fcfcfa,
  selection-background-color: #ff6188,
  archive-key-color: #fcfcfa,
  archive-type-color: #82aaff,
  archive-meta-color: #aed581,
  archive-key-background-color: #ff6188,
  archive-type-background-color: #424242,
  archive-hover-line-color: #ff6188,
  gtt-color: #bdbdbd,
  gtt-background-color: #403e41,
  gtt-hover-color: #82aaff,
  gtt-hover-background-color: lighten(#403e41, 5%),
  switch-background-color: #403e41,
  switch-button-color: #fcfcfa,
  switch-active-color: #ff6188,
  gallery-mask-color: #fcfcfa,
  gallery-mask-background-color: rgba(0, 0, 0, 0.7),
  contact-input-color: #fcfcfa,
  contact-input-background-color: lighten(#403e41, 5%),
  contact-button-background-color: lighten(#403e41, 5%),
  custom-scrollbar-foreground-color: #888,
  custom-scrollbar-background-color: #eee,
  share-color: #dbdbdb,
  share-shadow-color: #888,
  share-background-color: lighten(#403e41, 2.5%),
  donation-background-color: #525252,
  button-primary-color: $button_dark_primary_color,
);
