extends layout

block content
  img(src="/img/logo.svg" alt="static web tech")

  .lead
    p
      | Static sites are 
      strong faster
      | , 
      strong safer
      | , 
      strong simpler
      |  and 
      strong cheaper 
      |  than dynamic sites.

    
  .presentation
    
    h2 San Francisco Static Web-Tech Meetup
    h3 Netlify HQ, Wednesday, May 6, 2015
    
    .video
      .youtube
        .video-wrapper
          iframe(width="420" height="315" src="https://www.youtube.com/embed/vns7B3DAzXg" frameborder="0" allowfullscreen)
      .speakerdeck
        script(async class="speakerdeck-embed" data-id="d5ed63c423384878b0f3641e32bd484a" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js")
    
    .description
      :markdown
        Tadaa. We finally have the first video up.

        Please forgive the quality of the image. It’s crap, as we had no lighting and a pocket cam without even a tripod or a separate microphone.

        However already from our next meetup we secured an awesome space at the courtesy of the equally awesome guys at Wikia.

        The talk itself by Matt on modern static websites went great and we want to thank the audience for the participating and asking good questions.

        This meetup was about what static generators are suited for which tasks, and how you get started if you are used to old dynamic systems such as Wordpress.

        We felt that the theme is one that really needed a good presentation, and the aim was to make the best one so far. See for yourself and let us know in the comments if we succeeded, together with your other comments, requests for future talks, and such.

        And let us know if the audio is too muddled to understand. If so, we will try to transcribe it and add subtitles.

        Follow us [@staticwebtech](https://twitter.com/staticwebtech) and don’t forget to join the meetup at [meetup.com/sf-static-web-tech](http://www.meetup.com/sf-static-web-tech) if you are situated in the Bay Area.

        Till next time fellow web techers!
        
      #disqus_thread.disqus
      script(type="text/javascript").
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'staticwebtech';
          var disqus_identifier = 'meetup-sf-1';
          
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      
      noscript 
        | Please enable JavaScript to view the 
        a(href="https://disqus.com/?ref_noscript" rel="nofollow") comments powered by Disqus.
