%p
  Hello #{@resource.email}!
%p Someone has requested a link to change your password, and you can do this through the link below.
%p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @resource.reset_password_token)
%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.

%hr/
%p
  Bonjour #{@resource.email}!
%p Quelqu'un a fait une demande afin de pouvoir changer de mot de passe, et vous pouvez le faire en cliquant sur le lien suivant:
%p= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @resource.reset_password_token)
%p Si vous n'avez pas demandé cela, veuillez ignorer cet email.
%p Votre mot de passe sera changé uniquement après que vous ayez visité le lien ci-dessus, et créé un nouveau un nouveau mot de passe.