<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css"> 
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,500' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300|PT+Sans:400,700|Roboto:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Amatic+SC|Righteous' rel='stylesheet' type='text/css'>
       	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       	<link rel="stylesheet" href="/stylesheets/rating/stylesheet.css"></link>
       	
       	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/hover.js"></script>
    </head>
    <body>
        
        <nav id="mynavbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
         
      </div>  
      <div class="collapse navbar-collapse">
          <a class="navbar-brand" href="/">YelpCamp</a>
          
          <ul class="nav navbar-nav">
        <li><a href="/weather">Forecast Weather <span class="sr-only">(current)</span></a></li>
        </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <%   if(!currentUser){ %>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Sing Up</a></li>
            <%  } else{ %>
                <li><a href = "#">Sign In As <%= currentUser.username %></a></li>
              <li><a href="/logout">Logout</a></li>
            <%  } %>
          </ul>
      </div>
    </div>
</nav>

<% if(success && success.length > 0){ %>
    <div class = "alert alert-success mysuccess" role = "alert">
      <%=success%>
    </div>
     <% } %>

  <% if(error && error.length > 0){ %>
    <div class = "alert alert-danger myalert" role = "alert">
        <%=error%>
    </div>
    <% } %>



    