<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Welcome <%= user.name %></title>
	</head>
	<body>
		<p>
			Welcome <%= user.name %>! Your date of birth is: <%= user.date_of_birth %>
		</p>
	</body>
</html>
