<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <app-settings-modal></app-settings-modal>
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Your Resources</span>
      <span class="badge badge-secondary badge-pill">{{ resourcesCount }}</span>
    </h4>
    <app-resource-search (onSearch)="handleSearch($event)">
    </app-resource-search>
    <app-resource-list
      (onResourceClick)="handleResourceSelect($event)"
      [activeId]="activeResource?._id"
      [resources]="resources"
    ></app-resource-list>
  </div>
  <!-- {/* Update Form Starts */} -->
  <div class="col-md-8 order-md-1">
    <h4 class="mb-3">
      Resource View
      <ng-container *ngIf="activeResource?._id">
        <button
          (click)="toggleView()"
          [ngClass]="btnViewClass"
          class="btn btn-sm"
        >
          {{ isDetailView ? "Edit" : "Detail" }}
        </button>
        <button (click)="deleteResource()" class="btn btn-sm btn-danger ml-2">
          Delete
        </button>
      </ng-container>
    </h4>
    <app-resource-detail-card
      *ngIf="isDetailView; else updateView"
      [resource]="activeResource"
    >
    </app-resource-detail-card>
    <!-- a template reference variable, a reference to a DOM element or a directive  -->
    <ng-template #updateView>
      <app-resource-form
        [onSubmit]="updateResource"
        [resource]="activeResource"
        [alert]="alert"
      >
      </app-resource-form>
    </ng-template>
  </div>
</div>
