$main-color: #00778f;
$secondary-color: #f35557;
$main-text-color: #484848;
$light-gray-color: #a9a9a9;
$main-black-color: #20232a;
$main-white-color: #ededed;

$main-text-color-gray: #484848;
$main-text-gray-color: #484848;
$light-gray-color-2: #dedada;
