<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/']"> ashish.me </a>

    <a
      role="button"
      (click)="onNavbarBurgerClick()"
      [class.is-active]="mobileMenuVisible"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" [class.is-active]="mobileMenuVisible">
    <div class="navbar-end">
      <a class="navbar-item" [routerLink]="['/about']"> About </a>
      <div class="navbar-item">
        <div class="buttons" *ngIf="authService.loggedIn()">
          <button
            (click)="logout()"
            [ngClass]="{ 'is-loading': logoutInProgress }"
            class="button is-medium is-primary"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
