.CodeMirror-lines {
    border: 1px solid midnightblue;
    border-radius: .3rem;
    width:100%;
}

#previewFrame {
    width: 100%;
}

.col-md-6 {
    margin-top: 2rem;
}

.light-border {
    border: 1px solid midnightblue;
    margin-top: .5rem;
    border-radius: .3rem;
}