{% extends "base.html" %}
{% from "_form_helpers.html" import render_field %}

{% block content %}
<main>
  <div>
    <div><a href="/">Home</a></div>
    <form method="post">
      {{ form.csrf_token }}
      <div>{{ render_field(form.first_name) }}</div>
      <div>{{ render_field(form.last_name) }}</div>
      <div>{{ render_field(form.email) }}</div>
      {% if is_update %}
        <div><button>Update {{ form.first_name.data }}</button></div>
      {% else %}
        <div><button>Create owner</button></div>
      {% endif %}
    </form>
  </div>
</main>
{% endblock %}
