{% extends "base.html" %}
{% from "_form_helpers.html" import render_field %}

{% block content %}
<main>
  <div>
    <div><a href="/">Home</a></div>
    <form method="post">
      {{ form.csrf_token }}
      <div>{{ render_field(form.name) }}</div>
      <div>{{ render_field(form.owner_id) }}</div>
      <div>{{ render_field(form.age) }}</div>
      <div>{{ render_field(form.has_microchip) }}</div>
      <div>{{ render_field(form.pet_type_id) }}</div>
      <div><button>Create pet</button></div>
    </form>
  </div>
</main>
{% endblock %}
