<configuration>
  <system.runtime.remoting>

    <application>
       <channels> 
           <channel ref="http">
	       <clientProviders>
		   <provider type="PrioritySinks.PriorityEmitterSinkProvider, PrioritySinks" />
		   <formatter ref="soap" />
	      </clientProviders>
            </channel>
      </channels>

      <client>
        <wellknown type="Server.TestSAO, generated_meta"  
                   url="http://localhost:5555/TestSAO.soap" />
      </client>

    </application>
  </system.runtime.remoting>
</configuration>