.navbar {
    background: #885ac7 !important;
}

.panel {
    box-shadow: none;
}

.hero-body {
    padding: 1rem;
}

.panel-block {
    border: 1px solid #ededed !important;
}

.list-container {
    min-height: 450px;
}

.todos-section {
    background: #e2eaf8; /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tabs a {
    color: #4a4a4a !important;
}

.tabs li.is-active a {
    border-bottom-color: #885ac7 !important;
    color: #885ac7 !important;
}

.input.fit-content {
    width: fit-content;
}

// Columns
.column {
    & .box {
        border-radius: 1rem;
        padding: 1rem 1rem 1rem 1rem;
        box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.3);
    }

    &.is-centered {
        display: flex;
        align-items: center;
    }
}

// Button
.button.is-tiny {
    font-size: 0.5rem;
}

// Tabs
.tabs {
    margin-bottom: 0 !important;

    & ul {
        border-bottom-color: #dbdbdb !important;
        border-bottom-style: solid !important;
        border-bottom-width: 1px !important;
    }
}
