/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@import "~css-star-rating/scss/star-rating";

html,
body,
p {
  color: #484848;
}

.apartment {
  color: #a72da3;
}

.condo {
  color: #d68000;
}

.house {
  color: #bf1818;
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.clickable {
  cursor: pointer;
}

.btn-ghost {
  background-color: transparent;
  color: #f44336;
  border: 1px solid #f44336 !important;
  font-size: 12px !important;

  &:hover,
  &:focus {
    background-color: transparent !important;
    color: #f44336 !important;
    border: 1px solid #f44336 !important;
  }
}

.btn-bwm {
  background-color: #f44336;
  border-color: #f44336;
  color: white;
  padding: 15px 30px;
  font-size: 20px;

  &:hover,
  &:focus,
  &:active {
    border-color: #f44336 !important;
    background-color: #f44336 !important;
  }
}

.bwm-form {
  color: #484848;

  form {
    margin-bottom: 10px;
  }

  .alert {
    p {
      margin: 0;
    }
  }

  h1 {
    font-weight: 700;
    margin-bottom: 30px;
  }
  .image-container {
    position: relative;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  label {
    font-size: 12px;
  }

  .form-text {
    font-size: 13px;
  }

  .catchphrase {
    text-align: center;
    font-size: 42px;
    position: absolute;
    color: #f1f1f1;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    letter-spacing: 1px;
  }
}

.inline {
  display: inline-block;
}

.editable-component {
  .btn {
    &.btn-editable {
      margin-left: 5px;
      color: white;
      font-size: 12px;
    }
  }
}

// for Toaster
#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51a351 !important;
}
.toast-error {
  background-color: #bd362f !important;
}
.toast-info {
  background-color: #2f96b4 !important;
}
.toast-warning {
  background-color: #f89406 !important;
}
