:root {
  --primary-color: #F80652;
  --light-color: #E8F1F8;
  --medium-color: #ADC4D6;
  --dark-color: #222F3F;
  --darkest-color: #00000C;
}

html {
  scroll-behavior: smooth;
  font-family: Nanum Gothic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  background-color: var(--medium-color);
}

h1 {
  color: var(--primary-color);
}

.nav {
  height: 70px;
  width: 100%;
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav>.nav-header>.nav-title {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color);
  padding: 10px 10px 10px 50px;
}

.nav>.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 18px 20px 18px 20px;
  text-decoration: none;
  font-weight: bold;
  color: var(--medium-color);
}

.nav>.nav-links>a:hover {
  background-color: var(--darkest-color);
  color: var(--primary-color);
}

/* WELCOME SECTION */

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: var(--medium-color);
  border-top: 2px solid var(--primary-color);
}

.left {
  margin: 10%;
}

#head-img {
  margin: 5%;
  height: 60%;
  mix-blend-mode: multiply;
}

/* ABOUT */

#About {
  padding-top: 5rem;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

#About {
  background-color: var(--dark-color);
}

.about-wrapper {
  padding: 4rem;
  font-size: 1.5rem;
  color: var(--light-color);
}

#projects {
  color: var(--light-color);
  padding: 5rem 0;
  text-align: center;
  background-color: var(--medium-color);
}

.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  border: 2px solid var(--darkest-color);
  flex-basis: 30%;
  min-width: 200px;
  height: auto;
  margin: 1%;
  background-color: var(--dark-color);
}

.project:hover {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.project:hover h3 {
  color: var(--primary-color);
}

.project h3 {
  margin: 0.5em;
  color: var(--medium-color);
}

.project img {
  padding: 0.5em;
  height: 200px;
}

img.resize {
  max-width: 100%;
  max-height: 100%;
}

/* SKILLS */

#skills {
  text-align: center;
  padding: 4rem 0;
  width: 100%;
  text-align: center;
  color: var(--light-color);
  background-color: var(--dark-color)
}

.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill-img {
  width: 9rem;
  height: 9rem;
  margin: 3rem;
}

/* CONTACT */

#contact {
  padding: 4rem 0;
  text-align: center;
  background-color: var(--medium-color);
}

.font-awesome {
  display: inline-block;
  margin: 0.5em;
  color: var(--dark-color);
}

.font-awesome:hover {
  display: inline-block;
  margin: 0.5em;
  color: var(--primary-color);
}

footer {
  background-color: var(--darkest-color);
  color: var(--primary-color);
  text-align: center;
  height: 10vh;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 20px 10px 20px 10px;
  }
  .nav>.nav-btn>label:hover {
    background-color: rgba(0, 0, 0, 0.3);
    height: 70px;
  }
  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 60px;
    left: 0px;
  }
  .nav>.nav-links>a {
    text-align: center;
    display: block;
    width: 100%;
  }
  #welcome-section {
    flex-direction: column;
  }
  .about-wrapper {
    padding: 1rem;
  }
  .project {
    flex-basis: 90%;
    margin: 1rem 0;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.copyright>i {
  margin-right: 0.2rem;
}

@media only screen and (min-width:767px) and (max-width: 1024px) {
  .project {
    flex-basis: 48%;
    margin: 1%;
  }
}

/* TABLET */

@media only screen and (min-width: 481px) and (max-width:767px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 20px 10px 20px 10px;
  }
  .nav>.nav-btn>label:hover {
    background-color: rgba(0, 0, 0, 0.3);
    height: 70px;
  }
  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 60px;
    left: 0px;
  }
  .nav>.nav-links>a {
    text-align: center;
    display: block;
    width: 100%;
  }
  .nav>#nav-check:not(:checked)+.nav-links {
    height: 0px;
  }
  .nav>#nav-check:checked+.nav-links {
    height: calc(50vh - 50px);
    overflow-y: auto;
    z-index: 1;
  }
  #welcome-section {
    flex-direction: column;
  }
  .project {
    flex-basis: 48%;
    margin: 1%;
  }
}
