.md-drppicker {
  &.shown {
    .calendar.right {
      display: none;
    }
  }

  td.off.in-range {
    background-color: #ffe2e2ed !important;
  }

  td.active,
  td.active:hover {
    background-color: $dark-red-color !important;
  }

  .btn {
    background-color: $dark-red-color !important;
  }
}
