.editable-component {
  display: flex;

  &-inline {
    display: inline-flex;
  }

  .button-container {
    align-self: center;
  }

  .btn {
    &.btn-editable {
      margin-left: 5px;
      color: white;
      font-size: 12px;
    }
  }
}
