@import url("https://fonts.googleapis.com/css?family=Open+Sans|Rye|Cabin|El+Messiri");

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.spacer {
  height: 80px;
}

.navbar-brand {
  font-family: "Rye";
}

h2 {
  font-family: "El Messiri";
}

.thumbnail {
  padding: 20px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.thumbnail img {
  max-height: 200px;
  box-shadow: 1px 1px 5px;
}

.thumbnail h3 {
  font-family: "Cabin";
  margin-top: 10px;
}

.btn {
  margin-right: 0;
}

#checkout {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
