<section id="rentalListing">
  {{#if errors}}
    <h1 class="page-title">{{errors.firstObject.detail}}</h1>
  {{else}}
    <h1 class="page-title">Your Home in {{model.firstObject.city}}</h1>
    {{rental-list rentals=model}}
  {{/if}}
</section>