<section id="login">
  <div class="session-form">
    <div class="row">
      <div class="col-md-5">
        {{login-form model=this}}
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Hundreds of awesome places in reach of few
            clicks.</h2>
          <img src="login-image.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>