<section id="register">
  <div class="session-form">
    <div class="row">
      <div class="col-md-5">
        {{register-form}}
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">As our member you have access to most awesome
            places in the world.</h2>
          <img src="register-image.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>