.App {
  text-align: center;
}

.App-header {
  position: fixed;
  width: 100%;
  background-color: #222;
  height: 200px;
  padding: 20px;
  margin-bottom: 40px;
  color: white;
  top: 0px;
}

.App-title {
  font-size: 5em;
}

.App-intro {
  font-size: large;
}

.post-wrapper {
  background: azure;
  width: 400px;
  margin: 30px auto;
  padding: 20px 60px;
  border: 2px solid #777;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-wrapper h2 {
  font-size: 2rem;
  color: #003399;
}

.post-wrapper h3 {
  color: #333;
  font-size: 1.8rem;
  font-weight: 300;
}

.main {
  margin: 30px;
  margin-top: 300px;
  display: flex;
  justify-content: space-between;
  align-items: space-around;
  flex-wrap: wrap;
}
