@import "https://fonts.googleapis.com/css?family=Titillium+Web|Source+Sans+Pro|Faster+One";

body {
  font-family: "Titillium Web";
}
#main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Faster One";
}

h1,
h4 {
  text-align: center;
}

#plot-area {
  background-color: #dcdcdc;
  box-shadow: 1px 1px 10px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 52px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
