@import bootstrap/variables
.news_item-editor
  font-size: 90%

  .news_item_summary
    textarea
      height: 3em

  .news_item_body
    textarea
      height: 5em

  @media (min-width: $screen-md-min)
    position: fixed
