$skills_color:      darken(lightsteelblue, 10%)
$motivations_color: mix(red, lightgray, 30%)

a.anchor
  position: absolute
  margin-top: -50px

section
  // disable bootstrap treating sections as rows
  margin: 0

body
  background: #ddd

h1, h2, h3, h4, h5
  font-weight: normal
  color: #777

h1
  font-size: 36px
h2
  font-size: 30px
h3
  font-size: 24px
h4
  font-size: 18px
h5
  font-size: 14px
h6
  font-size: 12px

h1
  section &
    @extend h2
  section section &
    @extend h3
  section section section &
    @extend h4

table
  width: 100%
  caption
    @extend h3
    text-align: left
    padding: 0
    margin: 10px 0 10px
  td, th
    vertical-align: top
    padding: 5px
    &.name
      width: 10em
      padding-right: 2em
    &.quantifier
      width: 6em
    &.durations
      width: 10em
      padding-right: 2em
    &.actions
      width: 10em
    &.description
      width: auto
  &.details
    th
      width: 10em
  tr
    border-bottom: 1px solid #ddd
    border-width: 1px 0
  & + form
    margin-top: 20px
  th
    color: gray

.quantifier
  color: #444

.panel
  margin: 2em 0
  // padding: 0 20px
  box-shadow: -1px 1px 8px transparentize(black, .8)

.best_in_place
  display: block
  &:hover
    $color: transparentize(#3FD4FF, 0.8)
    background: $color
    outline: 4px solid $color

.durations
  .best_in_place
    @extend .small !optional
  table
    margin-bottom: 5px
    tr
      border-bottom: 1px dashed #eee
    td
      padding-right: 1em
  form
    margin: 0

.actions
  ul
    list-style: none
  li
    margin-bottom: 2px

dl.inline
  $padding: 3.5em
  display: block
  margin-bottom: 0.25em
  padding-left: $padding
  dt, dd
    display: inline-block
  dt
    position: absolute
    margin-left: -$padding


.ui-datepicker
  background: white
  padding: 1em
  border: 1px solid gray
  border-radius: 5px


.tt-dropdown-menu
  background: white
  padding: 10px
  border: 1px solid gray


.container-full
  margin: 0 auto
  width: 100%

.projects-list
  .time
    table
      tr
        border: none
      td, th
        padding: 0
        text-align: right
      th
        width: 4em
        padding-right: .5em
      td
        @extend small !optional
        padding-right: 1em

.menu
  list-style: none
  margin: none
  padding: none

.badge
  &.skills
    background: $skills_color
  &.motivations
    background: $motivations_color
  &.count
    background: #eee
    color: #aaa
    min-width: 2em
.glyphicon-ok
  &.skills
    color: lighten($skills_color, 10%)
  &.motivations
    color: lighten($motivations_color, 10%)


.panel.tag_tree
  padding: 30px 0
  ul
    padding-left: 2em
  a
    font-size: 90%
  .active
    background: lighten(yellow, 30%)
    display: inline-block
    padding: 2px


