@import blueprint
@import blueprint/reset
@import compass

+reset-html5
+blueprint-typography

h3
  margin: 20px 0

p
  margin: 10px 0
  
hr
  border-style: dashed
  border-width: 1px 0 0
  border-color: gray
  display: none  
  
.clearfix
  +clearfix  
  
=reset-list
  +reset-box-model
  +no-bullets  
