@import base

// PAGE STRUCTURE _______________________________

#pg
  +container
  padding-top: 20px
  
#bd
  #main
    +column(18)
  #aside
    +column(6)
    +last
    +push(0.5)

// GENERIC ELEMENTS _____________________________

// FORMS ----------

form
  .field
    +clearfix
    label
      +column(4)
  .actions
    +prepend(4)

// COMPONENTS -----
  
.userbox 
  +clearfix
  ul
    +reset-list
    +float(right)
    text-align: right 
    
.article
  @extend .clearfix  
  padding: 20px 10px
  .title
    margin-top: 0


.meta
  ul
    +reset-list
    +column(4, true)
    +float(right)
    margin-left:   span(1)
    margin-bottom: span(1)

.comments
  margin: 20px 0
  .comment
    padding: 10px
    border: 0 dashed gray
    border-width: 1px 0
    &+.comment
      border-top: 0

#aside .box
  padding: 5px 10px
  margin-bottom: 10px
  ul
    +reset-list
  li
    padding: 5px 0

      
//TONES _________________________________________  
  
#pg
  background: url("mire.png") no-repeat  
   
#hd h1 a
  +unstyled-link
  padding: 10px
  &:hover
    text-decoration: underline

.article.draft .title:after
  content: "draft"
  background-color: yellow
  display: inline-block
  float:left
  margin: 0 10px

// BORDERS ______________________________________

#main, 
#aside .box
  border-top: 1px solid

.article + .article,  
#aside .box li,
  border-top: 1px dashed gray

