// Place all the styles related to the authentications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import base


.authentications
  +clearfix

.authentication
  width: 130px
  float: left
  background-color: #EEE
  border: solid 1px #999
  padding: 5px 10px
  -moz-border-radius: 8px
  -webkit-border-radius: 8px
  position: relative
  margin-right: 10px

.authentication .remove
  text-decoration: none
  position: absolute
  top: 3px
  right: 3px
  color: #333
  padding: 2px 4px
  font-size: 10px

.authentication .remove:hover 
  color: #CCC
  background-color: #777
  -moz-border-radius: 6px
  -webkit-border-radius: 6px

.authentication .uid
  color: #666
  font-size: 11px
  
  
.providers
  ul
    +reset-box-model  
    @extend .clearfix
  li
    +column(2.5)
    +push(4)
    img
      position: relative
      left: -10px
       
