<div class="app-card-container">
  <div class="card card-portfolio">
    <div class=row>
      <div class="col-md-4 home-center">
        <h1>About Me</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 home-center">
        <%= image_tag "me.jpg", width: "180px" %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-warning"
                   role="progressbar"
                   aria-valuenow="<%= skill.percent_utilized %>"
                   aria-valuemax="100"
                   style="width: <%= skill.percent_utilized %>%">
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-8 ">
        <p>My name is Filip Jerga and I am 27 years old. I am software engineer currently working as freelancer.
        I have master degree from Artificial Inteligence and  through years I experienced working on different projects and technologies from developing software for Ultrasound device to making mobile applications. </p>

        <p>I am always focusing on quality and well comunicated specification of project I will be working on. I am fast adaptable to changes of requirements and reliable in questions of workload and requirements for product development.
        Software developement is field that makes me excited and fully commited. </p>

        <p>More detailed info about me, my projects, experiences and interests you can find listed on this page, just follow navigation.
        </p>
        <p>
          <button
              class="btn btn-primary btn-portfolio"
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controler="jobHistory"> Job History
          </button>

          <button
              class="btn btn-primary btn-portfolio"
              type="button"
              data-toggle="collapse"
              data-target="#education"
              aria-expanded="false"
              aria-controler="education"> Education
          </button>
        </p>
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block card-job">
              Carmudi Berlin: 12/2016 - 02/2018
            </div>
            <div class="card card-block card-job">
              Netcentric Barcelona: 08/2016 - 12/2016
            </div>
            <div class="card card-block card-job">
              Siemens Healthcare Slovakia: 12/2015 - 08/2016
            </div>
          </div>
          <div class="collapse" id="education">
            <div class="card card-block card-job">
              <p>Master Degree</p>
              Technical University of Kosice: Artificial Inteligence - 2010/2015
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
