<div class="app-card-container">
  <div class="card card-portfolio">
    <h1>Would you like to work together ?</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h3>Current Address</h3>
        <p>Mar Tirreno, 15, 11380 Tarifa, Cádiz</p>
        <h3>Phone</h3>
        <p><%= number_to_phone "+421903551904" %></p>
        <h3>Email</h3>
        <p><a href="mailto:jerga99@gmail.com?subject=PortfolioContact" "email me">jerga99@gmail.com</a></p>
      </div>
      <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d806.7500246117328!2d-5.612817786657353!3d36.020290998682086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0c8ef25087d633%3A0x9fbfeba8c207b872!2sMar+Tirreno%2C+15%2C+11380+Tarifa%2C+C%C3%A1diz!5e0!3m2!1ssk!2ses!4v1517602983442" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
