<div class="cv-section">
  <%= link_to("Get my CV", asset_path("jerga_cv.pdf"), download: 'jerga_cv.pdf', class: "btn btn-lg btn-secondary btn-portfolio") %>
  <iframe src="<%= pdfjs.full_path(file: asset_path("jerga_cv.pdf")) %>" style="width: 100%; height: 700px">
  </iframe>
  <%= link_to("Get my CV", asset_path("jerga_cv.pdf"), download: 'jerga_cv.pdf', class: "btn btn-lg btn-secondary btn-portfolio") %>
</div>
