<div class="home-container">
  <h1 class="cover-heading home-title">Welcome to Jerga Freelancing</h1>
  <p class="home-p">Software development is process that requires knowledge and experience in order to perform in correct scalable way. Communication is one of key steps to deliver well suited product to clients. All of this qualities you can find embedded in my work. I will always ensure to that each stage of the process is well communicated and fully understand.  scalabe way. Communication is one of key steps to deliver well suited product to clients. All of this qualities you can find embeded in my work. I will always ensure to that each stage of the process is well comunicated and fully understand.</p>
  <p>
    <%= link_to("About Me", about_me_path, class: "btn btn-lg btn-secondary btn-portfolio") %>
  </p>
</div>
