.row {
    width: 100%;
    margin-bottom: 0px !important;
}

.row .col {
    float: none !important;
    margin: 5% auto !important;
}

#task, #filter {
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
}

#filter {
    margin-top: 15px;
}

.card-title {
    text-align: center;
    font-size: 2.5rem !important
}

.btn, .save-tasks, .clear-tasks {
    border-radius: 10px !important;
    -webkit-appearance: none !important;
}

.card {
    border-radius: 10px !important;
}

i {
    font-size: 25px;
    color: red;
}

li {
    color: black;
}

ul {
    border: none !important;
}

.card-action {
    border-top: 1px solid white !important;
}