header {
  width: 100vw;
  height: 55px;
  background-color: green;
}

header h2 {
  vertical-align: center;
  color: beige;
  font-family: "Orbitron";
  margin-left: 40px;
}

.temp-chart {
  width: 600px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 880px) {
  .temp-chart {
    max-width: 675px;
  }
}
@media only screen and (max-width: 580px) {
  .temp-chart {
    max-width: 475px;
  }
}
@media only screen and (max-width: 480px) {
  .temp-chart {
    max-width: 355px;
  }
}
