<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <form class="" action="/" method="post">
        <ul>
          {{#fullName}}
            <li>{{msg}}</li>
          {{/fullName}}

          {{#email}}
            <li>{{msg}}</li>
          {{/email}}

          {{#birthyear}}
            <li>{{msg}}</li>
          {{/birthyear}}

          {{#position}}
            <li>{{msg}}</li>
          {{/position}}

          {{#password}}
            <li>{{msg}}</li>
          {{/password}}
        </ul>
      <div id="wrapper">
        <h4>Form</h4>
        <p>Name</p>
        <input type="text" name="fullName" value="">
        <p>Email</p>
        <input type="email" name="email" value="">
        <p>Year of Birth</p>
        <input type="number" name="birthyear" min="1900" max="2017" step="1" value="2016" />
        <p>Position</p>
        <div id="positions">
          <input type="radio" name="position" value="technical-manager" checked> Technical manager
          <input type="radio" name="position" value="developer"> Developer
          <input type="radio" name="position" value="ui-designer"> UI designer
          <input type="radio" name="position" value="graphic-designer"> Graphic designer
        </div>
        <p>Password</p>
        <input type="password" name="password" value="">
        <button type="submit">Go</button>
      </div>
    </form>
  </body>
</html>
