:root {
  --primary: #07c;
  --secondary: #001f3f;
  --tertiary: #FFDC00;
  --primary-contrast: #fff;
  --secondary-contrast: #fff;
  --tertiary-contrast: #444;

  --bg: #fff;
  --color: #444;

  --header-bg: #fafafa;
  --header-color: #444;

  --link-color: #07c;
  --link-decoration: none;
  --link-hover-color: #07a;
  --link-hover-decoration: underline;
}

.primary { color: var(--primary); }
.bg-primary { background-color: var(--primary); }
.border-primary { border-color: var(--primary); }

.secondary { color: var(--secondary); }
.bg-secondary { background-color: var(--secondary); }
.border-secondary { border-color: var(--secondary); }

.tertiary { color: var(--tertiary); }
.bg-tertiary { background-color: var(--tertiary); }
.border-tertiary { border-color: var(--tertiary); }

.primary-contrast { color: var(--primary-contrast); }
.bg-primary-contrast { background-color: var(--primary-contrast); }
.border-primary-contrast { border-color: var(--primary-contrast); }

.secondary-contrast { color: var(--secondary-contrast); }
.bg-secondary-contrast { background-color: var(--secondary-contrast); }
.border-secondary-contrast { border-color: var(--secondary-contrast); }

.tertiary-contrast { color: var(--tertiary-contrast); }
.bg-tertiary-contrast { background-color: var(--tertiary-contrast); }
.border-tertiary-contrast { border-color: var(--tertiary-contrast); }

.bg-header { background-color: var(--header-bg); }
.header { color: var(--header-color); }

body {
  background-color: var(--bg);
  color: var(--color);
}

a {
  color: var(--link-color);
  text-decoration: var(--link-decoration);
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: var(--link-hover-decoration);
}
