:root {
	--gsui-font: "Montserrat", sans-serif;
	--gsui-font-title: "Oswald", var( --gsui-font );
	--gsui-font-monospace: "Inconsolata", "consolas", monospace;
	--gsui-font-number: "Unica One", var( --gsui-font-monospace );
}

/* FontAwesome (regular/bold) */
/* .......................................................................... */

@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url( "./fa-duotone-900.woff2" );
}

@font-face {
	font-family: "FontAwesomeBrands";
	font-style: normal;
	font-weight: normal;
	src: url( "./fa-brands-400.woff2" );
}

/* Oswald (regular) */
/* .......................................................................... */

@font-face { /* latin */
	font-family: "Oswald";
	font-style: normal;
	font-weight: normal;
	src: local( "Oswald Regular" ), local( "Oswald-Regular" ), url( "./oswald-400-latin.woff2" ) format( "woff2" );
	unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}

/* Unica One (regular) */
/* .......................................................................... */

@font-face { /* latin */
	font-family: "Unica One";
	font-style: normal;
	font-weight: normal;
	src: local( "Unica One" ), local( "UnicaOne-Regular" ), url( "./unica-one-400-latin.woff2" ) format( "woff2" );
	unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}

/* Inconsolata (regular) */
/* .......................................................................... */

@font-face { /* latin */
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: normal;
	src: local( "Inconsolata Regular" ), local( "Inconsolata-Regular" ), url( "./inconsolata-400-latin.woff2" ) format( "woff2" );
	unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}

/* Montserrat (regular) */
/* .......................................................................... */

@font-face { /* cyrillic-ext */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	src: local( "Montserrat Medium" ), local( "Montserrat-Medium" ), url( "./montserrat-500-cyrillic-ext.woff2" ) format( "woff2" );
	unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f;
}

@font-face { /* cyrillic */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	src: local( "Montserrat Medium" ), local( "Montserrat-Medium" ), url( "./montserrat-500-cyrillic.woff2" ) format( "woff2" );
	unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
}

@font-face { /* vietnamese */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	src: local( "Montserrat Medium" ), local( "Montserrat-Medium" ), url( "./montserrat-500-vietnamese.woff2" ) format( "woff2" );
	unicode-range: u+0102-0103, u+0110-0111, u+1ea0-1ef9, u+20ab;
}

@font-face { /* latin-ext */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	src: local( "Montserrat Medium" ), local( "Montserrat-Medium" ), url( "./montserrat-500-latin-ext.woff2" ) format( "woff2" );
	unicode-range: u+0100-024f, u+0259, u+1e00-1eff, u+2020, u+20a0-20ab, u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff;
}

@font-face { /* latin */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	src: local( "Montserrat Medium" ), local( "Montserrat-Medium" ), url( "./montserrat-500-latin.woff2" ) format( "woff2" );
	unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}

/* Montserrat (bold) */
/* .......................................................................... */

@font-face { /* cyrillic-ext */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	src: local( "Montserrat Bold" ), local( "Montserrat-Bold" ), url( "./montserrat-700-cyrillic-ext.woff2" ) format( "woff2" );
	unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f;
}

@font-face { /* cyrillic */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	src: local( "Montserrat Bold" ), local( "Montserrat-Bold" ), url( "./montserrat-700-cyrillic.woff2" ) format( "woff2" );
	unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
}

@font-face { /* vietnamese */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	src: local( "Montserrat Bold" ), local( "Montserrat-Bold" ), url( "./montserrat-700-vietnamese.woff2" ) format( "woff2" );
	unicode-range: u+0102-0103, u+0110-0111, u+1ea0-1ef9, u+20ab;
}

@font-face { /* latin-ext */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	src: local( "Montserrat Bold" ), local( "Montserrat-Bold" ), url( "./montserrat-700-latin-ext.woff2" ) format( "woff2" );
	unicode-range: u+0100-024f, u+0259, u+1e00-1eff, u+2020, u+20a0-20ab, u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff;
}

@font-face { /* latin */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	src: local( "Montserrat Bold" ), local( "Montserrat-Bold" ), url( "./montserrat-700-latin.woff2" ) format( "woff2" );
	unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}
