a[rel*="external"]::after {
  content: " "
    url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='i-external'%20viewBox='0%200%2032%2032'%20width='14'%20height='14'%20fill='none'%20stroke='%23ff9800'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");
}
nav a.active {
  background-color: #7c5cd1;
  color: #fff;
}
header {
  margin-bottom: 1rem !important;
}
a[itemprop="url"] {
  color: #c892e1;
}
a[itemprop="url"]:hover {
  color: #fff;
}
.muted,
.help-block {
  opacity: 0.7;
}
.hack .muted,
.hack .help-block {
  color: #696969;
}
