@import url("https://fonts.googleapis.com/css?family=Open+Sans|Rye|Courgette");

.App {
  text-align: center;
}

h1 {
  font-family: "Courgette";
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}

#bookshelf {
  width: 90%;
}

.shelf {
  margin-top: 40px;
}

#cards {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-height: 175px;
  box-shadow: 1px 1px 10px;
  margin-bottom: 5px;
}

.imgdiv {
  width: 125px;
  margin-left: 40px;
}

.card {
  margin-left: 30px;
}

.base {
  display: none;
}

@media (max-width: 680px) {
  .card {
    margin-left: 0;
  }
  .base {
    display: block;
  }
  .imgdiv {
    margin-left: 0;
  }
  #bookshelf {
    width: 80%;
  }
  .shelf {
    margin-top: 0px;
  }
}
