/* Import Tailwind as Global Utils */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.card {
  @apply bg-white shadow-md px-8 py-8 mb-4;
}

button {
  @apply bg-blue-500 text-white font-bold p-4;
}

button:hover {
  @apply bg-blue-700;
}

button:focus {
  @apply outline-none shadow-outline;
}

button:disabled {
  @apply bg-gray-500;
}
