html, body, div, span, applet, object, iframe,
header, hgroup, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, time,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
figure, figcaption, video, audio, img,
fieldset, form, label, legend, input, button, select,
table, caption, tbody, tfoot, thead, tr, th, td,
section, article, canvas, nav, footer, aside,
figure {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
/* legacy - for browsers who struggle with html5 elements*/
section, article, aside, footer, nav, header, hgroup, details, figure, figcaption, summary { display: block; }
audio, canvas, video { display: inline-block; }
/*Prevents iOS text size adjust after orientation change, without disabling user zoom.*/
html { -webkit-text-size-adjust: 100%; }
/* legacy support */
[hidden] { display: none; }
/*@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src: url("./public/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); 
}
@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  src: url("./public/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"); 
}*/
:root {

  /* TODO remove */;
}
body {
  overflow: auto;
  box-sizing: border-box;
  background-color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  color: #aaa;
  line-height: 1.4;
}
a {color: #aaa;}
a:hover {text-decoration: none;}
.page-index {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around
}
.page-index a {
    display: block;
    width: 30%;
    margin: 20px auto;
    padding: 1.5em;
    background-image: -webkit-linear-gradient(70deg, hsla(0,0%,100%,0.5), transparent);
    background-image: linear-gradient(20deg, hsla(0,0%,100%,0.5), transparent);
    border: 1px solid #aaa;
    border-radius: 1px;
    box-shadow: 0px 0px 1.5em #111;
    color: transparent;
    text-decoration: none;
    text-align: center;
}
.page-index a:hover {
    background-image: -webkit-linear-gradient(70deg, transparent, hsla(0,0%,100%,0.5));
    background-image: linear-gradient(20deg, transparent, hsla(0,0%,100%,0.5));
}
.page-index a:nth-child(1) {
    background-color: #0d6a71;
}
.page-index a:nth-child(2) {
    background-color: #91d3d8;
}
.page-index a:nth-child(3) {
    background-color: #eee;
}
/*-----------------------------*/
.page-piano {
  height: 96vh; width:100vw;
  position: relative; overflow: hidden
}
.page-piano .creds {
    position: absolute;
    bottom: -20px;
    right: 0px;
}
#midi-data {
  height: 68vh;
  position: relative
}
#midi-data nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#midi-data nav li {
    width: 50%;
    list-style: none;
    text-align: center;
}
#midi-data nav li a {
    display: block;
    height: 6vh;
    background-image: -webkit-linear-gradient(250deg, #333, transparent);
    background-image: linear-gradient(200deg, #333, transparent);
    border: 1px solid #aaa;
    border-radius: 1px;
    box-shadow: 0px 0px 1.5em #111;
    line-height: 6vh;
    text-decoration: none;
}
#midi-data nav li a.selected {
    background: none;
    box-shadow: none;
    border: 1px solid #aaa;
    border-radius: 1px;
    border-width: 1px 1px 0px;
}
#midi-data #screen {
    height: 62vh;
}
#midi-data #screen section {
    height: 62vh;
}
#midi-data #screen canvas {
    display: none;
    width: 100%;
    height: 62vh;
}
#midi-data h2 {
    margin-bottom: 20vh;
    font-size: 4em;
    color: #333;
}
#midi-data p {
    position: absolute;
    bottom: 900px;
    text-align: center;
    font-size: 2em;
    -webkit-animation: moveUp 6s;
            animation: moveUp 6s;
}
@-webkit-keyframes moveUp {
  0% {bottom:0px;}
  100% {bottom:900px;}
}
@keyframes moveUp {
  0% {bottom:0px;}
  100% {bottom:900px;}
}
.data {text-indent: -70px;}
.firework {
  -webkit-transform-origin: center center;
          transform-origin: center center
}
.firework span {
    position: absolute;
    top: -30px;
    left: 0px;
    opacity: 0;
    /*animation: explode 3s;*/
}
@-webkit-keyframes explode {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@keyframes explode {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
#keyboard {
  position: absolute; bottom:0px; left:50%;
  margin-left:-570px; width:1150px
  /*display: flex; justify-content: center; align-items: stretch;*/
}
#keyboard i, #keyboard b {
    display: inline-block;
    position: relative;
    z-index: 5;
    color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#keyboard i {
    width: 34px;
    height: 176px;
    background: white;
    border: 1px solid #222;
    border-left-width: 0px;
}
#keyboard b {
    z-index: 10;
    width: 26px;
    height: 104px;
    margin: 0px -15px;
    background: black;
    box-shadow: 1px 1px darkgrey;
}
#keyboard .key-last {
    position: absolute;
    top: 0px;
    right: 0px;
}
/*-------------------------------*/
.minim {
  width: 100%; overflow: hidden
}
.minim h2 {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-90deg) translateX(-120px) translateY(-40px);
            transform: rotate(-90deg) translateX(-120px) translateY(-40px);
}
.minim .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
}
.minim button {
    background-color: hsla(340, 70%, 55%, 0.9);
    /*background-image:
      linear-gradient(0deg, color(white alpha(-80%)) 10%, transparent 20%),
      linear-gradient(90deg, color(white alpha(-80%)) 10%, transparent 20%),
      linear-gradient(180deg, color(white alpha(-80%)) 10%, transparent 20%),
      linear-gradient(270deg, color(white alpha(-80%)) 10%, transparent 20%);*/
    box-shadow: 1px 1px 1.5em #111, inset 0 0 1em white;
    border: 1px solid #111;
    border-radius: 2px;
    height: 12vh;
}
.minim button[data-state="on"] {
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
}
.minim button.current {
    border: 4px solid rgba(255, 255, 255, 0.9);
}
#minim-main {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3
}
#minim-main button {
    width: 11vw;
}
.page-synth {
  .info {
    padding: 1.5em;
    background-color: rgba(51, 51, 51, 0.8);
    background: -webkit-linear-gradient(70deg, rgba(51, 51, 51, 0.9), rgba(34, 34, 34, 0.8));
    background: linear-gradient(20deg, rgba(51, 51, 51, 0.9), rgba(34, 34, 34, 0.8));
    border: 1px solid rgba(170, 170, 170, 0.8);
    border-radius: 1px;
    box-shadow: 0px 0px 1.5em #111;
  }
  
}
.page-synth .step-seq {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
}
.page-synth .minim {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.page-synth .buttons {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.page-synth button {
    width: 10vw;
}
.page-minim {
}
.page-minim p {
    margin-bottom: 1.5em;
    text-align: center;
}
.page-minim .buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.page-minim button {
    width: 20vw;
    height: 10vw;
    margin-bottom: 1.5em;
    background-color: transparent;
}
/*VISUALS~~~~~~~~~~~~~~~~~~*/
.page-vis {}
#controls {
  width:300px;
  padding:16px; margin:0px auto
}
#controls .image {
    text-align: center;
    padding: 16px 0px;
    min-height: 340px;
}
#controls img {
    width: 280px;
    height: auto;
}
#controls header {
    padding: 0.5em 0px;
    border-top: 2px solid #0d6a71;
}
#controls h4 {
    padding: 2em 0px 2em;
}
#controls .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.input-radio {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.label-radio {
  display: inline-block; box-sizing:border-box;
  min-width: 48%;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  margin:10px 0px;
  border-radius: 1px;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-align: center;
}
.field-three .label-radio {
  min-width: 32%;
}
.input-radio:checked + .label-radio {
    background: #91d3d8;
    color: black;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}
.input-radio:focus + .label-radio {
    outline-color: #0d6a71;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}
.page-vismain {
}
.page-vismain img {
    width: 100px;
    height: 100px;
}
.page-vismain #screen {
    width: 75vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}
.page-vismain .gem {
    position: absolute;
}



