<h1>Find your dream place...</h1>
{{#if registered}}
  <div class="alert alert-success">
    You have been succesfully registered, login and book your place today.
  </div>
{{/if}}
{{#bs-form model=user onSubmit=(action "submit") as |form|}}
  {{form.element
    controlType="email"
    class="email"
    label="Email"
    placeholder="Email"
    property="email"
    required=true
  }}
  {{form.element
    controlType="password"
    class="password"
    label="Password"
    placeholder="Password"
    property="password"
    required=true
    helpText="Minimum 6 characters"
  }}
  {{bs-button
    class="btn-bwm"
    defaultText="Submit"
    type="primary"
    buttonType="submit"
  }}
{{/bs-form}}
{{#if errorMessages}}
  {{#each errorMessages as |error|}}
    <div class="alert alert-danger">
      {{error.detail}}
    </div>
  {{/each}}
{{/if}}