.daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #fff;
  border-radius: 4px;
  width: 278px;
  padding: 4px;
  margin-top: 1px;
  top: 100px;
  left: 20px;
}
.daterangepicker:before,
.daterangepicker:after {
  position: absolute;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: "";
}
.daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
}
.daterangepicker:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
}
.daterangepicker.opensleft:before {
  right: 9px;
}
.daterangepicker.opensleft:after {
  right: 10px;
}
.daterangepicker.openscenter:before {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}
.daterangepicker.openscenter:after {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}
.daterangepicker.opensright:before {
  left: 9px;
}
.daterangepicker.opensright:after {
  left: 10px;
}
.daterangepicker.dropup {
  margin-top: -5px;
}
.daterangepicker.dropup:before {
  top: initial;
  bottom: -7px;
  border-bottom: initial;
  border-top: 7px solid #ccc;
}
.daterangepicker.dropup:after {
  top: initial;
  bottom: -6px;
  border-bottom: initial;
  border-top: 6px solid #fff;
}
.daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 3001;
}
.daterangepicker.single .ranges,
.daterangepicker.single .calendar {
  float: none;
}
.daterangepicker.show-calendar .calendar {
  display: block;
}
.daterangepicker .calendar {
  display: none;
  max-width: 270px;
  margin: 4px;
}
.daterangepicker .calendar.single .calendar-table {
  border: none;
}
.daterangepicker .calendar th,
.daterangepicker .calendar td {
  white-space: nowrap;
  text-align: center;
  min-width: 32px;
}
.daterangepicker .calendar-table {
  border: 1px solid #fff;
  padding: 4px;
  border-radius: 4px;
  background-color: #fff;
}
.daterangepicker table {
  width: 100%;
  margin: 0;
}
.daterangepicker td,
.daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: #eee;
  border-color: transparent;
  color: inherit;
}
.daterangepicker td.week,
.daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}
.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
  background-color: #fff;
  border-color: transparent;
  color: #999;
}
.daterangepicker td.in-range {
  background-color: #ebf4f8;
  border-color: transparent;
  color: #000;
  border-radius: 0;
}
.daterangepicker td.start-date {
  border-radius: 4px 0 0 4px;
}
.daterangepicker td.end-date {
  border-radius: 0 4px 4px 0;
}
.daterangepicker td.start-date.end-date {
  border-radius: 4px;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #357ebd;
  border-color: transparent;
  color: #fff;
}
.daterangepicker th.month {
  width: auto;
}
.daterangepicker td.disabled,
.daterangepicker option.disabled {
  color: #999;
  cursor: not-allowed;
  text-decoration: line-through;
}
.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}
.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}
.daterangepicker select.yearselect {
  width: 40%;
}
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
  width: 50px;
  margin-bottom: 0;
}
.daterangepicker .input-mini {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  height: 30px;
  line-height: 30px;
  display: block;
  vertical-align: middle;
  margin: 0 0 5px 0;
  padding: 0 6px 0 28px;
  width: 100%;
}
.daterangepicker .input-mini.active {
  border: 1px solid #08c;
  border-radius: 4px;
}
.daterangepicker .daterangepicker_input {
  position: relative;
}
.daterangepicker .daterangepicker_input i {
  position: absolute;
  left: 8px;
  top: 8px;
}
.daterangepicker.rtl .input-mini {
  padding-right: 28px;
  padding-left: 6px;
}
.daterangepicker.rtl .daterangepicker_input i {
  left: auto;
  right: 8px;
}
.daterangepicker .calendar-time {
  text-align: center;
  margin: 5px auto;
  line-height: 30px;
  position: relative;
  padding-left: 28px;
}
.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}
.ranges {
  font-size: 11px;
  float: none;
  margin: 4px;
  text-align: left;
}
.ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.ranges li {
  font-size: 13px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  color: #08c;
  padding: 3px 12px;
  margin-bottom: 8px;
  cursor: pointer;
}
.ranges li:hover {
  background-color: #08c;
  border: 1px solid #08c;
  color: #fff;
}
.ranges li.active {
  background-color: #08c;
  border: 1px solid #08c;
  color: #fff;
}
@media (min-width: 564px) {
  .daterangepicker {
    width: auto;
  }
  .daterangepicker .ranges ul {
    width: 160px;
  }
  .daterangepicker.single .ranges ul {
    width: 100%;
  }
  .daterangepicker.single .calendar.left {
    clear: none;
  }
  .daterangepicker.single.ltr .ranges,
  .daterangepicker.single.ltr .calendar {
    float: left;
  }
  .daterangepicker.single.rtl .ranges,
  .daterangepicker.single.rtl .calendar {
    float: right;
  }
  .daterangepicker.ltr {
    direction: ltr;
    text-align: left;
  }
  .daterangepicker.ltr .calendar.left {
    clear: left;
    margin-right: 0;
  }
  .daterangepicker.ltr .calendar.left .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .daterangepicker.ltr .calendar.right {
    margin-left: 0;
  }
  .daterangepicker.ltr .calendar.right .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .daterangepicker.ltr .left .daterangepicker_input {
    padding-right: 12px;
  }
  .daterangepicker.ltr .calendar.left .calendar-table {
    padding-right: 12px;
  }
  .daterangepicker.ltr .ranges,
  .daterangepicker.ltr .calendar {
    float: left;
  }
  .daterangepicker.rtl {
    direction: rtl;
    text-align: right;
  }
  .daterangepicker.rtl .calendar.left {
    clear: right;
    margin-left: 0;
  }
  .daterangepicker.rtl .calendar.left .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .daterangepicker.rtl .calendar.right {
    margin-right: 0;
  }
  .daterangepicker.rtl .calendar.right .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .daterangepicker.rtl .left .daterangepicker_input {
    padding-left: 12px;
  }
  .daterangepicker.rtl .calendar.left .calendar-table {
    padding-left: 12px;
  }
  .daterangepicker.rtl .ranges,
  .daterangepicker.rtl .calendar {
    text-align: right;
    float: right;
  }
}
@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto;
  }
  .daterangepicker.ltr .ranges {
    float: left;
  }
  .daterangepicker.rtl .ranges {
    float: right;
  }
  .daterangepicker .calendar.left {
    clear: none !important;
  }
}
/*!
 * Copyright (c) 2017 ~ present NAVER Corp.
 * billboard.js project is licensed under the MIT license
 *
 * billboard.js, JavaScript chart library
 * https://naver.github.io/billboard.js/
 *
 * @version 2.2.0
 */
.bb svg {
  font: 10px sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.bb path,
.bb line {
  fill: none;
  stroke: #000;
}
.bb text,
.bb .bb-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.bb-legend-item-tile,
.bb-xgrid-focus,
.bb-ygrid-focus,
.bb-ygrid,
.bb-event-rect,
.bb-bars path {
  shape-rendering: crispEdges;
}
.bb-chart-arc .bb-gauge-value {
  fill: #000;
}
.bb-chart-arc path {
  stroke: #fff;
}
.bb-chart-arc rect {
  stroke: #fff;
  stroke-width: 1;
}
.bb-chart-arc text {
  fill: #fff;
  font-size: 13px;
}
.bb-axis {
  shape-rendering: crispEdges;
}
.bb-grid line {
  stroke: #aaa;
}
.bb-grid text {
  fill: #aaa;
}
.bb-xgrid,
.bb-ygrid {
  stroke-dasharray: 3 3;
}
.bb-text.bb-empty {
  fill: #808080;
  font-size: 2em;
}
.bb-line {
  stroke-width: 1px;
}
.bb-circle._expanded_ {
  stroke-width: 1px;
  stroke: #fff;
}
.bb-selected-circle {
  fill: #fff;
  stroke-width: 2px;
}
.bb-bar {
  stroke-width: 0;
}
.bb-bar._expanded_ {
  fill-opacity: 0.75;
}
.bb-target.bb-focused,
.bb-circles.bb-focused {
  opacity: 1;
}
.bb-target.bb-focused path.bb-line,
.bb-target.bb-focused path.bb-step,
.bb-circles.bb-focused path.bb-line,
.bb-circles.bb-focused path.bb-step {
  stroke-width: 2px;
}
.bb-target.bb-defocused,
.bb-circles.bb-defocused {
  opacity: 0.3 !important;
}
.bb-target.bb-defocused .text-overlapping,
.bb-circles.bb-defocused .text-overlapping {
  opacity: 0.05 !important;
}
.bb-region {
  fill: #4682b4;
  fill-opacity: 0.1;
}
.bb-zoom-brush {
  fill-opacity: 0.1;
}
.bb-brush .extent {
  fill-opacity: 0.1;
}
.bb-legend-item {
  font-size: 12px;
  user-select: none;
}
.bb-legend-item-hidden {
  opacity: 0.15;
}
.bb-legend-background {
  opacity: 0.75;
  fill: #fff;
  stroke: #d3d3d3;
  stroke-width: 1;
}
.bb-title {
  font: 14px sans-serif;
}
.bb-tooltip-container {
  z-index: 10;
  user-select: none;
}
.bb-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  opacity: 0.9;
  -webkit-box-shadow: 7px 7px 12px -9px #777;
  -moz-box-shadow: 7px 7px 12px -9px #777;
  box-shadow: 7px 7px 12px -9px #777;
}
.bb-tooltip tr {
  border: 1px solid #ccc;
}
.bb-tooltip th {
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #fff;
}
.bb-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999;
}
.bb-tooltip td > span,
.bb-tooltip td > svg {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}
.bb-tooltip.value {
  text-align: right;
}
.bb-area {
  stroke-width: 0;
  opacity: 0.2;
}
.bb-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em;
}
.bb-chart-arcs-gauge-title {
  dominant-baseline: middle;
  font-size: 2.7em;
}
.bb-chart-arcs .bb-chart-arcs-background {
  fill: #e0e0e0;
  stroke: #fff;
}
.bb-chart-arcs .bb-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px;
}
.bb-chart-arcs .bb-chart-arcs-gauge-max {
  fill: #777;
}
.bb-chart-arcs .bb-chart-arcs-gauge-min {
  fill: #777;
}
.bb-chart-radars .bb-levels polygon {
  fill: none;
  stroke: #848282;
  stroke-width: 0.5px;
}
.bb-chart-radars .bb-levels text {
  fill: #848282;
}
.bb-chart-radars .bb-axis line {
  stroke: #848282;
  stroke-width: 0.5px;
}
.bb-chart-radars .bb-axis text {
  font-size: 1.15em;
  cursor: default;
}
.bb-chart-radars .bb-shapes polygon {
  fill-opacity: 0.2;
  stroke-width: 1px;
}
.bb-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.bb-button .bb-zoom-reset {
  font-size: 11px;
  border: solid 1px #ccc;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.rangeslider {
  background: #e6e6e6;
  position: relative;
}
.rangeslider--horizontal {
  height: 20px;
  width: 100%;
}
.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}
.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.rangeslider__fill {
  background: #0f0;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}
.rangeslider__handle {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(
    linear,
    50% 0,
    50% 100%,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.1))
  );
  background-image: -moz-linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.1)
  );
  background-image: -webkit-linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.1)
  );
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: -webkit-gradient(
    linear,
    50% 0,
    50% 100%,
    color-stop(0, rgba(0, 0, 0, 0.13)),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background-image: -moz-linear-gradient(
    rgba(0, 0, 0, 0.13),
    rgba(255, 255, 255, 0)
  );
  background-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0.13),
    rgba(255, 255, 255, 0)
  );
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.13),
    rgba(255, 255, 255, 0)
  );
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:active,
.rangeslider--active .rangeslider__handle {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: -webkit-gradient(
    linear,
    50% 0,
    50% 100%,
    color-stop(0, rgba(0, 0, 0, 0.1)),
    color-stop(100%, rgba(0, 0, 0, 0.12))
  );
  background-image: -moz-linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.12)
  );
  background-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.12)
  );
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}
.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}
input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
.chart-box {
  background: #2d353c;
  background-color: #2d353c;
  color: #8a8e91;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}
.chart-box .title {
  text-align: center;
  color: #fff;
  font-weight: 500;
}
.bb-tooltip-container {
  z-index: 10;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
}
.bb-tooltip {
  border-collapse: separate;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #999;
  background-color: #fff;
  text-align: left;
  font-size: 12px;
}
.bb-tooltip th {
  font-size: 12px;
  padding: 4px 8px;
  text-align: left;
  border-bottom: solid 1px #eee;
}
.bb-tooltip td {
  padding: 4px 6px;
  background-color: #fff;
}
.bb-tooltip td:first-child {
  padding-left: 8px;
}
.bb-tooltip td:last-child {
  padding-right: 8px;
}
.bb-tooltip td > span,
.bb-tooltip td > svg {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
  border-radius: 5px;
  vertical-align: middle;
}
.bb-tooltip td.value {
  border-left: 1px solid transparent;
}
.bb-tooltip .bb-tooltip-title {
  display: inline-block;
  color: #aaa;
  line-height: 20px;
}
.bb-tooltip .bb-tooltip-detail table {
  border-collapse: collapse;
  border-spacing: 0;
}
.bb-tooltip .bb-tooltip-detail .bb-tooltip-name,
.bb-tooltip .bb-tooltip-detail .bb-tooltip-value {
  font-size: 12px;
  line-height: 13px;
  padding: 4px 0 3px;
  color: #444;
  text-align: left;
  font-weight: normal;
}
.bb-tooltip .bb-tooltip-detail .bb-tooltip-value {
  padding-left: 5px;
  font-weight: 800;
}
.graph text,
.graph-top text {
  fill: #8a8e91;
}
.graph .c3-chart-arcs text,
.graph-top .c3-chart-arcs text,
.graph .bb-chart-arcs text,
.graph-top .bb-chart-arcs text {
  fill: #fff;
}
.graph .c3-ygrid,
.graph-top .c3-ygrid,
.graph .bb-ygrid,
.graph-top .bb-ygrid {
  stroke-dasharray: none;
}
.graph .c3-ygrid line,
.graph-top .c3-ygrid line,
.graph .bb-ygrid line,
.graph-top .bb-ygrid line {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 0.5px;
}
.graph .c3-axis-y g.tick line,
.graph-top .c3-axis-y g.tick line,
.graph .bb-axis-y g.tick line,
.graph-top .bb-axis-y g.tick line {
  stroke: none;
}
.graph .c3-axis-x g.tick line,
.graph-top .c3-axis-x g.tick line,
.graph .c3-axis-x g.tick line,
.graph-top .c3-axis-x g.tick line {
  stroke: none;
}
.graph .c3-xgrid-focus,
.graph-top .c3-xgrid-focus,
.graph .bb-xgrid-focus,
.graph-top .bb-xgrid-focus {
  stroke: none;
}
.graph .c3-shape,
.graph-top .c3-shape,
.graph .bb-shape,
.graph-top .bb-shape {
  stroke: #000;
}
.graph .c3-line,
.graph-top .c3-line,
.graph .bb-line,
.graph-top .bb-line {
  stroke-width: 2px;
}
.c3-tooltip,
.bb-tooltip {
  border: 1px solid #000;
  font-size: 12px !important;
  color: #000;
}
.c3-tooltip tr,
.bb-tooltip tr {
  border: 1px solid #000;
}
.c3-tooltip tr th.center,
.bb-tooltip tr th.center {
  text-align: center;
}
.c3-tooltip tr td.name,
.bb-tooltip tr td.name {
  border-left: 0;
  white-space: nowrap;
}
.c3-tooltip tr td.name span,
.bb-tooltip tr td.name span {
  vertical-align: baseline;
}
.c3-tooltip tr td.name username,
.bb-tooltip tr td.name username {
  display: inline-block;
}
.c3-tooltip .c3-tooltip-header,
.bb-tooltip .c3-tooltip-header,
.c3-tooltip .bb-tooltip-header,
.bb-tooltip .bb-tooltip-header {
  background-color: #aaa;
  padding: 2px 5px;
  font-weight: bold;
}
.c3-tooltip div.value,
.bb-tooltip div.value {
  background-color: #fff;
  padding: 2px 5px;
  white-space: nowrap;
}
.c3-tooltip th,
.bb-tooltip th {
  color: #000;
}
.chart-box {
  margin-bottom: 15px;
}
.chart-box .inside {
  positon: relative;
  height: 200px;
}
@media (min-width: 992px) {
  .chart-cards.row div.col-md-6:nth-child(1) .chart-box {
    margin-right: -7px;
  }
  .chart-cards.row div.col-md-6:nth-child(2) .chart-box {
    margin-left: -7px;
  }
}
#coding-activity .c3-circle {
  pointer-events: all;
}
#categories-bar.chart-box .inside .graph-top {
  position: relative;
  top: -10px;
  height: 30px;
  max-height: 30px;
}
#categories-bar.chart-box .inside .graph-top g.c3-xgrid-focus,
#categories-bar.chart-box .inside .graph-top g.c3-brush {
  display: none;
}
#categories-bar.chart-box .inside .graph-top .c3-event-rect {
  cursor: default !important;
}
#daily-average .direction-up {
  color: #0de23e;
}
#daily-average.chart-box .graph .c3-chart-arcs text {
  fill: #8a8e91;
}
#editors-pie g.c3-arcs path.c3-arc,
#os-pie g.c3-arcs path.c3-arc {
  cursor: auto !important;
}
#project-title {
  font-size: 1.5rem;
}
@media (max-width: 991px) {
  #project-title {
    font-size: 1rem;
  }
}
#project-title a.download {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  color: #5b86ab;
}
#project-title a.download:hover,
#project-title a.download:focus {
  color: #23527c;
}
#projects .project {
  padding-bottom: 25px;
}
#projects .project .white-well {
  display: inline-block;
  width: 100%;
  padding-top: 13px;
  padding-right: 20px;
  padding-left: 20px;
}
#projects .project .white-well a.commit-history {
  font-size: 14px;
  color: #333;
}
#projects .project .white-well a.commit-history:hover {
  color: #4183c4;
  text-decoration: none;
}
#projects .project .white-well a.commit-history i.fa,
#projects .project .white-well a.commit-history span.octicon {
  opacity: 0.5;
  margin-right: 3px;
  font-size: 14px;
}
#projects .project .white-well a.project-share {
  font-size: 14px;
  color: #333;
}
#projects .project .white-well a.project-share:hover {
  color: #4183c4;
  text-decoration: none;
}
#projects .project .white-well a.project-share i.fa,
#projects .project .white-well a.project-share span.octicon {
  opacity: 0.5;
  margin-right: 3px;
  font-size: 14px;
}
#projects .project .white-well a.project-name {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
#projects .project .white-well a.project-name i.fa {
  opacity: 0.5;
  margin-right: 5px;
  font-size: 17px;
  text-decoration: bold;
  position: relative;
  top: -1px;
}
#projects .project .white-well .logged-time div {
  display: inline-block;
  font-size: 20px;
}
#date-picker {
  color: #36558b;
  text-decoration: none;
  border-bottom: 1px #36558b dashed;
  cursor: pointer;
}
#date-picker:hover {
  color: #24385c;
  text-decoration: none;
  border-bottom: 1px #24385c dashed;
}
.modal .modal-dialog {
  width: 60%;
  min-width: 600px;
}
.modal .modal-dialog p {
  font-size: 12px;
}
@media (min-width: 1200px) {
  .modal.download-modal .modal-dialog {
    width: 30%;
    min-width: 300px;
  }
}
.modal.download-modal .modal-dialog .format-choices {
  display: inline-block;
  text-align: left;
}
a.embeddables-link {
  margin-left: 10px;
  font-size: 20px;
}
a.embeddables-link.pull-right {
  position: absolute;
  right: 20px;
  top: 1px;
  z-index: 2;
  color: #a9a9a9;
  font-size: 18px;
}
a.embeddables-link.pull-right:hover {
  color: #82ccff;
}
@media (max-width: 991px) {
  a.embeddables-link {
    font-size: 1rem;
  }
}
#durations a.axis:hover,
#durations-slice-by a.axis:hover {
  text-decoration: none;
}
#durations .chart,
#durations-slice-by .chart {
  font-size: 12px;
}
#durations .axis.y text,
#durations-slice-by .axis.y text {
  font-size: 18px;
}
@media (max-width: 991px) {
  #durations .axis.y text,
  #durations-slice-by .axis.y text {
    font-size: 10px;
  }
}
#durations .axis.x text,
#durations-slice-by .axis.x text {
  font-size: 10px;
}
@media (max-width: 991px) {
  #durations .axis.x text,
  #durations-slice-by .axis.x text {
    font-size: 8px;
  }
}
#durations .project-totals text,
#durations-slice-by .project-totals text {
  font-size: 18px;
}
@media (max-width: 991px) {
  #durations .project-totals text,
  #durations-slice-by .project-totals text {
    font-size: 10px;
  }
}
#durations .axis line,
#durations-slice-by .axis line,
#durations .axis path,
#durations-slice-by .axis path,
#durations line.axis,
#durations-slice-by line.axis {
  fill: none;
  stroke: #ebebeb;
  shape-rendering: crispEdges;
}
#durations .chart a,
#durations-slice-by .chart a {
  fill: #000;
}
#durations .chart a:hover,
#durations-slice-by .chart a:hover {
  fill: #000;
}
#durations .d3-tip,
#durations-slice-by .d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
#durations .d3-tip:after,
#durations-slice-by .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
#durations .d3-tip span,
#durations-slice-by .d3-tip span {
  color: #ff00c7;
}
#durations .slice:hover,
#durations-slice-by .slice:hover {
  fill-opacity: 0.9;
  opacity: 0.9;
}
#durations .d3-tip:after,
#durations-slice-by .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
}
#durations .d3-tip.n:after,
#durations-slice-by .d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}
#durations .d3-tip.e:after,
#durations-slice-by .d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}
#durations .d3-tip.s:after,
#durations-slice-by .d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}
#durations .d3-tip.w:after,
#durations-slice-by .d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
#durations #total-logged-time,
#durations-slice-by #total-logged-time {
  color: #dedede;
  font-size: 18px;
}
@media (max-width: 991px) {
  #durations #total-logged-time,
  #durations-slice-by #total-logged-time {
    font-size: 13px;
  }
}
#durations #total-logged-time .grand-total,
#durations-slice-by #total-logged-time .grand-total {
  font-weight: 600;
}
#durations #total-logged-time a,
#durations-slice-by #total-logged-time a {
  color: #a9a9a9;
}
#durations #total-logged-time a:hover,
#durations-slice-by #total-logged-time a:hover {
  color: #82ccff;
}
#durations #total-logged-time a.disabled,
#durations-slice-by #total-logged-time a.disabled {
  cursor: default;
  color: #656c72;
}
#durations #total-logged-time a.disabled:hover,
#durations-slice-by #total-logged-time a.disabled:hover {
  color: #656c72;
}
#durations #total-logged-time a .dropdown-toggle:hover,
#durations-slice-by #total-logged-time a .dropdown-toggle:hover {
  color: inherit;
}
#durations #total-logged-time #durations-settings-link,
#durations-slice-by #total-logged-time #durations-settings-link,
#durations #total-logged-time #durations-slice-by-settings-link,
#durations-slice-by #total-logged-time #durations-slice-by-settings-link {
  margin-left: 10px;
  font-size: 20px;
  position: absolute;
  right: 10px;
  float: right;
  top: -3px;
  z-index: 2;
}
@media (max-width: 991px) {
  #durations #total-logged-time #durations-settings-link,
  #durations-slice-by #total-logged-time #durations-settings-link,
  #durations #total-logged-time #durations-slice-by-settings-link,
  #durations-slice-by #total-logged-time #durations-slice-by-settings-link {
    font-size: 1rem;
  }
}
#durations #total-logged-time .tooltip .tooltip-inner,
#durations-slice-by #total-logged-time .tooltip .tooltip-inner {
  min-width: 200px;
}
#durations #total-logged-time .popover,
#durations-slice-by #total-logged-time .popover {
  color: #000;
  min-width: 300px;
  max-width: none;
}
#durations #total-logged-time .popover .popover-title,
#durations-slice-by #total-logged-time .popover .popover-title {
  text-align: center;
}
#durations #total-logged-time .popover .popover-content,
#durations-slice-by #total-logged-time .popover .popover-content {
  text-align: center;
  min-height: 108px;
}
#durations
  #total-logged-time
  .popover
  .popover-content
  .rangeslider--horizontal,
#durations-slice-by
  #total-logged-time
  .popover
  .popover-content
  .rangeslider--horizontal {
  margin-top: 6px;
  margin-bottom: 10px;
  height: 12px;
}
#durations
  #total-logged-time
  .popover
  .popover-content
  .rangeslider--horizontal
  .rangeslider__handle,
#durations-slice-by
  #total-logged-time
  .popover
  .popover-content
  .rangeslider--horizontal
  .rangeslider__handle {
  top: -8px;
  width: 26px;
  height: 26px;
}
#durations
  #total-logged-time
  .popover
  .popover-content
  .rangeslider--horizontal
  .rangeslider__handle:after,
#durations-slice-by
  #total-logged-time
  .popover
  .popover-content
  .rangeslider--horizontal
  .rangeslider__handle:after {
  width: 14px;
  height: 14px;
  top: -1px;
  left: -1px;
}
#durations #total-logged-time .popover .popover-content .rangeslider__fill,
#durations-slice-by
  #total-logged-time
  .popover
  .popover-content
  .rangeslider__fill {
  background: #1f77b4;
}
#durations #total-logged-time .popover .popover-content .btn-success,
#durations-slice-by #total-logged-time .popover .popover-content .btn-success {
  margin-top: 10px;
  width: 100%;
}
#durations g.y.axis text.y.axis,
#durations-slice-by g.y.axis text.y.axis {
  fill: #a9a9a9;
}
#durations g.y.axis text.y.axis.link,
#durations-slice-by g.y.axis text.y.axis.link {
  fill: #a9a9a9;
}
#durations g.y.axis text.y.axis.link:hover,
#durations-slice-by g.y.axis text.y.axis.link:hover {
  fill: #82ccff;
}
#durations g.x.axis g.tick text,
#durations-slice-by g.x.axis g.tick text {
  fill: #a9a9a9;
}
body.color_scheme-Light #durations #total-logged-time,
body.color_scheme-Light #durations-slice-by #total-logged-time {
  color: #757575;
}
body.color_scheme-Light #durations #total-logged-time a,
body.color_scheme-Light #durations-slice-by #total-logged-time a {
  color: #7b7b7b;
}
body.color_scheme-Light #durations #total-logged-time a:hover,
body.color_scheme-Light #durations-slice-by #total-logged-time a:hover {
  color: #4e4e4e;
}
body.color_scheme-Light #durations #total-logged-time a.disabled,
body.color_scheme-Light #durations-slice-by #total-logged-time a.disabled {
  color: #bababa;
}
body.color_scheme-Light #durations #total-logged-time a.disabled:hover,
body.color_scheme-Light
  #durations-slice-by
  #total-logged-time
  a.disabled:hover {
  color: #bababa;
}
body.color_scheme-Light #durations .axis line,
body.color_scheme-Light #durations-slice-by .axis line,
body.color_scheme-Light #durations .axis path,
body.color_scheme-Light #durations-slice-by .axis path,
body.color_scheme-Light #durations line.axis,
body.color_scheme-Light #durations-slice-by line.axis {
  stroke: #757575;
}
body.color_scheme-Light #durations g.y.axis text.y.axis.link,
body.color_scheme-Light #durations-slice-by g.y.axis text.y.axis.link {
  fill: #757575;
}
body.color_scheme-Light #durations g.y.axis text.y.axis.link:hover,
body.color_scheme-Light #durations-slice-by g.y.axis text.y.axis.link:hover {
  fill: #424242;
}
