/*----------------------------------------------
css settings for HTML div exactCenter 
------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway);

h3,p,label{
	text-align:center;
	font-family: 'Raleway', sans-serif;
	color:darkgreen;
 }
h2{
	font-family: 'Raleway', sans-serif;
	} 
input{
	width:100%;
	margin-bottom:20px;
	padding:5px;
	height:30px;
	box-shadow: 1px 1px 12px gray;
	border-radius:3px;
	border:none;
 }

textarea{
    width:100%;
	height:80px;
	margin-top:10px;
	padding:5px;
	box-shadow: 1px 1px 12px gray;
	border-radius:3px;
 }
#send{
	width:103%;
	height:45px;
	margin-top:40px;
	border-radius:3px;
	background-color: peru;
	border:1px solid white;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size:18px;
}

div#feedback{
	text-align:center;
	height:520px; 
	width:330px; 
	padding:20px 25px 20px 15px; 
	background-color:#f3f3f3; 
	border-radius:3px; 
	border: 1px solid peru;
	font-family: 'Raleway', sans-serif;
	float:left;
	} 
.container{
	width:960px;
	margin:40px auto;
	}
