@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Ubuntu|Raleway|Orbitron");

/* General */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
div {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
h1 {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 400;
}
h3 {
  font-family: "Raleway";
}

.text-buffer {
  height: 10px;
}

.responsive {
  width: 100%;
  height: auto;
}

/* Header and Navbar */

.header {
  margin: 0;
  display: flex;
  justify-content: space-around;
  background: #ffbb33;
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav-links {
  width: 400px;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins";
}
#toggle {
  cursor: pointer;
  color: black;
  font-size: 30px;
  background: transparent;
  border: none;
  display: none;
}
.mobile-links {
  margin: 0;
  width: 50%;
  height: 100vh;
  font-family: "Poppins";
  background: #ffbb33;
  opacity: 1;
  position: fixed;
  top: 48px;
  z-index: 20;
  left: -100%;
  transition: all 1s;
}
.mobile-links.active {
  left: 0%;
}
.sidebar-links {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 150%;
}
.nav-link {
  align-self: center;
  text-decoration: none;
  color: black;
}

/* Main Section */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/portfolio_home.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.home-image {
  width: 100%;
  height: 100%;
}

.home-title {
  font-size: 64px;
  font-weight: 600;
  font-family: "Raleway";
  color: white;
  margin-bottom: 10px;
  opacity: 0;
  left: 80px;
  animation: home-title-fade 8s forwards;
}

@keyframes home-title-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-subheading {
  font-family: "Orbitron";
  color: #ffbb33;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.typing-text {
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  animation: typewriter;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}
.typing-cursor {
  color: transparent;
  animation: blink-caret 0.75s step-end infinite;
}
/* The typing effect */
@keyframes typewriter {
  0%,
  100% {
    width: 0;
  }
  20%,
  80% {
    width: 11.5em;
  }
}
@keyframes blink-caret {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #ffbb33;
  }
}

/* About Section */

.about {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(black, rgb(57, 29, 77));
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.about-title {
  color: white;
  font-size: 52px;
  font-family: "Raleway";
}
.text-span {
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
}
.about-subheading {
  color: white;
  font-family: "Raleway";
  font-weight: 400;
}

.about-image-box {
  margin-bottom: 0;
}
.about-image {
  opacity: 0.8;
  width: 200px;
  border-radius: 50%;
}
.about-highlights1 {
  font-family: "Raleway";
  color: #ffbb33;
  opacity: 0;
  transition: all 2s;
  transition-delay: 1s;
}

.about-highlights2 {
  font-family: "Raleway";
  color: #ffbb33;
  opacity: 0;
  transition: all 2s;
  transition-delay: 2s;
}

.about-highlights3 {
  font-family: "Raleway";
  color: white;
  width: 50%;
  opacity: 0;
  transition: all 2s;
  transition-delay: 3s;
}

.about-highlights1 {
  opacity: 0;
}
.about-highlights2 {
  opacity: 0;
}
.about-highlights3 {
  opacity: 0;
}

.about-highlights1.active,
.about-highlights2.active,
.about-highlights3.active {
  opacity: 1;
}

.about-icons {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}

/* Projects */

.projects {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgb(57, 29, 77), #000000);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.project-cards {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-template-rows: auto;
  grid-row-gap: 30px;
  opacity: 0;
  transition: all 5s;
  transition-delay: 1s;
}
.project-cards.active {
  opacity: 1;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 350px;
  background: black;
  color: white;
  padding: 0;
  margin: 0;
}
.cover {
  width: 350px;
  height: 100%;
  background: black;
  color: white;
  opacity: 0;
  z-index: 10;
  position: absolute;
}
.cover-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card:hover .cover {
  display: inline;
  animation: fade-in 0.5s forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
.card:not(:hover) .cover {
  animation: fade-out 1s forwards;
}
@keyframes fade-out {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}
.info {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.tech {
  margin-top: 0;
  padding: 6px 0;
  display: flex;
  justify-content: space-around;
  background: beige;
}

.project-link {
  font-family: "Ubuntu";
  color: hotpink;
  text-decoration: none;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 30%;
  margin-right: 30%;
}

.details {
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  width: 550px;
  color: white;
  font-family: "Poppins";
}

/* Footer */

.footer {
  background: #ffbb33;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  white-space: pre-wrap;
}
.icon-box {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

@media screen and (max-width: 720px) {
  .nav-links {
    display: none;
  }
  #toggle {
    display: inline-block;
  }
  .about-highlights3 {
    width: 90%;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }
  .project-cards {
    grid-template-columns: 1fr;
  }
}
