@import "pages/about";
@import "pages/blog";

html,
body {
  height: 100%;
}

.theme {
  &__dark {
    background-color: #363636;
    color: #f5f5f5;

    #all-taxonomies {
      > div > .is-text {
        color: #f5f5f5;
      }
    }

    .navbar-item .navbar-link {
      color: #f5f5f5;
    }

    .blog-item {
      color: #f5f5f5;

      > .title,
      .subtitle,
      strong {
        color: #f5f5f5;
      }
    }
  }

  &__light {
    background-color: #f5f5f5;
    color: black;

    .blog-item {
      color: black;
    }
  }
}
