{{ if not (eq .settings.hidden true) }}
<nav itemscope itemtype="https://schema.org/SiteNavigationElement">
  <meta itemprop="name" content="{{ .name | humanize }} Menu" />
  {{ range .entries }} {{ $is_active := or ($.page.IsMenuCurrent $.name .)
  ($.page.HasMenuCurrent $.name .) }} {{ if (not (in $.settings.exclude
  .Identifier)) }}
  <a
    itemprop="url"
    {{
    if
    $is_active
    }}
    class="active"
    {{
    end
    }}
    href="{{ .URL }}"
    >{{ if .Pre }}{{ .Pre | safeHTML }} {{ end }}{{ .Name }}{{ if .Post }} {{
    .Post | safeHTML }}{{ end }}</a
  >
  {{ end }} {{ end }}
</nav>
{{ end }}
