<configuration>
  <system.runtime.remoting>
    <application>

     <channels> 
      <channel ref="http">
		<clientProviders>
	      <formatter ref="soap" />
		  <provider type="EncryptionSink.EncryptionClientSinkProvider, EncryptionSink" 
                         algorithm="TripleDES" keyfile="testkey.dat" />
		</clientProviders>
      </channel>
      </channels>

      <client>
        <wellknown type="Service.SomeSAO, Service"  
                   url="http://localhost:5555/SomeSAO.soap" />

      </client>

    </application>
  </system.runtime.remoting>
</configuration>
