<!-- <ion-tabs>
  <ion-tab label="Cards" icon="home" href="/tabs/(card:card)">
    <ion-router-outlet name="card"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Favorite" icon="star" href="/tabs/(favorite:favorite)">
    <ion-router-outlet name="favorite"></ion-router-outlet>
  </ion-tab>
</ion-tabs> -->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="card">
      <ion-icon name="home"></ion-icon>
      <ion-label>Cards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorite">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
