.um-wrapper {
  background-color: rgba(0, 0, 0, 0.4);
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .um-wrapper {
    flex-direction: row;
    justify-content: space-between;
    height: 20em;
    width: 100vw !important;
  }
}
