<section id="home">
  <h1>Home</h1>
  <p>
    BookingSync is a French startup and cloud-based vacation rental management
    platform. Our goal is to make the lives of vacation rental owners, managers
    and agencies easier. Whether it’s managing your booking, generating an
    invoice, accepting a payment, or issuing a contract, BookingSync can handle
    it. Centered around simplicity and ease of use, we’ve developed an intuitive
    software that is a friend to owners and managers during each step of the
    vacation rental management process.
  </p>
  <br />

  <div class="image-container">
    <img src="assets/images/booksync.jpg" />
    <p class="image-desc">BookingSync was started in the VillasThalassa, in
      Sivota - Lefkada in Greece.</p>
  </div>

  <p>
    BookingSync disrupted the space with portal synchronization functionality
    which allows users to maintain a centralized calendar that automatically
    updates websites and supported portals like Airbnb, FlipKey, HomeAway, VRBO,
    among others. We’ve also built a developer API, and with it, a flexible and
    versatile product. Developers can easily add extra services on top of the
    software so that BookingSync works best for you. At heart, we provide a
    product that is simple, reliable, fast, and fun.
  </p>
</section>