<section id="loginSection">
  <h1 class="text-center">Login</h1>
  {{#if registered}}
    <div class="alert alert-success col-md-6 offset-md-3">
      <p>You have been succesfuly register, you can login</p>
    </div>
  {{/if}}
  {{login-form isRegistered=isRegistered}}
</section>