<section id="signupSection">
  <h1 class="text-center">Register</h1>
  {{signup-form
    user=model
    triggerSave=(action "save")
    errorMessage=errorMessage
    successMessage=successMessage
    isLoading=isLoading
  }}
</section>