#send-a-request {
  padding-bottom: 80px;

  .send-a-request__header {
    text-align: center;
  }

  .send-a-request-content {
    display: flex;
    justify-content: center;

    &-video {
      margin-right: 30px;
    }

    &-text {
      padding: 10px 20px;
      // position: relative;
      bottom: 30px;
      min-width: 317px;
      width: 317px;
      min-height: 173px;
      height: 173px;
      background-color: #f5f8fb;
      align-self: center;


      &-title {
        font-size: 18px;
        font-weight: 600;
        color: #404040;
      }

      &-description {
        p {
          max-width: 277px;
          color: #1e282d;
        }
  
        span {
          font-family: "Menlo", monospace;
          font-size: 16px;
          display: inline;
          background: #f5f8fb;
          padding: 2px 5px;
        }
      }
    }

    @media (max-width: 700px) {
      display: block;
      text-align: center;

      &-video {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
      }

      &-text {
        margin: 0 auto;
        position: unset;
        bottom: unset;
        min-width: 0;
        width: auto;
        min-height: 0;
        height: auto;

        &-description {
          p {
            max-width: unset;
            color: #1e282d;
          }
        }
      }
    }
  }

  .react-tabs {
    &__tab-list {
      text-align: center;
      border-bottom: 3px solid #dbe8f3;
      max-width: 800px;
      margin: 0 auto 28px;
      padding: 0 0 22px 0;
    }
  
    &__tab {
      display: inline-block;
      list-style: none;
      padding: 6px 12px;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      font-weight: 600;
      color: #818688;
  
      .number {
        background: #f5f8fb;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: inline-block;
        margin-right: 8px;
        color: #1c262b;
        line-height: 25px;
      }
  
      &--selected,
      &:hover {
        background: #fff;
        color: #1c262b;
  
        .number {
          background: #fe6c37;
          color: #fff;
        }
      }
  
      &--disabled {
        color: #757575;
        cursor: default;
      }
  
      &:focus {
        box-shadow: 0 0 5px hsl(208, 99%, 50%);
        border-color: hsl(208, 99%, 50%);
        outline: none;
  
        &:after {
          content: "";
          position: absolute;
          height: 5px;
          left: -4px;
          right: -4px;
          bottom: -5px;
          background: #fff;
        }
      }
    }
  
    &__tab-panel {
      display: none;
  
      &--selected {
        display: block;
      }
    }
  }
}