.line {

  h2 {
    width: 80%; 
    text-align: center; 
    border-bottom: 2px solid #ff6c37; 
    line-height: 0.1em;
    margin: 50px; 
    padding: 0 40px;
 } 

 h2 span { 
  background:#fff; 
  padding:0 30px; 
  font-weight: 500;
  font-size: 28px;
  text-rendering: optimizeLegibility;
  letter-spacing: .8px;
 }
}