<div class="search-container">
  <form {{action "handleFilterEntry" on="submit"}} class="search-form">
    {{input value=value class="light city-filter" placeholder="Filter By City"}}
    <button
      {{action "handleFilterEntry"}}
      class="btn btn-success clickable"
    >Search</button>
  </form>
</div>