<div class="results">
  {{#each orderedRentals as |rentalGroup|}}
    <div class="row result-row">
      {{#each rentalGroup as |rentalUnit|}}
        <div class="col-md-6 col-lg-4">
          {{rental-listing rental=rentalUnit}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>