<footer class="footer hidden">
  <div class="container">
    <ul class="footer-menu">
      <li>
        {{#link-to "home"}}
          <span>
            Home
          </span>
        {{/link-to}}
      </li>
      <li>
        <a target="_blank" href="https://www.bookingsync.com">
          <span>
            About BookingSync
          </span>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://jerga-portfolio.herokuapp.com/">
          <span>
            About Me
          </span>
        </a>
      </li>
      <li>
        <a target="_blank" href="#">
          <span>
            Faq
          </span>
        </a>
      </li>
    </ul>
    <div class="copyright">
      © 2018 | Filip Jerga All rights reserved
    </div>
  </div>
</footer>