<nav class="navbar navbar-toggleable-md navbar-light">
  <div class="container">
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    {{#if session.isAuthenticated}}
      {{#link-to "rentals" class="navbar-brand"}}
        <img
          width="200"
          height="30"
          src="/assets/images/logo.png"
          alt="booking sync logo"
        />
      {{/link-to}}
    {{else}}
      {{#link-to "home" class="navbar-brand"}}
        <img
          width="200"
          height="30"
          src="/assets/images/logo.png"
          alt="booking sync logo"
        />
      {{/link-to}}
    {{/if}}
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {{#if session.isAuthenticated}}
          <li class="nav-item">
            {{#link-to "index" class="nav-link"}}
              <span>
                Rentals
              </span>
            {{/link-to}}
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="http://example.com"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Property managment
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {{#link-to "my-rentals" class="dropdown-item"}}
                <span>My Rentals</span>
              {{/link-to}}
              {{#link-to "my-bookings" class="dropdown-item"}}
                <span>My Bookings</span>
              {{/link-to}}
            </div>
          </li>
        {{/if}}
      </ul>
      <div class="navbar-nav ml-auto">
        <ul class="navbar-nav">
          {{#if session.isAuthenticated}}
            <li class="nav-item">
              <a class="nav-link">
                Welcome
                <span class="user">{{userService.user.name}}</span></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link clickable"
                {{action "invalidateSession"}}
              >Logout</a>
            </li>
          {{else}}
            <li class="nav-item">
              {{#link-to "login" class="nav-link clickable"}}Login{{/link-to}}
            </li>
            <li class="nav-item">
              {{#link-to
                "signup"
                class="nav-link clickable"
              }}Register{{/link-to}}
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</nav>