.navbar-default {
  background-color: #fffdf1;
  border-color: #fffdf1;
  color: black;
  font-size: 15px;

  .navbar-brand {
    padding: 20px 15px;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: bold;
  }

  .navbar-nav {
    > li > a {
      padding: 20px 15px;
      color: #817e7e;
      font-weight: bold;
    }

    .active > a {
      color: #817e7e;
      background-color: #fffdf1;
    }
  }
}

.footer {
  background-color: #444444;
  color: white;
}

.alert-container {
  width: 300px;

  .alert.alert-warning {
    background-color: orange;
    border-color: orange;
    color: white;
  }
}
