<configuration>
  <system.runtime.remoting>
    <application>
      <service>   
        <!-- Register CAOCustomer class as client activated -->
        <activated type="CustomerLibrary.CAOCustomer, CustomerLibrary" /> 
        
        <wellknown mode="SingleCall"
                   type="CustomerLibrary.CustomerService, CustomerLibrary"
                   objectUri="customer.soap" />
      </service>
      <channels>
        <channel port="13101" ref="http" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
