/* Problem 1 */
body {
    background-color: #f1cbcb;
}

fieldset {
    background-color: white;
}
/* Problem 2 */
.blue-box {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: blue;
}

.orange-box {
    width: 40px;
    height: 40px;
    background-color: orange;
    box-sizing: border-box;
}

.outer-layer-2 {
    display: flex;
    flex-direction: column-reverse;
}

/* Problem 3 */

.outer-layer-3 {
    display: flex; 
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items:  flex-end ;
}



/* Problem 4 */
.outer-layer-4  p+p {
    color: orange;
}

/* Problem 5 */
.inner-layer-5 {
    grid-column-start: 2;
    grid-column-end: 6;
}

/* Problem 6 */

.outer-layer-6 {
    box-shadow: 2px 2px 4px rgba(0,0,255,0.6)
}

/* Problem 7  */

.outer-layer-7 {
    overflow-y: scroll;
}

/* Problem 8  */
.uppercase.bold {
    font-family: 'Courier New';
}