.icon
  padding 1rem
  fill $primaryColor
  &:hover
    fill $secondaryColor
  a
    fill $primaryColor
    &:hover
      fill $secondaryColor
  &.codepen
    svg
      stroke $primaryColor
    &:hover
      svg
        stroke $secondaryColor
