colors = ( #d50000 #f50057 #e040fb #ff9800 #18ffff #d500f9 #ffea00 #76ff03)

@keyframes circleRotate
  0%
    transform rotate(0deg)
  100%
    transform rotate(1440deg)

#loading
  background-color #000
  height 100vh
  width 100vw
  position absolute
  top 0
  left 0
  z-index 3
  display none
  opacity 0
  transition all 0.6s ease
  &.active
    display block
    opacity 1
  .spinner
    position absolute
    top 50%
    left 50%
    z-index 1
    height 40px
    width 40px
    transform translate(-50%, -50%)
    span
      position absolute
      display block
      left 30px
      width 12px
      height 12px
      border-radius 6px
      transition all 0.5s
      animation circleRotate 4s both infinite
      transform-origin 0 250% 0
    for pos, index in (1..8)
      .{'ball-'+pos}
        z-index pos
        animation-timing-function: cubic-bezier(0.5, 0.3 * pos, 0.9, 0.9)
        background-color colors[index]
