{% set pam = salt['grains.filter_by']({
    'Ubuntu': {
        'ldap_pkg': 'libpam-ldapd',
        'nsd': 'nscd',
        'ldap_config': '/etc/ldap.conf',
        'mkhomedir_pkg': 'libpam-mkhomedir',
        'mkhomedir_config': '/usr/share/pam-configs/mkhomedir',
        'ccreds_pkg': 'libpam-ccreds',
    },
    'Debian': {
        'ldap_pkg': 'libpam-ldapd',
        'ldap_config': '/etc/ldap.conf',
        'mkhomedir_pkg': 'libpam-ccreds',
        'mkhomedir_config': '/usr/share/pam-configs/mkhomedir',
        'ccreds_pkg': 'libpam-ccreds',
    },
}, merge=salt['pillar.get']('pam:lookup')) %}
