@import "bootstrap-sprockets";
@import "bootstrap";
@import "sticky_footer";
@import "cards";
@import "./shared/layout-chunks";
@import "lists";
@import "sessions";

body,
html {
  font-family: "Roboto", sans-serif;
}

body {
  background: rgba(73, 155, 234, 1);
  background: -moz-linear-gradient(
    top,
    rgba(73, 155, 234, 1) 0%,
    rgba(32, 124, 229, 1) 47%,
    rgba(32, 124, 229, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(73, 155, 234, 1)),
    color-stop(47%, rgba(32, 124, 229, 1)),
    color-stop(100%, rgba(32, 124, 229, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(73, 155, 234, 1) 0%,
    rgba(32, 124, 229, 1) 47%,
    rgba(32, 124, 229, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(73, 155, 234, 1) 0%,
    rgba(32, 124, 229, 1) 47%,
    rgba(32, 124, 229, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(73, 155, 234, 1) 0%,
    rgba(32, 124, 229, 1) 47%,
    rgba(32, 124, 229, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(73, 155, 234, 1) 0%,
    rgba(32, 124, 229, 1) 47%,
    rgba(32, 124, 229, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
}
