extends layout.pug

block content
  h2 Twitter Lite Timeline

  .errors-container
  form(class="create-form")
    .form-group
      label(for='message') Message
      input#message.form-control(type='message', name="message", placeholder='What do you want to tweet?')
    button.btn.btn-primary(type='submit') Tweet

  div(class="tweets-container")

  script(type="module" src="js/index.js")
