@import "./shared/variables";

@font-face {
  font-family: "Open Sans";
  src: url("/static/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/static/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: "Montserrat", "Lato", "Roboto", "Helvetica" !important;
}

.absolute {
  position: absolute;
}

.social-icons {
  width: 57px;
  position: absolute;
  top: 40vh;
  right: 20px;

  .fas {
    color: #404040;
  }

  .fa-lg {
    font-size: 30px;
  }

  > ul {
    list-style: none;
  }

  > i {
    margin: 10px;
    font-size: 50px;
  }
}

// HEADER
.port-navbar {
  width: 100%;
  z-index: 15;
  padding: 40px;

  &-brand {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }

  .port-navbar-item {
    padding: 0 10px;
  }

  .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav-link {
    font-family: "Montserrat", "Lato", "Roboto", "Helvetica" !important;
    color: white;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 18px;
    text-transform: uppercase;

    &.active {
      color: #dba919;
    }

    &:hover,
    &:focus {
      color: #dba919;
    }
  }

  .nav-link-drop {
    color: black;
  }

  .port-logo {
    color: white;
  }
}

.fas.fa-bars.transparent {
  color: white;
}

// .bg-dark {
//   background-color: transparent !important;
// }

.drop-open.bg-transparent {
  background-color: #343a40 !important;
}

// WRAPPER
.cover {
  background-image: linear-gradient(45deg, #00aeef 0%, #096fb9 100%);
  overflow: hidden;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative;
}

.cover-0 {
  background-image: linear-gradient(45deg, #00aeef 0%, #096fb9 100%);
  animation: fgradient 1s ease;
}

.cover-1 {
  background-image: linear-gradient(
    45deg,
    rgb(254, 202, 83),
    rgb(253, 157, 97)
  );
  animation: sgradient 1s ease;
}

@keyframes fgradient {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sgradient {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.main-section {
  top: 150px;
  width: 100%;
  padding: 150px 0 0;
}

.self-typed {
  font-weight: bold;
  font-size: 31px;
  letter-spacing: 2px;
  color: white;
}

.typed-cursor {
  color: white !important;
}

.Cursor.Cursor--blinking {
  font-size: 31px;
}

.hero-section {
  h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }

  perspective: 1000px;
  color: white;
  width: 400px;
  height: 520px;
  position: relative;

  &-content {
    position: absolute;
    bottom: 20px;
    width: 360px;
    left: 6%;
    z-index: 1;

    &-intro {
      font-size: 17px;
    }
  }
}

.image {
  width: auto;
  max-width: 100%;
}

.hero-welcome-text > h1 {
  color: white;
  text-transform: uppercase;
  font-size: 27px;
  margin-top: 80px;
}

.hero-welcome-bio {
  margin-top: 20px;
  color: white;

  .fa-stack {
    font-size: 28px;
  }

  .list-inline-item {
    > a {
      color: #373737;
    }
  }
}

.hero-welcome-wrapper {
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .hero-section {
    width: 341px;

    &-content {
      width: 341px;
    }
  }

  .hero-welcome-text > h1 {
    margin-top: 0px;
  }
}

.background-image {
  position: absolute;
  width: 1762px;
  height: 493px;
}

.shadow-custom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.6);
  border: 2px solid #3bace5;

  .shadow-inner {
    width: 100%;
    height: 100%;
    box-shadow: -17px 13px 13px rgba(0, 0, 0, 0.09);
  }
}

.shadow-custom-2 {
  border: 2px solid #f37d49;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.3);
}

/* flip speed goes here */
.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.flipper.isActive {
  -ms-transform: rotateY(-180deg); /* IE 9 */
  -webkit-transform: rotateY(-180deg); /* Safari Chrome */
  transform: rotateY(-180deg);
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.page-container {
  margin-bottom: 3vh;
  margin-top: 2vh;
  margin-right: 0vw;
  margin-left: 0vw;

  padding-right: 0px;
  padding-left: 0px;
}
.left-side,
.right-side {
  width: calc(100% - 12px);
  padding: 6px;
  float: left;
}

/* === left-side ===*/
.left-side {
}
.brand {
  min-height: 20vh;
  margin-top: 0vh;

  color: black;
  text-align: left;
}

.fadein {
  opacity: 0;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.title {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
  font-size: 42px;
  font-weight: bold;
}

.subTitle {
  -webkit-animation-delay: 2.2s;
  -moz-animation-delay: 2.2s;
  animation-delay: 2.2s;
  font-size: 33px;
}

.subsubTitle {
  -webkit-animation-delay: 3.6s;
  -moz-animation-delay: 3.6s;
  animation-delay: 3.6s;
  font-size: 18px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.myStory {
  -webkit-animation-delay: 4.6s;
  -moz-animation-delay: 4.6s;
  animation-delay: 4.6s;

  padding-top: 100px;

  &-content {
    .intro {
      font-size: 21px;
    }
  }
}

/* intro */
.section.intro {
  /*
  any spacial css for this section
  */
  h2 {
    font-weight: bold;
    font-size: 43px;
  }
}
/* =======================================
2- Small devices (landscape phones, 576px and up)
========================================*/
@media (min-width: 576px) {
}

/* =======================================
3- Medium devices (tablets, 768px and up)
========================================*/
@media (min-width: 768px) {
}

/* =======================================
4- Large devices (desktops, 992px and up)
========================================*/
@media (min-width: 992px) {
  /* === page-container ===*/
  .page-container {
    margin-bottom: 8vh;
    margin-top: 7vh;
    margin-right: 8vw;
    margin-left: 8vw;

    padding-right: 10px;
    padding-left: 10px;
  }
  .left-side,
  .right-side {
    width: 50%;

    padding: 10px;
  }

  /* === left-side ===*/
  .left-side {
  }
  .brand {
    min-height: 40vh;
    margin-top: 30vh;
  }

  /* === wall ===*/
  .wall {
    // height: calc(85vh);
    // overflow-x: hidden!important;

    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  /* === wall content ===*/
  .wall .section {
  }
  /* intro */
  .section.intro {
    /*
  any spacial css for this section
  */
  }
}

/* =======================================
5- Extra large devices (large desktops, 1200px and up)
========================================*/
@media (min-width: 1200px) {
}

// MODAL
.modal-title {
  font-size: 30px;
  text-align: center;
}

// BIO
.bio-page {
  // background-color: #18bc9c;
  min-height: 100vh;
  padding: 150px 0 0;
  background-color: $white;
}

// Header 2
.mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .navbar-brand {
    color: $white;
  }

  &.bg-secondary {
    background-color: #2c3e50 !important;
  }

  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
    li.nav-item {
      a.nav-link {
        color: $white;
        font-weight: bold;
        padding: 20px;
        &:hover {
          color: #dba919;
        }
        &:active,
        &:focus {
          color: #dba919;
        }
        &.active {
          color: #dba919;
        }
      }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: #dba919;

      &:active,
      &:focus,
      &:hover {
        color: #dba919;
      }
    }
  }
  .mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
}

// PORTFOLIO
.portfolio-page {
  min-height: 100vh;
  padding: 150px 0 0;
  background-color: #ecedee;

  &-title {
    font-weight: 700;
    color: black;
    display: inline-block;
    margin-bottom: 20px;
  }

  &-plus {
    float: right;
    font-size: 50px;
    color: #4e54c8;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;

    &:hover {
      transform: rotate(90deg);
      cursor: pointer;
    }
  }

  .portfolio-card {
    background-image: linear-gradient(45deg, #4e54c8 0%, #8f94fb 100%);
    border: none;
    color: white;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
    }

    &:hover .readMore:before {
      background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
    }

    &-header {
      padding: 3px;
      padding-right: 7px;
      text-align: right;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 17px;
    }

    &-city {
    }

    &-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 1.1;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.3;
      text-transform: uppercase;
      margin-bottom: 50px;
    }
  }

  .readMore {
    position: absolute;
    bottom: 18px;
    left: 20px;
    width: calc(100% - 40px);
    bottom: 28px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 6px;
      height: 2px;
      width: calc(100%);
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 50%,
        #ffffff 100%
      );
    }
  }
}

.portfolioCreate-page {
  min-height: 100vh;
  padding: 150px 0 0;
  background-color: #ecedee;
}

// Blog LISTING!

.blogListing-page {
  min-height: 100vh;
  background-color: #ecedee;

  .post-preview {
    > a {
      color: $gray-900;
      &:focus,
      &:hover {
        text-decoration: none;
        color: $primary;
      }
      > .post-title {
        font-size: 30px;
        margin-top: 30px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      > .post-subtitle {
        font-weight: 300;
        margin: 0 0 10px;
        color: #565656;
      }
    }

    > .post-meta {
      font-size: 18px;
      font-style: italic;
      margin-top: 0;
      color: $gray-600;
      > a {
        text-decoration: none;
        color: $gray-900;
        &:focus,
        &:hover {
          text-decoration: underline;
          color: $primary;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      > a {
        > .post-title {
          font-size: 36px;
        }
      }
    }
  }
}

// MIXINS
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead {
  // TIP: Background images are set within the HTML using inline CSS!
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: $gray-600;
  background-attachment: scroll;
  position: relative;
  @include background-cover;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $gray-900;
    opacity: 0.5;
  }
  .page-heading,
  .post-heading,
  .site-heading {
    padding: 200px 0 150px;
    color: white;
    @media only screen and (min-width: 768px) {
      padding: 200px 0;
    }
  }
  .page-heading,
  .site-heading {
    text-align: center;
    h1 {
      font-size: 50px;
      margin-top: 0;
      font-weight: 700;
    }
    .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 80px;
      }
    }
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .meta,
    .subheading {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
    }
    .meta {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;

      a {
        color: $white;
      }
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 55px;
      }
      .subheading {
        font-size: 30px;
      }
    }
  }
}

// Styling for the footer
footer {
  padding: 50px 0 65px;
  .list-inline {
    margin: 0;
    padding: 0;
  }
  .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }
}

// Blog Create
.blogCreate-page {
  min-height: 100vh;
  padding: 150px 0 0;
  background-color: #ecedee;
}

// EDITOR
.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ababab;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}

.blog-image {
  max-height: 720px;
}

.my-blogs-page {
  min-height: 100vh;
  background-color: #ecedee;

  &-subtitle {
    font-size: 45px;
  }

  .my-blogs-list {
    list-style: none;
    padding-left: 0;

    li {
      color: black;
      font-size: 28px;

      > a {
        color: #424242;
      }
    }
  }
}

.blogDetail-page {
  min-height: 100vh;
  background-color: white;
  padding: 150px 0;

  blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
    display: block;
  }

  pre {
    padding: 10px;
    background-color: #eee;
    width: 100%;
  }

  img {
    width: 260px;
  }
}

.contactPage {
  padding: 150px 0;
  color: white;

  .cv-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .btn {
    font-size: 30px;
  }
}
