@font-face {
  font-family: "Raleway";
  src: font-url("fonts/Raleway-Regular.ttf");
}

html,
body {
  height: 100%;
  margin: 0;
  color: $main-font;
  font-family: "Raleway" !important;
  background-color: $background-main;
  font-size: 14px;
}

#bookingSync {
  min-height: 100%;
  padding-bottom: 120px;
}

.Apartment {
  color: #ca4848;
}

.Condo {
  color: #845e00;
}

.Townhouse {
  color: #5f208a;
}

.clickable {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.hidden {
  visibility: hidden;
}
