<h2>Pourquoi ?</h2>
<p>L'idée est venue d'elle même, mes collègues et moi avions beaucoup de mal à décider de l'endroit où nous allions manger. On blaguait souvent en disant qu'il faudrait faire un programme pour décider à notre place, donc j'ai décidé de faire un petit site et de le rendre public.</p>

<h2>Par qui ?</h2>
<div class="row-fluid">
  <span class="span1">
    <img src="http://www.gravatar.com/avatar/8f436177476429e6348b75cbc37cd80a?s=200" width="100" height="100" class="img-polaroid"/>
  </span>
  <span class="span4">
    <p>Je m'appelle Greg Bergé, j'ai 23 ans, je suis indépendant et principalement prestataire au Monde intéractif en tant qu'architecte technique.</p>
    <ul style="list-style-type: none">
      <li><a href="http://twitter.com/neoziro"><i class="icon-twitter"></i> @neoziro</a></li>
      <li><a href="http://www.linkedin.com/in/gregberge"><i class="icon-linkedin"></i> Greg Bergé</a></li>
      <li><a href="http://github.com/neoziro"><i class="icon-github"></i> neoziro</a></li>
    </ul>
  </span>
</div>

<h2>Comment ?</h2>
<p>Services utilisés :</p>
<ul>
  <li><a href="http://aws.amazon.com/ec2/">Amazon EC2</a></li>
  <li><a href="http://mandrill.com/">Mandrill</a></li>
  <li><a href="https://developer.foursquare.com/">Foursquare API</a></li>
  <li><a href="https://www.gravatar.com/">Gravatar</a></li>
</ul>
<p>Technologies utilisées :</p>
<ul>
  <li><a href="http://www.mongodb.org/">MongoDB</a></li>
  <li><a href="http://nodejs.org/">Node.js</a></li>
  <li><a href="http://expressjs.com/">express</a></li>
  <li><a href="http://handlebarsjs.com/">Handlebars</a></li>
  <li><a href="http://requirejs.org/">RequireJS</a></li>
  <li><a href="http://momentjs.com/">Moment.js</a></li>
  <li><a href="http://mongoosejs.com/">mongoose</a></li>
  <li><a href="http://backbonejs.org/">Backbone.js</a></li>
  <li><a href="http://lodash.com/">lodash</a></li>
  <li><a href="http://gruntjs.com/">grunt</a></li>
  <li><a href="http://twitter.github.com/bower/">Bower</a></li>
  <li><a href="http://lesscss.org/">less</a></li>
  <li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
  <li><a href="http://bootswatch.com/">Bootswatch</a></li>
  <li><a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a></li>
</ul>