<div class="hero-unit center">
  <h1>On mange quoi ?</h1>
  <p>Si vous aussi chaque jour c'est la galère pour savoir où manger... Ne cherchez plus, ce site est la solution à tous vos problèmes (ou presque). Le principe est simple, vous créez un rendez-vous du midi et chaque jour un email vous saura envoyé pour voter le repas du jour.</p>
  <p>
    <a class="btn btn-large btn-success new" href="/food-meeting/new">Je veux créer mon rendez-vous du midi !</a>
  </p>
</div>