input {
  display: none;
}

.spinner-container {
  padding: 20px;
}

.img-preview-container {
  background-color: #f7f7f7;
  position: relative;

  .img-loading-overlay {
    padding: 20px;
  }

  .img-preview {
    background: center center no-repeat;
    background-size: contain;
    height: 116px;

    &-error {
      height: 0;

      img {
        height: 100%;
      }
    }

    img {
      height: 100%;
    }
  }
}
