html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-container {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#map-container button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  font-size: inherit;
  cursor: pointer;
}

#map {
  position: absolute;
  left: 22em;
  top: 0;
  right: 0;
  bottom: 0;
}

#locations-panel {
  position: absolute;
  left: 0;
  width: 22em;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background: white;
  padding: 0.5em;
  box-sizing: border-box;
}

@media only screen and (max-width: 876px) {
  #map {
    left: 0;
    bottom: 50%;
  }

  #locations-panel {
    top: 50%;
    right: 0;
    width: unset;
  }
}

#locations-panel-list > header {
  padding: 1.4em 1.4em 0 1.4em;
}

#locations-panel-list h1.search-title {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

#locations-panel-list h1.search-title > img {
  vertical-align: bottom;
  margin-top: -1em;
}

#locations-panel-list .search-input {
  width: 100%;
  margin-top: 0.8em;
  position: relative;
}

#locations-panel-list .search-input input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  height: 2.2em;
  box-sizing: border-box;
  padding: 0 2.5em 0 1em;
  font-size: 1em;
}

#locations-panel-list .search-input-overlay {
  position: absolute;
}

#locations-panel-list .search-input-overlay.search {
  right: 2px;
  top: 2px;
  bottom: 2px;
  width: 2.4em;
}

#locations-panel-list .search-input-overlay.search button {
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
  color: black;
  background: transparent;
}

#locations-panel-list .search-input-overlay.search .icon {
  margin-top: 0.05em;
  vertical-align: top;
}

#locations-panel-list .section-name {
  font-weight: 500;
  font-size: 0.9em;
  margin: 1.8em 0 1em 1.5em;
}

#locations-panel-list .location-result {
  position: relative;
  padding: 0.8em 3.5em 0.8em 1.4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

#locations-panel-list .location-result:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

#locations-panel-list .location-result:last-of-type {
  border-bottom: none;
}

#locations-panel-list .location-result.selected {
  outline: 2px solid #4285f4;
}

#locations-panel-list button.select-location {
  margin-bottom: 0.6em;
}

#locations-panel-list .location-result h2.name {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

#locations-panel-list .location-result .address {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

#locations-panel-list .location-result .details-button {
  font-size: 0.9em;
  color: #7e7efd;
}

#locations-panel-list .location-result .distance {
  position: absolute;
  top: 0.9em;
  right: 0;
  text-align: center;
  font-size: 0.9em;
  width: 5em;
}

#locations-panel-list .show-directions {
  position: absolute;
  right: 1.2em;
  top: 2.3em;
}

#location-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ------------- DETAILS PANEL ------------------------------- */
#locations-panel-details {
  padding: 1.4em;
  box-sizing: border-box;
  display: none;
}

#locations-panel-details .back-button {
  font-size: 1em;
  font-weight: 500;
  color: #7e7efd;
  display: block;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

#locations-panel-details .back-button .icon {
  width: 20px;
  height: 20px;
  vertical-align: bottom;

  /* Match link color #7e7efd */
  filter: invert(65%) sepia(87%) saturate(4695%) hue-rotate(217deg) brightness(105%) contrast(98%);
}

#locations-panel-details > header {
  text-align: center;
}

#locations-panel-details .banner {
  margin-top: 1em;
}

#locations-panel-details h2 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0.3em;
}

#locations-panel-details .distance {
  font-size: 0.9em;
  text-align: center;
}

#locations-panel-details .address {
  text-align: center;
  font-size: 0.9em;
  margin-top: 1.3em;
}

#locations-panel-details .atmosphere {
  text-align: center;
  font-size: 0.9em;
  margin: 0.8em 0;
}

#locations-panel-details .star-rating-numeric {
  color: #555;
}

#locations-panel-details .star-icon {
  width: 1.2em;
  height: 1.2em;
  margin-right: -0.3em;
  margin-top: -0.08em;
  vertical-align: top;
  filter: invert(88%) sepia(60%) saturate(2073%) hue-rotate(318deg) brightness(93%) contrast(104%);
}

#locations-panel-details .star-icon:last-of-type {
  margin-right: 0.2em;
}

#locations-panel-details .price-dollars {
  color: #555;
}

#locations-panel-details hr {
  height: 1px;
  color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  margin-bottom: 1em;
}

#locations-panel-details .contact {
  font-size: 0.9em;
  margin: 0.8em 0;
  display: flex;
  align-items: center;
}

#locations-panel-details .contact .icon {
  flex: 0 0 auto;
  width: 1.5em;
  height: 1.5em;
}

#locations-panel-details .contact .right {
  padding: 0.1em 0 0 1em;
}

#locations-panel-details a {
  text-decoration: none;
  color: #7e7efd;
}

#locations-panel-details .hours .weekday {
  display: inline-block;
  width: 5em;
}

#locations-panel-details .website a {
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  max-width: 16em;
  text-overflow: ellipsis;
}

#locations-panel-details p.attribution {
  color: #777;
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
}