<!doctype html>
<html>
  <head>
    <title>Github monitor</title>
    <meta http-equiv="refresh" content="<%= refresh %>">
    <style type="text/css">
    body {
      margin: 0;
      padding: 0;
      font-family: "lucida grande", tahoma, sans-serif;
      background: #eee;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0 1px 1px 0;
      padding: 0;
      float: left;
      list-style-type: none;
      padding: 40px;
      display: block;
      background: #908f96;
      color: white;
    }

    .success {
      background: #51b030;
    }

    .error {
      background: #bd301e;
    }
    </style>
  </head>
  <body>
    <ul>
      <% references.forEach(function(ref) { %>
      <li class="<%= ref.status ? ref.status.state : '' %>"><%= ref.repo %>@<%= ref.hash %></li>
      <% }); %>
    </ul>
  </body>
</html>