.single-post {
  width: 50%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
}

.article-tags {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1200px) {
  .single-post {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .single-post {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .single-post {
    width: 90%;
  }
}
