.project-template {
  margin-top: 20vh;
  font-family: Raleway;
}

.single-project {
  width: 40%;
  margin: auto;
}

.single-project-title {
  margin: 20px 0;
  color: #666666;
}

.single-project-tech {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-project-image {
  margin: 20px 0;
}

.single-project-body a {
  color: #666666;
}
.single-project-body a:hover {
  color: lightgray;
}

.single-project-divider {
  margin: 80px 0;
}

@media (max-width: 1200px) {
  .single-project {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .single-project {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .single-project {
    width: 90%;
  }
}
