.app-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  text-align: center;
  transform: translate(-50%, -50%);

  h1 {
    font-size: 80px;
    font-weight: bold;
  }

  button {
    font-size: 20px;
  }
}
