<section>
  <!-- {{printf "%#v" .Site.Taxonomies}} -->
  <!-- ----{{printf "%#v" (index .Site.Taxonomies.categories "web-development") }}----- -->
  <!-- {{ $testDict := dict "a" 1 "b" 2}}
  {{ $testArr := slice 1 2 3 }} -->
  <!-- +++{{ debug.Dump $testArr}}+++ --->
  <!-- ---{{ $webDev := index .Site.Taxonomies.categories "web-development"}}---
  {{ (index $webDev 0)}}
  {{ printf "%#v" $webDev }} -->
  <!-- ###{{ (index .Site.Taxonomies.categories "web-development") }}### -->

  <ul id="all-taxonomies">
    {{ range $taxonomy_term, $taxonomy := .Site.Taxonomies }}
    <!-- Term: {{ (printf "/%s" $taxonomy_term) }} -->
    <!-- Get a page of given type -->
    {{ with $.Site.GetPage (printf "/%s" $taxonomy_term) }}
    <div class="tag has-theme is-large">
      <a class="" href="{{ .Permalink }}">{{ $taxonomy_term }}</a>
    </div>
    {{ range $key, $value := $taxonomy }}
    <div>
      {{$url := absURL (printf "%s/%s" $taxonomy_term $key)}}
      <a class="button has-theme" href="{{$url}}">{{$key | humanize}}</a>
    </div>
    {{ end }} {{ end }} {{ end }}
  </ul>
</section>

<!--
%v	the value in a default format
	when printing structs, the plus flag (%+v) adds field names
%#v	a Go-syntax representation of the value
%T	a Go-syntax representation of the type of the value
%%	a literal percent sign; consumes no value -->
