@import 'apps/www-public/config/variables';

.activityMap {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 40px 0;

  @media (min-width: $screen-lg-min) {
    width: 984px;
  }
}

.map {
  width: 100%;
  height: 100%;
}
