@import 'apps/www-public/config/variables';

.activityBooking {
  composes: sidebarBlock from './ActivitySidebar.scss';
}

.title {
  composes: sidebarTitle from './ActivitySidebar.scss';
  margin: 15px;
}

.phoneSection, .websiteSection {
  margin: 15px;
  font-family: $special-font;
  font-size: 14px;
  line-height: 1.3;

  a {
    color: $text-color;
    text-decoration: none;
  }
}

.phoneSectionIcon, .websiteSectionIcon {
  margin-right: 10px;
}
