@import 'apps/www-public/config/variables';

.activityMapLoader {
  height: 100%;
  width: 100%;
}

.spinner {
  position: relative;
  display: block;
  top: 50%;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  fill: $gray;
  transform: translateY(-50%);
  animation: rotate 800ms infinite;
}

@keyframes rotate {
  from {
    transform: translateY(-50%) rotate(0deg);
  }

  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
