@import 'apps/www-public/config/variables';

.activityCover {
  height: 200px;
  background-size: cover;
  background-position: center;

  @media (min-width: $screen-lg-min) {
    height: 400px;
  }
}
