@import 'apps/www-public/config/variables';

.activity {
  margin-bottom: 30px;
}

.pending {
  opacity: 0.2;

  * {
    pointer-events: none;
  }
}

.wrapper {
  @media (min-width: $screen-lg-min) {
    width: 1024px;
    margin: 0 auto;
  }
}
