@import 'apps/www-public/config/variables';

.activityText {
  h2 {
    margin: 20px 0 10px;
    font-family: $special-font;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
  }

  h3 {
    margin: 10px 0;
    font-family: $special-font;
    font-size: 18px;
    line-height: 1.4;
  }

  p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
  }

  ul {
    margin: 10px 0 10px 0;
    padding: 0 0 0 30px;
    font-size: 16px;
    line-height: 2;

    li {
      margin: 0;
    }
  }
}
