@import 'apps/www-public/config/variables';

.activitySiblings {
  margin-top: 30px;
}

.title {
  composes: sidebarTitle from './ActivitySidebar.scss';
}

.activityBlock {
  position: relative;
  margin: 20px 0;
  height: 140px;
  background-size: cover;
  background-position: center;
}

.activityTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: $special-font;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  background-color: rgba($gray-dark, 0.6);
  color: $white;
  padding: 10px;
}
