
.TaskListComponent{
  width: 40%;
  border-style: solid;
  border-radius: 10px;
  background-color: var(--panelBackground);
}

.TitleBackground{
  background-color: grey;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Title{
  font-family: var(--appFont);
  font-size: 32px;
  text-align: center;
}

.List{
  padding-top: 20px;
  text-align: center;
}
