@import "/bower_components/bootstrap/less/bootstrap";
@import "/bower_components/font-awesome/less/font-awesome";
@import "theme/bootswatch";
@import "theme/variables";

@fa-font-path: "/fonts";

@body-bg: @gray-lighter;
@brand-primary: #3b528e;

.navbar-brand {
  float: none;
  display: block;
  text-align: center;
}

.photos .grid {
  .portfolio-item {
    margin-bottom: 20px;
    text-align: center;

    .photo {
      background: white;
      padding: 5px;

      .fav {
        margin: 0;
        font-size: 12px;
        line-height: 20px;

        i {
          margin: 0 2px;
        }
      }

      img {
        max-width: 100%;
      }
    }

    .user {
      margin: 2px 0;
      text-align: left;
      font-weight: bold;
      a {
        text-decoration: none;
      }

      img {
        border-radius: 2px;
      }
    }
  }
}

.photos .detail {
  background: white;
  border-radius: 3px;

  .photo {
    padding: 0;
    img {
      margin: 0 auto;
    }
  }

  .user {
    img {
      float: left;
      margin-right: 5px;
    }

    font-weight: bold;
    font-size: 18px;
    line-height: 30px;

    a {
      text-decoration: none;
    }

    margin: 5px 0;
  }

  hr {
    margin: 10px 0;
  }

  .see-on {
    font-size: 12px;
  }

  .prev, .next {
    display: none;
  }

  @media (min-width: @screen-md) {
    .prev, .next {
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -100px;
      font-size: 100px;
      opacity: 0.2;
      .transition(opacity 0.25s);

      &:hover {
        opacity: 1;
      }
    }

    .prev {
      left: 10px;
    }

    .next {
      right: 10px;
    }
  }
}

.count {
  font-size: 12px;
}

.footer {
  text-align: center;
}

.error-404 {
  text-align: center;
  margin: 20px 0;
}