.header {
  background: black;
  color: white;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  font-family: Rubik;
  font-weight: 300;
}

.links {
  color: #61dafb;
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  .header {
    padding: 10px, 0;
  }
}
