<html>
<head>
  <meta charset="utf-8">
  <title>On mange quoi ?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <script>
  conf = {{{config}}};
  </script>
  {{#if env.development}}
  <link rel="stylesheet/less" type="text/css" href="/assets/less/main.less">
  <script src="/assets/components/less.js/dist/less-1.3.3.js"></script>
  <script data-main="/assets/js/main" src="/assets/components/requirejs/require.js"></script>
  {{/if}}
  {{#if env.production}}
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <script data-main="/assets/js/main" src="/assets/js/require.js"></script>
  {{/if}}
</head>
<body {{#if body.className}}class="{{body.className}}"{{/if}}>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">On mange quoi ?</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li data-route="newFoodMeeting"><a href="/food-meeting/new">Créer un rendez-vous du midi</a></li>
            <li data-route="about"><a href="/about">A propos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="page">
    {{> page}}
  </div>
</body>
</html>