<md-tab-group>
  <md-tab label="Info">
    <div class="group-info">
      <p><span>Address:</span> Albertinen strasse 24, Berlin, Germany</p>
      <p><span>Telephone: </span>+421 903 551 904</p>
      <p><span>Email: </span>jerga99@gmail.com</p>
      <p><span>Date of birth:</span>27.12.1990</p>
    </div>
  </md-tab>
  <md-tab label="Work">
    <div class="title">
      <span>Carmudi, Berlin, Germany, 1.12.2016 - Present</span>
    </div>
    <div class="desc">
      <p>Angular/Ionic/Vanilla JS/Html5/CSS</p>
      <p>
        Working as FE developer currently on 3 projects in comapany Carmudi.
        Developing new features according bussiness needs
      </p>
      <ul>
        <li>
          Platfom for buying cars. Creating of UI in vanilla JS<a
            href="https://carmatch.mx/"
          >
            Carmatch Mx</a
          >
        </li>
        <li>
          Building UI for Auction platfoms for selling cars<a
            href="https://subastas.carmatch.mx/"
          >
            Carmatch Subastas</a
          >
        </li>
        <li>
          Backoffice application in Angular 2 for both platfom to manage and
          update data for Carmatch plafom
        </li>
        <li>Ionic 2 application for android for our employees in Mexico</li>
      </ul>
    </div>

    <div class="title">
      <span>Netcentric, Barcelona, Spain, 28.08.2016 - 15.11.2016</span>
    </div>
    <div class="desc">
      <p>Java/JS/AEM</p>
      <p>
        3months web development training finished by final project that we were
        working on in group of 5 people
      </p>
      <ul>
        <li>FE/ BE intensive training</li>
        <li>Final project in AEM presented to company</li>
      </ul>
    </div>
    <div class="title">
      <span>Siemens, Kosice, Slovakia, 1.12.2015 - 28.08;2016</span>
    </div>
    <div class="desc">
      <p>C++/C#</p>
      <p>Working on Ultrasound features development according medical needs.</p>
      <ul>
        <li>
          Creating Framework for parsing medical data collected from Ultrasound
          sensors.
        </li>
        <li>Implementing new features into Ultrasound, data visualization</li>
      </ul>
    </div>
  </md-tab>
  <md-tab label="Education">
    <div class="title">
      <span
        >Technical University of Kosice, Slovakia, September 2013 - 2015
      </span>
    </div>
    <div class="desc">Artificial Intelligence - Master Degree</div>
    <div class="title">
      <span
        >Technical University of Kosice, Slovakia, September 2010 - 2013
      </span>
    </div>
    <div class="desc">Intelligent systems - Bachelor Degree</div>
  </md-tab>
  <md-tab label="Programing languages">
    <ul>
      <span>Languages:</span>
      <li>C++</li>
      <li>C#</li>
      <li>JS</li>
      <li>Java</li>
      <li>Swift</li>
      <span>Frameworks/Libraries</span>
      <li>React</li>
      <li>Angular</li>
      <li>jQuery</li>
      <li>Meteor</li>
      <span>DB</span>
      <li>mySql</li>
      <li>nqSql, MongoDB, Firebase</li>
      <span>FE/Other Skills</span>
      <li>AEM</li>
      <li>Node.js</li>
      <li>Html, Css, Sass,</li>
    </ul>
  </md-tab>
  <md-tab label="Additional Info">
    <ul>
      <li>
        5 years of programming experience in various programming languages(LISP,
        C#, Java, JS, C).
      </li>
      <li>
        Organization of the exhibition about robotics and Artificial
        Intelligence – Kosice
      </li>
      <li>
        Participation in school conference SCYR 2013 in Herlany , organised by
        Technical University of Kosice(Topic – Robots and Emotions).
      </li>
      <li>Bachelor thesis (Emotion and Robots) – C#</li>
      <li>
        Master thesis (Interactive Evolution Algorithms in Web design) - JS
      </li>
      <li>
        A total of 8 moths gaining valuable experience working in USA. Improving
        English and communication skills, living abroad independently.
      </li>
    </ul>
  </md-tab>
  <md-tab label="Hobbies">
    <p>
      My interests include traveling. playing a guitar which is for me the best
      way to meditate, bouldering, hiking, horse riding, painting and slack line
      walking. I also like reading books of any genres
    </p>
  </md-tab>
</md-tab-group>
