md-tab-group {
  font-size: 12px;
  span {
    font-size: 15px;
    display: block;
    margin: 5px 0;
  }
}

.group-info {
  span {
    font-weight: bold;
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }
}

.title {
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}

.desc {
  p {
    margin: 0;
    font-size: 12px;
  }
}
