@import "https://fonts.googleapis.com/css?family=Philosopher";

body {
  font-family: "Philosopher";
  background-color: #f8f8ff;
}

#top-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#top-left,
#top-right {
  align-items: center;
  width: 50%;
}

.top {
  text-align: center;
}

h1 {
  margin-bottom: 0px;
}

h4 {
  margin-top: 10px;
}

#legend {
  margin-top: 35px;
}

#map {
  left: 50%;
}

.county {
  stroke: #ffffff;
  stroke-width: 0.5;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: #f0ffff;
  border: 1px;
  border-style: solid;
  border-color: purple;
  border-radius: 8px;
  pointer-events: none;
}
