extends layout.pug

include utils.pug

block content
  h3: em for #{attraction.attractionName}
  h4(class='pb-3'): em at #{attraction.park.parkName}
  +validationErrorSummary(errors)
  form(action=`/attraction/${attraction.id}/visit/add` method='post')
    include visit-form-fields.pug
    div(class='py-4')
      button(type='submit' class='btn btn-primary') Add Visit
      a(href=`/attraction/${attraction.id}` class='btn btn-warning ml-2') Cancel
