/*======================== BASE STYLES*/
:root {
  --dark: #222;
  --space: 1em;
}
body {
  font-family: monospace;
  color: var(--dark);
}


/*======================== CONTROLS*/
#controls {
  --colour: pink;
  --border: 2px solid var(--dark);
  --borderRad: 2px;
  position: absolute; top: 0px; right: 0px;
  padding: 0px var(--space);
  background-color: hsla(0, 0%, 100%, 0.6);
  border: var(--border);
}

button {cursor: pointer; font-family: monospace;}

/* play button */
[data-control="play"] {
	background-color: pink;
	display: block;
	margin: var(--space) auto; padding: var(--space) var(--space) var(--space) calc(var(--space)*4);
	border: var(--border); border-radius: var(--borderRad);
}
[data-on="false"], [data-on="true"]:hover {
		background: hotpink url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" fill="black" /></svg>') no-repeat left center;
		background-size: 50% 50%;
		cursor: pointer;
}
[data-control="play"]:hover {background-color: lightgreen;}
[data-on="true"] {
	background: lightgreen url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M144 479H48c-26.5 0-48-21.5-48-48V79c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm304-48V79c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48z" fill="black" /></svg>') no-repeat left center;
	background-size: 50% 50%;
}

/* filter button */
.toggle {}
.toggle__label {}
.toggle__option {}
.toggle__button {
  margin: 0px 0px 0px 10px; padding: 0;
  width: 60px; height: 32px;
  display: inline-block;
  vertical-align: middle;
  border: var(--border); border-radius: 25px;
  position: relative;
  text-align: center;  
  transition: background .15s ease-in-out;
}
.toggle__button:after {
  content: "";
  position: absolute;
  height: 24px; width: 24px;
  border: var(--border); border-radius: 50%;
	background-color: hotpink;
  top: 0px;
  transition: left .15s ease-in-out;
  will-change: left;
}
/* [data-toggle="mic"] */
.toggle__button[data-toggle="mic"]:after {
  background-color: lightgreen;
  left: 0px;
}
.toggle__button[data-toggle="music"] {
	cursor: default;
	border-color: hsla(0, 0%, 40%, 1);
}
.toggle__button[data-toggle="music"]:after {
	background-color: hsla(342, 93%, 73%, 1);
	border-color: hsla(0, 0%, 40%, 1);
}
/* .toggle__button[data-filteron="true"][disabled]:after {
  background-color: hsla(127, 81%, 61%, 1);
} */
