@import 'app-styles.css';

/* html example styles */
.htmlcss i {
  display: block;
  width: 10px; height: 10px;
  border: 1px solid black;
}

.svg {}

.canvas canvas {
	background-color: black;
	width: 100%;
	height: 100%;
}
