#modal-translation.modal.hide.fade
  .modal-header
    %button.close{:'data-dismiss'=>:modal, type: :button} x
    %h2= t('.header', default: 'Add Translation')
  .modal-body
    %blockquote.body
      %h3= parent.to_s
    = render 'translations/form', translation: [parent, Translation.new]
