#modal-comment.modal.hide.fade
  =simple_form_for [parent, Comment.new], remote: true, html: { data: { purpose: 'comment-adder' }} do |f|
    .modal-header
      %button.close{:'data-dismiss'=>:modal, type: :button} x
      %h2= t('.header', default: 'Add comment')
    .modal-body
      = f.input :body, input_html: { rows: 3 }
    .modal-footer
      = f.button :submit, data: { purpose: 'submit-button' }
