
#modal-tags.modal.hide.fade
  .modal-header
    %button.close{:'data-dismiss'=>:modal, type: :button} x
    %h2 Tag this expression
  .modal-body
  .modal-footer
    %input{type: :button,value: :submit}
    %input{type: :button,value: :cancel, :'data-dismiss'=> :modal,}
