{{ partial "header" }}
<div class="main-container">
    <section class="cover image-slider slider-all-controls controls-inside parallax">
        <ul class="slides">
        	<li class="overlay image-bg bg-black pt160 pb160">
                <div class="background-image-holder faded">
                    <img alt="image" class="background-image" src="img/sf-bg.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 text-center">
                            <h1 class="mb-xs-16 large">SF Static Web-Tech</h1>
                            <p class="lead mb40">
                                A resource with videos, transcripts, and slides<br/> from the San Francisco meetup on Static Web Tech.
                            </p>
                            <a class="btn btn-lg" href="http://www.meetup.com/sf-static-web-tech">join the meetup</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </li>
        </ul>
    </section>
    <!-- <section class="page-title page-title-4 bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb0">Upcoming Meetups</h2>
                </div>
            </div>
        </div>
    </section>

    {{ range $index, $element := where .Data.Pages.ByDate "Section" "upcoming" }}
      <section class="image-square {{ if modBool $index 2 }}left{{ else }}right{{ end }}">
        <div class="col-md-6 image bg-black">
            <a class="background-image-holder blurry" href="{{ $element.Permalink }}">
                <img alt="image" class="background-image" src="{{ $element.Params.cover }}" />
            </a>
        </div>
        <div class="col-md-6 col-md-offset-1 content">
            <p class="mb0">{{ dateFormat "1. 2. 2006" $element.Date }}</p>
            <h3 class="mt0 mb0"><a class="title-style" href="{{ $element.Permalink }}">{{ $element.Title }}</a></h3>
            <p class="mb48">By {{ $element.Params.presenter }}</p>
            <p class="mb24">
                {{ $element.Description }}
            </p>
        </div>
        <div class="stamp">Upcoming</div>
      </section>
    {{ end }} -->

    <section class="page-title page-title-4 bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb0">Recent Presentations</h2>
                </div>
            </div>
            <!--end of row-->
        </div>
    </section>
    {{ range $index, $element := where .Data.Pages.ByDate.Reverse "Section" "presentations"}}
      <section class="image-square {{ if modBool $index 2 }}left{{ else }}right{{ end }}">
        <div class="col-md-6 image bg-black">
            <a class="background-image-holder blurry" href="{{ $element.Permalink }}">
                <img alt="image" class="background-image" src="{{ $element.Params.cover }}" />
            </a>
            <a class="btn btn-lg btn-white btn-image-overlay" href="{{ $element.Permalink }}">
              view presentation
            </a>
        </div>
        <div class="col-md-6 col-md-offset-1 content">
            <p class="mb0">{{ dateFormat "1. 2. 2006" $element.Date }}</p>
            <h3 class="mt0 mb0"><a class="title-style" href="{{ $element.Permalink }}">{{ $element.Title }}</a></h3>
            <p class="mb48">By {{ $element.Params.presenter }}</p>
            <p class="mb24">
                {{ $element.Description }}
            </p>
        </div>
      </section>
    {{ end }}
    <section class="bg-secondary" id="contact">
        <div class="container">
            <div class="row mb64 mb-xs-24">
                <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                    <h1>Contact</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-5">
                    <h4 class="uppercase">Get In Touch</h4>
                    <p>
                      Do you have any questions or would you like to speak at an upcoming event?
                    </p>
                    <p>
                      Reach us at <a href="mailto:info@staticwebtech.com">info@staticwebtech.com</a><br>
                      Join us at <a href="www.meetup.com/staticwebtech">www.meetup.com/staticwebtech</a>.
                    </p>
                    <p>
                      Events are typically held in Wikias conference rooms at 360 3rd Street #750, San Francisco, CA 94107.
                    </p>
                    <p>
                      The SF STW meetup is dedicated to exploring all aspects of MSTW.
                    </p>
                </div>
                <div class="col-sm-6 col-md-5 col-md-offset-2">
                    <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly." name="contact" netlify>
                        <input type="text" class="validate-required" name="name" placeholder="Your Name" />
                        <input type="text" class="validate-required validate-email" name="email" placeholder="Email Address" />
                        <textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
                        <input type="submit" value="Send Message" />
                    </form>
                </div>
            </div>
            <!--end of row-->
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
{{ partial "footer" . }}
