html {
    background: url(image.jpg) top center;
background-size: cover;
overflow-x: hidden;
}


.h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  color: rgb(163, 14, 14);
  font-family: 'Ruge Boogie', cursive;
}


.keys {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    min-height: 10vh;
    justify-content: center;
  }

.key {
    transition: all 0.07s ease;
    border-radius: .5rem;
    font-size: 2.0rem;
    padding: 1rem 0.5rem;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgb(163, 14, 14);
    margin: 3rem;

  }
  .playing {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(117, 221, 88);

  }

kbd {
  font-size: 5rem;
  color: black;
}

