
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
}

.wrapper .bg {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -5;
}

.wrapper #stage-video {
  max-width: 120%;
  min-width: 100%;
  position: absolute;
  top: 0;
  z-index: -3;
  left: 0;
  min-height: 100%;
}

.bottom-bar {
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-bar button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(2px);
  border: none;
  outline: none;
  margin-right: 10px;
}

.bottom-bar button i {
  font-size: 20px;
}

a i {
  font-size: 20px;
  color: black;
}

.audio-btn {
  cursor: pointer;
}

.audio-btn .fa-volume-up {
  display: none;
}

.inner-main {
  margin-top: 200px;
}

.animation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.watch-face {
  height: 155px;
  width: 155px;
}

.circle {
  height: 155px;
  width: 155px;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: screen;
  transform: translate(0, 0);
}

.circle:nth-child(odd) {
  background: #70dfbd;
}

.circle:nth-child(even) {
  background: #53b7bd;
}

.circle:nth-child(1) {
  animation: circle-1 4s ease alternate infinite;
}

.circle:nth-child(2) {
  animation: circle-2 4s ease alternate infinite;
}

.circle:nth-child(3) {
  animation: circle-3 4s ease alternate infinite;
}

.circle:nth-child(4) {
  animation: circle-4 4s ease alternate infinite;
}

.circle:nth-child(5) {
  animation: circle-5 4s ease alternate infinite;
}

.circle:nth-child(6) {
  animation: circle-6 4s ease alternate infinite;
}

@keyframes circle-1 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-45px, -60px);
  }
}

@keyframes circle-2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(45px, 60px);
  }
}

@keyframes circle-3 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-70px, 0);
  }
}

@keyframes circle-4 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(70px, 0);
  }
}

@keyframes circle-5 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-45px, 60px);
  }
}

@keyframes circle-6 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(45px, -60px);
  }
}

.dropdown {
  opacity: 0;
  position: absolute;
  bottom: 50px;
  transition: all 0.3s ease;
  overflow: hidden;
  transform: translateY(30px);
}

.dp-trigger {
  position: relative;
}

.dp-trigger:hover .dropdown {
  opacity: 1 !important;
  transform: translateY(0px);
}

video.none {
  display: none !important;
}

#toggle-video {
  cursor: pointer;
}

.fas.none {
  display: none !important;
}

ul li {
  list-style: none;
}

ul li button {
  margin-bottom: 8px;
  cursor: pointer;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 9;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  transition: 0.3s all ease-out;
}

.modal-wrapper .modal {
  position: absolute;
  top: 100px;
  left: calc((100% - 550px)/2);
  height: 350px;
  width: 550px;
  background: #fefefe;
  transition: 0.3s all ease-out;
  border-radius: 14px;
}

.modal .part {
  width: 90%;
  padding: 10px 0;
  margin: 10px 5%;
  border-bottom: 1px solid lightgray;
}

.modal-wrapper.open {
  display: block !important;
}

.colorTheme {
  display: flex;
  margin-top: 5px;
}

.colorTheme .swatch {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.swatch.active {
  border: 2px solid #999999;
}

.backgrounds {
  display: flex;
  margin: 10px 0;
}

.backgrounds .back {
  width: 100px;
  height: 60px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.backgrounds .back img {
  width: 100%;
  height: auto;
  min-height: 100%;
}

.poses {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 7;
  width: 100px;
}

.poses .pose {
  overflow: hidden;
  width: 200px;
  height: 100px;
  opacity: 0;
  position: absolute;
  left: 20px;
  transform: translateX(40px);
  transition: 0.5s all ease-in-out;
}

.pose img {
  height: 100%;
  max-width: 150px;
}

.pose.current {
  transform: translateX(0);
  opacity: 1 !important;
}

label {
  display: block;
  width: 54px;
  height: 32px;
  margin: 0px auto;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  background-color: #E6E9EC;
}

input {
  display: none;
}


/* The toggle */

label i {
  height: 28px;
  width: 28px;
  background: #ffffff;
  display: inline-block;
  border-radius: 100px;
  margin-top: 2px;
  margin-left: 2px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  pointer-events: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

label:hover>i {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
  transform: scale(1.01);
}

input:checked+label>i {
  margin-left: 24px;
}

label:active {
  background-color: #A6B9CB;
}

label:active>i {
  width: 34px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
}

input:checked+label:active>i {
  margin-left: 18px;
}

input:checked+label {
  background-color: #008FFF;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-wrapper {
  margin-left: auto;
  margin-right: 10px;
}
