{{ define "main" }}
<div class="blog-detail-page">{{ partial "blogs/single/header" . }}</div>
<div class="blog-content">
  {{ .TableOfContents }} {{ .Content}} {{/* {{ .Resources | jsonify (dict
  "prefix" " " "indent" " ") }} */}} {{/* {{/* {{ (.Resources.GetMatch
  "content1.md").Content }} */}} {{ $content2 := .Resources.GetMatch
  "content2.md" }} {{ with $content2 }} {{- .Content -}} {{ .Params.content2 }}
  {{ end }} {{/* {{ (.Resources.GetMatch "content2.md").Params.content2 }} {{
  (.Resources.GetMatch "content1.md").Params.content1 }} */}} {{ $image2 :=
  ($.Resources.GetMatch "kokos")}} {{ with $image2 }}
  <img src="{{.RelPermalink}}" />
  <div>Image BY NAME: {{$image2.Name}}</div>
  {{/* LALALALAL: {{ $image2.Content | jsonify}} */}} {{/* {{ $image :=
  .Resources.GetMatch "image.png" }} {{ $image }} */}} {{ end }}
</div>
{{end}}
