.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

i {
  margin-right: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.top-header {
  width: 100%;
  height: 45px;
  background-color: #2979ff;
  padding: 10px;
  box-sizing: border-box;
}

.left-menu {
  float: right;
}

.mat-button.cdk-focused {
  border-bottom: 1px solid white;
}
