<div class="top-header">
  <div class="left-menu">
    <i
      (click)="redirect('https://www.linkedin.com/in/filip-jerga-5949b8106/')"
      class="ion-social-linkedin-outline"
    ></i>
    <i
      (click)="redirect('https://www.facebook.com/filip.jerga')"
      class="ion-social-facebook-outline"
    ></i>
    <i
      (click)="redirect('http://filipjerga.com/myweb')"
      class="ion-ios-folder-outline"
    ></i>
  </div>
</div>

<md-toolbar color="primary" class="toolbar-icons">
  <img src="../../assets/img/me.png" alt="" />
  <span>Filip Jerga</span>
  <span class="spacer"></span>
  <button md-button routerLink="/info">Info</button>
  <button md-button routerLink="/portfolio">Github</button>
  <button md-button routerLink="/projects">Projects</button>
  <button md-button routerLink="/cv">CV</button>
  <button
    md-button
    (click)="redirect('http://filipjerga.com/myweb/photos.html')"
  >
    Gallery
  </button>
</md-toolbar>
