//
  Created by Ashish Patel on 06/01/17.
  Copyright © 2017 https://ashish.me
  ashishsushilpatel@gmail.com
doctype html
html(lang="en-US")
    include _includes/head.pug
    body
        include _includes/navigation.pug
        include _includes/content.pug
        include _includes/footer.pug
