<ion-list *ngIf="items.length > 0">
  <ion-list-header>
    <ion-label>{{ listName }}</ion-label>
  </ion-list-header>
  <ion-item
    [routerLink]="navigateTo(listName, item)"
    *ngFor="let item of items"
  >
    <!-- <ion-button routerLink="navigateTo(listName, item)">Navigate</ion-button> -->
    <!-- <ion-button [routerLink]="navigateTo(listName, item)">Go to detail</ion-button> -->
    <!-- <ion-button [routerLink]="['/detail']">Go to detail</ion-button> -->
    <ion-avatar slot="start">
      <img [src]="'assets/image/' + item + '.png'" />
    </ion-avatar>
    <ion-label>
      <h2>{{ item }}</h2>
      <app-card-list> </app-card-list>
    </ion-label>
  </ion-item>
</ion-list>
