<div class= "row">
    <div class="col-md-6 col-md-offset-3">
        
        <h4>Forecast by City</h4>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="city" class= "ng-watch">
            <!--   ng-model to watch this custom service,         -->
        </div>
        <a href="#/forecast" class="btn btn-primary">Get Forecast</a>  <!--Here to directive i am sending data from app.js -->
        
    </div>
</div>