body {
  margin: 0;
  padding: 0;
  background: black;
}

hr {
  border: 1px solid white;
}
small {
  color: lightgray;
}

.table-row {
  display: flex;
  justify-content: space-between;
}

.data-wrap {
  width: 100%;
  text-align: center;
}
.values {
  font-family: Rubik;
  color: #39ff14;
}
.table-heading {
  width: 100%;
  text-align: center;
  font-family: Rubik;
  font-weight: 300;
  color: red;
}

.table-line {
  border: 0.5px dashed white;
}
