body {
  background: #7c5cd1;
}
.card {
  overflow: hidden;
}

.card.large {
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 60px 0 rgba(0, 0, 0, 0.35);
}

.card-content {
  height: 300px;
}

.content {
  height: 100%;
}

.content.is-vcentered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; /* used this for multiple child */
  align-items: center; /* if an only child */
}

.title.no-padding {
  margin-bottom: 0 !important;
}

.footer {
  background-color: #222831;
  color: lemonchiffon;
}

.footer p,
strong {
  color: lemonchiffon;
}

.footer a:hover {
  color: crimson;
}

.fa {
  color: lemonchiffon;
  margin: 10px;
}
