.map-wrapper {
  width: 75%;
  margin-left: 35px;
  border: 1px solid;
  padding: 0;
}

.svg {
  background-color: black;
  margin: 0;
  display: block;
}

/* .map {
    width: 100%;
} */

.canvas {
  width: 1150px;
  height: 80vh;
  margin: auto;
  border: 1px solid lightgray;
}

@media (max-width: 1200px) {
  .map-wrapper {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .map-wrapper {
    width: 95%;
    margin: auto;
    margin-top: 40px;
  }
}
