.datalist-wrapper {
}

.datalist-wrapper h3 {
  border-bottom: 3px solid dodgerblue;
}

.datalist {
  height: 35vh;
  overflow-y: scroll;
}

.datalist p {
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
}

@media (max-width: 1300px) {
  .datalist-wrapper h3 {
    font-size: 1rem;
  }
  .datalist p {
    font-size: 0.75rem;
  }
}
