body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1,
div {
  margin: 0;
  padding: 0;
}
.header {
  color: dodgerblue;
  font-family: Raleway;
  font-weight: 200;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  letter-spacing: 0.5rem;
}

#title a {
  color: dodgerblue;
  text-decoration: none;
}

.legend-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#legend {
  width: 450px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
}

@media (max-width: 1100px) {
  .header {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .header {
    margin-bottom: 40px;
  }
  .legend-wrapper {
    display: none;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 5px;
  }
  .siteTitle {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .siteTitle {
    font-size: 1.25rem;
  }
}
