p {
  text-align: center;
  margin: 0;
  padding: 0;
}

foreignObject {
  background-color: gray;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: inset 1px 1px 5px lightblue;
}
