.sidebar {
  width: 20%;
  height: 85vh;
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid gray; */
  color: #ffffff;
  opacity: 1;
}

@media (max-width: 1200px) {
  .sidebar {
    width: 90%;
    height: 45vh;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (max-width: 750px) {
  .sidebar {
    width: 95%;
  }
}

@media (max-width: 700px) {
  .sidebar {
    width: 80%;
    height: 100vh;
    flex-direction: column-reverse;
  }
}

@media (max-width: 500px) {
  .sidebar {
    height: 85vh;
  }
}
