@use 'sass:math';

$size: 3.75em;
$line: 6px;

* {
	box-sizing: border-box;
	margin: 0
}

.wrapper {
	display: grid;
	grid-gap: .5em;
	grid-template-columns: 
		repeat(auto-fit, min(100%, 25em));
	justify-content: space-evenly;
	padding: .5em
}

.example {
	aspect-ratio: 1/ 1;
	
	&:nth-child(1) {
		background: 
			repeating-conic-gradient(
					yellow 0% 12.5%, 
					orange 0% 25%, 
					red 0% 37.5%, 
					blue 0% 50%) 
				0/ #{$size $size}
	}
	
	&:nth-child(2) {
		background: 
			repeating-conic-gradient(from 45deg,
					yellow 0% 12.5%, 
					blue 0% 25%, 
					orange 0% 50%) 
				0/ #{$size $size}
	}
	
	&:nth-child(3) {
		background: 
			repeating-conic-gradient(from 45deg, 
					#000 0% 25%, 
					#fff 0% 50%) 
				0/ #{$size $size}
	}
	
	&:nth-child(4) {
		background: 
			repeating-conic-gradient(
					#000 0% 25%, 
					#fff 0% 50%) 
				0/ #{$size $size}
	}
	
	&:nth-child(5) {
		$size: 6em;
		--circ: 
			radial-gradient(
				yellow calc(10% - 1px), 
				orange 10% 20%, 
				transparent calc(20% + 1px));
		background: 
			var(--circ), 
			var(--circ) .5*$size .5*$size, 
			repeating-conic-gradient(from 45deg, 
					yellow 0% 25%, 
					orange 0% 50%);
		background-size: $size $size
	}
	
	&:nth-child(6) {
		$size: 3.75em;
		--list: 
			orange 25%, transparent 0%;
		background: 
			conic-gradient(from 45deg at 62.5%, 
					var(--list)), 
			conic-gradient(from 225deg at 37.5%, 
					var(--list)), 
			conic-gradient(
					at #{$line} calc(100% - #{$line}), 
					gold 25%, 
					orange 0%) 
				-.5*$line calc(#{.5*$size} + #{.5*$line});
		background-size: $size $size
	}
	
	&:nth-child(7) {
		$size: 5em;
		$edge: .5*$size;
		$diag: $edge*math.sqrt(3);
		$line: 4px;
		$b: .5*$line/math.tan(60deg);
		
		--list: gold 120deg, transparent 0%;
		--cap0: 
			conic-gradient(from 120deg at 50% calc(100% + #{$b} - #{.5*$edge}), 
					var(--list));
		--cap1: 
			conic-gradient(from -60deg at 50% calc(#{.5*$edge} - #{$b}), 
					var(--list));
		--midd: 
			conic-gradient(at #{$line} calc(#{$edge} - #{2*$b} + 1px), 
					gold 25%, 
					transparent 0%);
		background:
			var(--cap0) 0 #{$b}, 
			var(--cap0) .5*$diag calc(#{1.5*$edge} + #{$b}), 
			var(--cap1) 0 calc(-#{$b} - #{2*$edge}), 
			var(--cap1) .5*$diag calc(#{-.5*$edge} - #{$b}), 
			var(--midd) #{-.5*$line} calc(#{$b} - .5px), 
			var(--midd) calc(.5*(#{$diag} - #{$line})) calc(#{1.5*$edge} + #{$b} - .5px)
			#282828;
		background-size: $diag 1.5*$size
	}
}