html,
body {
  font-family: "Roboto", "Helvetica", sans-serif;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.mdl-card {
  min-height: 0;
  padding-bottom: 5px;
}
.mdl-layout__header-row {
  padding: 0;
}
h3 {
  background: url("firebase-logo.png") no-repeat;
  background-size: 40px;
  padding-left: 50px;
}
#demo-signed-out-card,
#demo-signed-in-card {
  display: none;
}
#demo-profile-pic {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin-left: calc(50% - 30px);
  margin-top: 10px;
}
#demo-name-container,
#demo-email-container,
#demo-uid-container {
  font-weight: bold;
}
#demo-sign-in-button {
  background-image: url("linkedIn-button.png");
  background-size: 100% 100%;
  width: 197px;
  height: 27px;
}
#demo-delete-button {
  margin-left: 20px;
}
