<div class="container">
  <h1 class="hidden-seo">About Me</h1>
  <div class="app-card-container">
    <div class="card card-portfolio">
      <div class="row">
        <div class="col-md-4 home-center">
          <%= image_tag "me.jpg", width: "180px" %>
        </div>
        <div class="col-md-8 ">
          <p>My name is Filip Jerga and I am 27 years old. I am software engineer currently working as freelancer.
          I have master degree from Artificial Inteligence and  through years I experienced working on different projects and technologies from developing software for Ultrasound device to making mobile applications. </p>

          <p>I am always focusing on quality and well comunicated specification of project I will be working on. I am fast adaptable to changes of requirements and reliable in questions of workload and requirements for product development.
          Software developement is field that makes me excited and fully commited. </p>

          <p>More detailed info about me, my projects, experiences and interests you can find listed on this page, just follow navigation.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
