@import select2
@import twitter/bootstrap

.container
  margin: auto
  background: #ccc


textarea
  height: 50px
input, textarea
  background: white


div.tasks
  background: #eee
div.comments
  background: #eeccee
