<mat-sidenav-container class="sidenav-fab-container" fullscreen>
	<mat-sidenav #sidenav mode="side" opened="true">
		<nav>
			<h3>Components</h3>
			<ul>
				<li>
					<a [routerLink]="['/test/button-test']" routerLinkActive="router-link-active" #rla="routerLinkActive">Button</a>
				</li>
				<li>
					<a [routerLink]="['/test/input-test']" routerLinkActive="router-link-active" #rla="routerLinkActive">Input</a>
				</li>
				<li>
					<a [routerLink]="['/test/snackbar-test']" routerLinkActive="router-link-active" #rla="routerLinkActive">Snackbar</a>
				</li>
			</ul>
		</nav>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="main-content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>

</mat-sidenav-container>