.gametitle {
    text-align: center;
}

.btn {
    border-radius: 5px;
    padding: 3px;
    width: 100px;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

.gameinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    font-size: 24px;
    margin: 40px auto 10px;
    text-align: center;
}


/* footer basic styling */

.footercontainer {
    margin-bottom: -25px;
}

.sitefooter {
    width: 100%;
    height: 50px;
    margin-bottom: 0.5rem;
    padding-top: 20px;
}

.identity {
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: .1em;
}


/* Flexbox Sticky Footer Styling */

root {
    --space: 1.5em 0;
    --space: 2em 0
}

.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.Sitecontent {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%
}

.Site-content:after {
    content: "\A0";
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden
}