.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  margin-right: 15px;
}

.btn-full:link,
.btn-full:visited {
  background-color: $c4-blue-100;
  border: 1px solid $c4-blue-100;
  color: $c2-white-def;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid $c4-blue-100;
  color: $c4-blue-100;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid $c4-blue-100;
  color: $c2-white-def;
}

.btn:hover,
.btn:active {
  background-color: $c4-blue-100;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid $c5-blue-200;
  background-color: $c5-blue-200;
}
