@import "@tomtom-international/web-sdk-maps";

#bwm-map {
  height: 357px;
  width: 100%;
}

.bwm-marker {
  width: 120px;
  height: 120px;
  margin-top: 60px;
  border-radius: 50%;
  background-color: red;
  opacity: 0.3;
}
