/* KillBill stylesheet */
@import vendor/tempo
// CLASSES ----------------------------

.print-only
  display: none
  @media print
    display: block

.screen-only
  display: none
  @media screen
    display: block

.group
  overflow: hidden

.pagebreak
  clear: both
  visibility: hidden
  page-break-after: always
  margin: 0
  padding: 0
  @media screen
    visibility: visible
    border: none
    border-top: 1px dashed #aaa
    margin: 80px 0
    &:before
      content: "pagebreak"
      color: #aaa
      font-family: monospace
      font-size: 9px
  @media print

.pagebreak + div
  h2:first-child
    margin-top: 0

.client_signature
  margin-top: 15px
  border: 1px solid gray
  border-radius: 20px
  padding: 10px 150px 60px 10px
  float: right
  h4
    font-weight: bold
    margin: 0
    margin-right: 10%
    text-align: left

.instructions
  float: right
  width: 300px
  margin-top: 20px
  margin-right: 20px
  border: 1px solid transparent
  border-radius: 20px
  padding: 10px 10px 0
  color: #444
  font-size: 90%
  p
    margin-top: 0
    margin-bottom: 5px

.to_pdf
  text-align: right
  position: absolute
  width: 21cm
  top: 1cm

// ------------------------------------
html
  @media screen
    background: #ddd
body
  background: white
  font-family: "Droid Serif", serif
  font-size: 12px
  @media print
    padding: 0px
    margin: 0px
  @media screen
    width: 19cm
    padding: 2cm
    margin: 2cm

h1, h2, h3, h4
  font-weight: normal
h1
  color: #32568C
  font-size: 1.6em
  margin-bottom: 1.5em
h2
  color: #6C5640
  border-bottom: 3px solid
  margin-top: 1.5em
  margin-bottom: 1.4em
  clear: both
h3
  clear: both
  color: #007326
  border-bottom: 1px dashed
  margin-top: 1.5em
  margin-bottom: 1.5em
h4
  text-decoration: underline

table.visible
  border-collapse: collapse
  border-top: 1px solid gray
  tr
    border-bottom: 1px solid gray


// PAGES ------------------------------

.intro
  padding: 30px 50px
  font-size: 14px
  .logo img
    width: 200px
  address
    margin-bottom: 3em
    &.client
      float: right
      border: 1px solid gray
      padding: 30px
      border-radius: 20px
    &.pixarea
      float: left
  h1
    margin: 1cm 0
  .sign
    float: right
    margin: 1cm 2cm
  p
    margin: 2em 0

.bon-de-commande
  .due_dates
    overflow: hidden
    table
      border-top: 1px dotted gray
      border-collapse: collapse
      font-size: 11px
      vertical-align: top
      float: right
      tr
        border-bottom: 1px dotted gray
      .detail
        font-size: 80%
      th
        text-align: left
      td, th
        padding: 2px 10px
    h4
      font-weight: bold
      text-align: right
  table.options
    font-size: 10px
    width: 100%
    border-collapse: collapse
    tr
      &:nth-child(2n+1)
        background: #eee
      &.sum
        text-align: right
        background: transparent
        font-weight: bold
      &.tvac
        border-top: 1px solid gray
    td
      width: 16cm
      &+td
        width: 1cm
        &+td
          display: none
      &.price
        text-align: right
        span
          visibility: hidden
      &.symbol
      padding: 3px 10px
    p
      margin: 0
      overflow: hidden
    .counter
      float: left
      margin-right: 1em
      width: 0.8cm

.roadmap
  img
    max-width: 100%
    max-height: 25cm
    float: right
  @media screen
    .screen-only
      display: block
    img
      max-width: 100%

.invoice
  body, html
    min-height: 100%
  .client_info,
  .owner_info
    h1
      font-size: 100%
    float: left
    padding: 20px
    margin-right: 10px
    border: 1px solid gray
    border-radius: 1px
    height: 16em
    margin-bottom: 40px
    p
      margin: 0
  .owner_info
    h1
      display: none
    clear: left
  .logo
    float: left
    margin: 0 50px 20px 0
    img
      width: 200px
  .meta
    float: right
    border: 1px solid gray
    border-radius: 1px
    padding: 10px
    h1
      display: none
    dt
      font-weight: bold
    dd
      margin-left: 0
  .title
    font-size: 3em
    line-height: 3em
  .details
    .entry
      .hours, .hourly_rate
        display: none
    h1
      display: none
    clear: both
    table
      @extend table.visible
      clear: both
      width: 100%
      td,th
        text-align: left
        padding: 10px 20px
      .numeric
        text-align: right
      tfoot
        font-weight: bold
        dl
          margin: 0
        dt, dd
          display: inline-block
        dd
          margin-left: 0
          width: 10%
        tr
          border-bottom: 0 !important
