/* You can add global styles to this file, and also import other style files */

@import "ngx-smart-modal/ngx-smart-modal";
@import "ngx-toastr/toastr";

@import "bwm-colors";
@import "form";
@import "date-picker";
@import "rental-detail";
@import "editable";

html,
body {
  height: 100%;
}

html,
body,
p {
  color: $dark-gray-color;
}

.bwm-list-page {
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.type {
  &-apartment {
    color: #a72da3 !important;
  }

  &-condo {
    color: #d68000 !important;
  }

  &-house {
    color: #bf1818 !important;
  }
}

.btn.bwm-btn-main {
  border-color: $dark-red-color;
  color: $dark-red-color;

  &:hover,
  &:focus,
  &:active {
    background-color: $dark-red-color;
    border-color: $dark-red-color;
    color: white;
    box-shadow: none;
  }

  &:disabled {
    cursor: auto;
    background-color: transparent;
    color: $dark-red-color;
  }
}
